.menu {
	font-size: 14px;
	line-height: 20px;
}
 @media (min-width: 979px) {
}

#sidebar.affix-top {
	position: static;
	margin-top: 25px;
	width: 228px;
}

#sidebar.affix {
	position: fixed;
	top: 25px;
	width: 228px;
}
}

.affix, .affix-top {
	position: static;
}



