body {
	background: -webkit-linear-gradient(center top , #9ACD32, #F8F8FF 300px) no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
  background: -moz-linear-gradient(center top , #9ACD32, #F8F8FF 300px) no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
  font-family: Verdana,Arial,Helvetica,sans-serif;
	padding-top:20px;
  background-image:-webkit-linear-gradient(top, #9ACD32, #F8F8FF 300px);
  font-family: 'Happy Monkey', cursive !important;


}

html {
    font-size: 14px !important;

}

#main-container{
	width:auto !important;
    box-shadow: 0 2px 10px rgba(93, 100, 106, 0.75);
    margin: 10px auto 0;
	padding:0 !important;
}



#navbar-home {
  background: transparent !important;
  border: none;
}

#home-nav {
  background: #D2F222;
  border-color: green;
}

#home-nav:hover {
  background: #B5DC0B;
}

#home-nav .icon-bar {
  background-color: red;

}

.invite-msg {
  margin: 0 0 20px 0;
  display: block;
  color:#CC3333;
  font-weight: 400;

}

.nav-menu {
    background: -moz-linear-gradient(center top , #008000, #9ACD32) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-image:-webkit-linear-gradient(top, green, #9ACD32);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(93, 100, 106, 0.75);
    color: #FFFFFF !important;
    text-decoration: none;
    font-size: 15px;
    padding: 5px 10px !important;
    margin-left: 50px;
}

.nav-menu:hover, .nav-menu:focus {
    background:#ca0000;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#740000), to(#f45656));
    background: -webkit-linear-gradient(top, #740000, #f45656);
    background: -moz-linear-gradient(top, #740000, #f45656);
    background: -o-linear-gradient(top, #740000, #f45656);
    background: -ms-linear-gradient(top, #740000, #f45656);
    -pie-background: linear-gradient(#740000, #f45656);
    behavior: url(assets/pie/PIE.php);
    color:#fff;
    -webkit-box-shadow: rgba(93, 100, 106, .55) 0 0 6px;
    -moz-box-shadow: rgba(93, 100, 106, .55) 0 0 6px;
    box-shadow: rgba(93, 100, 106, .55) 0 0 6px;
}

.category, .level, .status {
  font-family:inherit;
  margin: 5px 0 10px 0 !important;
  font-weight: 600;
}

.category {
  color:#623E9D;
}


.nav-a-active {

  background: -moz-linear-gradient(center top , #008000, #FFFF00) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(93, 100, 106, 0.75);
  color: #FFFFFF;
  padding: 5px 12px;
  text-decoration: none;

}

.nav-a-active:hover, .nav-a-active:active {
  background:#ca0000;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#740000), to(Yellow));
background: -webkit-linear-gradient(top, #740000, Yellow);
background: -moz-linear-gradient(top, #740000, Yellow);
background: -o-linear-gradient(top, #740000 , Yellow);
background: -ms-linear-gradient(top, #740000, Yellow);
-pie-background: linear-gradient(#740000, Yellow);
behavior: url(assets/pie/PIE.php);
color:#fff;
-webkit-box-shadow: rgba(93, 100, 106, .55) 0 0 6px;
-moz-box-shadow: rgba(93, 100, 106, .55) 0 0 6px;
box-shadow: rgba(93, 100, 106, .55) 0 0 6px;
}


#left-sidebar {
   background: none repeat scroll 0 0 #CCFB5D;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(93, 100, 106, 0.45);
    margin-left: 30px;
    padding: 8px;
    text-align: left;
    width: 18.6667%;

}

.left-side-sm {
 padding: 8px 6px;

}

.left-side-sm img {
 background: none repeat scroll 0 0 #E6EBEF;
 border: 5px solid #FBB917;
 border-radius: 10px;
 box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
 height: 68px;
 width: 68px;
 padding: 4px;
}

.left-side-dif img {
 background: none repeat scroll 0 0 #E6EBEF;
 border: 5px solid #FBB917;
 border-radius: 10px;
 box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
 padding: 0 !important;
}
.left-side-dif {
 padding: 5px !important;
}

#ul-one ul {
  list-style: none;
  padding-left: 0;
}

#ul-one ul li {
  display: inline-block;
  margin-left:2px;
  color: red;
}
#ul-one ul li a {
  font-size: 20px;
  cursor: pointer;
}

#ul-one ul li a:hover {
  color: gray !important;
  cursor: pointer;
}


.text-1 {
  color: #761093 !important;
  text-decoration: underline;

}
.text-2 {
  color:#108407 !important;
  text-decoration: underline;

}
.text-3 {
  color: #C90000 !important;
  text-decoration: underline;

}
.text-4 {
  color: #1CBFA7 !important;
  text-decoration: underline;

}
.text-5 {
  color:#F20D90 !important;
  text-decoration: underline;

}
.text-6 {
  color: #0F50F2 !important;
  text-decoration: underline;

}
.text-7 {
  color: #FB0607 !important;
  text-decoration: underline;

}

.text-show-all {
  color:red !important;
  font-size: 14px !important;
  text-decoration: underline;
}


.prio-box {
  padding:6px;


}

.prio-box img {
  background: none repeat scroll 0 0 #E6EBEF;
    border: 5px solid #FBB117;
    box-shadow: none;
    margin: 0;
    padding: 5px;
    border-radius: 10px;

}


#ul-two ul {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
}

#ul-two ul li a {
  color: red !important;
  text-decoration: underline;
  cursor: pointer;
}

#ul-two ul li a:hover {
  color: gray !important;
}

.article-pre {
  margin-top: 25px;

}

.article-pre img:hover {
 border: 5px solid #FF6347;
 cursor: pointer;

}

.article-pre img {
    background: none repeat scroll 0 0 #E6EBEF;
    border: 5px solid #FBB117;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    margin: 0 15px 10px 0;
    padding: 5px;
}

.book-title {
text-shadow:0 0.5px 1.5px #5D6B74;
color: #008000;
}

.book-writer {
  color: #832436;
  text-shadow:0 0.5px 1.5px #5D6B74;
}

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}



.article-content {
   background: none repeat scroll 0 0 #F5F5F5;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(93, 100, 106, 0.45);
    padding: 10px;
    margin:0 10px 20px 10px;
}


.sub-level {
  color:#E56E94;
}

.footer {
  background: -moz-linear-gradient(center top , #FFFF00, #9ACD32 80px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #3D444B;
    margin-top: 30px;
    overflow: hidden;
    padding: 15px 10px 25px 20px;
    display: block;
    background-image:-webkit-linear-gradient(top, yellow, #9ACD32 80px);
}

.footer-article {
  margin-top: 25px

}

.footer .f1 {
  font-size: 12px !important;
    color: #344E66;
    text-decoration: none;
    text-shadow: 0 -1px 0 #637485;

}

.footer .f1:hover {
color:#832436;
text-decoration:none;
text-shadow: 0px -1px 0px #551f29;
}

.footer input {
    background: none repeat scroll 0 0 #DDE4D0;
    border: 1px solid #DDE4D0;
    border-radius: 5px;
    color: #2C2C2C;
    font-size: 13px;
    letter-spacing: normal;
    margin: 10px 10px 7px 0;
    padding: 4px;
    text-transform: lowercase;
    width: 160px;
    height: 30px !important;
}

.footer .search-btn {
   background: -moz-linear-gradient(center top , #F45656, #740000) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-image:-webkit-linear-gradient(top, #F45656, #740000);
    border: 1px solid #A16969;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(64, 64, 64, 0.55);
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    margin-top:2px;
}

.footer .search-btn:hover {

background:#962929;
border:1px solid #962929;
-webkit-box-shadow: rgba(64,64,64, .55) 0 0 2px;
-moz-box-shadow: rgba(64,64,64, .55) 0 0 2px;
box-shadow: rgba(64,64,64, .55) 0 0 2px;
}
.copyright {
  padding: 20px 0;
}

.pagination li a:hover {
  background: #ca0000 !important;
  border-color:#f4f4f4;
  color: #ffffff;
}

.pagination .active a {
  background: #ca0000 !important;
 border-color: #f4f4f4;
 color: #ffffff;
}


#right-sidebar {
    background: none repeat scroll 0 0 #CCFB5D;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 5px rgba(93, 100, 106, 0.45);
    padding: 10px;
    float: right;
}

.bgla {
   width:auto;
   font-size:18px;
   position:absolute;
   margin-left:-10px;
   top:24px;
   background:none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
   color:#ffffff;
   padding:3px 6px;
   opacity:0;
-webkit-transition: all .5s; /* Safari */
-moz-transition: all .5s; /* Safari */
}

.art-img {
   width:auto;
   font-size:18px;
   position:absolute;
   left:-40px;
   top:-30px;
   color:#ffffff;
   padding:3px 6px;
   opacity:0;
   z-index: 101;
   background: none repeat scroll 0 0 #E6EBEF;
   background: none repeat scroll 0 0 #E6EBEF;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(132, 132, 132, 0.75);
   padding: 8px;
   color: #800080;
}

.prio-box:hover>.art-img {
opacity: 1 !important;
margin-left: 4px !important;
}



.left-slide:hover>.bgla {
opacity: 1 !important;
margin-left: 4px !important;
}





@media (max-width: 767px) {
#collapse-1 {
  background: #111111;
  padding: 0;
  margin: 0;
}

#home-ul-nav {
  width: 100%;
}

#home-ul-nav li {
  float: left;
 
}
 
}

@media (min-width: 360px) and (max-width: 768px) {
 
  .nav-menu {
    font-size: 10px;
    margin-left: 20px;
  }

  #collapse-1 {
  background: #111111;
  padding-bottom: 15px;
  margin: 0;
}

#home-ul-nav {
  float: left !important;
  left: 0 !important;
}


 
}

@media (min-width: 768px) and (max-width: 991px) {
  #main-container {
    width: 97% !important;
  }

  .left-sidebar {
     margin-left: 10px !important;
    padding: 5px !important;
  }
  .nav-menu {
    font-size: 12px;
    margin-left: 20px;
  }
 
}
@media (min-width: 992px) and (max-width: 1199px) {
  #main-container {
    width: 920px !important;
  }

   .nav-menu {
    font-size: 15px;
  }


 
}
@media (min-width: 1200px) {
  #main-container {
    width: 1024px !important;
  }

 
}

