/************
/************
RESETS & HTML5 HELP
*************/
/***Reset browser margins, padding and borders****/
html, body, div, h1, h2, h3, h4, h5, h6, p, a, img, ul, li{/*add anything you need*/
margin:0;
padding:0;
border:0;
}
/****Render HTML5 elements as block in older browser****/
header, footer, section, aside, nav, article {/*add any other elements you use*/
display: block;
}

/*******************
GENERAL LAYOUT
********************/
body{
/*give the background a gradient -see http://cssdemos.tupence.co.uk/gradients.htm for more info*/
background:SmokeWhite;/*fallback colour for unsuported browsers*/
/* background: -webkit-linear-gradient(top, YellowGreen, #CCFF33 300px); /*Chrome and Safari*/
background: -webkit-linear-gradient(top, YellowGreen, GhostWhite 300px); /*Chrome and Safari*/
background: -moz-linear-gradient(top, YellowGreen, GhostWhite 300px);/*Firefox*/
background: -o-linear-gradient(top, YellowGreen, GhostWhite 300px);/*Opera*/
background: -ms-linear-gradient(top, YellowGreen, GhostWhite 300px);/*proposed for IE10*/
-pie-background: linear-gradient(YellowGreen, GhostWhite 300px);/*IE9 and lower*/
behavior: url(assets/pie/PIE.php); /*required to make the gradient work in IE9 and earer, see http://css3pie.com*/
/*Give text some basic styling*/
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:.875em;
text-align:center;
}
/*CONTAIN THE PAGES IN A FIXED WIDTH DIV*/
#wrapper{
width:1024px; /*width allows resolutions of 1024 and above wide not to bave a horizontal scroll*/
margin:0 auto; /*centres the div*/
margin-top:10px;
text-align:left;
/*rounded corners - see http://cssdemos.tupence.co.uk/border-radius.htm for more info*/
-webkit-border-radius:10px;/*older Chrome and Safari*/
-moz-border-radius:10px;/*older Firefox*/
border-radius:10px;/*most of the latest browsers*/
/*give a div a drop shadow - see http://cssdemos.tupence.co.uk/box-shadow.htm for more info*/
-webkit-box-shadow: rgba(93, 100, 106, .75) 0 2px 10px;/*older Chrome and Safari*/
-moz-box-shadow: rgba(93, 100, 106, .75) 0 2px 10px;/*older Firefox*/
box-shadow: rgba(93, 100, 106, .75) 0 2px 10px;/*most of the latest browsers*/
}

/**************
BASIC TEXT AND LINK STYLING
***************/
/*text*/
p{
font-size:.9em;
line-height:1.4em;
margin-bottom:12px;
}
p.intro{/*introduction text on homepage*/
margin:20px 0 5px 0;
padding:5px;
font-family:Georgia, 'Times New Roman', serif;
font-size: 1.15em;
letter-spacing: .08em;
line-height: 1.3em;
margin-bottom:5px;
color:#545c65;
background:#dceaf4;
/*rounded corners - see http://cssdemos.tupence.co.uk/border-radius.htm for more info*/
-webkit-border-radius:10px;/*older Chrome and Safari*/
-moz-border-radius:10px;/*older Firefox*/
border-radius:10px;/*most of the latest browsers*/
}
ul{
margin:10px 0 10px 20px;
}
li{
line-height:1.4em;
margin-bottom:5px;
}
/*headings*/
h1, h2, h3, h4, h5{/*all the headings have the same basic styling*/
font-family:'Happy Monkey', cursive;/*Happy Monkey is available from http://www.google.com/webfonts/specimen/Happy+Monkey*/
font-weight:normal;
color:Green;
}
h1{
font-size:3.5em;
color:Purple;
line-height:0.8em;
margin-bottom:10px;
margin-left:10px;
text-shadow:0 1px 3px #5d6b74;/*see http://cssdemos.tupence.co.uk/text-shadow.htm for more info on text shadows*/
}
h2{
font-size:2.1em;
line-height:1em;
margin-bottom:10px;
margin-left:10px;
text-shadow:0 1px 3px #5d6b74;/*see http://cssdemos.tupence.co.uk/text-shadow.htm for more info on text shadows*/
}
h2 span.caps{
font-size:85%;
letter-spacing:-1px;
}
h2 span.color{
color:#832436;
font-size:70%;
}
h3{
font-size:1.5em;
margin:40px 0 10px 10px;
text-shadow:0px 1px 0px #5d6b74;/*see http://cssdemos.tupence.co.uk/text-shadow.htm for more info on text shadows*/
}
h4{
font-size:1.2em;
margin:0px 0 10px 10px;
color:#E56E94;
}
/* Links */
a:link{
color:#832436;
}
a:visited{
color:#378a91;
}
a:active, a:hover, a:focus{
text-decoration:none;
color:#306a7a;
}

/*****************
SECTION SPECIFIC STYLING
******************/
/**** MAIN NAVIGATION ****/
/*Hidden skip navigation link*/
#access{
text-align:center;
padding:0 0 0 10px;
}
#access a{
position:absolute; 
left:-9999em; /*remove the skipnav links off the page*/
width:200px; 
z-index:999; 
display:block;
}
#access a:active, #access a:hover, #access a:focus{
left:0; /*bring the links back onto the page*/
top:0; 
color:#fff; 
background-color:#373737;
padding:10px; 
font-weight:bold; 
text-decoration:underline;
}
/* Main Navigation Links */
nav#main{
font-size:1.2em;
text-align:center;
padding-top:5px;
padding-bottom:5px;
}
nav#main ul{
list-style-type:none;/*remove the bullet point from the list items*/
margin:10px 0;
}
nav#main li{
display:inline;/*place the list items in a line*/
padding:0 20px;
}
nav#main a:link, nav#main a:visited {
text-decoration:none; /*remove the underling from the links*/
color:#fff;
padding:5px 12px;
/*give the 'buttons' a gradient*/
background:Green;/*fallback colour for unsupported browsers*/
background: -webkit-linear-gradient(top, Green, YellowGreen);/*Chrome and Safari*/
background: -moz-linear-gradient(top, Green, YellowGreen);/*Firefox*/
background: -o-linear-gradient(top, Green, YellowGreen);/*Opera*/
background: -ms-linear-gradient(top, Green, YellowGreen);/*propesed for IE10*/
-pie-background: linear-gradient(Green, YellowGreen);/*IE9 and earlier*/
behavior: url(assets/pie/PIE.php); /*required to make the gradient work in IE9 and earlier, see http://css3pie.com*/
/*give the buttons rounded corners*/
-webkit-border-radius:5px;/*older Chrome and Safari*/
-moz-border-radius:5px;/*older Firefox*/
border-radius:5px;/*most of the latest browsers*/
/*give the buttons a shadow*/
-webkit-box-shadow: rgba(93, 100, 106, .75) 0 0 10px;/*older Chrome and Safari*/
-moz-box-shadow: rgba(93, 100, 106, .75) 0 0 10px;/*older Firefox*/
box-shadow: rgba(93, 100, 106, .75) 0 0 10px;/*most of the latest browsers*/
}

nav#main a:active, nav#main a:hover, nav#main a:focus {
background:#ca0000;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#740000), to(#f45656));
background: -webkit-linear-gradient(top, #740000, #f45656);
background: -moz-linear-gradient(top, #740000, #f45656);
background: -o-linear-gradient(top, #740000, #f45656);
background: -ms-linear-gradient(top, #740000, #f45656);
-pie-background: linear-gradient(#740000, #f45656);
behavior: url(assets/pie/PIE.php); 
color:#fff;
-webkit-box-shadow: rgba(93, 100, 106, .55) 0 0 6px;
-moz-box-shadow: rgba(93, 100, 106, .55) 0 0 6px;
box-shadow: rgba(93, 100, 106, .55) 0 0 6px;
}

nav#main a.now:link, nav#main a.now:visited {
text-decoration:none; /*remove the underling from the links*/
color:#fff;
padding:5px 12px;
/*give the 'buttons' a gradient*/
background:YellowGreen;/*fallback colour for unsupported browsers*/
background: -webkit-linear-gradient(top, Green, Yellow);/*Chrome and Safari*/
background: -moz-linear-gradient(top, Green, Yellow);/*Firefox*/
background: -o-linear-gradient(top, Green, Yellow);/*Opera*/
background: -ms-linear-gradient(top, Green, Yellow);/*propesed for IE10*/
-pie-background: linear-gradient(top, Green, Yellow);/*IE9 and earlier*/
behavior: url(assets/pie/PIE.php); /*required to make the gradient work in IE9 and earlier, see http://css3pie.com*/
/*give the buttons rounded corners*/
-webkit-border-radius:5px;/*older Chrome and Safari*/
-moz-border-radius:5px;/*older Firefox*/
border-radius:5px;/*most of the latest browsers*/
/*give the buttons a shadow*/
-webkit-box-shadow: rgba(93, 100, 106, .75) 0 0 10px;/*older Chrome and Safari*/
-moz-box-shadow: rgba(93, 100, 106, .75) 0 0 10px;/*older Firefox*/
box-shadow: rgba(93, 100, 106, .75) 0 0 10px;/*most of the latest browsers*/
}

nav#main a.now:active, nav#main a.now:hover {
background:#ca0000;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#740000), to(Yellow));
background: -webkit-linear-gradient(top, #740000, Yellow);
background: -moz-linear-gradient(top, #740000, Yellow);
background: -o-linear-gradient(top, #740000 , Yellow);
background: -ms-linear-gradient(top, #740000, Yellow);
-pie-background: linear-gradient(#740000, Yellow);
behavior: url(assets/pie/PIE.php); 
color:#fff;
-webkit-box-shadow: rgba(93, 100, 106, .55) 0 0 6px;
-moz-box-shadow: rgba(93, 100, 106, .55) 0 0 6px;
box-shadow: rgba(93, 100, 106, .55) 0 0 6px;
}

/**** HEADER ****/
header h1{
width:1024px;/*width of the image being used*/
height:0px;/*height of the image*/
text-indent:-9999px; /*removes the text off the page*/
}
header a#home{/*make logo a link*/
display:block;
height:200px;/*height of the h1 image above*/
background:transparent;
border:0;
}

/**** BREADCRUMBS****/
nav#breadcrumbs{
padding:0 0 2px 4px;
background:#dce9ef;
}
nav#breadcrumbs p{
font-size:.8em;
line-height:normal;
margin-bottom:0;
letter-spacing:-1px;
color:#878787;
white-space:pre-wrap; /*keeps the space between words the same as in the HTMl document rather than just one space default*/
}
nav#breadcrumbs a{
color:#829da5;
}
nav#breadcrumbs a:active, nav#breadcrumbs a:hover, nav#breadcrumbs a:focus{
text-decoration:none;
color:#306a7a;
}

/****MAIN CONTENT****/
#content{
margin:0px 0 0 0;
padding:10px 20px;
color:#3d444b;
/*clear the floats used within #content*/
width:auto;
overflow:hidden;
}
p.small{
clear:left;
line-height:normal;
margin:-15px 0 15px 10px;
font-size:.7em;
letter-spacing:-1px;
color:#6c7986;
}
/*Images*/
#content ul.images{
list-style-type:none;/*remove the bullet point*/
}
#content ul.images li{
display:inline;/*place the list items in a line*/
}
#content ul.images img{
padding:5px;
margin:0px 5px 0px 5px;
background:#e6ebef;
border:5px solid #FBB917;
/*give the images curved corners*/
-webkit-border-radius:10px;
-moz-border-radius:10px;
border-radius:10px;
/*and a shadow*/
-webkit-box-shadow: rgba(0, 0, 0, .25) 0 0 6px;
-moz-box-shadow: rgba(0, 0, 0, .25) 0 0 6px;
box-shadow: rgba(0, 0, 0, .25) 0 0 6px;
}
#content ul.ArticleImages{
list-style-type:none;/*remove the bullet point*/
}
#content ul.ArticleImages li{
display:inline;/*place the list items in a line*/
}
#content ul.ArticleImages img{
padding:5px;
margin:5px 85px 5px 85px;
background:#e6ebef;
border:5px solid #FBB917;
/*give the images curved corners*/
-webkit-border-radius:10px;
-moz-border-radius:10px;
border-radius:10px;
/*and a shadow*/
-webkit-box-shadow: rgba(0, 0, 0, .25) 0 0 6px;
-moz-box-shadow: rgba(0, 0, 0, .25) 0 0 6px;
box-shadow: rgba(0, 0, 0, .25) 0 0 6px;
}
/*Image enlarge on hover - see http://cssdemos.tupence.co.uk/image-popup.htm for full instructions*/
ul.images-enlarge{
list-style-type: none;
font-size:1.2em;
 }
ul.images-enlarge li {
float: left;  
position: relative;
z-index: 0;
 } 
ul.images-enlarge a{
z-index: 0;
 } 
ul.images-enlarge img{ 
padding:5px;
margin:0px 10px 0 10px;
background:#e6ebef;
border:5px solid #FBB117;
-webkit-border-radius:10px;
-moz-border-radius:10px;
border-radius:10px;
-webkit-box-shadow: rgba(0, 0, 0, .25) 0 0 6px;
-moz-box-shadow: rgba(0, 0, 0, .25) 0 0 6px;
box-shadow: rgba(0, 0, 0, .25) 0 0 6px;
}
ul.images-enlarge span{
position: absolute;
padding: 8px; 
background:#e6ebef;
box-shadow: 0 0 10px rgba(132, 132, 132, .75);
border-radius: 10px; 
left: -9999px;
font-size:90%;
}
ul.images-enlarge a span{
position: absolute;
}
ul.images-enlarge span img{ 
padding:2px;
margin:0;
background:#e6ebef;
border:none;
-webkit-box-shadow:none;
-moz-box-shadow: none;
box-shadow:none;
}
ul.images-enlarge li:hover, ul.images-enlarge a:focus{
z-index: 50;
}
ul.images-enlarge li:hover span{ 
top: -50px; 
left: -50px; 
}
ul.images-enlarge a:focus span{
top: -360px; 
left: 0; 
}

/*end image enlarge on hover*/
/*style the floated box on the right of the page*/
.cutoutright{
float:right;
width:220px; /*use any width you want up to the width of #wrapper*/
margin:20px 0px 20px 10px;
padding:10px;
background:#ccfb5d;
/*give the corners of the box a curve*/
-webkit-border-radius:10px;
-moz-border-radius:10px;
border-radius:10px;
/*give the box a shadow*/
-webkit-box-shadow: rgba(93, 100, 106, .45) 0 0 5px;
-moz-box-shadow: rgba(93, 100, 106, .45) 0 0 5px;
box-shadow: rgba(93, 100, 106, .45) 0 0 5px;
}
.cutoutright ul{
list-style-type: none;
margin:10px 0;
}
.cutoutright h3{
font-size:1.4em;
margin:0 0 10px 10px;
color:#623e9d;
}
.cutoutright img{
margin:0 auto;
margin-bottom:15px;
-webkit-box-shadow: rgba(0, 0, 0, .25) 0 1px 6px;
-moz-box-shadow: rgba(0, 0, 0, .25) 0 1px 6px;
box-shadow: rgba(0, 0, 0, .25) 0 1px 6px;
}
/*style the floated box on the left of the page*/
.cutoutleft{
float:left;
width:690px; /*use any width you want up to the width of #wrapper*/
margin:20px 10px 10px 10px;
padding:10px;
background:WhiteSmoke;
/*give the corners of the box a curve*/
-webkit-border-radius:10px;
-moz-border-radius:10px;
border-radius:10px;
/*give the box a shadow*/
-webkit-box-shadow: rgba(93, 100, 106, .45) 0 0 5px;
-moz-box-shadow: rgba(93, 100, 106, .45) 0 0 5px;
box-shadow: rgba(93, 100, 106, .45) 0 0 5px;
}
.cutoutleft ul{
list-style-type: none;
margin:10px 0px;
}
.cutoutleft h3{
font-size:1.4em;
margin:0 0 10px 0;
color:#623e9d;
}
.cutoutleft img{
margin:0 auto;
margin-bottom:15px;
-webkit-box-shadow: rgba(0, 0, 0, .25) 0 1px 6px;
-moz-box-shadow: rgba(0, 0, 0, .25) 0 1px 6px;
box-shadow: rgba(0, 0, 0, .25) 0 1px 6px;
}
/****FOOTER*****/
footer{
margin-top:10px;
padding:10px 10px 10px 50px;
color:#3d444b;
/*clear the floats*/
width:auto;
overflow:hidden;
/*give the background a gradient -see http://cssdemos.tupence.co.uk/gradients.htm for more info*/
background:YellowGreen;/*fallback colour for unsupported browsers*/
background: -webkit-linear-gradient(top, Yellow, YellowGreen 80px); /*Chrome and Safari*/
background: -moz-linear-gradient(top, Yellow, YellowGreen 80px);/*Firefox*/
background: -o-linear-gradient(top, Yellow, YellowGreen 80px);/*Opera*/
background: -ms-linear-gradient(top, Yellow, YellowGreen 80px);/*proposed for IE10*/
-pie-background: linear-gradient(Yellow, YellowGreen 80px);/*IE9 and earlier*/
behavior: url(assets/pie/PIE.php);  /*required to make the gradient work in IE9 and earlier, see http://css3pie.com*/
}
footer nav{
width:580px;
float:left;
}
footer ul{
list-style-type:none;
margin:10px 0;
}
footer li{/*by setting a width for each list item and floating it left we can place the 9 links, 3 in a row and in 3 columns*/
display:inline;
float:left;
width:150px;
padding: 5px 10px;
font-size:.95em;
letter-spacing:-1px;
line-height:1em;
color:#344e66;
}
footer a:link, footer a:visited{
color:#344e66;
text-decoration:none;
margin:0 10px;
text-shadow: 0px -1px 0px #637485;
}
footer a:active, footer a:hover, footer a:focus{
color:#832436;
text-decoration:none;
text-shadow: 0px -1px 0px #551f29;
}
/*Search Box*/
#footer-search{
float:right;
margin-right:30px;
}
footer form{
margin-top:20px;
}
footer fieldset label, legend{
display:none
}
footer input#term{
color:#2c2c2c;
background:#dde4d0;
margin:10px 10px 7px 0;
border:1px solid #dde4d0;
-moz-border-radius: 5px; 
-webkit-border-radius: 5px;
border-radius: 5px;
padding:6px 5px;
text-transform: lowercase;
letter-spacing:normal;
font-size:1em;
width:160px;
}
footer input#term:focus{
background:#cedc9e;
border:1px solid #cedc9e;
}
footer input#searchbutton{
padding:4px 15px;
border:1px solid #a16969;
cursor:pointer;
/*give the button rounded edges*/
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
color:#fff;
font-size:1em;
/*give the button a gradient*/
background:#740000;/*fallback colour for unsupported browsers*/
background: -webkit-linear-gradient(top, #f45656, #740000);/*Chrome and Safari*/
background: -moz-linear-gradient(top, #f45656, #740000);/*Firefox*/
background: -o-linear-gradient(top, #f45656, #740000);/*Opera*/
background: -ms-linear-gradient(top, #f45656, #740000);/*propesed for IE10*/
-pie-background: linear-gradient(#f45656, #740000);/*IE9 and earlier*/
behavior: url(assets/pie/PIE.php); /*required to make the gradient work in IE9 and earlier, see http://css3pie.com*/
/*give the button a shadow*/
-webkit-box-shadow: rgba(64,64,64, .55) 0 0 8px;
-moz-box-shadow: rgba(64,64,64, .55) 0 0 8px;
box-shadow: rgba(64,64,64, .55) 0 0 8px;
}
footer input#searchbutton:hover, footer input#searchbutton:focus{/*change the background colour and reduce the shadow to give a pushed effect when the button is hovered or in focus*/
background:#962929;
border:1px solid #962929;
-webkit-box-shadow: rgba(64,64,64, .55) 0 0 2px;
-moz-box-shadow: rgba(64,64,64, .55) 0 0 2px;
box-shadow: rgba(64,64,64, .55) 0 0 2px;
}

/******BASE*****/
#base{
padding:20px 0 30px 0;
color:#3d444b;
font-size:.8em;
}
#base a{
color:#2d6f7f;
}
#base a:active, #base a:hover, #base a:focus{
color:#832436;
text-decoration:underline;
}
