/************
/************
RESETS & HTML5 HELP
*************/
/***Reset browser margins, padding and borders****/
html, body, div, h1, h2, h3, h4, h5, h6, p, a, img, ul, li{/*add anything you need*/
margin:0;
padding:0;
border:0;
}
/****Render HTML5 elements as block in older browser****/
header, footer, section, aside, nav, article {/*add any other elements you use*/
display: block;
}

/*******************
GENERAL LAYOUT
********************/
body{
/*give the background a gradient -see http://cssdemos.tupence.co.uk/gradients.htm for more info*/
background:SmokeWhite;/*fallback colour for unsuported browsers*/
/* background: -webkit-linear-gradient(top, YellowGreen, #CCFF33 300px); /*Chrome and Safari*/
background: -webkit-linear-gradient(top, YellowGreen, GhostWhite 300px); /*Chrome and Safari*/
background: -moz-linear-gradient(top, YellowGreen, GhostWhite 300px);/*Firefox*/
background: -o-linear-gradient(top, YellowGreen, GhostWhite 300px);/*Opera*/
background: -ms-linear-gradient(top, YellowGreen, GhostWhite 300px);/*proposed for IE10*/
-pie-background: linear-gradient(YellowGreen, GhostWhite 300px);/*IE9 and lower*/
behavior: url(assets/pie/PIE.php); /*required to make the gradient work in IE9 and earer, see http://css3pie.com*/
background-repeat: no-repeat;
/*Give text some basic styling*/
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:.875em;
text-align:center;
}

/**** HEADER ****/
header h1{
width:1024px;/*width of the image being used*/
height:150px;/*height of the image*/
text-indent:-9999px; /*removes the text off the page*/
background:url(banner_final.png) no-repeat; /*replace the text with an image*/
margin-top:-18px;
}
header a#home{/*make logo a link*/
display:block;
height:150px;/*height of the h1 image above*/
background:transparent no-repeat;
border:0;
}

/*CONTAIN THE PAGES IN A FIXED WIDTH DIV*/
#wrapper{
width:1024px; /*width allows resolutions of 1024 and above wide not to bave a horizontal scroll*/
margin:0 auto; /*centres the div*/
margin-top:10px;
text-align:center;
/*rounded corners - see http://cssdemos.tupence.co.uk/border-radius.htm for more info*/
-webkit-border-radius:10px;/*older Chrome and Safari*/
-moz-border-radius:10px;/*older Firefox*/
border-radius:10px;/*most of the latest browsers*/
/*give a div a drop shadow - see http://cssdemos.tupence.co.uk/box-shadow.htm for more info*/
-webkit-box-shadow: rgba(93, 100, 106, .75) 0 2px 10px;/*older Chrome and Safari*/
-moz-box-shadow: rgba(93, 100, 106, .75) 0 2px 10px;/*older Firefox*/
box-shadow: rgba(93, 100, 106, .75) 0 2px 10px;/*most of the latest browsers*/
}

/**************
BASIC TEXT AND LINK STYLING
***************/
/*text*/
p{
font-size:0.9em;
line-height:1.25em;
margin-bottom:12px;
}
p.intro{/*introduction text on homepage*/
margin:20px 0 5px 0;
padding:5px;
font-family:Georgia, 'Times New Roman', serif;
font-size: 1.15em;
letter-spacing: .08em;
line-height: 1.3em;
margin-bottom:5px;
color:#545c65;
background:#dceaf4;
/*rounded corners - see http://cssdemos.tupence.co.uk/border-radius.htm for more info*/
-webkit-border-radius:10px;/*older Chrome and Safari*/
-moz-border-radius:10px;/*older Firefox*/
border-radius:10px;/*most of the latest browsers*/
}
p.small{
clear:left;
line-height:normal;
margin:-15px 0 15px 10px;
font-size:.7em;
letter-spacing:-1px;
color:#6c7986;
}
ul{
margin:10px 10px;
}
li{
line-height:1.5em;
margin-bottom:0px;
}
/*headings*/
h1, h2, h3, h4, h5{/*all the headings have the same basic styling*/
font-family:'Happy Monkey', cursive;/*Happy Monkey is available from http://www.google.com/webfonts/specimen/Happy+Monkey*/
font-weight:normal;
color:Green;
}
h2{
font-size:2.1em;
line-height:1em;
margin-bottom:10px;
margin-left:0px;
text-shadow:0 0.5px 1.5px #5d6b74;/*see http://cssdemos.tupence.co.uk/text-shadow.htm for more info on text shadows*/
}
h2 span.caps{
font-size:85%;
letter-spacing:-1px;
}
h2 span.color{
color:#832436;
font-size:70%;
}
h3{
font-size:1.5em;
margin:40px 0 10px -10px;
text-shadow:0px 1px 0px #5d6b74;/*see http://cssdemos.tupence.co.uk/text-shadow.htm for more info on text shadows*/
}
h4{
font-size:1.2em;
margin:0px 0 10px 0px;
color:#E56E94;
}
/* Links */
a:link, a:visited{
color:Purple;
}
a:active, a:hover, a:focus{
color:Tomato;
}

/*****************
SECTION SPECIFIC STYLING
******************/

/* Main Navigation Links */
nav#main{
font-size:1.2em;
text-align:center;
padding-top:5px;
padding-bottom:5px;
margin-top:-10px;
}
nav#main ul{
list-style-type:none;/*remove the bullet point from the list items*/
margin:10px 0;
}
nav#main li{
display:inline;/*place the list items in a line*/
padding:0 20px;
}
nav#main a:link, nav#main a:visited {
text-decoration:none; /*remove the underling from the links*/
color:#fff;
padding:5px 12px;
/*give the 'buttons' a gradient*/
background:Green;/*fallback colour for unsupported browsers*/
background: -webkit-linear-gradient(top, Green, YellowGreen);/*Chrome and Safari*/
background: -moz-linear-gradient(top, Green, YellowGreen);/*Firefox*/
background: -o-linear-gradient(top, Green, YellowGreen);/*Opera*/
background: -ms-linear-gradient(top, Green, YellowGreen);/*propesed for IE10*/
-pie-background: linear-gradient(Green, YellowGreen);/*IE9 and earlier*/
behavior: url(assets/pie/PIE.php); /*required to make the gradient work in IE9 and earlier, see http://css3pie.com*/
/*give the buttons rounded corners*/
-webkit-border-radius:5px;/*older Chrome and Safari*/
-moz-border-radius:5px;/*older Firefox*/
border-radius:5px;/*most of the latest browsers*/
/*give the buttons a shadow*/
-webkit-box-shadow: rgba(93, 100, 106, .75) 0 0 10px;/*older Chrome and Safari*/
-moz-box-shadow: rgba(93, 100, 106, .75) 0 0 10px;/*older Firefox*/
box-shadow: rgba(93, 100, 106, .75) 0 0 10px;/*most of the latest browsers*/
}
nav#main a:active, nav#main a:hover, nav#main a:focus {
background:#ca0000;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#740000), to(#f45656));
background: -webkit-linear-gradient(top, #740000, #f45656);
background: -moz-linear-gradient(top, #740000, #f45656);
background: -o-linear-gradient(top, #740000, #f45656);
background: -ms-linear-gradient(top, #740000, #f45656);
-pie-background: linear-gradient(#740000, #f45656);
behavior: url(assets/pie/PIE.php); 
color:#fff;
-webkit-box-shadow: rgba(93, 100, 106, .55) 0 0 6px;
-moz-box-shadow: rgba(93, 100, 106, .55) 0 0 6px;
box-shadow: rgba(93, 100, 106, .55) 0 0 6px;
}
nav#main a.now:link, nav#main a.now:visited {
text-decoration:none; /*remove the underling from the links*/
color:#fff;
padding:5px 12px;
/*give the 'buttons' a gradient*/
background:YellowGreen;/*fallback colour for unsupported browsers*/
background: -webkit-linear-gradient(top, Green, Yellow);/*Chrome and Safari*/
background: -moz-linear-gradient(top, Green, Yellow);/*Firefox*/
background: -o-linear-gradient(top, Green, Yellow);/*Opera*/
background: -ms-linear-gradient(top, Green, Yellow);/*propesed for IE10*/
-pie-background: linear-gradient(top, Green, Yellow);/*IE9 and earlier*/
behavior: url(assets/pie/PIE.php); /*required to make the gradient work in IE9 and earlier, see http://css3pie.com*/
/*give the buttons rounded corners*/
-webkit-border-radius:5px;/*older Chrome and Safari*/
-moz-border-radius:5px;/*older Firefox*/
border-radius:5px;/*most of the latest browsers*/
/*give the buttons a shadow*/
-webkit-box-shadow: rgba(93, 100, 106, .75) 0 0 10px;/*older Chrome and Safari*/
-moz-box-shadow: rgba(93, 100, 106, .75) 0 0 10px;/*older Firefox*/
box-shadow: rgba(93, 100, 106, .75) 0 0 10px;/*most of the latest browsers*/
}
nav#main a.now:active, nav#main a.now:hover {
background:#ca0000;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#740000), to(Yellow));
background: -webkit-linear-gradient(top, #740000, Yellow);
background: -moz-linear-gradient(top, #740000, Yellow);
background: -o-linear-gradient(top, #740000 , Yellow);
background: -ms-linear-gradient(top, #740000, Yellow);
-pie-background: linear-gradient(#740000, Yellow);
behavior: url(assets/pie/PIE.php); 
color:#fff;
-webkit-box-shadow: rgba(93, 100, 106, .55) 0 0 6px;
-moz-box-shadow: rgba(93, 100, 106, .55) 0 0 6px;
box-shadow: rgba(93, 100, 106, .55) 0 0 6px;
}

/**** MAIN NAVIGATION ****/
/*Hidden skip navigation link*/
#access{
text-align:center;
padding:0 0 0 10px;
}
#access a{
position:absolute; 
left:-9999em; /*remove the skipnav links off the page*/
width:200px; 
z-index:999; 
display:block;
}
#access a:active, #access a:hover, #access a:focus{
left:0; /*bring the links back onto the page*/
top:0; 
color:#fff; 
background-color:#373737;
padding:10px; 
font-weight:bold; 
text-decoration:underline;
}

/**** BREADCRUMBS- used for greetings ****/
nav#breadcrumbs{
padding:0px 25px 0px 0px;
background-color:rgba(255,255,255,0);
text-align:right;
color:#CC3333;
margin-top:-10px;
}
nav#breadcrumbs p{
font-size:1em;
line-height:1em;
margin-right:0px;
letter-spacing:1px;
white-space:pre-wrap; /*keeps the space between words the same as in the HTMl document rather than just one space default*/
}
nav#breadcrumbs a:link, a:visited{
color:BlueViolet;
}
nav#breadcrumbs a:active, nav#breadcrumbs a:hover, nav#breadcrumbs a:focus{
color:Orange;
}

/*style the floated box on the left of the page*/
#cutout{
float:left;
text-align:left;
width:165px; /*use any width you want up to the width of #wrapper*/
margin:10px 5px 10px 5px;
padding:10px;
background:#ccfb5d;
/*give the corners of the box a curve*/
-webkit-border-radius:10px;
-moz-border-radius:10px;
border-radius:10px;
/*give the box a shadow*/
-webkit-box-shadow: rgba(93, 100, 106, .45) 0 0 5px;
-moz-box-shadow: rgba(93, 100, 106, .45) 0 0 5px;
box-shadow: rgba(93, 100, 106, .45) 0 0 5px;
}
#cutout ul{
list-style-type: none;
margin:10px 0;
}
#cutout h3{
font-size:1.4em;
margin:0 0 10px 0;
color:#623e9d;
}
#cutout img{
margin:0 auto;
margin-bottom:15px;
-webkit-box-shadow: rgba(0, 0, 0, .25) 0 1px 6px;
-moz-box-shadow: rgba(0, 0, 0, .25) 0 1px 6px;
box-shadow: rgba(0, 0, 0, .25) 0 1px 6px;
}
#cutout.right {
float:right;
width:220px; 
}
#content ul.images{
list-style-type:none;/*remove the bullet point*/
}
#content ul.images li{
display:inline;/*place the list items in a line*/
}
#content ul.images img{
padding:5px;
margin:5px 5px 5px 5px;
background:#e6ebef;
border:5px solid #FBB917;
/*give the images curved corners*/
-webkit-border-radius:10px;
-moz-border-radius:10px;
border-radius:10px;
/*and a shadow*/
-webkit-box-shadow: rgba(0, 0, 0, .25) 0 0 6px;
-moz-box-shadow: rgba(0, 0, 0, .25) 0 0 6px;
box-shadow: rgba(0, 0, 0, .25) 0 0 6px;
}
/* #content ul.images img:hover, img:focus{
border:5px solid Tomato;
} */

/*Image enlarge on hover - see http://cssdemos.tupence.co.uk/image-popup.htm for full instructions*/
#content ul.images-enlarge{
list-style-type: none;
font-size:1.2em;
z-index: 0;
}
#content ul.images-enlarge li {
float: left;  
position: relative;
} 
#content ul.images-enlarge img{ 
padding:5px;
margin:5px 5px 5px 5px;
background:#e6ebef;
border:5px solid #FBB117;
-webkit-border-radius:10px;
-moz-border-radius:10px;
border-radius:10px;
-webkit-box-shadow: rgba(0, 0, 0, .25) 0 0 6px;
-moz-box-shadow: rgba(0, 0, 0, .25) 0 0 6px;
box-shadow: rgba(0, 0, 0, .25) 0 0 6px;
}
#content ul.images-enlarge span{
position: absolute;
padding: 8px; 
background:#e6ebef;
box-shadow: 0 0 10px rgba(132, 132, 132, .75);
border-radius: 10px; 
left: -9999px;
font-size:90%;
}
#content ul.images-enlarge a span{
position: absolute;
}
#content ul.images-enlarge span img{ 
padding:5px;
margin:0;
background:#e6ebef;
border:5px solid #FBB117;
-webkit-box-shadow:none;
-moz-box-shadow: none;
box-shadow:none;
}
#content ul.images-enlarge li:hover, ul.images-enlarge a:focus{
z-index: 50;
}
#content ul.images-enlarge li:hover span{ 
top: -50px; 
left: -50px; 
}
#content ul.images-enlarge a:focus span{
top: -360px; 
left: 0; 
}

#largelink{
font-size:1.6em;
}
/******** colourful levels*********/
a.Color0:link, a.Color0:visited {color:BlueViolet;}
a.Color0:active, a.Color0:hover, a.Color0:focus {color:Green;}
a.Color1:link, a.Color1:visited {color:Blue;}
a.Color1:active, a.Color1:hover, a.Color1:focus {color:T;}
a.Color2:link, a.Color2:visited {color:DeepSkyBlue;}
a.Color2:active, a.Color2:hover, a.Color2:focus {color:Orange;}
a.Color3:link, a.Color3:visited {color:Green;}
a.Color3:active, a.Color3:hover, a.Color3:focus {color:Red;}
a.Color4:link, a.Color4:visited {color:Orage;}
a.Color4:active, a.Color4:hover, a.Color4:focus {color:FireBrick;}
a.Color5:link, a.Color5:visited {color:Tomato;}
a.Color5:active, a.Color5:hover, a.Color5:focus {color:BlueViolet;}
a.Color6:link, a.Color6:visited {color:Red;}
a.Color6:active, a.Color6:hover, a.Color6:focus {color:Blue;}
a.Color7:link, a.Color7:visited {color:FireBrick;}
a.Color7:active, a.Color7:hover, a.Color7:focus {color:DeepSkyBlue;}

figure { 
  display: inline; 
  position: relative; 
  float: center; 
  overflow: hidden; 
  margin: 0px 0px 0px 0px; /* margin around the figure */
}
figcaption { 
  position: absolute; 
  background: rgba(0,0,0,0.75); 
  color: white; 
  font-size: 1.3em;
  line-height: 1.6em;
  padding: 5px 10px; /* space <> and up-down */
  opacity: 0; /* visibility before hover */
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}
figure:hover figcaption {
  opacity: .8;
}
figure:before { 
  content: "?"; 
  position: absolute; 
  font-weight: 800; 
  background: rgba(255,255,255,0.75); 
  text-shadow: 0 0 5px white;
  color: black;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius:    12px;
  border-radius:         12px;
  text-align: center;
  font-size: 1em;
  line-height: 1.2em;
  -moz-transition: all 0.6s ease;
  opacity: 0.75;	
}
figure:hover:before {
  opacity: 0;
}

.cap-left:before {  bottom: 10px; left: 10px; }
.cap-left figcaption { bottom: 25px; left: -10px; }
.cap-left:hover figcaption { left: 10px; }

.cap-right:before { bottom: 10px; right: 10px; }
.cap-right figcaption { bottom: 0; right: -10px; }
.cap-right:hover figcaption { right: 10px; }

.cap-top:before { top: 10px; left: 10px; }
.cap-top figcaption { left: 0; top: -10px; }
.cap-top:hover figcaption { top: 10px; }

.cap-bot:before { bottom: 10px; left: 10px; }
.cap-bot figcaption { left: 0; bottom: -10px;}
.cap-bot:hover figcaption { bottom: 10px; }

/****Main Contents****/
#content{
text-align:left;
margin:0px 10px 0 10px;
padding:0px 10px;
color:#3d444b;
/*clear the floats used within #content*/
width:auto;
overflow:hidden;
}

#content ul.contentlist{
list-style-type: none;
font-size:1.2em;
z-index: 0;
}
#content ul.contentlist li {
float: left;  
position: relative;
} 
#content ul.contentlist img{ 
padding:5px;
margin:0px 15px 10px 0px;
background:#e6ebef;
border:5px solid #FBB117;
-webkit-border-radius:10px;
-moz-border-radius:10px;
border-radius:10px;
-webkit-box-shadow: rgba(0, 0, 0, .25) 0 0 6px;
-moz-box-shadow: rgba(0, 0, 0, .25) 0 0 6px;
box-shadow: rgba(0, 0, 0, .25) 0 0 6px;
}
#content ul.contentlist img:hover{ 
background:LightYellow;
border:5px solid tomato;
}

nav#breadcrumbs.pageindex{
text-align:center;
margin-top:20px;
}

/****FOOTER*****/
footer{
margin-top:10px;
padding:10px 10px 10px 50px;
color:#3d444b;
/*clear the floats*/
width:auto;
overflow:hidden;
/*give the background a gradient -see http://cssdemos.tupence.co.uk/gradients.htm for more info*/
background:YellowGreen;/*fallback colour for unsupported browsers*/
background: -webkit-linear-gradient(top, Yellow, YellowGreen 80px); /*Chrome and Safari*/
background: -moz-linear-gradient(top, Yellow, YellowGreen 80px);/*Firefox*/
background: -o-linear-gradient(top, Yellow, YellowGreen 80px);/*Opera*/
background: -ms-linear-gradient(top, Yellow, YellowGreen 80px);/*proposed for IE10*/
-pie-background: linear-gradient(Yellow, YellowGreen 80px);/*IE9 and earlier*/
behavior: url(assets/pie/PIE.php);  /*required to make the gradient work in IE9 and earlier, see http://css3pie.com*/
}
footer nav{
width:580px;
float:left;
}
footer ul{
list-style-type:none;
margin:10px 0;
}
footer li{/*by setting a width for each list item and floating it left we can place the 9 links, 3 in a row and in 3 columns*/
display:inline;
float:left;
width:150px;
padding: 5px 10px;
font-size:.95em;
letter-spacing:-1px;
line-height:1em;
color:#344e66;
}
footer a:link, footer a:visited{
color:#344e66;
text-decoration:none;
margin:0 10px;
text-shadow: 0px -1px 0px #637485;
}
footer a:active, footer a:hover, footer a:focus{
color:#832436;
text-decoration:none;
text-shadow: 0px -1px 0px #551f29;
}
/*Search Box*/
#footer-search{
float:right;
margin-right:30px;
}
footer form{
margin-top:20px;
}
footer fieldset label, legend{
display:none
}
footer input#term{
color:#2c2c2c;
background:#dde4d0;
margin:10px 10px 7px 0;
border:1px solid #dde4d0;
-moz-border-radius: 5px; 
-webkit-border-radius: 5px;
border-radius: 5px;
padding:6px 5px;
text-transform: lowercase;
letter-spacing:normal;
font-size:1em;
width:160px;
}
footer input#term:focus{
background:#cedc9e;
border:1px solid #cedc9e;
}
footer input#searchbutton{
padding:4px 15px;
border:1px solid #a16969;
cursor:pointer;
/*give the button rounded edges*/
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
color:#fff;
font-size:1em;
/*give the button a gradient*/
background:#740000;/*fallback colour for unsupported browsers*/
background: -webkit-linear-gradient(top, #f45656, #740000);/*Chrome and Safari*/
background: -moz-linear-gradient(top, #f45656, #740000);/*Firefox*/
background: -o-linear-gradient(top, #f45656, #740000);/*Opera*/
background: -ms-linear-gradient(top, #f45656, #740000);/*propesed for IE10*/
-pie-background: linear-gradient(#f45656, #740000);/*IE9 and earlier*/
behavior: url(assets/pie/PIE.php); /*required to make the gradient work in IE9 and earlier, see http://css3pie.com*/
/*give the button a shadow*/
-webkit-box-shadow: rgba(64,64,64, .55) 0 0 8px;
-moz-box-shadow: rgba(64,64,64, .55) 0 0 8px;
box-shadow: rgba(64,64,64, .55) 0 0 8px;
}
footer input#searchbutton:hover, footer input#searchbutton:focus{/*change the background colour and reduce the shadow to give a pushed effect when the button is hovered or in focus*/
line-height: 1.2em;
background:#962929;
border:1px solid #962929;
-webkit-box-shadow: rgba(64,64,64, .55) 0 0 2px;
-moz-box-shadow: rgba(64,64,64, .55) 0 0 2px;
box-shadow: rgba(64,64,64, .55) 0 0 2px;
}
/*Form for log-in pages*/
form.login {
	width: 34%;
	margin:20px 33%;
	padding:30px 30px 60px 30px;
	background:White;
	/*give the corners of the box a curve*/
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	/*give the box a shadow*/
	-webkit-box-shadow: rgba(93, 100, 106, .45) 0 0 5px;
	-moz-box-shadow: rgba(93, 100, 106, .45) 0 0 5px;
	box-shadow: rgba(93, 100, 106, .45) 0 0 5px;
	line-height: 1.2em;
}
input.login {
    margin: 5px 0;
	width: 80%;
	color:Gray;
	padding:5px 10px;
	line-height: 1.2em;	
}
input.login_button {
	padding:5px 10px;
	line-height: 1.2em;
    margin: 20px auto;
	width: 60%;
}
.buttonHolder{ text-align: center; }