<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../css/123abcd.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>
	<div class="container">
		<div class="row">

				<div class="col-md-3 col-lg-3">
					
					<div class="nav list-group" id="sidebar">

							<!-- <ul class="nav bs-sidenav" style="background:#F7F5FA;">


								 <li class="menu active">
						  			<a class="primary"  href="/artist">Hello, Artist!!<span class="pull-right">&rsaquo;</span></a> 
						 		</li>
								<li class="menu"> 
								  	<a class="primary" href="/userArticle">Author Panel<span class="pull-right">&rsaquo;</span></a>
								</li>

								 <li class="menu active"> 
								  	<a class="primary" href="/waiting_for_acceptence">Decide to participate<span class="pull-right">&rsaquo;</span></a>
								 </li>
								 <li class="menu"> 

								  	<a class="primary" href="/currentlyworkingartist">Currently Working On<span class="pull-right">&rsaquo;</span></a>
								 </li>
								 <li class="menu"> 
								  	<a class="primary" href="/previouslyworkedartist">Previously Submitted<span class="pull-right">&rsaquo;</span></a>
								 </li>
								  
								  
						  		<li class="menu" id="new_article">
						  			<a class="primary" href="/writeNewArticle">Submit New Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
						  		<li class="menu" id="guide_line">
						  			<a class="primary" href="/previous">Previous Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
							  <li class="menu" id="guide_line">
							  	<a class="primary" href="#">Guide Lines<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="log_out">
							  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="password">
							  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="update_profile">
							  	<a class="primary" href="/users/updateUserProfile">Update Profile<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu active" id="homepage">
							  	<a class="primary" href="/">Home Page<span class="pull-right">&rsaquo;</span></a>
							  </li>


							</ul> -->
							<ul class="nav bs-sidenav" style="background:#F7F5FA;">
								<li class="menu active"><a class="primary" href="/artist">Artist's Panel<span class="pull-right">&rsaquo;</span></a></li>
								<li class="menu"><a class="primary" href="/open_for_bid">Submit a bid<span class="pull-right">&rsaquo;</span></a></li>

								<li class="menu"><a class="primary" href="/acceptedArticleForBid">Submit an art work<span class="pull-right">&rsaquo;</span></a></li>

								<li class="menu"><a class="primary" href="/previouslyworkedartist">Previous art work<span class="pull-right">&rsaquo;</span></a></li>

								<li class="menu"><a class="primary" href="/myWallet">My Wallet<span class="pull-right">&rsaquo;</span></a></li>

								<li class="menu" id="guide_line">
							  	<a class="primary" href="/guideline">Guide Lines<span class="pull-right">&rsaquo;</span></a>
							  </li>

							  <li class="menu" id="log_out">
							  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
							  </li>

							  <li class="menu" id="password">
							  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
							  </li>

							  <li class="menu" id="update_profile">
							  	<a class="primary" href="/users/updateUserProfile">Update Profile<span class="pull-right">&rsaquo;</span></a>
							  </li>

							  <li class="menu active" id="homepage">
							  	<a class="primary" href="/">Home Page<span class="pull-right">&rsaquo;</span></a>
							  </li>
							</ul>

					</div>
				</div>
				<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;padding-top:40px;">
					

					
						<table class="table table-bordered">
						     	 <thead>
							        <tr>
							          
							          <th class="text-center">Article</th>
							          <th class="text-center">My Bid</th>
							          <th class="text-center">Action</th>
							          <th class="text-center">Due Date</th>
							        </tr>
						      	</thead>
								

												<tbody>	

													<%for(var i=0;i<acceptedArticleForBid.length;i++){%>
													<%if(acceptedArticleForBid[i].status=='Bidding in progress'||acceptedArticleForBid[i].status=='Request Authors Approval'||acceptedArticleForBid[i].status=='Bidding Proccessing'){%>
													<tr>	
														<td class="text-center"><a href="/viewBidding_Article?articleId=<%=acceptedArticleForBid[i]._id%>"><%=acceptedArticleForBid[i].bookTitle%></a>
															</td>
														<td class="text-center"><span id="myprebid_<%=i%>"></span></td>
														<td class="text-center"><a href="/artistArticleForbid?articleId=<%=acceptedArticleForBid[i]._id%>">Start Uploading</a></td>
														<td class="text-center"><%=acceptedArticleForBid[i].endDate%></td>
													</tr>
													<%}%>
													<%}%>	
												</tbody>



						</table>

				</div>

		</div>

	</div>


<script src="../js/jquery.min.js"></script>
<script src="../js/jquery.ui.widget.js"></script>
<script src="../js/jquery.fileupload.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>

<script type='text/javascript'> 
        $(document).ready(function() {
            $('#sidebar').affix({offset: {top: $('header').height()}});	
        });
        
</script>

<script>
var article=<% if(locals.acceptedArticleForBid){%>
      <%- JSON.stringify(acceptedArticleForBid) %>
      <%}%>;
var user=<% if(locals.user){%>
      <%- JSON.stringify(user) %>
      <%}%>;
for(var k=0;k<article.length;k++)
      {
      		if(article[k].bidding_Article&&article[k].bidding_Article.length<1)
		      {
		      	//$("#lowestbid_"+k).text('0');
		      	$("#myprebid_"+k).text('0');
		      }
		      

		      
		      if(article[k].bidding_Article&&article[k].bidding_Article.length>=1)
		      {
		      	for(var i=0;i<article[k].bidding_Article.length;i++)
		      	{
		      		if(article[k].bidding_Article[i].artistEmail==user.email)
		      		{
		      			$("#myprebid_"+k).text(article[k].bidding_Article[i].cost)
		      		}
		      	}
		      	
		      }
      }
</script>
</body>
</html>