<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>


	<div class="container">
		<div class="row">


				<div class="col-md-3 col-lg-3">
					
					<div class="nav list-group" id="sidebar">

							<ul class="nav bs-sidenav" style="background:#F7F5FA;">

								  <li class="menu active" id="admin"> 
								  	 	<a class="primary" href="/admin">Admin Pannel<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="manage_members">
								  	 	<a class="primary" href="/manageMembers">Manage Members<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="manage_articles">
								  		<a class="primary" href="/manageArticle">Manage Articles<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="manage_website">
								  		<a class="primary" href="#">Manage Website<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="view_donation">
								  		<a class="primary" href="#"><span class="pull-right">&rsaquo;</span>View Donation</a>
								  </li>
								  <li class="menu" id="view_distribution">
								  		<a class="primary" href="/viewdistribution">Production and Distribution<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="manage_cost">
								  		<a class="primary" href="#">Manage Cost<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="log_out">
								  		<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="password_change">
								  		<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
								  </li>
							</ul>

					</div>

				</div>


			<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;" id="article">

				<form method="post" action="/addsoundSubmit" enctype="multipart/form-data">
						<div class="col-lg-12" style="padding-top: 20px;">
								<div class="col-lg-12 panel panel-success" >

									<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
										<div class="col-lg-12" >	
												<h3><b>Title of the Book : <%=article.bookTitle %></b></h3>
												<table class="table table-bordered">
												     	 <thead>
													        <tr >
													          <th class="text-center">Word</th>
													          <th class="text-center">Add Sound</th>
													         
													        </tr>

												      	</thead>

												      <% for(var i=0; i<boottitle.length; i++) {%> 
												      	<tbody align="center" >	

												      		<td name="bookTitle_<%=i%>">
												      		 <%= boottitle[i]%> 

												      		 <input type="hidden" name="bookTitle_<%=i%>" value="<%= boottitle[i]%> "/>

												      		</td>

												      		<td>

												      			<input type="file" id="bookTitleSound_<%=i%>" name="bookTitleSound_<%=i%>" accept="audio/*"/>


												      		</td>


												      	</tbody>
												      	<%}%>
												      	<input type="hidden" name="booktitleindex" value="<%=boottitle.length%>">
												      	<input type="hidden" name="morepage" value="<%= morepage %>">
												      	<input type="hidden" name="articleId" value="<%=article._id %>">
												      	<input type="hidden" name="userId" value="<%=userId %>">
												      	
												</table>
										</div>

									</div>

								</div>

<!--page :1 -->
								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 1 

										</div>

<!--page 1 top text -->
										
											<div class="col-lg-12"> 

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topText1.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="topText1_<%= i%>"><%= topText1[i]%> </td>
																		      		<input type="hidden" name="topText1_<%=i%>" value="<%= topText1[i]%> "/>
																		      		
																		      		<td>
																		      			<input type="file" id="topText1Sound_<%=i%>" name="topText1Sound_<%=i%>" accept="audio/*"/>
																		      		</td>
																		      	</tbody>

																	      	<%}%>

																	      	<input type="hidden" name="toptext1index" value="<%=topText1.length%>">

																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 1 top sub text -->

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Sub Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topSubText1.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="topSubText1_<%=i%>"><%= topSubText1[i]%> </td>
																		      		<input type="hidden" name="topSubText1_<%=i%>" value="<%= topSubText1[i]%>"/>

																		      		<td><input type="file" id="topSubText1Sound_<%=i%>" name="topSubText1Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>

																	      	<input type="hidden" name="topsubtext1index" value="<%=topSubText1.length%>"> 
																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 1 bottom text -->

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Bottom Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<bottomText1.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="bottomText1_<%=i%>"><%= bottomText1[i]%> </td>
																		      		<input type="hidden" name="bottomText1_<%=i%>" value="<%= bottomText1[i]%>"/>

																		      		<td><input type="file" id="bottomText1Sound_<%=i%>" name="bottomText1Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="bottomtext1index" value="<%=bottomText1.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

											</div>

										</div>

								</div>
								<%if(article.articleTitle2 != ""){%>
<!-- page: 2 -->	
								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 2									
										    </div>

<!-- page 2 top text -->
						
												 <div class="col-lg-12"> 

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topText2.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="topText2_<%=i%>"><%= topText2[i]%> </td>
																		      		<input type="hidden" name="topText2_<%=i%>" value="<%= topText2[i]%>"/>
																		      		<td><input type="file" 
																		      			id="topText2Sound_<%=i%>" 
																		      			name="topText2Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="toptext2index" value="<%=topText2.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 2 top sub text -->

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Sub Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topSubText2.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="topSubText2_<%=i%>"><%= topSubText2[i]%> </td>
																		      		<input type="hidden" name="topSubText2_<%=i%>" value="<%= topSubText2[i]%>"/>
																		      		<td><input type="file" 
																		      			id="topSubText2Sound_<%=i%>" 
																		      			name="topSubText2Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="topsubtext2index" value="<%=topSubText2.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 2 bottom text -->

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Bottom Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<bottomText2.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="bottomText2_<%=i%>"><%= bottomText2[i]%> </td>
																		      		<input type="hidden" name="bottomText2_<%=i%>" value="<%= bottomText2[i]%>"/>
																		      		<td><input type="file" 
																		      			id="bottomText2Sound_<%=i%>" 
																		      			name="bottomText2Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="bottomtext2index" value="<%=bottomText2.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

											</div>

										</div>

								</div>
								<%}%>
<!--page:3 -->
								<%if(article.articleTitle3 != ""){%>
								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 3

											</div>

<!--page 3 top text -->
										
											<div class="col-lg-12"> 

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topText3.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="topText3_<%=i%>"><%= topText3[i]%> </td>
																		      		<input type="hidden" name="topText3_<%=i%>" value="<%= topText3[i]%>"/>
																		      		<td><input type="file" 
																		      			id="topText3Sound_<%=i%>" 
																		      			name="topText3Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>

																	      	<input type="hidden" name="toptext3index" value="<%=topText3.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 3 top sub text -->
													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Sub Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topSubText3.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="topSubText3_<%=i%>"><%= topSubText3[i]%> </td>
																		      		<input type="hidden" name="topSubText3_<%=i%>" value="<%= topSubText3[i]%>"/>

																		      		<td><input type="file" 
																		      			id="topSubText3Sound_<%=i%>" 
																		      			name="topSubText3Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>

																	      	<input type="hidden" name="topsubtext3index" value="<%=topSubText3.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 3 bottom text -->

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Bottom Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<bottomText3.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="bottomText3_<%=i%>"><%= bottomText3[i]%> </td>
																		      		<input type="hidden" name="bottomText3_<%=i%>" value="<%= bottomText3[i]%>"/>
																		      		<td><input type="file" 
																		      			id="bottomText3Sound_<%=i%>" 
																		      			name="bottomText3Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="bottomtext3index" value="<%=bottomText3.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

											</div>

										</div>

								</div>
								<%}%>

<!--page:4 -->					<%if(article.articleTitle4 != ""){%>
								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 4

										</div>

<!--page 4 top text -->
										
											<div class="col-lg-12"> 

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topText4.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="topText4_<%=i%>"><%= topText4[i]%> </td>
																		      		<input type="hidden" name="topText4_<%=i%>" value="<%= topText4[i]%>"/>
																		      		<td><input type="file" 
																		      			id="topText4Sound_<%=i%>" 
																		      			name="topText4Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="toptext4index" value="<%=topText4.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 4 top sub text -->

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Sub Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topSubText4.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="topSubText4_<%=i%>"><%= topSubText4[i]%> </td>
																		      		<input type="hidden" name="topSubText4_<%=i%>" value="<%= topSubText4[i]%>"/>
																		      		<td><input type="file" 
																		      			id="topSubText4Sound_<%=i%>" 
																		      			name="topSubText4Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="topsubtext4index" value="<%=topSubText4.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 4 bottom text -->

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Bottom Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<bottomText4.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="bottomText4_<%=i%>"><%= bottomText4[i]%> </td>
																		      		<input type="hidden" name="bottomText4_<%=i%>" value="<%= bottomText4[i]%>"/>
																		      		<td><input type="file" 
																		      			id="bottomText4Sound_<%=i%>" 
																		      			name="bottomText4Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="bottomtext4index" value="<%=bottomText4.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

											</div>

										</div>

								</div>
								<%}%>

<% if(article.morepage==1 || article.morepage==2 || article.morepage==3  ) {%>

<!--page:5 -->
								<%if(article.articleTitle5 != ""){%>
								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 5

										</div>
<!--page 5 top text -->
										
											<div class="col-lg-12"> 

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topText5.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="topText5_<%=i%>"><%= topText5[i]%> </td>
																		      		<input type="hidden" name="topText5_<%=i%>" value="<%= topText5[i]%>"/>
																		      		<td><input type="file" 
																		      			id="topText5Sound_<%=i%>" 
																		      			name="topText5Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="toptext5index" value="<%=topText5.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 5 top sub text -->

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Sub Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topSubText5.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="topSubText5_<%=i%>"><%= topSubText5[i]%> </td>
																		      		<input type="hidden" name="topSubText5_<%=i%>" value="<%= topSubText5[i]%>"/>
																		      		<td><input type="file" 
																		      			id="topSubText5Sound_<%=i%>" 
																		      			name="topSubText5Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="topsubtext5index" value="<%=topSubText5.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 5 bottom text -->

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Bottom Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<bottomText5.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="bottomText5_<%=i%>"><%= bottomText5[i]%> </td>
																		      		<input type="hidden" name="bottomText5_<%=i%>" value="<%= bottomText5[i]%>"/>
																		      		<td><input type="file" 
																		      			id="bottomText5Sound_<%=i%>" 
																		      			name="bottomText5Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="bottomtext5index" value="<%=bottomText5.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

											</div>

										</div>

								</div>
								<%}%>

<!-- page:6 -->					<%if(article.articleTitle6 != ""){%>
								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 6

										</div>
<!--page 6 top text -->
										
											<div class="col-lg-12"> 

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topText6.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="topText6_<%=i%>"><%= topText6[i]%> </td>
																		      		<input type="hidden" name="topText6_<%=i%>" value="<%= topText6[i]%>"/>
																		      		<td><input type="file" 
																		      			id="topText6Sound_<%=i%>" 
																		      			name="topText6Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>

																	      	<input type="hidden" name="topText6index" value="<%=topText6.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 6 top sub text -->

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Sub Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topSubText6.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="topSubText6_<%=i%>"><%= topSubText6[i]%> </td>
																		      		<input type="hidden" name="topSubText6_<%=i%>" value="<%= topSubText6[i]%>"/>
																		      		<td><input type="file" 
																		      			id="topSubText6Sound_<%=i%>" 
																		      			name="topSubText6Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="topSubText6index" value="<%=topSubText6.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 6 bottom text -->

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Bottom Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<bottomText6.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="bottomText6_<%=i%>"><%= bottomText6[i]%> </td>
																		      		<input type="hidden" name="bottomText6_<%=i%>" value="<%= bottomText6[i]%>"/>
																		      		<td><input type="file" 
																		      			id="bottomText6Sound_<%=i%>" 
																		      			name="bottomText6Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>

																	      	<input type="hidden" name="bottomText6index" value="<%=bottomText6.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

											</div>

										</div>

								</div>
								<%}%>

<!--page:7 -->					<%if(article.articleTitle7 != ""){%>
								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 7

										</div>

<!--page 7 top text -->
										
											<div class="col-lg-12"> 

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topText7.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="topText7_<%=i%>"><%= topText7[i]%> </td>
																		      		<input type="hidden" name="topText7_<%=i%>" value="<%= topText7[i]%>"/>
																		      		<td><input type="file" 
																		      			id="topText7Sound_<%=i%>" 
																		      			name="topText7Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>

																	      	<input type="hidden" name="topText7index" value="<%=topText7.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 7 top sub text -->

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Sub Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topSubText7.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="topSubText7_<%=i%>"><%= topSubText7[i]%> </td>
																		      		<input type="hidden" name="topSubText7_<%=i%>" value="<%= topSubText7[i]%>"/>
																		      		<td><input type="file" 
																		      			id="topSubText7Sound_<%=i%>" 
																		      			name="topSubText7Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      		<input type="hidden" name="topSubText7index" value="<%=topSubText7.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 7 bottom text -->

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Bottom Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<bottomText7.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="bottomText7_<%=i%>"><%= bottomText7[i]%> </td>
																		      		<input type="hidden" name="bottomText7_<%=i%>" value="<%= bottomText7[i]%>"/>
																		      		<td><input type="file" 
																		      			id="bottomText7Sound_<%=i%>" 
																		      			name="bottomText7Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="bottomtext7index" value="<%=bottomText7.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

											</div>

										</div>

								</div>
								<%}%>

<!-- page:8 -->                  <%if(article.articleTitle8 != ""){%>


								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 8

										</div>
<!--page 8 top text -->
										
											<div class="col-lg-12"> 

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topText8.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="topText8_<%=i%>"><%= topText8[i]%> </td>
																		      		<input type="hidden" name="topText8_<%=i%>" value="<%= topText8[i]%>"/>
																		      		<td><input type="file" 
																		      			id="topText8Sound_<%=i%>" 
																		      			name="topText8Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="toptext8index" value="<%=topText8.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 8 top sub text -->

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Sub Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topSubText8.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="topSubText8_<%=i%>"><%= topSubText8[i]%> </td>
																		      		<input type="hidden" name="topSubText8_<%=i%>" value="<%= topSubText8[i]%>"/>
																		      		<td><input type="file"
																		      		 id="topSubText8Sound_<%=i%>"
																		      		 name="topSubText8Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="topsubtext8index" value="<%=topSubText8.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 8 bottom text -->

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Bottom Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<bottomText8.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="bottomText8_<%=i%>"><%= bottomText8[i]%> </td>
																		      		<input type="hidden" name="bottomText8_<%=i%>" value="<%= bottomText8[i]%>"/>
																		      		<td><input type="file" 
																		      			id="bottomText8Sound_<%=i%>" 
																		      			name="bottomText8Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="bottomtext8index" value="<%=bottomText8.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

											</div>

										</div>

								</div>
								<%}%>


	<% } %>

	<% if( article.morepage==2 || article.morepage==3) {%>

<!-- page:9 -->					<%if(article.articleTitle9 != ""){%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 9

										</div>
<!--page 9 top text -->
										
											<div class="col-lg-12"> 

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topText9.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="topText9_<%=i%>"><%= topText9[i]%> </td>
																		      		<input type="hidden" name="topText9_<%=i%>" value="<%= topText9[i]%>"/>
																		      		<td><input type="file"
																		      		 id="topText9Sound_<%=i%>"
																		      		 name="topText9Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="toptext9index" value="<%=topText9.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 9 top sub text -->

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Sub Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topSubText9.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="topSubText9_<%=i%>"><%= topSubText9[i]%> </td>
																		      		<input type="hidden" name="topSubText9_<%=i%>" value="<%= topSubText9[i]%>"/>
																		      		<td><input type="file"
																		      		 id="topSubText9Sound_<%=i%>"
																		      		 name="topSubText9Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="topsubtext9index" value="<%=topSubText9.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 9 bottom text -->

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Bottom Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<bottomText9.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="bottomText9_<%=i%>"><%= bottomText9[i]%> </td>
																		      		<input type="hidden" name="bottomText9_<%=i%>" value="<%= bottomText9[i]%>"/>
																		      		<td><input type="file"
																		      		 id="bottomText9Sound_<%=i%>"
																		      		 name="bottomText9Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="bottomtext9index" value="<%=bottomText9.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

											</div>

										</div>

								</div>

								<%}%>

<!-- page:10 -->				<%if(article.articleTitle10 != ""){%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 10

										</div>
<!--page 10 top text -->
										
											<div class="col-lg-12"> 

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topText10.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td ="topText10_<%=i%>"><%= topText10[i]%> </td>
																		      		<input type="hidden" name="topText10_<%=i%>" value="<%= topText10[i]%>"/>
																		      		<td><input type="file"
																		      		 id="topText10Sound_<%=i%>"
																		      		 name="topText10Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="toptext10index" value="<%=topText10.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 10 top sub text -->

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Sub Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topSubText10.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="topSubText10_<%=i%>"><%= topSubText10[i]%> </td>
																		      		<input type="hidden" name="topSubText10_<%=i%>" value="<%= topSubText10[i]%>"/>
																		      		<td><input type="file"
																		      		 id="topSubText10Sound_<%=i%>"
																		      		 name="topSubText10Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="topsubtext10index" value="<%=topSubText10.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 10 bottom text -->

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Bottom Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<bottomText10.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="bottomText10_<%=i%>"><%= bottomText10[i]%> </td>
																		      		<input type="hidden" name="bottomText10_<%=i%>" value="<%= bottomText10[i]%>"/>
																		      		<td><input type="file"
																		      		 id="bottomText10Sound_<%=i%>"
																		      		 name="bottomText10Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="bottomtext10index" value="<%=bottomText10.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

											</div>

										</div>

								</div>
								<%}%>

<!-- page:11 -->				<%if(article.articleTitle11 != ""){%>


								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 11

										</div>
<!--page 11 top text -->
										
											<div class="col-lg-12"> 

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topText11.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="topText11_<%=i%>"><%= topText11[i]%> </td>
																		      		<input type="hidden" name="topText11_<%=i%>" value="<%= topText11[i]%>"/>
																		      		<td><input type="file"
																		      		 id="topText11Sound_<%=i%>"
																		      		 name="topText11Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="toptext11index" value="<%=topText11.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 11 top sub text -->

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Sub Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topSubText11.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="topSubText11_<%=i%>"><%= topSubText11[i]%> </td>
																		      		<input type="hidden" name="topSubText11_<%=i%>" value="<%= topSubText11[i]%>"/>
																		      		<td><input type="file"
																		      		 id="topSubText11Sound_<%=i%>"
																		      		 name="topSubText11Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="topsubtext11index" value="<%=topSubText11.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 11 bottom text -->

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Bottom Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<bottomText11.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="bottomText11_<%=i%>"><%= bottomText11[i]%> </td>
																		      		<input type="hidden" name="bottomText11_<%=i%>" value="<%= bottomText11[i]%>"/>
																		      		<td><input type="file"
																		      		 id="bottomText11Sound_<%=i%>"
																		      		 name="bottomText11Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="bottomtext11index" value="<%=bottomText11.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

											</div>

										</div>

								</div>
								<%}%>

<!-- page:12 -->				<%if(article.articleTitle12 != ""){%>
								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 12

										</div>
<!--page 12 top text -->
										
											<div class="col-lg-12"> 

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topText12.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="topText12_<%=i%>"><%= topText12[i]%> </td>
																		      		<input type="hidden" name="topText12_<%=i%>" value="<%= topText12[i]%>"/>
																		      		<td><input type="file"
																		      		 id="topText12Sound_<%=i%>"
																		      		 name="topText12Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="toptext12index" value="<%=topText12.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 12 top sub text -->

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Sub Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topSubText12.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="topSubText12_<%=i%>"><%= topSubText12[i]%> </td>
																		      		<input type="hidden" name="topSubText12_<%=i%>" value="<%= topSubText12[i]%>"/>
																		      		<td><input type="file"
																		      		 id="topSubText12Sound_<%=i%>"
																		      		 name="topSubText12Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="topsubtext12index" value="<%=topSubText12.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 12 bottom text -->

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Bottom Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<bottomText12.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="bottomText12_<%=i%>"><%= bottomText12[i]%> </td>
																		      		<input type="hidden" name="bottomText12_<%=i%>" value="<%= bottomText12[i]%>"/>
																		      		<td><input type="file"
																		      		 id="bottomText12Sound_<%=i%>"
																		      		 name="bottomText12Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="bottomtext12index" value="<%=bottomText12.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

											</div>

										</div>

								</div>
								<%}%>


	<% } %>
	<% if(article.morepage==3) {%>

	<!-- page:13 -->			<%if(article.articleTitle13 != ""){%>
								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 13

										</div>
<!--page 13 top text -->
										
											<div class="col-lg-12"> 

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topText13.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="topText13_<%=i%>"><%= topText13[i]%> </td>
																		      		<input type="hidden" name="topText13_<%=i%>" value="<%= topText13[i]%>"/>
																		      		<td><input type="file"
																		      		 id="topText13Sound_<%=i%>"
																		      		 name="topText13Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="toptext13index" value="<%=topText13.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 13 top sub text -->

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Sub Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topSubText13.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="topSubText13_<%=i%>"><%= topSubText13[i]%> </td>
																		      		
																		      		<input type="hidden" name="topSubText13_<%=i%>" value="<%= topSubText13[i]%>"/>
																		      		<td><input type="file"
																		      		 id="topSubText13Sound_<%=i%>"
																		      		 name="topSubText13Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="topsubtext13index" value="<%=topSubText13.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 13 bottom text -->

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Bottom Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<bottomText13.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="bottomText13_<%=i%>"><%= bottomText13[i]%> </td>
																		      		<input type="hidden" name="bottomText13_<%=i%>" value="<%= bottomText13[i]%>"/>
																		      		<td><input type="file"
																		      		 id="bottomText13Sound_<%=i%>"
																		      		 name="bottomText13Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="bottomtext13index" value="<%=bottomText13.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

											</div>

										</div>

								</div>
								<%}%>

<!-- page:14 -->				<%if(article.articleTitle14 != ""){%>
								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 14

										</div>
<!--page 14 top text -->
										
											<div class="col-lg-12"> 

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topText14.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="topText14_<%=i%>"><%= topText14[i]%> </td>
																		      		<input type="hidden" name="topText14_<%=i%>" value="<%= topText14[i]%>"/>
																		      		<td><input type="file"
																		      		 id="topText14Sound_<%=i%>"
																		      		 name="topText14Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="toptext14index" value="<%=topText14.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 14 top sub text -->

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Sub Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topSubText14.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="topSubText14_<%=i%>"><%= topSubText14[i]%> </td>
																		      		<input type="hidden" name="topSubText14_<%=i%>" value="<%= topSubText14[i]%>"/>
																		      		<td><input type="file"
																		      		 id="topSubText14Sound_<%=i%>"
																		      		 name="topSubText14Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="topsubtext14index" value="<%=topSubText14.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 14 bottom text -->

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Bottom Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<bottomText14.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="bottomText14_<%=i%>"><%= bottomText14[i]%> </td>
																		      		<input type="hidden" name="bottomText14_<%=i%>" value="<%= bottomText14[i]%>"/>
																		      		<td><input type="file"
																		      		 id="bottomText14Sound_<%=i%>"
																		      		 name="bottomText14Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="bottomtext14index" value="<%=bottomText14.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

											</div>

										</div>

								</div>
								<%}%>
<!-- page: 15 -->				<%if(article.articleTitle15 != ""){%>
								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 15

										</div>
<!--page 15 top text -->
										
											<div class="col-lg-12"> 

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topText15.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="topText15_<%=i%>"><%= topText15[i]%> </td>
																		      		<input type="hidden" name="topText15_<%=i%>" value="<%= topText15[i]%>"/>
																		      		<td><input type="file"
																		      		 id="topText15Sound_<%=i%>"
																		      		 name="topText15Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="toptext15index" value="<%=topText15.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 15 top sub text -->

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Sub Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topSubText15.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="topSubText15_<%=i%>"><%= topSubText15[i]%> </td>
																		      		<input type="hidden" name="topSubText15_<%=i%>" value="<%= topSubText15[i]%>"/>
																		      		<td><input type="file" 
																		      			id="topSubText15Sound_<%=i%>" 
																		      			name="topSubText15Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="topsubtext15index" value="<%=topSubText15.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 15 bottom text -->

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Bottom Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<bottomText15.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="bottomText15_<%=i%>"><%= bottomText15[i]%> </td>
																		      		<input type="hidden" name="bottomText15_<%=i%>" value="<%= bottomText15[i]%>"/>
																		      		<td><input type="file"
																		      		 id="bottomText15Sound_<%=i%>"
																		      		 name="bottomText15Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="bottomtext15index" value="<%=bottomText15.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

											</div>

										</div>

								</div>
								<%}%>

<!-- page: 16 -->				<%if(article.articleTitle16 != ""){%>
								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 16

										</div>
<!--page 16 top text -->
										
											<div class="col-lg-12"> 

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topText16.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="topText16_<%=i%>"><%= topText16[i]%> </td>
																		      		<input type="hidden" name="topText16_<%=i%>" value="<%= topText16[i]%>"/>
																		      		<td><input type="file"
																		      		 id="topText16Sound_<%=i%>" 
																		      		 name="topText16Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="toptext16index" value="<%=topText16.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 16 top sub text -->

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Top Sub Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<topSubText16.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="topSubText16_<%=i%>"><%= topSubText16[i]%> </td>
																		      		<input type="hidden" name="topSubText16_<%=i%>" value="<%= topSubText16[i]%>"/>
																		      		<td><input type="file"
																		      		 id="topSubText16Sound_<%=i%>"
																		      		 name="topSubText16Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="topsubtext16index" value="<%=topSubText16.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

<!-- page 16 bottom text -->

													<table class="table table-bordered" >
												     	 <thead>
													        <tr >
													          <th class="text-center">Bottom Text</th>
													          
													        </tr>
												      	</thead>

												      	<tbody align="center" >	
												      		<td>
																	<table class="table table-bordered">
																	     	 <thead>
																		        <tr >
																		          <th class="text-center">Word</th>
																		          <th class="text-center">Add Sound</th>
																		         
																		        </tr>

																	      	</thead>
																	      	 <% for(var i=0; i<bottomText16.length; i++) {%> 

																		      	<tbody align="center" >	

																		      		<td id="bottomText16_<%=i%>"><%= bottomText16[i]%> </td>
																		      		<input type="hidden" name="bottomText16_<%=i%>" value="<%= bottomText16[i]%>"/>
																		      		<td><input type="file"
																		      		 id="bottomText16Sound_<%=i%>" 
																		      		 name="bottomText16Sound_<%=i%>" accept="audio/*"/></td>
																		      	</tbody>

																	      	<%}%>
																	      	<input type="hidden" name="bottomtext16index" value="<%=bottomText16.length%>">
																	</table>


												      		</td>

												      	</tbody>
												    </table>

											</div>

										</div>

								</div>
								<%}%>

	<% } %>							


						</div>

						<div class="col-lg-12">
							<button  class="btn btn-primary pull-right">Add Sound</button>
						</div>



					</form>
				</div>


			</div>
	</div>





</body>


<script src="lib/jquery/jquery.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>

<script type='text/javascript'> 
        $(document).ready(function() {
            $('#sidebar').affix({offset: {top: $('header').height()}});	
        });
        
</script> 

<script>
	$(document).ready(function()
	{
		$("#testsubmit").click(function(){

				console.log($("#bookTitle_0").text());
		});

	});


</script>





</html>