<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>

	<div class="container">
		<div class="row">
					
				<div class="col-md-3 col-lg-3">
					<div class="nav list-group" id="sidebar">
							<ul class="nav bs-sidenav" style="background:#F7F5FA;">
								  <li class="menu" id="manage_articles">
								  	<a class="primary" href="/manageArticle">Manage Articles<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_members"> 
								  	<a class="primary" href="/manageMembers">Manage Members<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_website">
								  	<a class="primary" href="/managewebsite">Manage Website<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_website">
								  	<a class="primary" href="/allauthors">All Users<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="view_donation">
								  	<a class="primary" href="/viewdonation">View Donation<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="view_distribution">
								  	<a class="primary" href="/viewdistribution">Production and Distribution<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_cost">
								  	<a class="primary" href="/managecost">Manage Cost<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="log_out">
								  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="password_change">
								  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
								  </li>
							</ul>
					</div>
				</div>

			<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;">

					<div class="col-lg-12" id="adminInfo" align="left" style="padding-top:30px;" >
								
						<div class="col-lg-12" ><h4>Hello, Admin !!! </h4> <br> You have -</div>
						<div class="col-lg-12">
							<div class="col-lg-12"><br><%=waiting %> articles waiting to be <a href="/manageArticle">submitted</a>  </div>
							<div class="col-lg-12"><br><%=requestReviewer %> articles to <a href="/assignreviewer">Request Reviewer</a>  </div>
							<div class="col-lg-12"><br><%= reviewcomplete%> articles having their <a href="/completereview">Review Complete</a>  </div>
							<div class="col-lg-12"><br><%= accepted%> articles to <a href="/assignartist">Request Artist</a>   </div>
							<div class="col-lg-12"><br><%=biddingProcess%> articles to <a href="/biddingArticle">Bidding Process</a>   </div>
							<div class="col-lg-12"><br><%=AuthorsApproval %> articles with their <a href="/requestartist">Illustration Submitted</a>  </div>
							<div class="col-lg-12"><br><%= AuthorsApproval%> to <a href="/requestartist">Request Authors approval</a> </div>
							<div class="col-lg-12"><br><%= ApprovedbyAuthor%> articles <a href="/uploadFiles">Approved by Author</a>  </div>
						</div>
					</div>
					<form method="post" action="/searchArticle">
					<div class="col-lg-12" >	
						<div class="col-lg-3" style="padding-left:25px;margin-top:10px;">
							<input  type="text" class="form-control" placeholder="Search articles" name="search_article" id="search_article">
						</div>
						<div class="col-lg-3" style="margin-top:10px;">
							
							<button type="submit" id="" class="glyphicon glyphicon-search"  style="text-decoration:none;width:30px;" ></button>
						</div>
					</div>
				</form>
					<div class="col-lg-12" id="change" style="display:none;">
								
								
									
									<div class="col-lg-6" style="padding-top:30px;">

											<label><b>Password Change<b></label><br>
											<hr class="colorgraph">
											<div style="padding-bottom:10px;" class="form-group">
												<input type="password" name="existingpassword" id="existingpassword" class="form-control input-lg" placeholder="Existing Password" tabindex="1" required>
											</div>
											<div style="padding-bottom:10px;" class="form-group">
												
												<input type="password" name="new_password" id="new_password" class="form-control input-lg" placeholder="New Password" tabindex="1" required>
											</div>
											<div >
												<button class="btn btn-primary pull-right" style="height:50px;width:40%"  tabindex="1" id="passwordchange" type="button">Submit</button>
											</div>

									</div>


								


					</div>

			</div>
		</div>
	</div>

<script src="lib/jquery/jquery.min.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>


<script type='text/javascript'> 
        $(document).ready(function() {
            $('#sidebar').affix({offset: {top: $('header').height()}});	
        });
        
</script> 

<script>
	$("#articleSearch").click(function(){
		article=$("#search_article").val();
		$.ajax({ url: '/searchArticle',
	         data: {
	         	article:article,
	         	
	         },
	         type: 'POST',
	         success: function(output) 
	         {

	         	console.log(output);

	         }
	    });
	})
	$("#password_change").click(function(){
		$("#change").show();
		//$("#cost").hide();
		$("#adminInfo").hide();

	});

	$("#passwordchange").click(function(){
			var existing = $("#existingpassword").val();
			var newpassword=$("#new_password").val();
			console.log(existing);
			console.log(newpassword);
			$.ajax({ url: '/adminpassword',
		         data: {

		         	existing:existing,
		         	newpassword:newpassword,
		         },
		         type: 'POST',
		         success: function(output) 
		         {

		         	console.log(output);

		         }
		    });


	});



</script>
</body>
</html>