<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>

	<div class="container">
		<div class="row">
					
				<div class="col-md-3 col-lg-3">
					<div class="nav list-group" id="sidebar">

							<ul class="nav bs-sidenav" style="background:#F7F5FA;">

								  <li class="menu active" id="admin"> 
								  	 	<a class="primary" href="/admin">Admin Pannel<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="manage_articles">
								  	<a class="primary" href="/manageArticle">Manage Articles<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="manage_members"> 
								  	<a class="primary" href="/manageMembers">Manage Members<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  
								  <li class="menu" id="manage_website">
								  	<a class="primary" href="/managewebsite">Manage Website<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_website">
								  	<a class="primary" href="/allauthors">All Users<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="view_donation">
								  	<a class="primary" href="/viewdonation">View Donation<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="view_distribution">
								  	<a class="primary" href="/viewdistribution">Production and Distribution<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_cost">
								  	<a class="primary" href="/managecost">Manage Cost<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="log_out">
								  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="password_change">
								  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
								  </li>
							</ul>
					</div>
				</div>

			<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;">

					<!-- <div class="col-lg-12" id="adminInfo" align="left" style="padding-top:30px;" >

						<h3 align="center">Authors</h3>
            
			            <table class="table table-bordered" >
			                   <thead>
			                      <tr >
			                          <th class="text-center">Name</th>
			                          <th class="text-center">Email</th>
			                          <th class="text-center">No of Article</th>

			                      </tr>
			                    </thead>
			                    

			                    <% for(var i=0; i<no; i++) {%>
			                        <tbody align="center" > 

			                            <td> <%= name[i]%></td>
			                            <td> <%= email[i]%></td>
			                            <td> <%= articleNo[i]%></td>

			                        </tbody>
			                    <% } %>
			            </table>
					</div> -->
					<div class="panel-group" id="accordion">
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title" style="text-align: center;">
					        <a data-toggle="collapse" data-parent="#accordion" href="#allAuthors">
					          All Users
					        </a>
					      </h4>
					    </div>
					    <div id="allAuthors" class="panel-collapse collapse in">
					      <div class="panel-body">
					        <table class="table table-bordered" >
			                   <thead>
			                      <tr >
			                          <th class="text-center">Name</th>
			                          <th class="text-center">Email</th>
			                          <th class="text-center">No of Article</th>

			                      </tr>
			                    </thead>
			                    

			                    <% for(var i=0; i<no; i++) {%>
			                        <tbody align="center" > 

			                            <td> <%= name[i]%></td>
			                            <td> <%= email[i]%></td>
			                            <td> <%= articleNo[i]%></td>

			                        </tbody>
			                    <% } %>
			            	</table>
					      </div>
					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title" style="text-align: center;">
					        <a data-toggle="collapse"  data-parent="#accordion" href="#allReviewer">
					          All Reviewer
					        </a>
					      </h4>
					    </div>
					    <div id="allReviewer" class="panel-collapse collapse">
					      <div class="panel-body">
					        <table class="table table-bordered">
				          		<thead>
				          			<tr>
				          				<th>Name</th>
				          				<th>Email Address</th>
				          			</tr>
				          		</thead>
				          		<tbody>
				          			<%for(var i=0;i<reviewer.length;i++){%>
					          			<tr>
					          				<td><%=reviewer[i].name%></td>
					          				<td><%=reviewer[i].email%></td>
					          			</tr>
					          		<%}%>
				          			
				          		</tbody>
				          	</table>
					      </div>
					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title" style="text-align: center;">
					        <a data-toggle="collapse" data-parent="#accordion" href="#allArtist">
					          All Artist
					        </a>
					      </h4>
					    </div>
					    <div id="allArtist" class="panel-collapse collapse">
					      <div class="panel-body">
					        <table class="table table-bordered">
				          		<thead>
				          			<tr>
				          				<th>Name</th>
				          				<th>Email Address</th>
				          			</tr>
				          		</thead>
				          		<tbody>
				          			<%for(var i=0;i<artist.length;i++){%>
					          			<tr>
					          				<td><%=artist[i].name%></td>
					          				<td><%=artist[i].email%></td>
					          			</tr>
					          		<%}%>
				          			
				          		</tbody>
				          	</table>
					      </div>
					    </div>
					  </div>
					</div>






			</div>
		</div>
	</div>

<script src="lib/jquery/jquery.min.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>


<script type='text/javascript'> 
        $(document).ready(function() {
            $('#sidebar').affix({offset: {top: $('header').height()}});	
        });
        
</script> 

</body>
</html>