<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>

	<div class="container">
		<div class="row">
		
		
			
				<div class="col-md-3 col-lg-3">
					
					<div class="nav list-group" id="sidebar">

						<ul class="nav bs-sidenav" style="background:#F7F5FA;">

							  <li class="menu active">
							  		<a class="primary">Hello, Reviewer!!<span class="pull-right"></span></a> 
							  </li>

							  <li class="menu" id="review_article">
							  		<a class="primary" href="/artist">Artist Panel<span class="pull-right">&rsaquo;</span></a>
							  </li>

							   <li class="menu active" id="authorPenel">
							  	<a class="primary" href="/userArticle">Author Pannel<span class="pull-right">&rsaquo;</span></a>
							  </li>
						  		<li class="menu" id="new_article">
						  			<a class="primary" href="/writeNewArticle">Submit New Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
						  		<li class="menu" id="guide_line">
						  			<a class="primary" href="/previous">Previous Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
							  <li class="menu" id="guide_line">
							  	<a class="primary" href="/guideline">Guide Lines<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="log_out">
							  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="password">
							  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="update_profile">
							  	<a class="primary" href="/users/updateUserProfile">Update Profile<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu active" id="homepage">
							  	<a class="primary" href="/">Home Page<span class="pull-right">&rsaquo;</span></a>
							  </li>

						</ul>

					</div>

				</div>
				<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;padding-top:20px;">
			
						<div class="col-lg-12" style="padding-right:0;padding-left:0;" >
							<form method="post" action="/artist/newImage" enctype="multipart/form-data">


								<div class="col-lg-12 panel panel-success" >

									<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
										<div class="col-lg-12" >	
												<h3><b>Title of the Book : <%=article.title %></b></h3>
												<input type="hidden" id="index" name="index"  value="<%=article._id %>"/>
										</div>

									</div>

								</div>
								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 1 

										</div>

											<div class="col-lg-3"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.articleImage %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-4"> 
													<%= article.title%><br>
													<%=article.article%><br>
													<%=article.credit%><br>
													<%=article.bottomText%><br>

											</div>
											<div class="col-lg-5"> 
													<input type="file" id="img" name="img" /> 
											</div>

										</div>

								</div>

								<% if(article.articleTitle2 != "") {%>

										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 2

												</div>
												
													<div class="col-lg-3"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img2 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-4"> 
															<%= article.articleTitle2%><br>
															<%=article.article2%><br>
															<%=article.source2%><br>
															<%=article.bottomText2%><br>

													</div>
													<div class="col-lg-5"> 
															<input type="file" id="img2" name="img2" /> 
													</div>
												</div>

										</div>
								<%}%>

								<% if(article.articleTitle3 != "") {%>
										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 3

												</div>
												
													<div class="col-lg-3"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img3 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-4"> 
															<%= article.articleTitle3%><br>
															<%=article.article3%><br>
															<%=article.source3%><br>
															<%=article.bottomText3%><br>

													</div>
													<div class="col-lg-5"> 
															<input type="file" id="img3" name="img3" /> 
													</div>
												</div>

										</div>
								<%}%>

								<% if(article.articleTitle4 != "") {%>
											<div class="col-lg-12 panel panel-success" >

													<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
														<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 4

													</div>
													
														<div class="col-lg-3"> 
															<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img4 %>" alt="Jason's Photo" style="width: inherit" />
														</div>
														<div class="col-lg-4"> 
																<%= article.articleTitle4%><br>
																<%=article.article4%><br>
																<%=article.source4%><br>
																<%=article.bottomText4%><br>

														</div>
														<div class="col-lg-5"> 
																<input type="file" id="img4" name="img4" /> 
																


														</div>
													</div>

											</div>
									<%}%>

								<div class="col-lg-12" style="padding-bottom:20px;padding-right:0;" align="right">
								   <button type="submit" class="btn btn-primary " tabindex="1">Request Admin to Approve</button>
								</div>

							</form>

						</div>


				</div>
		</div>
	</div>

</body>


<script src="lib/jquery/jquery.min.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>

<script type='text/javascript'> 
        $(document).ready(function() 
        {
            $('#sidebar').affix({offset: {top: $('header').height()}});	

        });
        
</script>

</html>