<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>

	<div class="container">
		<div class="row">
		
		
			
				<div class="col-md-3 col-lg-3">
					
					<div class="nav list-group" id="sidebar">

						<ul class="nav bs-sidenav" style="background:#F7F5FA;">

							  <li class="menu active">
							  		<a class="primary">Hello, Reviewer!!<span class="pull-right"></span></a> 
							  </li>

							  <li class="menu" id="review_article">
							  		<a class="primary" href="/artist">Artist Panel<span class="pull-right">&rsaquo;</span></a>
							  </li>

							   <li class="menu active" id="authorPenel">
							  	<a class="primary" href="/userArticle">Author Pannel<span class="pull-right">&rsaquo;</span></a>
							  </li>
						  		<li class="menu" id="new_article">
						  			<a class="primary" href="/writeNewArticle">Submit New Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
						  		<li class="menu" id="guide_line">
						  			<a class="primary" href="/previous">Previous Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
							  <li class="menu" id="guide_line">
							  	<a class="primary" href="/guideline">Guide Lines<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="log_out">
							  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="password">
							  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="update_profile">
							  	<a class="primary" href="/users/updateUserProfile">Update Profile<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu active" id="homepage">
							  	<a class="primary" href="/">Home Page<span class="pull-right">&rsaquo;</span></a>
							  </li>

						</ul>

					</div>

				</div>
				<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;padding-top:20px;">
			
						<div class="col-lg-12" style="padding-right:0;padding-left:0;" >
							<form method="post" action="/submitArtistImage" enctype="multipart/form-data">


								<div class="col-lg-12 panel panel-success" >

									<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
										<div class="col-lg-12" >	
												<h3><b>Title of the Book : <%=article.bookTitle %></b></h3>
												<input type="hidden" id="index" name="index"  value="<%=article._id %>"/>
										</div>

									</div>

								</div>
								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 1 

										</div>

											<div class="col-lg-3"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.articleImage %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-4"> 
													<%= article.title%><br>
													<%=article.article%><br>
													<%=article.credit%><br>
													<%=article.bottomText%><br>

											</div>
											<div class="col-lg-5"> 
													<input type="file" id="img" name="img" multiple /> 
													<p>Rating</p>
					             					<span class="star" id="rating_1"> </span>
					             					<input type="text" id="ratingScore_1" name="ratingScore_1"  style="display:none;">
											</div>

										</div>

								</div>

								<% if(article.articleTitle2&&article.articleTitle2 != "") {%>

										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 2

												</div>
												
													<div class="col-lg-3"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img2 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-4"> 
															<%= article.articleTitle2%><br>
															<%=article.article2%><br>
															<%=article.source2%><br>
															<%=article.bottomText2%><br>

													</div>
													<div class="col-lg-5"> 
															<input type="file" id="img2" name="img2" multiple /> 
															<p>Rating</p>
							             					<span class="star" id="rating_2"> </span>
							             					<input type="text" id="ratingScore_2" name="ratingScore_2"  style="display:none;">
													</div>
												</div>

										</div>
								<%}%>

								<% if(article.articleTitle3&&article.articleTitle3 != "") {%>
										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 3

												</div>
												
													<div class="col-lg-3"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img3 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-4"> 
															<%= article.articleTitle3%><br>
															<%=article.article3%><br>
															<%=article.source3%><br>
															<%=article.bottomText3%><br>

													</div>
													<div class="col-lg-5"> 
															<input type="file" id="img3" name="img3" multiple /> 
															<p>Rating</p>
							             					<span class="star" id="rating_3"> </span>
							             					<input type="text" id="ratingScore_3" name="ratingScore_3"  style="display:none;">
													</div>
												</div>

										</div>
								<%}%>

								<% if(article.articleTitle4&&article.articleTitle4 != "") {%>
											<div class="col-lg-12 panel panel-success" >

													<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
														<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 4

													</div>
													
														<div class="col-lg-3"> 
															<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img4 %>" alt="Jason's Photo" style="width: inherit" />
														</div>
														<div class="col-lg-4"> 
																<%= article.articleTitle4%><br>
																<%=article.article4%><br>
																<%=article.source4%><br>
																<%=article.bottomText4%><br>

														</div>
														<div class="col-lg-5"> 
																<input type="file" id="img4" name="img4" multiple />
																<p>Rating</p>
								             					<span class="star" id="rating_4"> </span>
								             					<input type="text" id="ratingScore_4" name="ratingScore_4"  style="display:none;"> 
														</div>
													</div>

											</div>
									<%}%>

									<% if(article.articleTitle5&&article.articleTitle5 != "") {%>
											<div class="col-lg-12 panel panel-success" >

													<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
														<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 5

													</div>
													
														<div class="col-lg-3"> 
															<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img5 %>" alt="Jason's Photo" style="width: inherit" />
														</div>
														<div class="col-lg-4"> 
																<%= article.articleTitle5%><br>
																<%=article.article5%><br>
																<%=article.source5%><br>
																<%=article.bottomText5%><br>

														</div>
														<div class="col-lg-5"> 
																<input type="file" id="img5" name="img5" multiple /> 
																<p>Rating</p>
								             					<span class="star" id="rating_5"> </span>
								             					<input type="text" id="ratingScore_5" name="ratingScore_5"  style="display:none;">
														</div>
													</div>

											</div>
									<%}%>

									<% if(article.articleTitle6&&article.articleTitle6 != "") {%>
											<div class="col-lg-12 panel panel-success" >

													<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
														<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 6

													</div>
													
														<div class="col-lg-3"> 
															<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img6 %>" alt="Jason's Photo" style="width: inherit" />
														</div>
														<div class="col-lg-4"> 
																<%= article.articleTitle6%><br>
																<%=article.article6%><br>
																<%=article.source6%><br>
																<%=article.bottomText6%><br>

														</div>
														<div class="col-lg-5"> 
																<input type="file" id="img6" name="img6" multiple /> 
																<p>Rating</p>
								             					<span class="star" id="rating_6"> </span>
								             					<input type="text" id="ratingScore_6" name="ratingScore_6"  style="display:none;">
														</div>
													</div>

											</div>
									<%}%>
									<% if(article.articleTitle7&&article.articleTitle7 != "") {%>
											<div class="col-lg-12 panel panel-success" >

													<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
														<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 7

													</div>
													
														<div class="col-lg-3"> 
															<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img7 %>" alt="Jason's Photo" style="width: inherit" />
														</div>
														<div class="col-lg-4"> 
																<%= article.articleTitle7%><br>
																<%=article.article7%><br>
																<%=article.source7%><br>
																<%=article.bottomText7%><br>

														</div>
														<div class="col-lg-5"> 
																<input type="file" id="img7" name="img7" multiple /> 
																<p>Rating</p>
								             					<span class="star" id="rating_7"> </span>
								             					<input type="text" id="ratingScore_7" name="ratingScore_7"  style="display:none;">
														</div>
													</div>

											</div>
									<%}%>
									<% if(article.articleTitle8&&article.articleTitle8 != "") {%>
											<div class="col-lg-12 panel panel-success" >

													<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
														<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 8

													</div>
													
														<div class="col-lg-3"> 
															<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img8 %>" alt="Jason's Photo" style="width: inherit" />
														</div>
														<div class="col-lg-4"> 
																<%= article.articleTitle8%><br>
																<%=article.article8%><br>
																<%=article.source8%><br>
																<%=article.bottomText8%><br>

														</div>
														<div class="col-lg-5"> 
																<input type="file" id="img8" name="img8" multiple /> 
																<p>Rating</p>
							             					<span class="star" id="rating_8"> </span>
							             					<input type="text" id="ratingScore_8" name="ratingScore_8"  style="display:none;">
														</div>
													</div>

											</div>
									<%}%>

									<% if(article.articleTitle9&&article.articleTitle9 != "") {%>
											<div class="col-lg-12 panel panel-success" >

													<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
														<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 9

													</div>
													
														<div class="col-lg-3"> 
															<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img9 %>" alt="Jason's Photo" style="width: inherit" />
														</div>
														<div class="col-lg-4"> 
																<%= article.articleTitle9%><br>
																<%=article.article9%><br>
																<%=article.source9%><br>
																<%=article.bottomText9%><br>

														</div>
														<div class="col-lg-5"> 
																<input type="file" id="img9" name="img9" multiple /> 
																<p>Rating</p>
								             					<span class="star" id="rating_9"> </span>
								             					<input type="text" id="ratingScore_9" name="ratingScore_9"  style="display:none;">
														</div>
													</div>

											</div>
									<%}%>
									<% if(article.articleTitle10&&article.articleTitle10 != "") {%>
											<div class="col-lg-12 panel panel-success" >

													<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
														<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 10

													</div>
													
														<div class="col-lg-3"> 
															<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img10 %>" alt="Jason's Photo" style="width: inherit" />
														</div>
														<div class="col-lg-4"> 
																<%= article.articleTitle10%><br>
																<%=article.article10%><br>
																<%=article.source10%><br>
																<%=article.bottomText10%><br>

														</div>
														<div class="col-lg-5"> 
																<input type="file" id="img10" name="img10" multiple /> 
																<p>Rating</p>
								             					<span class="star" id="rating_10"> </span>
								             					<input type="text" id="ratingScore_10" name="ratingScore_10"  style="display:none;">
														</div>
													</div>

											</div>
									<%}%>
									<% if(article.articleTitle11&&article.articleTitle11 != "") {%>
											<div class="col-lg-12 panel panel-success" >

													<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
														<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 11

													</div>
													
														<div class="col-lg-3"> 
															<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img11 %>" alt="Jason's Photo" style="width: inherit" />
														</div>
														<div class="col-lg-4"> 
																<%= article.articleTitle11%><br>
																<%=article.article11%><br>
																<%=article.source11%><br>
																<%=article.bottomText11%><br>

														</div>
														<div class="col-lg-5"> 
																<input type="file" id="img11" name="img11" multiple /> 
																<p>Rating</p>
								             					<span class="star" id="rating_11"> </span>
								             					<input type="text" id="ratingScore_11" name="ratingScore_11"  style="display:none;">
														</div>
													</div>

											</div>
									<%}%>

									<% if(article.articleTitle12&&article.articleTitle12 != "") {%>
											<div class="col-lg-12 panel panel-success" >

													<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
														<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 12

													</div>
													
														<div class="col-lg-3"> 
															<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img12 %>" alt="Jason's Photo" style="width: inherit" />
														</div>
														<div class="col-lg-4"> 
																<%= article.articleTitle12%><br>
																<%=article.article12%><br>
																<%=article.source12%><br>
																<%=article.bottomText12%><br>

														</div>
														<div class="col-lg-5"> 
																<input type="file" id="img12" name="img12" multiple /> 
																<p>Rating</p>
								             					<span class="star" id="rating_12"> </span>
								             					<input type="text" id="ratingScore_12" name="ratingScore_12"  style="display:none;">
														</div>
													</div>

											</div>
									<%}%>

									<% if(article.articleTitle13&&article.articleTitle13 != "") {%>
											<div class="col-lg-12 panel panel-success" >

													<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
														<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 13

													</div>
													
														<div class="col-lg-3"> 
															<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img13 %>" alt="Jason's Photo" style="width: inherit" />
														</div>
														<div class="col-lg-4"> 
																<%= article.articleTitle13%><br>
																<%=article.article13%><br>
																<%=article.source13%><br>
																<%=article.bottomText13%><br>

														</div>
														<div class="col-lg-5"> 
																<input type="file" id="img13" name="img13" multiple /> 
																<p>Rating</p>
								             					<span class="star" id="rating_13"> </span>
								             					<input type="text" id="ratingScore_13" name="ratingScore_13"  style="display:none;">
														</div>
													</div>

											</div>
									<%}%>
									<% if(article.articleTitle14&&article.articleTitle14 != "") {%>
											<div class="col-lg-12 panel panel-success" >

													<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
														<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 14

													</div>
													
														<div class="col-lg-3"> 
															<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img14 %>" alt="Jason's Photo" style="width: inherit" />
														</div>
														<div class="col-lg-4"> 
																<%= article.articleTitle14%><br>
																<%=article.article14%><br>
																<%=article.source14%><br>
																<%=article.bottomText14%><br>

														</div>
														<div class="col-lg-5"> 
																<input type="file" id="img14" name="img14" multiple /> 
																<p>Rating</p>
								             					<span class="star" id="rating_14"> </span>
								             					<input type="text" id="ratingScore_14" name="ratingScore_14"  style="display:none;">
														</div>
													</div>

											</div>
									<%}%>

									<% if(article.articleTitle15&&article.articleTitle15 != "") {%>
											<div class="col-lg-12 panel panel-success" >

													<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
														<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 15

													</div>
													
														<div class="col-lg-3"> 
															<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img15 %>" alt="Jason's Photo" style="width: inherit" />
														</div>
														<div class="col-lg-4"> 
																<%= article.articleTitle15%><br>
																<%=article.article15%><br>
																<%=article.source15%><br>
																<%=article.bottomText15%><br>

														</div>
														<div class="col-lg-5"> 
																<input type="file" id="img15" name="img15" multiple /> 
																<p>Rating</p>
								             					<span class="star" id="rating_15"> </span>
								             					<input type="text" id="ratingScore_15" name="ratingScore_15"  style="display:none;">
														</div>
													</div>

											</div>
									<%}%>
									<% if(article.articleTitle16&&article.articleTitle16 != "") {%>
											<div class="col-lg-12 panel panel-success" >

													<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
														<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 16

													</div>
													
														<div class="col-lg-3"> 
															<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img16 %>" alt="Jason's Photo" style="width: inherit" />
														</div>
														<div class="col-lg-4"> 
																<%= article.articleTitle16%><br>
																<%=article.article16%><br>
																<%=article.source16%><br>
																<%=article.bottomText16%><br>

														</div>
														<div class="col-lg-5"> 
																<input type="file" id="img16" name="img16" multiple /> 
																<p>Rating</p>
								             					<span class="star" id="rating_16"> </span>
								             					<input type="text" id="ratingScore_16" name="ratingScore_16"  style="display:none;">
														</div>
													</div>

											</div>
									<%}%>
								<div class="col-lg-12" style="padding-bottom:20px;padding-right:0;" align="right">
								   <button type="submit" class="btn btn-primary " tabindex="1">Request Admin to Approve</button>
								</div>

							</form>

						</div>


				</div>
		</div>
	</div>

</body>


<script src="lib/jquery/jquery.min.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>
<script src="../js/jquery.raty.js" type="text/javascript"></script>
<script type='text/javascript'> 
        $(document).ready(function() 
        {
            $('#sidebar').affix({offset: {top: $('header').height()}});	

        });
        
</script>
<script type="text/javascript">
$(document).ready(function(){
		  $(".star").raty({ 
		    score: 0,
		    readOnly:  false,
		});
		    $(".star > img").click(function() {
		    var score = $(this).attr("alt");
		    var rating=score;
		    var id=$(this).parent().attr("id");
		    var x= id.split("_");
		    $("#ratingScore_"+x[1]).val(score);

		}); 
})

</script>
</html>