<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>পাতার বই</title>
<link rel="stylesheet" type="text/css" href="/lib/bootstrap3/css/bootstrap.css">
<link href="../css/home.css" type="text/css" rel="stylesheet">
<link href="../css/jquery.bxslider.css" type="text/css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Happy+Monkey' rel='stylesheet' type='text/css'>

<style type="text/css">
 /* .carousel-indicators li {

  width: 15px;
  height: 15px;

}
.carousel-indicators .active {
  width: 15px;
  height: 15px;

}*/

</style>

</head>

<body style="padding-top:5px;">
<!--Full content-->
<div class="container" id="main-container" style="border-top-left-radius:15px; border-top-right-radius:15px;">

	<header class="">
      
         <nav class="navbar navbar-default" role="navigation" id="navbar-home">
  <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                   <button type="button" class="navbar-toggle" id="home-nav" data-toggle="collapse" data-target="#collapse-1">
                       <span class="sr-only">Toggle navigation</span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                   </button>
                   <a class="navbar-brand visible-xs" href="">তালিকা</a>
                </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="collapse-1">
                    <ul class="nav navbar-nav col-lg-11 col-md-11 col-sm-11 col-xs-10 pull-right" id="home-ul-nav" style="padding-left:0 !important; padding-top:15px;">
                         <li><a href="/" class="nav-menu nav-a-active">মূল পাতা</a></li>
                         <li><a href="/amaderkotha" class="nav-menu">আমাদের কথা</a></li>
                       <% if(login == '0') {%>
                          <li><a href="signin" class="nav-menu">লগ-ইন-করুন</a></li> 
                        <%}%>
                        <% if(login == '1') {%>
                         <li><a href="#" class="nav-menu">লেখা জমা দিন</a></li>
                          <%}%>
                       <li><a href="/donation" class="nav-menu">অনুদান করুন</a></li>
                    </ul>


             </nav>
    </header>
    <!--Header-->



<!--content-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 article-content" style="width:70.667%;padding-top:0px;padding-left:25px;padding-right:25px;">

          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="position:relative;margin-top:20px;">
<!-- Wrapper for slides -->

<%if (article.morepage == '0'){ %>
<ol class="carousel-indicators" >
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <% if(article.articleTitle2 != "") {%>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <% }%>
    <% if(article.articleTitle3 != "") {%>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <% }%>
    <% if(article.articleTitle4 != "") {%>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <% }%>
 </ol>

 <% } %>
 <%if (article.morepage == '1'){ %>
<ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
 </ol>

 <% } %>
  <%if (article.morepage == '2'){ %>
<ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
    <li data-target="#carousel-example-generic" data-slide-to="8"></li>
    <li data-target="#carousel-example-generic" data-slide-to="9"></li>
    <li data-target="#carousel-example-generic" data-slide-to="10"></li>
    <li data-target="#carousel-example-generic" data-slide-to="11"></li>
 </ol>

 <% } %>
  <%if (article.morepage == '3'){ %>
<ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
    <li data-target="#carousel-example-generic" data-slide-to="8"></li>
    <li data-target="#carousel-example-generic" data-slide-to="9"></li>
    <li data-target="#carousel-example-generic" data-slide-to="10"></li>
    <li data-target="#carousel-example-generic" data-slide-to="11"></li>
    <li data-target="#carousel-example-generic" data-slide-to="12"></li>
    <li data-target="#carousel-example-generic" data-slide-to="13"></li>
    <li data-target="#carousel-example-generic" data-slide-to="14"></li>
    <li data-target="#carousel-example-generic" data-slide-to="15"></li>
 </ol>

 <% } %>

            <div class="carousel-inner" style="padding-left:0;">
                  




              <%if(article.sound == 'No'){%>



                  <div class="item active" style="padding-left:0;">
                        <div class="col-lg-12" style="color:<%= article.topFontcolor%>;;padding-left:0;" >
                          
                          <div class="col-lg-12" style="padding-left:0px;padding-top:0px;"><h4 style="padding-top:0px;margin-top:0px;margin-bottom:0px;"><%= article.title %></span></h4>
                              <div class="col-lg-4" style="width:25px; overflow:hidden;">
                                  <!--<audio src="/article_sound/<%=article.articleTitleSound %>" style="width:80px;" controls></audio> -->

                              </div>
                          </div>
                          <div class="col-lg-12" style="padding-bottom:0px;padding-left:0px;"><h4><%= article.article %></h4> </div>
                          <div class="text-center">
                            <%if(article.imagePosition=='full'){%>
                            <img style="height:350px;width:650px;align:<%=article.imagePosition%>;"  src="..<%= article.articleImage%>">
                            <%}%>
                            <%if(article.imagePosition=='middle'){%>
                            <img style="height:300px;margin-top:0px;align:<%=article.imagePosition%>;"  src="..<%= article.articleImage%>">
                            <%}%>
                          </div>
                          <div style="color: <%=article.bottomTextcolor %>;text-align:<%=article.bottomTextalign %>;height:31px;position:relative;">

                              <p><%= article.bottomText %></p>

                          </div>
                          <!-- <div class="col-lg-12" >
                            <div class="col-lg-10">
                                <textarea class="form-control" style="height: 35px;" type="text" name="comment_articleimage" id="comment_articleimage" placeholder="Comment..."></textarea>
                                </div>
                                <div class="col-lg-2">
                                <button class="btn btn-info" id="comment1">Comment</button>
                                </div>
                          </div> -->

                          <div class="col-lg-12">

                          </div>
                        </div>

                  </div>

                  <% if(article.articleTitle2 != '') {%>
                      <div class="item" style="padding-left:0;">
                           
                            <div style="color:<%= article.topFontcolor%>;text-align:<%=article.topTextalign %>;padding-left:0;">

                              <h4 style="padding-top:0px;margin-top:0px;margin-bottom:0px;"><%= article.articleTitle2 %></h4>

                            </div>
                            <div class="col-lg-12" style="padding-bottom:0px;padding-left:0;"><h4><%= article.article2 %></h4> </div>
                            <div class="text-center">
                              <%if(article.imagePosition=='full'){%>
                            <img style="height:350px;width:650px;align:<%=article.imagePosition%>;"  src="..<%= article.img2%>">
                            <%}%>
                            <%if(article.imagePosition=='middle'){%>
                            <img style="height:300px;margin-top:0px;align:<%=article.imagePosition%>;"  src="..<%= article.img2%>">
                            <%}%>
                              <!-- <img style="height:300px;"  src="..<%= article.img2%>"> -->
                            </div>
                            <div style="color: <%=article.bottomTextcolor %>;text-align:<%=article.bottomTextalign %>;height:31px;position:relative;">

                                <p><%= article.bottomText2 %></p>

                            </div>

                      </div>
                  <%}%>

                  <% if(article.articleTitle3 != '') {%>
                      <div class="item " style="padding-left:0;">

                            <div style="color:<%= article.topFontcolor%>;text-align:<%=article.topTextalign %>;padding-left:0;">

                              <h4 style="padding-top:0px;margin-top:0px;margin-bottom:0px;"><%= article.articleTitle3 %></h4>

                            </div>
                            <div class="col-lg-12" style="padding-bottom:0px;padding-left:0;"><h4><%= article.article3 %></h4> </div>
                            <div class="text-center">
                               <%if(article.imagePosition=='full'){%>
                            <img style="height:350px;width:650px;align:<%=article.imagePosition%>;"  src="..<%= article.img3%>">
                            <%}%>
                            <%if(article.imagePosition=='middle'){%>
                            <img style="height:300px;margin-top:0px;align:<%=article.imagePosition%>;"  src="..<%= article.img3%>">
                            <%}%>
                             <!--  <img style="height:300px;"  src="..<%= article.img3%>"> -->
                            </div>
                            <div style="color: <%=article.bottomTextcolor %>;text-align:<%=article.bottomTextalign %>;height:31px;position:relative;">

                                <p><%= article.bottomText3 %></p>

                            </div>

                      </div>
                  <%}%>



                  <% if(article.articleTitle4 != '') {%>
                  <div class="item" style="padding-left:0;">
                          
                        <div style="color:<%= article.topFontcolor%>;text-align:<%=article.topTextalign %>;padding-left:0;">

                          <h4 style="padding-top:0px;margin-top:0px;margin-bottom:0px;"><%= article.articleTitle4 %></h4>

                        </div>
                        <div class="col-lg-12" style="padding-bottom:0px;padding-left:0;"><h4><%= article.article4 %></h4> </div>
                        <div class="text-center">
                           <%if(article.imagePosition=='full'){%>
                            <img style="height:350px;width:650px;align:<%=article.imagePosition%>;"  src="..<%= article.img4%>">
                            <%}%>
                            <%if(article.imagePosition=='middle'){%>
                            <img style="height:300px;margin-top:0px;align:<%=article.imagePosition%>;"  src="..<%= article.img4%>">
                            <%}%>
                        </div>
                        <div style="color: <%=article.bottomTextcolor %>;text-align:<%=article.bottomTextalign %>;height:31px;position:relative;">

                            <p><%= article.bottomText4 %></p>

                        </div>

                  </div>

                  <%}%>
                  <% if(article.articleTitle5 != ""&&article.articleTitle5 != undefined) {%>
                  <div class="item" style="padding-left:0;">
                          
                        <div style="color:<%= article.topFontcolor%>;text-align:<%=article.topTextalign %>;padding-left:0;">

                          <h4 style="padding-top:0px;margin-top:0px;margin-bottom:0px;">sdsfsffdsfefe<%= article.articleTitle5 %></h4>

                        </div>
                        <div class="col-lg-12" style="padding-bottom:0px;padding-left:0;"><h4><%= article.article5 %></h4> </div>
                        <div class="text-center">
                           <%if(article.imagePosition=='full'){%>
                            <img style="height:350px;width:650px;align:<%=article.imagePosition%>;"  src="..<%= article.img5%>">
                            <%}%>
                            <%if(article.imagePosition=='middle'){%>
                            <img style="height:300px;margin-top:0px;align:<%=article.imagePosition%>;"  src="..<%= article.img5%>">
                            <%}%>
                          <!-- <img style="height:300px;"  src="..<%= article.img4%>"> -->
                        </div>
                        <div style="color: <%=article.bottomTextcolor %>;text-align:<%=article.bottomTextalign %>;height:31px;position:relative;">

                            <p><%= article.bottomText5 %></p>

                        </div>

                  </div>

                  <%}%>
                   <% if(article.articleTitle6 != ""&&article.articleTitle6 != undefined) {%>
                  <div class="item" style="padding-left:0;">
                          
                        <div style="color:<%= article.topFontcolor%>;text-align:<%=article.topTextalign %>;padding-left:0;">

                          <h4 style="padding-top:0px;margin-top:0px;margin-bottom:0px;"><%= article.articleTitle6 %></h4>

                        </div>
                        <div class="col-lg-12" style="padding-bottom:0px;padding-left:0;"><h4><%= article.article6 %></h4> </div>
                        <div class="text-center">
                           <%if(article.imagePosition=='full'){%>
                            <img style="height:350px;width:650px;align:<%=article.imagePosition%>;"  src="..<%= article.img6%>">
                            <%}%>
                            <%if(article.imagePosition=='middle'){%>
                            <img style="height:300px;margin-top:0px;align:<%=article.imagePosition%>;"  src="..<%= article.img6%>">
                            <%}%>
                          <!-- <img style="height:300px;"  src="..<%= article.img4%>"> -->
                        </div>
                        <div style="color: <%=article.bottomTextcolor %>;text-align:<%=article.bottomTextalign %>;height:31px;position:relative;">

                            <p><%= article.bottomText6 %></p>

                        </div>

                  </div>

                  <%}%>
                  <% if(article.articleTitle7 != ""&&article.articleTitle7 != undefined) {%>
                  <div class="item" style="padding-left:0;">
                          
                        <div style="color:<%= article.topFontcolor%>;text-align:<%=article.topTextalign %>;padding-left:0;">

                          <h4 style="padding-top:0px;margin-top:0px;margin-bottom:0px;"><%= article.articleTitle7 %></h4>

                        </div>
                        <div class="col-lg-12" style="padding-bottom:0px;padding-left:0;"><h4><%= article.article7 %></h4> </div>
                        <div class="text-center">
                           <%if(article.imagePosition=='full'){%>
                            <img style="height:350px;width:650px;align:<%=article.imagePosition%>;"  src="..<%= article.img7%>">
                            <%}%>
                            <%if(article.imagePosition=='middle'){%>
                            <img style="height:300px;margin-top:0px;align:<%=article.imagePosition%>;"  src="..<%= article.img7%>">
                            <%}%>
                          <!-- <img style="height:300px;"  src="..<%= article.img4%>"> -->
                        </div>
                        <div style="color: <%=article.bottomTextcolor %>;text-align:<%=article.bottomTextalign %>;height:31px;position:relative;">

                            <p><%= article.bottomText7 %></p>

                        </div>

                  </div>

                  <%}%>
                  <% if(article.articleTitle8 != ""&&article.articleTitle8 != undefined) {%>
                  <div class="item" style="padding-left:0;">
                          
                        <div style="color:<%= article.topFontcolor%>;text-align:<%=article.topTextalign %>;padding-left:0;">

                          <h4 style="padding-top:0px;margin-top:0px;margin-bottom:0px;"><%= article.articleTitle8 %></h4>

                        </div>
                        <div class="col-lg-12" style="padding-bottom:0px;padding-left:0;"><h4><%= article.article8 %></h4> </div>
                        <div class="text-center">
                           <%if(article.imagePosition=='full'){%>
                            <img style="height:350px;width:650px;align:<%=article.imagePosition%>;"  src="..<%= article.img8%>">
                            <%}%>
                            <%if(article.imagePosition=='middle'){%>
                            <img style="height:300px;margin-top:0px;align:<%=article.imagePosition%>;"  src="..<%= article.img8%>">
                            <%}%>
                          <!-- <img style="height:300px;"  src="..<%= article.img4%>"> -->
                        </div>
                        <div style="color: <%=article.bottomTextcolor %>;text-align:<%=article.bottomTextalign %>;height:31px;position:relative;">

                            <p><%= article.bottomText8 %></p>

                        </div>

                  </div>

                  <%}%>
                  <% if(article.articleTitle9 != "" && article.articleTitle9 != undefined) {%>
                  <div class="item" style="padding-left:0;">
                          
                        <div style="color:<%= article.topFontcolor%>;text-align:<%=article.topTextalign %>;padding-left:0;">

                          <h4 style="padding-top:0px;margin-top:0px;margin-bottom:0px;"><%= article.articleTitle9 %></h4>

                        </div>
                        <div class="col-lg-12" style="padding-bottom:0px;padding-left:0;"><h4><%= article.article9 %></h4> </div>
                        <div class="text-center">
                           <%if(article.imagePosition=='full'){%>
                            <img style="height:350px;width:650px;align:<%=article.imagePosition%>;"  src="..<%= article.img9%>">
                            <%}%>
                            <%if(article.imagePosition=='middle'){%>
                            <img style="height:300px;margin-top:0px;align:<%=article.imagePosition%>;"  src="..<%= article.img9%>">
                            <%}%>
                          <!-- <img style="height:300px;"  src="..<%= article.img4%>"> -->
                        </div>
                        <div style="color: <%=article.bottomTextcolor %>;text-align:<%=article.bottomTextalign %>;height:31px;position:relative;">

                            <p><%= article.bottomText9 %></p>

                        </div>

                  </div>

                  <%}%>
                  <% if(article.articleTitle10 != "" && article.articleTitle10 != undefined) {%>
                  <div class="item" style="padding-left:0;">
                          
                        <div style="color:<%= article.topFontcolor%>;text-align:<%=article.topTextalign %>;padding-left:0;">

                          <h4 style="padding-top:0px;margin-top:0px;margin-bottom:0px;"><%= article.articleTitle10 %></h4>

                        </div>
                        <div class="col-lg-12" style="padding-bottom:0px;padding-left:0;"><h4><%= article.article10 %></h4> </div>
                        <div class="text-center">
                           <%if(article.imagePosition=='full'){%>
                            <img style="height:350px;width:650px;align:<%=article.imagePosition%>;"  src="..<%= article.img10%>">
                            <%}%>
                            <%if(article.imagePosition=='middle'){%>
                            <img style="height:300px;margin-top:0px;align:<%=article.imagePosition%>;"  src="..<%= article.img10%>">
                            <%}%>
                          <!-- <img style="height:300px;"  src="..<%= article.img4%>"> -->
                        </div>
                        <div style="color: <%=article.bottomTextcolor %>;text-align:<%=article.bottomTextalign %>;height:31px;position:relative;">

                            <p><%= article.bottomText10 %></p>

                        </div>

                  </div>

                  <%}%>
                  <% if(article.articleTitle11 != "" && article.articleTitle11 != undefined) {%>
                  <div class="item" style="padding-left:0;">
                          
                        <div style="color:<%= article.topFontcolor%>;text-align:<%=article.topTextalign %>;padding-left:0;">

                          <h4 style="padding-top:0px;margin-top:0px;margin-bottom:0px;"><%= article.articleTitle11 %></h4>

                        </div>
                        <div class="col-lg-12" style="padding-bottom:0px;padding-left:0;"><h4><%= article.article11 %></h4> </div>
                        <div class="text-center">
                           <%if(article.imagePosition=='full'){%>
                            <img style="height:350px;width:650px;align:<%=article.imagePosition%>;"  src="..<%= article.img11%>">
                            <%}%>
                            <%if(article.imagePosition=='middle'){%>
                            <img style="height:300px;margin-top:0px;align:<%=article.imagePosition%>;"  src="..<%= article.img11%>">
                            <%}%>
                          <!-- <img style="height:300px;"  src="..<%= article.img4%>"> -->
                        </div>
                        <div style="color: <%=article.bottomTextcolor %>;text-align:<%=article.bottomTextalign %>;height:31px;position:relative;">

                            <p><%= article.bottomText11 %></p>

                        </div>

                  </div>

                  <%}%>
                   <% if(article.articleTitle12 != "" && article.articleTitle12 != undefined) {%>
                  <div class="item" style="padding-left:0;">
                          
                        <div style="color:<%= article.topFontcolor%>;text-align:<%=article.topTextalign %>;padding-left:0;">

                          <h4 style="padding-top:0px;margin-top:0px;margin-bottom:0px;"><%= article.articleTitle12 %></h4>

                        </div>
                        <div class="col-lg-12" style="padding-bottom:0px;padding-left:0;"><h4><%= article.article12 %></h4> </div>
                        <div class="text-center">
                           <%if(article.imagePosition=='full'){%>
                            <img style="height:350px;width:650px;align:<%=article.imagePosition%>;"  src="..<%= article.img12%>">
                            <%}%>
                            <%if(article.imagePosition=='middle'){%>
                            <img style="height:300px;margin-top:0px;align:<%=article.imagePosition%>;"  src="..<%= article.img12%>">
                            <%}%>
                          <!-- <img style="height:300px;"  src="..<%= article.img4%>"> -->
                        </div>
                        <div style="color: <%=article.bottomTextcolor %>;text-align:<%=article.bottomTextalign %>;height:31px;position:relative;">

                            <p><%= article.bottomText12 %></p>

                        </div>

                  </div>

                  <%}%>

                  <% if(article.articleTitle13 != "" && article.articleTitle13 != undefined) {%>
                  <div class="item" style="padding-left:0;">
                          
                        <div style="color:<%= article.topFontcolor%>;text-align:<%=article.topTextalign %>;padding-left:0;">

                          <h4 style="padding-top:0px;margin-top:0px;margin-bottom:0px;"><%= article.articleTitle13 %></h4>

                        </div>
                        <div class="col-lg-12" style="padding-bottom:0px;padding-left:0;"><h4><%= article.article13 %></h4> </div>
                        <div class="text-center">
                           <%if(article.imagePosition=='full'){%>
                            <img style="height:350px;width:650px;align:<%=article.imagePosition%>;"  src="..<%= article.img13%>">
                            <%}%>
                            <%if(article.imagePosition=='middle'){%>
                            <img style="height:300px;margin-top:0px;align:<%=article.imagePosition%>;"  src="..<%= article.img13%>">
                            <%}%>
                          <!-- <img style="height:300px;"  src="..<%= article.img4%>"> -->
                        </div>
                        <div style="color: <%=article.bottomTextcolor %>;text-align:<%=article.bottomTextalign %>;height:31px;position:relative;">

                            <p><%= article.bottomText13 %></p>

                        </div>

                  </div>

                  <%}%>
                  <% if(article.articleTitle14 != "" &&article.articleTitle14 != undefined) {%>
                  <div class="item" style="padding-left:0;">
                          
                        <div style="color:<%= article.topFontcolor%>;text-align:<%=article.topTextalign %>;padding-left:0;">

                          <h4 style="padding-top:0px;margin-top:0px;margin-bottom:0px;"><%= article.articleTitle14 %></h4>

                        </div>
                        <div class="col-lg-12" style="padding-bottom:0px;padding-left:0;"><h4><%= article.article14 %></h4> </div>
                        <div class="text-center">
                           <%if(article.imagePosition=='full'){%>
                            <img style="height:350px;width:650px;align:<%=article.imagePosition%>;"  src="..<%= article.img14%>">
                            <%}%>
                            <%if(article.imagePosition=='middle'){%>
                            <img style="height:300px;margin-top:0px;align:<%=article.imagePosition%>;"  src="..<%= article.img14%>">
                            <%}%>
                          <!-- <img style="height:300px;"  src="..<%= article.img4%>"> -->
                        </div>
                        <div style="color: <%=article.bottomTextcolor %>;text-align:<%=article.bottomTextalign %>;height:31px;position:relative;">

                            <p><%= article.bottomText14 %></p>

                        </div>

                  </div>

                  <%}%>

                   <% if(article.articleTitle15 != ""&&article.articleTitle15 != undefined) {%>
                  <div class="item" style="padding-left:0;">
                          
                        <div style="color:<%= article.topFontcolor%>;text-align:<%=article.topTextalign %>;padding-left:0;">

                          <h4 style="padding-top:0px;margin-top:0px;margin-bottom:0px;"><%= article.articleTitle15 %></h4>

                        </div>
                        <div class="col-lg-12" style="padding-bottom:0px;padding-left:0;"><h4><%= article.article15 %></h4> </div>
                        <div class="text-center">
                           <%if(article.imagePosition=='full'){%>
                            <img style="height:350px;width:650px;align:<%=article.imagePosition%>;"  src="..<%= article.img15%>">
                            <%}%>
                            <%if(article.imagePosition=='middle'){%>
                            <img style="height:300px;margin-top:0px;align:<%=article.imagePosition%>;"  src="..<%= article.img15%>">
                            <%}%>
                          <!-- <img style="height:300px;"  src="..<%= article.img4%>"> -->
                        </div>
                        <div style="color: <%=article.bottomTextcolor %>;text-align:<%=article.bottomTextalign %>;height:31px;position:relative;">

                            <p><%= article.bottomText15 %></p>

                        </div>

                  </div>

                  <%}%>

                   <% if(article.articleTitle16 != ""&&article.articleTitle16 != undefined) {%>
                  <div class="item" style="padding-left:0;">
                          
                        <div style="color:<%= article.topFontcolor%>;text-align:<%=article.topTextalign %>;padding-left:0;">

                          <h4 style="padding-top:0px;margin-top:0px;margin-bottom:0px;"><%= article.articleTitle16 %></h4>

                        </div>
                        <div class="col-lg-12" style="padding-bottom:0px;padding-left:0;"><h4><%= article.article16 %></h4> </div>
                        <div class="text-center">
                           <%if(article.imagePosition=='full'){%>
                            <img style="height:350px;width:650px;align:<%=article.imagePosition%>;"  src="..<%= article.img16%>">
                            <%}%>
                            <%if(article.imagePosition=='middle'){%>
                            <img style="height:300px;margin-top:0px;align:<%=article.imagePosition%>;"  src="..<%= article.img16%>">
                            <%}%>
                          <!-- <img style="height:300px;"  src="..<%= article.img4%>"> -->
                        </div>
                        <div style="color: <%=article.bottomTextcolor %>;text-align:<%=article.bottomTextalign %>;height:31px;position:relative;">

                            <p><%= article.bottomText16 %></p>

                        </div>

                  </div>

                  <%}%>

            <%}%>

           


              <%if(article.sound == 'Yes'){%>



                  <div class="item active" style="padding-left:0;">
                        <div class="col-lg-12" style="color:<%= article.topFontcolor%>;;padding-left:0;" >
                          
                                <% for(var i=0; i<article.title1Sound.length; i++) {%>

                                          <span>
                                          <level id="title_<%=i%>"><%= article.title1Sound[i].word%></level>
                                          <% if(article.title1Sound[i].sound != "Null") {%>
                                              <audio id="soundobj_<%=i%>"  style="width:8%" controls >
                                                <source src="../article_sound/<%= article.title1Sound[i].sound%>" type="audio/mp3">
                                              </audio>
                                          <% } %>
                                        </span>
                                       
                               <% } %>
                                <!--  <button id="playsound"> play sound</button> -->

                               <br>


                              <% for(var i=0; i<article.topSubText1Sound.length; i++) {%>

                                  <span>
                                    <%= article.topSubText1Sound[i].word%>
                                    <% if(article.topSubText1Sound[i].sound != "Null") {%>
                                        <audio style="width:6%" controls>
                                          <source src="../article_sound/<%= article.topSubText1Sound[i].sound%>" type="audio/mp3">
                                        </audio>
                                    <% } %>
                                  </span>


                              <% } %>
                          

                          <div class="text-center">
                             <%if(article.imagePosition=='full'){%>
                            <img style="height:350px;width:650px;align:<%=article.imagePosition%>;"  src="..<%= article.articleImage%>">
                            <%}%>
                            <%if(article.imagePosition=='middle'){%>
                            <img style="height:300px;align:<%=article.imagePosition%>;"  src="..<%= article.articleImage%>">
                            <%}%>
                           <!--  <img style="height:300px;"  src="..<%= article.articleImage%>"> -->
                          </div>
                          <div style="color: <%=article.bottomTextcolor %>;text-align:<%=article.bottomTextalign %>;">

                              <% for(var i=0; i<article.topBottomText1Sound.length; i++) {%>

                                  <span>
                                    <%= article.topBottomText1Sound[i].word%>
                                    <% if(article.topBottomText1Sound[i].sound != "Null") {%>
                                        <audio style="width:6%" controls>
                                          <source src="../article_sound/<%= article.topBottomText1Sound[i].sound%>" type="audio/mp3">
                                        </audio>
                                    <% } %>
                                  </span>


                              <% } %>

                          </div>

                        </div>
                  </div>


                  <% if(article.articleTitle2 != "") {%>
                      <div class="item" style="padding-left:0;">
                           
                            <div style="color:<%= article.topFontcolor%>;text-align:<%=article.topTextalign %>;padding-left:0;">

                                 <% for(var i=0; i<article.articleTitle2Sound.length; i++) {%>

                                        <span>
                                          <%= article.articleTitle2Sound[i].word%>
                                          <% if(article.articleTitle2Sound[i].sound != "Null") {%>
                                              <audio style="width:6%" controls>
                                                <source src="../article_sound/<%= article.articleTitle2Sound[i].sound%>" type="audio/mp3">
                                              </audio>
                                          <% } %>
                                        </span>


                                   <% } %><br>

                            </div>
                            <div class="col-lg-12" style="padding-bottom:15px;"><h4>
                                   <% for(var i=0; i<article.article2Sound.length; i++) {%>

                                        <span>
                                          <%= article.article2Sound[i].word%>
                                          <% if(article.article2Sound[i].sound != "Null") {%>
                                              <audio style="width:6%" controls>
                                                <source src="../article_sound/<%= article.article2Sound[i].sound%>" type="audio/mp3">
                                              </audio>
                                          <% } %>
                                        </span>


                                   <% } %><br>
                            </h4> </div>
                            <div class="text-center">
                              <%if(article.imagePosition=='full'){%>
                            <img style="height:350px;width:650px;align:<%=article.imagePosition%>;"  src="..<%= article.img2%>">
                            <%}%>
                            <%if(article.imagePosition=='middle'){%>
                            <img style="height:300px;align:<%=article.imagePosition%>;"  src="..<%= article.img2%>">
                            <%}%>
                             <!--  <img style="height:300px;"  src="..<%= article.img2%>"> -->
                            </div>
                            <div style="color: <%=article.bottomTextcolor %>;text-align:<%=article.bottomTextalign %>;">

                                <% for(var i=0; i<article.bottomText2Sound.length; i++) {%>

                                        <span>
                                          <%= article.bottomText2Sound[i].word%>
                                          <% if(article.bottomText2Sound[i].sound != "Null") {%>
                                              <audio style="width:6%" controls>
                                                <source src="../article_sound/<%= article.bottomText2Sound[i].sound%>" type="audio/mp3">
                                              </audio>
                                          <% } %>
                                        </span>


                                   <% } %><br>

                            </div>

                      </div>
                  <%}%>






                  <% if(article.articleTitle3 != "") {%>
                      <div class="item " style="padding-left:0;">

                            <div style="color:<%= article.topFontcolor%>;text-align:<%=article.topTextalign %>;padding-left:0;">

                              <h4>   

                               <% for(var i=0; i<article.articleTitle3Sound.length; i++) {%>

                                        <span>
                                          <%= article.articleTitle3Sound[i].word%>
                                          <% if(article.articleTitle3Sound[i].sound != "Null") {%>
                                              <audio style="width:6%" controls>
                                                <source src="../article_sound/<%= article.articleTitle3Sound[i].sound%>" type="audio/mp3">
                                              </audio>
                                          <% } %>
                                        </span>


                                   <% } %><br></h4>

                            </div>
                            <div class="col-lg-12" style="padding-bottom:15px;"><h4>
                               <% for(var i=0; i<article.article3Sound.length; i++) {%>

                                        <span>
                                          <%= article.article3Sound[i].word%>
                                          <% if(article.article3Sound[i].sound != "Null") {%>
                                              <audio style="width:6%" controls>
                                                <source src="../article_sound/<%= article.article3Sound[i].sound%>" type="audio/mp3">
                                              </audio>
                                          <% } %>
                                        </span>


                                   <% } %><br></h4>
                            </h4> </div>
                            <div class="text-center">
                              <%if(article.imagePosition=='full'){%>
                            <img style="height:350px;width:650px;align:<%=article.imagePosition%>;"  src="..<%= article.img3%>">
                            <%}%>
                            <%if(article.imagePosition=='middle'){%>
                            <img style="height:300px;align:<%=article.imagePosition%>;"  src="..<%= article.img3%>">
                            <%}%>
                             <!--  <img style="height:300px;"  src="..<%= article.img3%>"> -->
                            </div>
                            <div style="color: <%=article.bottomTextcolor %>;text-align:<%=article.bottomTextalign %>;">

                               <% for(var i=0; i<article.bottomText3Sound.length; i++) {%>

                                        <span>
                                          <%= article.bottomText3Sound[i].word%>
                                          <% if(article.bottomText3Sound[i].sound != "Null") {%>
                                              <audio style="width:6%" controls>
                                                <source src="../article_sound/<%= article.bottomText3Sound[i].sound%>" type="audio/mp3">
                                              </audio>
                                          <% } %>
                                        </span>


                                   <% } %><br></h4>

                            </div>

                      </div>
                  <%}%>



                  <% if(article.articleTitle4 != "") {%>
                  <div class="item" style="padding-left:0;">
                          
                        <div style="color:<%= article.topFontcolor%>;text-align:<%=article.topTextalign %>;padding-left:0;">

                              <h4>   

                               <% for(var i=0; i<article.articleTitle4Sound.length; i++) {%>

                                        <span>
                                          <%= article.articleTitle4Sound[i].word%>
                                          <% if(article.articleTitle4Sound[i].sound != "Null") {%>
                                              <audio style="width:6%" controls>
                                                <source src="../article_sound/<%= article.articleTitle4Sound[i].sound%>" type="audio/mp3">
                                              </audio>
                                          <% } %>
                                        </span>


                                   <% } %><br></h4>

                        </div>
                        <div class="col-lg-12" style="padding-bottom:15px;"><h4>
                               <% for(var i=0; i<article.article4Sound.length; i++) {%>

                                        <span>
                                          <%= article.article4Sound[i].word%>
                                          <% if(article.article4Sound[i].sound != "Null") {%>
                                              <audio style="width:6%" controls>
                                                <source src="../article_sound/<%= article.article4Sound[i].sound%>" type="audio/mp3">
                                              </audio>
                                          <% } %>
                                        </span>


                                   <% } %><br>

                        </h4> </div>
                        <div class="text-center">
                          <%if(article.imagePosition=='full'){%>
                            <img style="height:350px;width:650px;align:<%=article.imagePosition%>;"  src="..<%= article.img4%>">
                            <%}%>
                            <%if(article.imagePosition=='middle'){%>
                            <img style="height:300px;align:<%=article.imagePosition%>;"  src="..<%= article.img4%>">
                            <%}%>
                          <!-- <img style="height:300px;"  src="..<%= article.img4%>"> -->
                        </div>
                        <div style="color: <%=article.bottomTextcolor %>;text-align:<%=article.bottomTextalign %>;">

                               <% for(var i=0; i<article.bottomText4Sound.length; i++) {%>

                                        <span>
                                          <%= article.bottomText4Sound[i].word%>
                                          <% if(article.bottomText4Sound[i].sound != "Null") {%>
                                              <audio style="width:6%" controls>
                                                <source src="../article_sound/<%= article.bottomText4Sound[i].sound%>" type="audio/mp3">
                                              </audio>
                                          <% } %>
                                        </span>


                                   <% } %><br>

                        </div>

                  </div>
                  <%}%>

            <%}%>



            </div>

<!-- Controls -->
              
          </div>
            <input type="button" id="play_pause" value="Stop" class="btn btn-primary">      
          </div>
         

<!--Right SideBar-->
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="right-sidebar" style="margin-right:10px;">
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 prio-box">
            <img class="img-responsive" src="..<%= article.homePic%>">
          </div>
         
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 class="book-title" style="margin:10px 0;"><%= article.bookTitle %></h3>
            <%if(articleUser.preferredname==''){%>
            <h5 class="book-writer" style="margin:10px 0;">লেখাঃ  <a href="/users/viewProfile?articleUser=<%=articleUser._id%>" ><%= articleUser.name %></a></h5>
            <%}%>
            <%if(articleUser.preferredname!=''){%>
            <h5 class="book-writer" style="margin:10px 0;">লেখাঃ  <a href="/users/viewProfile?articleUser=<%=articleUser._id%>"><%= articleUser.preferredname %></a></h5>
            <%}%>
            <%if(article.artistId!=''&&article.artistId!=null){%>
            <h5 class="book-writer" style="margin:10px 0;">ছবিঃ <a href="/users/viewProfile?articleUser=<%=article.artistId%>" ><%= article.artistName %></a></h5>
            <%}%>
            <%if(article.artistId==null){%>
            <h5 class="book-writer" style="margin:10px 0;">ছবিঃ <level><%= article.artistName %></level></h5>
            <%}%>
            <h5 class="text-left" style="margin:10px 0; color: #E56E94;"><%= article.cetagory %></h5>
            <h5 class="text-left" style="margin:10px 0; color: #E56E94;">লেভেল <%= article.label %></h5>
            <%if(login=='1'){%>
            <h5 class="text-left" style="margin:10px 0; color: #E56E94;"><%= article.status %></h5>
            <%if(article.pdfArticle!=null){ %>
            <h5 class="text-left" style="margin:10px 0; color: #E56E94;"><a id="download_pdf" href="#"> Download file as a4 book</a></h5>
            <%}%>
            <%if(article.pptArticle!=null){ %>
            <h5 class="text-left" style="margin:10px 0; color: #E56E94;"><a id="download_ppt" href="#"> Download file as slides</a></h5>
            <%}%>
            <%if(article.letterArticle!=null){ %>
            <h5 class="text-left" style="margin:10px 0; color: #E56E94;"><a id="download_letter" href="#"> Download article as letter format book</a></h5>
            <%}%>
            <%}%>

           <!--  <div id="star"></div> -->
               <span class="star1_<%= article._id%>" article-title-id="<%= article._id%>" user-id="<%= articleUser._id%>"> </span>
                
            </h5>
            <h5 style="margin:10px 0; color: #E56E94;">read <%=article.read %> times</h5>
            <a id="viewComment">View Comment</a><br>
            <a id="reviewerComment">Reviewer Comment</a>
         </div>
      </div>
<!--Right SideBar-->

</div>

<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 article-content" style="display:none;width:68.667%;padding-top:25px;padding-left:25px;padding-right:25px;margin-left:25px;" id="reviewerCommentshow"  >

<div class="col-lg-12" >
     <p><b>Reviewer Comment</b></p>
     <%if(article.articleReviewer_comment.length==0){%>
        No comment..
     <%}%>
     <%if(article.articleReviewer_comment.length!=0){%>
           <%for (var i=article.articleReviewer_comment.length-1;i>=0;i--){%>
              <%for(var j=0;j<alluser.length;j++){%>
                 <% if(alluser[j]._id==article.articleReviewer_comment[i].commenttator){%>

                            <div class="col-lg-2 pull-right;" style="" >
                           <img style="height:35px; width:35px;margin-bottom:10px;margin-top:10px;" class="" src="<%=alluser[j].profilePicture%>" alt="Profile" />
                           </div>
                           <div class="col-lg-5" >
                              <h5><%=alluser[j].name%></h5>
                              <p> <i><%=article.articleReviewer_comment[i].comment%></i></p>
                              <!-- <p id="time_<%=i%>"> <%=article.articleReviewer_comment[i].commentCreated%></p> -->

                            </div>

                            <div class="col-lg-5" style="padding-top:10px;" >
                             
                            </div>
                  
                 <%}%>
              <%}%>
               <div class="col-lg-12" >
            
             <hr>
              </div>
             <!--  <hr> -->
          <%}%>
       <%}%>
    </div>
    </div>
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 article-content" style="width:68.667%;padding-top:25px;padding-left:25px;padding-right:25px;margin-left:25px;">
   <% if(login == '1') {%>
   <img style="height:25px; width:25px;margin-bottom:10px;" class="img-circle" src="<%=currentUser.profilePicture%>" alt="Profile" /> <%=currentUser.name%>
    <%}%>
  <div class="col-lg-12" >
    
      <% if(login == '1') {%>
     <div class="col-lg-10">
          <textarea class="form-control" style="height: 35px;margin-left: -19px;" type="text" name="comment_articleimage" id="comment_articleimage" placeholder="Comment..."></textarea>
      </div>
      <div class="col-lg-2" >
      <button class="btn btn-info" id="comment1">Comment</button>
      </div>
      <%}%>
    </div>
     <div class="col-lg-12" id="showComment" style="display:none;" >
     
       <%for (var i=article.articleImage_comment.length-1;i>=0;i--){%>
          <%for(var j=0;j<alluser.length;j++){%>
             <% if(alluser[j]._id==article.articleImage_comment[i].commenttator){%>

                      <div class="col-lg-2 pull-right;" style="padding-left: 70px;" >
                       <img style="height:35px; width:35px;margin-bottom:10px;margin-top:10px;" class="" src="<%=alluser[j].profilePicture%>" alt="Profile" />
                       </div>
                       <div class="col-lg-5" >
                          <h5><%=alluser[j].name%></h5>
                          <p> <i><%=article.articleImage_comment[i].comment%></i></p>
                          <p id="time_<%=i%>"> <%=article.articleImage_comment[i].commentCreated%></p>

                        </div>

                        <div class="col-lg-5" style="padding-top:10px;" >
                         <% if(login == '1') {%> 
                          <%if(currentUser._id==article.articleImage_comment[i].commenttator||currentUser.userType=='admin'){%>
                           
                          <a href="/deleteComment?article_id=<%=article._id%>&commentId=<%=article.articleImage_comment[i]._id%>" class="glyphicon glyphicon-trash pull-right" title="Delete Comment" style="text-decoration:none"></a>
                           <%}%>
                            <%}%>
                        </div>
              
             <%}%>
          <%}%>
           <div class="col-lg-12" >
         <!-- <p> <i><%=article.articleImage_comment[i].comment%></i></p> -->
         <hr>
          </div>
         <!--  <hr> -->
      <%}%>
   
    </div>

    

</div>
<!--content-->

<div class="modal fade" id="viewProfile" >
  <div class="modal-dialog">
    <div class="modal-content" style="height:265px;">
      <div class="modal-header">
        <h5 style="padding-left: 35px;"><%= author %></h5>
        <button type="button" class="btn btn-danger btn-xs pull-right" style="margin-top: -30px;" data-dismiss="modal">X</button>
      </div>

      <div class="modal-body col-lg-12">
        <div class=" col-lg-9">
          <div class=" col-lg-12"><level>Author' name: <%= author %></level></div>
          <div class=" col-lg-12"><level>Country: <%= articleUser.country %></level></div>
          <div class=" col-lg-12"><level>Biography: <%= articleUser.biography %></level></div>
         <!--  <div class=" col-lg-12"><level>Gender: <%= articleUser.gender %></level></div> -->
        </div>
        <div class=" col-lg-3">
          <img style="height:90px;width:90px;" src="<%=articleUser.profilePicture%>">
        </div>
        
      </div>
    </div>  <!-- /.modal-content -->
  </div>  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="viewProfileArtist" >
  <div class="modal-dialog">
    <div class="modal-content" style="height:265px;">
      <div class="modal-header">
        <h5 style="padding-left: 35px;"><%= article.artistName %></h5>
        <button type="button" class="btn btn-danger btn-xs pull-right" style="margin-top: -30px;" data-dismiss="modal">X</button>
      </div>

      <div class="modal-body col-lg-12">
         <%if(artist!=null){%>
        <div class=" col-lg-9">
        
          <div class=" col-lg-12"><level>Author' name:  <%=artist.name%></level></div>
          <div class=" col-lg-12"><level>Country: <%= artist.country %></level></div>
          <div class=" col-lg-12"><level>Biography: <%= artist.biography %></level></div>
         <!--  <div class=" col-lg-12"><level>Gender: <%= artist.gender %></level></div> -->
          
        </div>
        <div class=" col-lg-3">
          <img style="height:90px;width:90px;" src="<%=artist.profilePicture%>">
        </div>
         <%}%> 
      </div>
    </div>  <!-- /.modal-content -->
  </div>  <!-- /.modal-dialog -->
</div>

<!--Fotter-->
      <div class="footer footer-article col-lg-12 col-md-12 col-sm-12 col-xs-12">
         
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <ul class="list-inline">
                  <li><a class="f1" href="#">Are you an artist!</a></li>
                  <li><a class="f1" href="#">Suggestions!</a></li>
                  <li><a class="f1" href="#">Contact us</a></li>
                  <li><a class="f1" href="/authors">Our Authors</a></li>
                  <li><a class="f1" href="/reviewer">Our Reviewers</a></li>
                  <li><a class="f1" href="/donation">Donors</a></li>
              </ul>

          </div>
          
          
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <form class="form-inline pull-right" role="form">
                  <div class="form-group">
                      
                  </div>

                  <div class="form-group">
                      
                  </div>
              </form> 
          </div>
      </div>

<!--Fotter-->
</div>


<!--End section-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center copyright">
    <h6><strong>&copy; পাতার বই <a href="http://www.patarboi.com">(www.patarboi.com)</a> 2013 Credit</strong></h6>
</div>
<!--End section-->


<script src="lib/jquery/jquery.min.js"></script>
<script src="../js/jquery.raty.js" type="text/javascript"></script>
<script src="../js/bootstrap.js" ></script>
<script>
$(document).ready(function(){
  var article= <% if(locals.article){%>
      <%- JSON.stringify(article) %>
      <%}%>;
        $("#delete_comment").click(function(){
              
          });
      for(var i=article.articleImage_comment.length-1;i>=0;i--){
           var time=article.articleImage_comment[i].commentCreated;
          // var dateTime=new Date(time);
          // var date=dateTime.getHours()+":"+dateTime.getMinutes()+" "+dateTime.getFullYear()+"-"+dateTime.getMonth()+"-"+dateTime.getDate();
          // alert(dateTime.getMinutes())
          // console.log(dateTime.getFullYear());
          // $("#time_"+i).text(date);

          var d = new Date(time);
         // alert (d);
          var hourString;
          var hourInt;
          var amPm = "AM";
          if ( d.getHours() > 11 ) {
              amPm = "PM"
              hourInt = "" + (d.getHours() - 12);
          } else {
              amPm = "AM"
              hourInt = "" + d.getHours();
          }


          var formattedDate = "" + hourInt + ":" + d.getMinutes() + " " + amPm + " " + d.getDate() + "-" + (d.getMonth()+1) + "-" + d.getFullYear() ;
         // alert (formattedDate);
         $("#time_"+i).text(formattedDate);
      }
  var commentImage=0;
 // $('.carousel-indicators .active').css('width','50px;','height','20px;')
    $('#star').raty({
     score: <%=article.rating %>,
     readOnly:  true,

      });
     $(".star1_<%= article._id%>").raty({ 

                  score: <%= article.rating%>,
                  <%if (login == '0') { %>
                      readOnly:  true,
                   <% } %> 
                  <%if (login == '1') { %>
                      readOnly:  false,
                   <% } %> 
              });


      $(".star1_<%= article._id%> >").click(function() {
              var score = $(this).attr("alt"); 
             // alert(score);
              var rating=score;
              var articleId= "<%= article._id%>" ;
              var userId="<%= articleUser._id%>";

              console.log(rating);
              console.log(articleId);
              console.log(userId);

              $.ajax({ url: '/article/rating',
                       
                       data: { 

                            articleId:articleId,
                            userId:userId,
                            rating:rating,

                       },
                       type: 'POST',
                       success: function(output) {
                          console.log(output);

                        }
                  });   

            
          });  

  // function sleep(ms)
  // {
  //   var dt = new Date();
  //   dt.setTime(dt.getTime() + ms);
  //   while (new Date().getTime() < dt.getTime());
  // }
  // $("#playsound").click(function(){
  //   console.log(<%=article.title1Sound.length%>);
  //   for(var i=0;i<<%=article.title1Sound.length%>;i++){
  //   var audio = document.getElementById('soundobj_'+i);
  //   console.log('soundobj_'+i);
  //   jQuery.ajax({
  //       url: '',
  //       async: false,
  //       complete: function() {
  //           //$('#title_'+i).css('color','#FF0000');
  //           audio.play(); // audio will play in iOS before 4.2.1. Audio will not play in any iOS device 4.2.1 or later.
  //       }
  //   });
  //   $('#title_'+i).css('color','#FF0000');
  //   var x=audio.duration*1000;
  //   sleep(x);
  //  // $('#title_'+i).css('color','#FF0000');
  //   console.log(x);
  // }

  // })
  $("#play_pause").click(function(){
    var x=$("#play_pause").val();
    //alert(x)
   if(x=='Stop'){
      $('.carousel').carousel('pause');
    $("#play_pause").val('Play')
  }

 else if(x=='Play'){
    $('.carousel').carousel({
      pause: false,
    interval: 1000
      })
    $("#play_pause").val('Stop')
  }
  })
  $("#comment1").click(function(){
    var id= "<%= article._id %>";
    var comment=$("#comment_articleimage").val();
        commentImage=1;
            console.log(comment);

        $.ajax({ url: '/commentSubmit',
             data: { 
              id:id,
              comment:comment,
              commentImage:commentImage,
             },
             type: 'POST',
             success: function(output) 
             {
              console.log(output);

              // window.location = '/userArticle';
              
              }
        });
      location.reload();
   });
  $("#viewComment").click(function(){

    if($("#viewComment").text()=='View Comment'){
       //alert("jhdsdjhi")
      $("#showComment").show();
      $("#viewComment").text("Hide Comment")
    }
    else if($("#viewComment").text()=='Hide Comment'){
      $("#showComment").hide();
      $("#viewComment").text("View Comment")
    }
  })
  

   $("#reviewerComment").click(function(){

    if($("#reviewerComment").text()=='Reviewer Comment'){
       //alert("jhdsdjhi")
      $("#reviewerCommentshow").show();
      $("#reviewerComment").text("Hide Reviewer Comment")
    }
    else if($("#reviewerComment").text()=='Hide Reviewer Comment'){
      $("#reviewerCommentshow").hide();
      $("#reviewerComment").text("Reviewer Comment")
    }
  })
});

$(document).ready(function() {


  $('.carousel').carousel();
   $("#download_pdf").click(function(){
    console.log("hkcsdbjcdjhcbdjhcbdjchvfjh")
     // window.location.href = '<%= article.pdfArticle %>';
     window.open('<%= article.pdfArticle %>');
   });
   $("#download_ppt").click(function(){
    console.log("hkcsdbjcdjhcbdjhcbdjchvfjh")
    window.open('<%= article.pptArticle %>');
   });
    $("#download_letter").click(function(){
    console.log("hkcsdbjcdjhcbdjhcbdjchvfjh")
    window.open('<%= article.letterArticle %>');
   });
})
</script>
</body>
</html>
