<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../css/123abcd.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>
	<div class="container">
		<div class="row">

				<div class="col-md-3 col-lg-3">
					
					<div class="nav list-group" id="sidebar">

							<!-- <ul class="nav bs-sidenav" style="background:#F7F5FA;">
								 <li class="menu active">
						  			<a class="primary">Hello, Artist!!<span class="pull-right">&rsaquo;</span></a> 
						 		</li>
						 		<li class="menu"> 
								  		<a class="primary" href="/userArticle">Author Panel<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu active"> 
								  		<a class="primary" href="/waiting_for_acceptence">Decide to participate<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu"> 

								  		<a class="primary" href="/currentlyworkingartist">Currently Working On<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu"> 
								  		<a class="primary" href="/previouslyworkedartist">Previously SUbmitted<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  
								 
						  		<li class="menu" id="new_article">
						  			<a class="primary" href="/writeNewArticle">Submit New Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
						  		<li class="menu" id="guide_line">
						  			<a class="primary" href="/previous">Previous Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
							  <li class="menu" id="guide_line">
							  	<a class="primary" href="#">Guide Lines<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="log_out">
							  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="password">
							  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="update_profile">
							  	<a class="primary" href="/users/updateUserProfile">Update Profile<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu active" id="homepage">
							  	<a class="primary" href="/">Home Page<span class="pull-right">&rsaquo;</span></a>
							  </li>


							</ul> -->
							<ul class="nav bs-sidenav" style="background:#F7F5FA;">
								<li class="menu active"><a class="primary" href="#">Artist's Panel<span class="pull-right">&rsaquo;</span></a></li>
								<li class="menu"><a class="primary" href="/open_for_bid">Submit a bid<span class="pull-right">&rsaquo;</span></a></li>

								<li class="menu"><a class="primary" href="/acceptedArticleForBid">Submit an art work<span class="pull-right">&rsaquo;</span></a></li>

								<li class="menu"><a class="primary" href="/previouslyworkedartist">Previous art work<span class="pull-right">&rsaquo;</span></a></li>

								<li class="menu"><a class="primary" href="/myWallet">My Wallet<span class="pull-right">&rsaquo;</span></a></li>

								<li class="menu" id="guide_line">
							  	<a class="primary" href="/guideline">Guide Lines<span class="pull-right">&rsaquo;</span></a>
							  </li>

							  <li class="menu" id="log_out">
							  	<a class="primary" href="/signout">Log Out<span class="pull-right">&rsaquo;</span></a>
							  </li>

							  <li class="menu" id="password">
							  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
							  </li>

							  <li class="menu" id="update_profile">
							  	<a class="primary" href="/users/updateUserProfile">Update Profile<span class="pull-right">&rsaquo;</span></a>
							  </li>

							  <li class="menu active" id="homepage">
							  	<a class="primary" href="/">Home Page<span class="pull-right">&rsaquo;</span></a>
							  </li>
							</ul>


					</div>
				</div>
				<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;padding-top:20px;">
			
						<div class="col-lg-12" style="padding-right:0;padding-left:0;padding-top:40px;" >
								<p> Hi [ <%= user.name %> ],</p>
								<!-- <p>  <a href="/waiting_for_acceptence"><%=waiting%> </a> articles waiting for acceptance.</p> -->
								<p>  <a href="/open_for_bid"><%=waiting%> </a> articles open for bid.</p>
								<p>  <a href="/open_for_rebid"><%=rebid%> </a> articles that you can rebid.</p>
								<p> <a href="/acceptedArticleForBid"><%= artwork %></a> articles to submit your work.</p>
								<!-- <p><%=waiting_review%> articles <a href="/currentlyworkingartist">currently working</a> </p>
								<p><%=review_so_far%> articles you have <a href="/previouslyworkedartist">Previously submitted</a> </p> -->
								<p><a href="/previouslyworkedartist"> <%=review_so_far%></a> articles that you have submitted.</p>
								<!-- <p><%=waiting_review%> articles <a href="/currentlyworkingartist">currently working</a> </p> -->
						</div>
				</div>
				

		</div>

	</div>


<script src="../js/jquery.min.js"></script>
<script src="../js/jquery.ui.widget.js"></script>
<script src="../js/jquery.fileupload.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>

<script type='text/javascript'> 
        $(document).ready(function() {
            $('#sidebar').affix({offset: {top: $('header').height()}});	
        });
        
</script>

<script>


	function accept(index){

		console.log(index);

			$.ajax({ url: '/acceptArtistArticle',
		         data: { 
		         	index:index,
		         },
		         type: 'POST',
		         success: function(output) {
		         	
		         	console.log(output);
	       //   		var id = $(elem).attr("id");
				    // var x= id.split("_");
				    // var idd=x[1];
				    // console.log(idd);
				    // $("#artist_"+idd).hide();

		          }
		    });
	}
	function reject(){

		console.log('Reject');
	}



</script>
</body>
</html>