<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>

	<div class="container">
		<div class="row">
		
		
			
				<div class="col-md-3 col-lg-3">
					
					<div class="nav list-group" id="sidebar">

						<!-- <ul class="nav bs-sidenav" style="background:#F7F5FA;">

							  <li class="menu active">
							  		<a class="primary">Hello, Reviewer!!<span class="pull-right"></span></a> 
							  </li>

							  <li class="menu" id="review_article">
							  		<a class="primary" href="/artist">Artist Panel<span class="pull-right">&rsaquo;</span></a>
							  </li>

							   <li class="menu active" id="authorPenel">
							  	<a class="primary" href="/userArticle">Author Pannel<span class="pull-right">&rsaquo;</span></a>
							  </li>
						  		<li class="menu" id="new_article">
						  			<a class="primary" href="/writeNewArticle">Submit New Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
						  		<li class="menu" id="guide_line">
						  			<a class="primary" href="/previous">Previous Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
							  <li class="menu" id="guide_line">
							  	<a class="primary" href="#">Guide Lines<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="log_out">
							  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="password">
							  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="update_profile">
							  	<a class="primary" href="/users/updateUserProfile">Update Profile<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu active" id="homepage">
							  	<a class="primary" href="/">Home Page<span class="pull-right">&rsaquo;</span></a>
							  </li>

						</ul> -->
						<ul class="nav bs-sidenav" style="background:#F7F5FA;">
								<li class="menu active"><a class="primary" href="/artist">Artist's Panel<span class="pull-right">&rsaquo;</span></a></li>
								<li class="menu"><a class="primary" href="/open_for_bid">Submit a bid<span class="pull-right">&rsaquo;</span></a></li>

								<li class="menu"><a class="primary" href="/acceptedArticleForBid">Submit an art work<span class="pull-right">&rsaquo;</span></a></li>

								<li class="menu"><a class="primary" href="/previouslyworkedartist">Previous art work<span class="pull-right">&rsaquo;</span></a></li>

								<li class="menu"><a class="primary" href="/myWallet">My Wallet<span class="pull-right">&rsaquo;</span></a></li>

								<li class="menu" id="guide_line">
							  	<a class="primary" href="/guideline">Guide Lines<span class="pull-right">&rsaquo;</span></a>
							  </li>

							  <li class="menu" id="log_out">
							  	<a class="primary" href="/signout">Log Out<span class="pull-right">&rsaquo;</span></a>
							  </li>

							  <li class="menu" id="password">
							  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
							  </li>

							  <li class="menu" id="update_profile">
							  	<a class="primary" href="/users/updateUserProfile">Update Profile<span class="pull-right">&rsaquo;</span></a>
							  </li>

							  <li class="menu active" id="homepage">
							  	<a class="primary" href="/">Home Page<span class="pull-right">&rsaquo;</span></a>
							  </li>
							</ul>

					</div>

				</div>
				<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;padding-top:20px;">
			
						<div class="col-lg-12" style="padding-right:0;padding-left:0;" >
							<form method="post" action="/artist/newImage" enctype="multipart/form-data">


								<div class="col-lg-12 panel panel-success" >

									<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
										<div class="col-lg-12" >	
												<h3><b>Article Name : <%=article.bookTitle %></b></h3>
												<h5><b>Author Name : <%=author.name %></b></h5>
												<input type="hidden" id="index" name="index"  value="<%=article._id %>"/>
										</div>

									</div>

								</div>
								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 1 

										</div>

											<div class="col-lg-2"> 
												<a href="">Original Image</a>
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.articleImage %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-2"> 
													<%= article.title%><br>
													<%=article.article%><br>
													<%=article.credit%><br>
													<%=article.bottomText%><br>

											</div>
											<div class="col-lg-8"> 
												<%for(var i=0;i<article1.artistImagePage1.length;i++){%>

												<div class="col-lg-4">
													<a href=""><%=article1.artistImagePage1[i].name %></a>
													<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article1.artistImagePage1[i].img %>" alt="Jason's Photo" style="width: inherit" />
													<span class="star1_<%=i%>" id="rating1_<%=i%>" style="font-size:1px;"></span>
													</div>
												<%}%>
													<!-- <input type="file" id="img" name="img" />  -->
											</div>

										</div>

								</div>

								<% if(article.articleTitle2 != "") {%>

										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 2

												</div>
												
													<div class="col-lg-2"> 
														<a href="">Original Image</a>
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img2 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-2"> 
															<%= article.articleTitle2%><br>
															<%=article.article2%><br>
															<%=article.source2%><br>
															<%=article.bottomText2%><br>

													</div>
													<div class="col-lg-8"> 
														<%for(var i=0;i<article1.artistImagePage2.length;i++){%>
														<div class="col-lg-4">
															<a href=""><%=article1.artistImagePage2[i].name %></a>
															<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article1.artistImagePage2[i].img %>" alt="Jason's Photo" style="width: inherit" />
															<span class="star2_<%=i%>" id="rating" style="font-size:1px;"></span>
															</div>
														<%}%>
															<!-- <input type="file" id="img" name="img" />  -->
													</div>
												</div>

										</div>
								<%}%>

								<% if(article.articleTitle3 != "") {%>
										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 3

												</div>
												
													<div class="col-lg-2">
													<a href="">Original Image</a> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img3 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-2"> 
															<%= article.articleTitle3%><br>
															<%=article.article3%><br>
															<%=article.source3%><br>
															<%=article.bottomText3%><br>

													</div>
													<div class="col-lg-8"> 
														<%for(var i=0;i<article1.artistImagePage3.length;i++){%>
														<div class="col-lg-4">
															<a href=""><%=article1.artistImagePage3[i].name %></a>
															<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article1.artistImagePage3[i].img %>" alt="Jason's Photo" style="width: inherit" />
															<span class="star3_<%=i%>" id="rating" style="font-size:1px;"></span>
															</div>
														<%}%>
															<!-- <input type="file" id="img" name="img" />  -->
													</div>
												</div>

										</div>
								<%}%>

								<% if(article.articleTitle4 != "") {%>
											<div class="col-lg-12 panel panel-success" >

													<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
														<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 4

													</div>
													
														<div class="col-lg-2"> 
															<a href="">Original Image</a>
															<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img4 %>" alt="Jason's Photo" style="width: inherit" />
														</div>
														<div class="col-lg-2"> 
																<%= article.articleTitle4%><br>
																<%=article.article4%><br>
																<%=article.source4%><br>
																<%=article.bottomText4%><br>

														</div>
														<div class="col-lg-8"> 
															<%for(var i=0;i<article1.artistImagePage4.length;i++){%>
															<div class="col-lg-4">
																<a href=""><%=article1.artistImagePage4[i].name %></a>
																<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article1.artistImagePage4[i].img %>" alt="Jason's Photo" style="width: inherit" />
																<span class="star4_<%=i%>" id="rating" style="font-size:1px;"></span>
																</div>
															<%}%>
																<!-- <input type="file" id="img" name="img" />  -->
														</div>
													</div>

											</div>
									<%}%>

								<!-- <div class="col-lg-12" style="padding-bottom:20px;padding-right:0;" align="right">
								   <button type="submit" class="btn btn-primary " tabindex="1">Request Admin to Approve</button>
								</div> -->

							</form>

						</div>


				</div>
		</div>
	</div>

</body>


<script src="lib/jquery/jquery.min.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>
<script src="../js/jquery.raty.js" type="text/javascript"></script>
<script type='text/javascript'> 
        $(document).ready(function() 
        {
            $('#sidebar').affix({offset: {top: $('header').height()}});	

        });
        
</script>
<script type='text/javascript'> 
        <%if(article1.artistImagePage1[0]!=null){%>
        $(".star1_0").raty({ 

        	<%if(article1.artistImagePage1[0].rating){%>
		    score: <%=article1.artistImagePage1[0].rating %>,
		    readOnly:  true,
		    <%}%>
		    <%if(!article1.artistImagePage1[0].rating){%>
		    score: 0,
		    readOnly:  true,
		    <%}%>
		
		
		});
		<%}%>
		<%if(article1.artistImagePage1[1]!=null){%>
			$(".star1_1").raty({ 

        	<%if(article1.artistImagePage1[1].rating){%>
		    score: <%=article1.artistImagePage1[1].rating %>,
		    readOnly:  true,
		    <%}%>
		    <%if(!article1.artistImagePage1[1].rating){%>
		    score: 0,
		    readOnly:  true,
		    <%}%>
		
		
		});
		<%}%>
		 <%if(article1.artistImagePage1[2]!=null){%>
			$(".star1_2").raty({ 

        	<%if(article1.artistImagePage1[2].rating){%>
		    score: <%=article1.artistImagePage1[2].rating %>,
		    readOnly:  true,
		    <%}%>
		    <%if(!article1.artistImagePage1[2].rating){%>
		    score: 0,
		    readOnly:  true,
		    <%}%>
		
		
		});
		<%}%>
/////////////////
		<%if(article1.artistImagePage2[0]!=null){%>
        $(".star2_0").raty({ 

        	<%if(article1.artistImagePage2[0].rating){%>
		    score: <%=article1.artistImagePage2[0].rating %>,
		    readOnly:  true,
		    <%}%>
		    <%if(!article1.artistImagePage2[0].rating){%>
		    score: 0,
		    readOnly:  true,
		    <%}%>
		
		
		});
		<%}%>
		<%if(article1.artistImagePage2[1]!=null){%>
			$(".star2_1").raty({ 

        	<%if(article1.artistImagePage2[1].rating){%>
		    score: <%=article1.artistImagePage2[1].rating %>,
		    readOnly:  true,
		    <%}%>
		    <%if(!article1.artistImagePage2[1].rating){%>
		    score: 0,
		    readOnly:  true,
		    <%}%>
		
		
		});
		<%}%>
		 <%if(article1.artistImagePage2[2]!=null){%>
			$(".star2_2").raty({ 

        	<%if(article1.artistImagePage2[2].rating){%>
		    score: <%=article1.artistImagePage2[2].rating %>,
		    readOnly:  true,
		    <%}%>
		    <%if(!article1.artistImagePage2[2].rating){%>
		    score: 0,
		    readOnly:  true,
		    <%}%>
		
		
		});
		<%}%>
/////////////////
		<%if(article1.artistImagePage3[0]!=null){%>
        $(".star3_0").raty({ 

        	<%if(article1.artistImagePage3[0].rating){%>
		    score: <%=article1.artistImagePage3[0].rating %>,
		    readOnly:  true,
		    <%}%>
		    <%if(!article1.artistImagePage3[0].rating){%>
		    score: 0,
		    readOnly:  true,
		    <%}%>
		
		
		});
		<%}%>
		<%if(article1.artistImagePage3[1]!=null){%>
			$(".star3_1").raty({ 

        	<%if(article1.artistImagePage3[1].rating){%>
		    score: <%=article1.artistImagePage3[1].rating %>,
		    readOnly:  true,
		    <%}%>
		    <%if(!article1.artistImagePage3[1].rating){%>
		    score: 0,
		    readOnly:  true,
		    <%}%>
		
		
		});
		<%}%>
		 <%if(article1.artistImagePage3[2]!=null){%>
			$(".star3_2").raty({ 

        	<%if(article1.artistImagePage3[2].rating){%>
		    score: <%=article1.artistImagePage3[2].rating %>,
		    readOnly:  true,
		    <%}%>
		    <%if(!article1.artistImagePage3[2].rating){%>
		    score: 0,
		    readOnly:  true,
		    <%}%>
		
		
		});
		<%}%>
/////////////////
		<%if(article1.artistImagePage4[0]!=null){%>
        $(".star4_0").raty({ 

        	<%if(article1.artistImagePage4[0].rating){%>
		    score: <%=article1.artistImagePage4[0].rating %>,
		    readOnly:  true,
		    <%}%>
		    <%if(!article1.artistImagePage4[0].rating){%>
		    score: 0,
		    readOnly:  true,
		    <%}%>
		
		
		});
		<%}%>
		<%if(article1.artistImagePage4[1]!=null){%>
			$(".star4_1").raty({ 

        	<%if(article1.artistImagePage4[1].rating){%>
		    score: <%=article1.artistImagePage4[1].rating %>,
		    readOnly:  true,
		    <%}%>
		    <%if(!article1.artistImagePage4[1].rating){%>
		    score: 0,
		    readOnly:  true,
		    <%}%>
		
		
		});
		<%}%>
		 <%if(article1.artistImagePage4[2]!=null){%>
			$(".star4_2").raty({ 

        	<%if(article1.artistImagePage4[2].rating){%>
		    score: <%=article1.artistImagePage4[2].rating %>,
		    readOnly:  true,
		    <%}%>
		    <%if(!article1.artistImagePage4[2].rating){%>
		    score: 0,
		    readOnly:  true,
		    <%}%>
		
		
		});
		<%}%>


</script>
</html>