<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">
<link rel="stylesheet" href="css/jquery-ui.css">
<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>

	<div class="container">
		<div class="row">
			


				<div class="col-md-3 col-lg-3">
					
					<div class="nav list-group" id="sidebar">

						<ul class="nav bs-sidenav" style="background:#F7F5FA;">

							     <li class="menu" id="manage_articles">
								  		<a class="primary" href="/manageArticle">Manage Articles<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="manage_members">
								  	 	<a class="primary" href="/manageMembers">Manage Members<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  
								  <li class="menu" id="manage_website">
								  		<a class="primary" href="/managewebsite">Manage Website<span class="pull-right">&rsaquo;</span></a>
								  </li>
								 
								  <li class="menu" id="view_donation">
								  		<a class="primary" href="#"><span class="pull-right">&rsaquo;</span>View Donation</a>
								  </li>
								  <li class="menu" id="view_distribution">
								  		<a class="primary" href="/viewdistribution">Production and Distribution<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="manage_cost">
								  		<a class="primary" href="#">Manage Cost<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="log_out">
								  		<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="password_change">
								  		<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
								  </li>
							  
						</ul>

					</div>

				</div>


				<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;">
						<div class="col-lg-12" align="center" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;"> <h2>Assign Artist</h2> </div>
						<table class="table table-bordered">
					      <thead>
					        <tr >
					          
					          <th>Article Id</th>
					          <th>Article Title</th>
					          <th>Author </th>
					          <th>End date </th>
					          <th>Email Address</th>
					          <th colspan="2" align="center">Action </th>
					          <th class="text-center">Status</th>
					        </tr>
					      </thead>
					      
						<% for(var i=0; i<author.length; i++) {%>

								<% for(var j=0; j<author[i].writeArticle.length; j++) {%>


										<%if (author[i].writeArticle[j].status == 'Accepted' || author[i].writeArticle[j].status == 'Request Artist'||author[i].writeArticle[j].status == 'Bidding in progress') { %>

										
												<tbody>	
																					   
									      				<tr>
									      					<td rowspan="3"><%= author[i].writeArticle[j].articleId %></td>
										      				<td rowspan="3"><%= author[i].writeArticle[j].bookTitle %></td>
										      				<td rowspan="3"><%= author[i].name %> </td>
										      				<td rowspan="3">
												      			<%if(author[i].writeArticle[j].article_artist[0]==null){%>
												      			<input type="text" id="datepicker_<%=j%>">
												      			<%}%>
												      			<%if(author[i].writeArticle[j].article_artist[0]!=null){%>
												      			
												      			<span id="datepicker1_<%=j%>"><%=author[i].writeArticle[j].endDate%></span>
												      			<%}%>
												      		</br>
												      			<a  onclick="Request_to_bid('<%=author[i].writeArticle[j]._id %>','<%=j%>')">Request to Bid</a><br>
												      		</td>
									      					<td>
									      						<%if(author[i].writeArticle[j].article_artist[0]==null){%>
													 			<input class="form-control" type="text" name="artistSelect1" id="artistSelect1" placeholder="Enter Artists Email Address" />
													 			<%}%>
													 			<%if(author[i].writeArticle[j].article_artist[0]!=null){%>
													 			<input class="form-control" type="text" value="<%=author[i].writeArticle[j].article_artist[0].articleArtistemail%>" disabled/>
													 			<input class="form-control" type="text" name="artistdelete1" id="artistdelete1" placeholder="Enter Artists Email Address" value="<%=author[i].writeArticle[j].article_artist[0].articleArtistemail%>" style="display:none;" />
													 			<%}%>

													    </td>
													     <td align="center">
													     	<%if(author[i].writeArticle[j].article_artist[0]==null){%>
													    	<a id="assign_<%= i%><%= j%>1" onclick="assignArtist('<%=i%>','<%=j%>','<%=author[i].writeArticle[j].title %>','<%=author[i].writeArticle[j].article %>','<%=author[i].writeArticle[j].credit %>','<%=author[i].writeArticle[j].bottomText %>','<%=author[i].writeArticle[j].articleId %>','<%=author[i].writeArticle[j]._id %>','<%=author[i]._id %>','<%= author[i].writeArticle[j].articleImage %>',<%=author[i].writeArticle[j].noOfArtist %>,this)">Assign</a><br>
													    	<%}%>
													    	<%if(author[i].writeArticle[j].article_artist[0]!=null){%>
													    	<a id="Remove_<%= i%><%= j%>1" onclick="RemoveArtist('<%=author[i].writeArticle[j].title %>','<%=author[i].writeArticle[j].article %>','<%=author[i].writeArticle[j].credit %>','<%=author[i].writeArticle[j].bottomText %>','<%=author[i].writeArticle[j].articleId %>','<%=author[i].writeArticle[j]._id %>','<%=author[i]._id %>','<%= author[i].writeArticle[j].articleImage %>',<%=author[i].writeArticle[j].noOfArtist %>,this)">Remove</a><br>
													    	<a href="/viewArtistArtWork?author=<%=author[i]._id %>&article=<%=author[i].writeArticle[j]._id %>&artist=<%=author[i].writeArticle[j].article_artist[0].articleArtistemail%>">View Art Work</a>
													    	<%}%>
													    </td>
													    <td rowspan="3" align="center">
													    	<%if(author[i].writeArticle[j].article_artist[0]!=null){%>
													    	
													    	<%if(author[i].writeArticle[j].article_artist[0].status=='Bidding in progress'){%>
													    	<a href="/viewBids?author=<%=author[i]._id %>&article=<%=author[i].writeArticle[j]._id %>">View Bids </a><br>
													    	<%}%>
													    	<%}%>
													    	
													    	<a href="/admin/skipArtist?articleId=<%= author[i].writeArticle[j]._id %>">Skip this step</a><br>
													    	
													    </td>
													    <td align="center">
													    	<%if( author[i].writeArticle[j].article_artist[0]){%>
													    	<%= author[i].writeArticle[j].article_artist[0].status %></td>
													    	<%}%>
									      				</tr>
									      				<tr>
									      					<td>
									      						<%if(author[i].writeArticle[j].article_artist[1]==null){%>
													 			<input class="form-control" type="text" name="artistSelect2" id="artistSelect2" placeholder="Enter Artists Email Address" />
													 			<%}%>
													 			<%if(author[i].writeArticle[j].article_artist[1]!=null){%>
													 			<input class="form-control" type="text" value="<%=author[i].writeArticle[j].article_artist[1].articleArtistemail%>" disabled/>
													 			<input class="form-control" type="text" name="artistdelete2" id="artistdelete2" placeholder="Enter Artists Email Address" value="<%=author[i].writeArticle[j].article_artist[1].articleArtistemail%>" style="display:none;" />
													 			<%}%>


													    </td>
													    <td align="center">
													    	<%if(author[i].writeArticle[j].article_artist[1]==null){%>
													    	<a id="assign_<%= i%><%= j%>2" onclick="assignArtist('<%=i%>','<%=j%>','<%=author[i].writeArticle[j].title %>','<%=author[i].writeArticle[j].article %>','<%=author[i].writeArticle[j].credit %>','<%=author[i].writeArticle[j].bottomText %>','<%=author[i].writeArticle[j].articleId %>','<%=author[i].writeArticle[j]._id %>','<%=author[i]._id %>','<%= author[i].writeArticle[j].articleImage %>',<%=author[i].writeArticle[j].noOfArtist %>,this)">Assign</a><br>
													    	<%}%>
													    	<%if(author[i].writeArticle[j].article_artist[1]!=null){%>
													    	<a id="Remove_<%= i%><%= j%>2" onclick="RemoveArtist('<%=author[i].writeArticle[j].title %>','<%=author[i].writeArticle[j].article %>','<%=author[i].writeArticle[j].credit %>','<%=author[i].writeArticle[j].bottomText %>','<%=author[i].writeArticle[j].articleId %>','<%=author[i].writeArticle[j]._id %>','<%=author[i]._id %>','<%= author[i].writeArticle[j].articleImage %>',<%=author[i].writeArticle[j].noOfArtist %>,this)">Remove</a><br>
													    	<a href="">View Art Work</a>
													    	<%}%>
													    </td>
													    <td align="center">
													    	<%if( author[i].writeArticle[j].article_artist[1]){%>
													    	<%= author[i].writeArticle[j].article_artist[1].status %></td>
													    	<%}%>
									      				</tr>
									      				<tr>
									      					<td>
									      						<%if(author[i].writeArticle[j].article_artist[2]==null){%>
													 			<input class="form-control" type="text" name="artistSelect3" id="artistSelect3" placeholder="Enter Artists Email Address" />
													 			<%}%>
													 			<%if(author[i].writeArticle[j].article_artist[2]!=null){%>
													 			<input class="form-control" type="text" value="<%=author[i].writeArticle[j].article_artist[2].articleArtistemail%>" disabled/>
													 			<input class="form-control" type="text" name="artistdelete3" id="artistdelete3" placeholder="Enter Artists Email Address" value="<%=author[i].writeArticle[j].article_artist[2].articleArtistemail%>" style="display:none;" />
													 			<%}%>


													    </td>
													     <td align="center">
													     	<%if(author[i].writeArticle[j].article_artist[2]==null){%>
													    	<a id="assign_<%= i%><%= j%>3" onclick="assignArtist('<%=i%>','<%=j%>','<%=author[i].writeArticle[j].title %>','<%=author[i].writeArticle[j].article %>','<%=author[i].writeArticle[j].credit %>','<%=author[i].writeArticle[j].bottomText %>','<%=author[i].writeArticle[j].articleId %>','<%=author[i].writeArticle[j]._id %>','<%=author[i]._id %>','<%= author[i].writeArticle[j].articleImage %>',<%=author[i].writeArticle[j].noOfArtist %>,this)">Assign</a><br>
													    	<%}%>
													    	<%if(author[i].writeArticle[j].article_artist[2]!=null){%>
													    	<a id="Remove_<%= i%><%= j%>3" onclick="RemoveArtist('<%=author[i].writeArticle[j].title %>','<%=author[i].writeArticle[j].article %>','<%=author[i].writeArticle[j].credit %>','<%=author[i].writeArticle[j].bottomText %>','<%=author[i].writeArticle[j].articleId %>','<%=author[i].writeArticle[j]._id %>','<%=author[i]._id %>','<%= author[i].writeArticle[j].articleImage %>',<%=author[i].writeArticle[j].noOfArtist %>,this)">Remove</a><br>
													    	<a href="">View Art Work</a>
													    	<%}%>
													    </td>
													    <td align="center">
													    	<%if( author[i].writeArticle[j].article_artist[2]){%>
													    	<%= author[i].writeArticle[j].article_artist[2].status %></td>
													    	<%}%>
									      				</tr>
									      				
													   
												</tbody>

											    
										<% } %>

								<% } %>
						<% } %>
						
					</table>
				</div>



		</div>
	</div>
	<script src="lib/jquery/jquery.js"></script>
	<script src="../js/bootstrap.js" ></script>
	<script src="../js/jquery.nav.js" ></script>
	<script src="../js/jquery-ui.js"></script>
	<script type='text/javascript'> 
	        $(document).ready(function() {
	            $('#sidebar').affix({offset: {top: $('header').height()}});	
	        });
	        
	</script>
	<script>
	var author=<% if(locals.author){%>
	      <%- JSON.stringify(author) %>
	      <%}%>;
	  $(function() {
		  	for(var i=0; i<author.length; i++){
		  		for(var k=0; k<author[i].writeArticle.length; k++) {
		  			$( "#datepicker_"+k ).datepicker();
		  		}
			}
	  });
	  </script>
	<script>
		function Request_to_bid(articleId,j){
			dueDate=$( "#datepicker_"+j ).val();
			 	//alert(dueDate)
			 	if(dueDate=='')
			 	{
			 		alert("Please assign a date");
			 		return false;
			 	}
			// var artist1=$("#artistdelete1").val();
			// var artist2=$("#artistdelete2").val();
			// var artist3=$("#artistdelete3").val();
			// console.log(artist1);
			// console.log(artist2);
			// console.log(artist3);


			$.ajax({ url: '/admin/Request_to_bid',
		         data: { 
		         	// artist1:artist1,
		         	// artist2:artist2,
		         	// artist3:artist3,
		         	articleId:articleId,
		         	dueDate:dueDate,
		         	
		         	
		         },
		         type: 'POST',
		         success: function(output) {
		         	console.log(output);
		          }
		    });

		}
		var author=<% if(locals.author){%>
	      <%- JSON.stringify(author) %>
	      <%}%>;
		function assignArtist(i,j,title,article,credit,bottomText,articleId,writeArticleId,authorId,articleImage,value,elem){
			var val=value+1;
			//$("#number").text(val);
			var id = $(elem).attr("id");
		    var x= id.split("_");
		    var idd=x[1];
		    var ind=idd[idd.length-1];
			console.log("AV "+ind);
			console.log(val);
			console.log(title);
			console.log(article);
			console.log(credit);
			console.log(bottomText);
			console.log(articleId);
			console.log(writeArticleId);
			console.log(authorId);
			console.log(articleImage);
			var artist=$("#artistSelect"+ind).val();
			//alert(artist);
			console.log(artist);
			//return false;
			if(artist=='')
			{
				window.reload();
				return false;
			}
			if(!author[i].writeArticle[j].article_artist[0]&&author[i].writeArticle[j].article_artist[0]==null)
				 {
				 	dueDate=$( "#datepicker_"+j ).val();
				 	//alert(dueDate)
				 	if(dueDate=='')
				 	{
				 		alert("Please assign a date");
				 		return false;
				 	}
				 		
				 }
				 

				else if(author[i].writeArticle[j].article_artist[0]!=null)
				 dueDate=$( "#datepicker1_"+j ).text();	
				//alert(dueDate);
				//return false;
			$.ajax({ url: '/admin/assignArtist',
		         data: { 
		         	title:title,
		         	article:article,
		         	credit:credit,
		         	bottomText:bottomText,
		         	articleId:articleId,
		         	writeArticleId:writeArticleId,
		         	authorId:authorId,
		         	artist_1:artist,
		         	articleImage:articleImage,
		         	dueDate:dueDate,
		         },
		         type: 'POST',
		         success: function(output) {
		         	// console.log("jhj")
		         	// alert("A")
		         	window.location='/assignartist';
		         	console.log(output);
	       //   		var id = $(elem).attr("id");
				    // var x= id.split("_");
				    // var idd=x[1];
				    // console.log(idd);
				    // $("#artist_"+idd).hide();
				 

		          }
		    });
		   //window.location.reload();


		}

			function RemoveArtist(title,article,credit,bottomText,articleId,writeArticleId,authorId,articleImage,value,elem){
			var val=value+1;
			//$("#number").text(val);
			var id = $(elem).attr("id");
		    var x= id.split("_");
		    var idd=x[1];
		    var ind=idd[idd.length-1];
			console.log("AV "+ind);
			console.log(val);
			console.log(title);
			console.log(article);
			console.log(credit);
			console.log(bottomText);
			console.log(articleId);
			console.log(writeArticleId);
			console.log(authorId);
			console.log(articleImage);
			var artist=$("#artistdelete"+ind).val();
			console.log(artist);
			$.ajax({ url: '/admin/RemoveArtist',
		         data: { 
		         	title:title,
		         	article:article,
		         	credit:credit,
		         	bottomText:bottomText,
		         	articleId:articleId,
		         	writeArticleId:writeArticleId,
		         	authorId:authorId,
		         	artist_1:artist,
		         	articleImage:articleImage,
		         	ind:ind
		         },
		         type: 'POST',
		         success: function(output) {
		         	location.reload();
		         	//console.log(output);
	         		var id = $(elem).attr("id");
				    var x= id.split("_");
				    var idd=x[1];
				   //console.log(idd);
				    $("#artist_"+idd).hide();
		          }
		    });


		}
	</script>
</body>
</html>