<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">
<link rel="stylesheet" href="css/jquery-ui.css">
</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>


	<div class="container">
		<div class="row">



				<div class="col-md-3 col-lg-3">
					
					<div class="nav list-group" id="sidebar">

						<ul class="nav bs-sidenav" style="background:#F7F5FA;">

							  <!-- <li class="menu active"> 
							  		<a class="primary" href="/admin">Admin Panel<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="manage_website">
								  	<a class="primary" href="/allauthors">All Authors<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="log_out">
							  		<a class="primary" href="signout">Log Out <span class="pull-right">&rsaquo;</span></a>
							  </li> -->

								  <li class="menu" id="manage_articles">
								  		<a class="primary" href="/manageArticle">Manage Articles<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="manage_members">
								  	 	<a class="primary" href="/manageMembers">Manage Members<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  
								  <li class="menu" id="manage_website">
								  		<a class="primary" href="/managewebsite">Manage Website<span class="pull-right">&rsaquo;</span></a>
								  </li>
								 <!--  <li class="menu" id="manage_website">
								  	<a class="primary" href="/allauthors">All Authors<span class="pull-right">&rsaquo;</span></a>
								  </li> -->
								  <li class="menu" id="view_donation">
								  		<a class="primary" href="#"><span class="pull-right">&rsaquo;</span>View Donation</a>
								  </li>
								  <li class="menu" id="view_distribution">
								  		<a class="primary" href="/viewdistribution">Production and Distribution<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="manage_cost">
								  		<a class="primary" href="#">Manage Cost<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="log_out">
								  		<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="password_change">
								  		<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
								  </li>
							  
						</ul>

					</div>

				</div>


				

				<div class="col-md-9  pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;">
						
						<div class="col-lg-12" style="padding-top:20px;" align="center"> <h2>Assign Reviewer</h2></div>
						<table class="table table-bordered">
						      <thead>
						        <tr>
						          
							          <th>Article Id</th>
							          <th>Article Title</th>
							          <th>Author </th>
							          <th>Due Date</th>
							          <!-- <th align="center">Reviewer </th> -->
							          <th>Email Address</th>
							          <th colspan="2" align="center">Action </th>
							          <th class="text-center">Status</th>
						        </tr>
						      </thead>
					

					<% for(var i=0; i<author.length; i++) {%>   <!--  count user -->

						<% for(var k=0; k<author[i].writeArticle.length; k++) {%>


							<%if (author[i].writeArticle[k].status == 'Request Reviewer'||author[i].writeArticle[k].status == 'Review complete') { %>

								

									      <tbody >

									      		<!-- <td rowspan="3"><%= author[i].writeArticle[k].articleId %></td>
									      		<td rowspan="3"><%= author[i].writeArticle[k].bookTitle %></td>
									      		<td rowspan="3"><%= author[i].name %> </td>
									      		 <td align="center" id="value" hidden><%= author[i].writeArticle[k].noOfreviewer %></td>
									      		<td>
										      			<input class="form-control" type="text" id="revieweremail<%=i%><%=k%>" name="reviewer_email" placeholder="Please Enter Reviewer Email"><br>

										      	</td>
									      		<td align="center">
													<button class="btn btn-primary btn-sm" id="buttonsubmit_<%=i%><%=k%>"  onclick="addReviewer('<%= author[i]._id %>','<%= author[i].writeArticle[k]._id %>',<%= author[i].writeArticle[k].noOfreviewer %>,this)">Add Reviewer</button>
									      		</td>
									      		<td>
										      			<input class="form-control" type="text" id="revieweremail<%=i%><%=k%>" name="reviewer_email" placeholder="Please Enter Reviewer Email"><br>

										      	</td>
									      		<td align="center">
													<button class="btn btn-primary btn-sm" id="buttonsubmit_<%=i%><%=k%>"  onclick="addReviewer('<%= author[i]._id %>','<%= author[i].writeArticle[k]._id %>',<%= author[i].writeArticle[k].noOfreviewer %>,this)">Add Reviewer</button>
									      		</td>
									      		<td rowspan="3"><%= author[i].writeArticle[k].status %> </td> -->

									      		<tr>
									      			<td rowspan="3"><%= author[i].writeArticle[k].articleId %></td>
									      			<td rowspan="3"><%= author[i].writeArticle[k].bookTitle %></td>
										      		<td rowspan="3"><%= author[i].name %> </td>
										      		<td rowspan="3">
										      			<%if(author[i].writeArticle[k].article_reviewer[0]==null){%>
										      			<input type="text" id="datepicker_<%=k%>">
										      			<%}%>
										      			<%if(author[i].writeArticle[k].article_reviewer[0]!=null){%>
										      			<!-- <input type="text" id="datepicker_<%=k%>"> -->
										      			<span id="datepicker1_<%=k%>"></span>
										      			<%}%>
										      		</td>
										      		<td align="center" id="value" hidden><%= author[i].writeArticle[k].noOfreviewer %></td>
										      		<td>
										      			<%if(author[i].writeArticle[k].article_reviewer[0]!=null){%>
											      			<input class="form-control" type="text" id="" name="reviewer_email" placeholder="Enter Reviewer Email" value="<%=author[i].writeArticle[k].article_reviewer[0].articleRevieweremail%>" disabled>
											      			<input class="form-control" type="text" id="deleterevieweremail<%=i%><%=k%>1" name="reviewer_email" placeholder="Enter Reviewer Email" value="<%=author[i].writeArticle[k].article_reviewer[0].articleRevieweremail%>" style="display:none;">
											      			<br>
											      		<%}%>
											      		<%if(author[i].writeArticle[k].article_reviewer[0]==null){%>
											      			<input class="form-control" type="text" id="revieweremail<%=i%><%=k%>1" name="reviewer_email" placeholder="Enter Reviewer Email" ><br>
											      		<%}%>
											      	</td>
										      		<td align="center">
										      			<%if(author[i].writeArticle[k].article_reviewer[0]==null){%>
														<a class="" id="buttonsubmit_<%=i%><%=k%>1"  onclick="addReviewer('<%=i%>','<%=k%>','<%= author[i]._id %>','<%= author[i].writeArticle[k]._id %>',<%= author[i].writeArticle[k].noOfreviewer %>,this,'0')">Request</a><br>
														<%}%>
														
														<%if(author[i].writeArticle[k].article_reviewer[0]!=null&&author[i].writeArticle[k].article_reviewer[0].status!='Complete'){%>
															<a class="" id="buttonremove_<%=i%><%=k%>1" style="" onclick="removeReviewer('<%=i%>','<%=k%>','<%= author[i]._id %>','<%= author[i].writeArticle[k]._id %>',<%= author[i].writeArticle[k].noOfreviewer %>,this)" >Remove</a><br>
														<%}%>
														<%if(author[i].writeArticle[k].article_reviewer[0]!=null&&author[i].writeArticle[k].article_reviewer[0].status=='Review complete'){%>
														<a class="" id="viewReview_<%=i%><%=k%>1" onclick="viewReview('<%= author[i]._id %>','<%= author[i].writeArticle[k]._id %>',this)" style="margin-top:5px;" >View Review</a>
														<%}%>
										      		</td>
										      		<td rowspan="3">
										      			<%if(author[i].writeArticle[k].article_reviewer[0]==null){%>
										      			<a href="/manageArticle/skipReviewer?articleId=<%= author[i].writeArticle[k]._id %>">Skip Review</a>
										      			<%}%>
										      			<%if(author[i].writeArticle[k].article_reviewer[0]!=null){%>
										      			<p>Skip Review</p>
										      			<%}%>
										      		</td>
										      		<td >
											      		<%if(author[i].writeArticle[k].article_reviewer[0]!=null){%>
											      		<%= author[i].writeArticle[k].article_reviewer[0].status %>
											      		<%}%>
											      		<%if(author[i].writeArticle[k].article_reviewer[0]==null){%>
											      		Request waiting
											      		<%}%>
										      		</td>
										      		

										      		
									      		</tr>
									      		<tr>
									      			<td align="center" id="value" hidden><%= author[i].writeArticle[k].noOfreviewer %></td>
										      		<td>
										      			<%if(author[i].writeArticle[k].article_reviewer[1]!=null){%>
											      			<input class="form-control" type="text" id="" name="reviewer_email" placeholder="Enter Reviewer Email" value="<%=author[i].writeArticle[k].article_reviewer[1].articleRevieweremail%>" disabled>
											      			<input class="form-control" type="text" id="deleterevieweremail<%=i%><%=k%>2" name="reviewer_email" placeholder="Enter Reviewer Email" value="<%=author[i].writeArticle[k].article_reviewer[1].articleRevieweremail%>" style="display:none;"><br>
											      			<%}%>
											      		<%if(author[i].writeArticle[k].article_reviewer[1]==null){%>
											      			<input class="form-control" type="text" id="revieweremail<%=i%><%=k%>2" name="reviewer_email" placeholder="Enter Reviewer Email"><br>
											      			<%}%>
											      	</td>
										      		<td align="center">
										      			<%if(author[i].writeArticle[k].article_reviewer[1]==null){%>
														<a class="" id="buttonsubmit_<%=i%><%=k%>2"  onclick="addReviewer('<%=i%>','<%=k%>','<%= author[i]._id %>','<%= author[i].writeArticle[k]._id %>',<%= author[i].writeArticle[k].noOfreviewer %>,this,'1')">Request</a><br>
														<%}%>
														<%if(author[i].writeArticle[k].article_reviewer[1]!=null&&author[i].writeArticle[k].article_reviewer[1].status!='Complete'){%>
														 <a class="" id="buttonremove_<%=i%><%=k%>2" style="" onclick="removeReviewer('<%=i%>','<%=k%>','<%= author[i]._id %>','<%= author[i].writeArticle[k]._id %>',<%= author[i].writeArticle[k].noOfreviewer %>,this)"  >Remove</a><br>
														 <%}%>
														 <%if(author[i].writeArticle[k].article_reviewer[1]!=null&&author[i].writeArticle[k].article_reviewer[1].status=='Review complete'){%>
														<a class="" id="viewReview_<%=i%><%=k%>2" onclick="viewReview('<%= author[i]._id %>','<%= author[i].writeArticle[k]._id %>',this)"style="margin-top:5px;" >View Review</a>
														 <%}%>
										      		</td>
										      		
											      	<td >
											      		<%if(author[i].writeArticle[k].article_reviewer[1]!=null){%>
											      		<%= author[i].writeArticle[k].article_reviewer[1].status %> 
											      		<%}%>
											      		<%if(author[i].writeArticle[k].article_reviewer[1]==null){%>
											      		Request waiting
											      		<%}%>
										      	</td>
									      		</tr>
									      		<tr>
									      			<td align="center" id="value" hidden><%= author[i].writeArticle[k].noOfreviewer %></td>
										      		<td>
										      			<%if(author[i].writeArticle[k].article_reviewer[2]!=null){%>
											      			<input class="form-control" type="text" id="" name="reviewer_email" placeholder="Enter Reviewer Email" value="<%=author[i].writeArticle[k].article_reviewer[2].articleRevieweremail%>" disabled>
											      			<input class="form-control" type="text" id="deleterevieweremail<%=i%><%=k%>3" name="reviewer_email" placeholder="Enter Reviewer Email" value="<%=author[i].writeArticle[k].article_reviewer[2].articleRevieweremail%>" style="display:none;"><br>
											      			<%}%>

											      			<%if(author[i].writeArticle[k].article_reviewer[2]==null){%>
											      			<input class="form-control" type="text" id="revieweremail<%=i%><%=k%>3" name="reviewer_email" placeholder="Enter Reviewer Email"><br>
											      			<%}%>

											      	</td>
										      		<td align="center">
										      			<%if(author[i].writeArticle[k].article_reviewer[2]==null){%>
														<a class="" id="buttonsubmit_<%=i%><%=k%>3"   onclick="addReviewer('<%=i%>','<%=k%>','<%= author[i]._id %>','<%= author[i].writeArticle[k]._id %>',<%= author[i].writeArticle[k].noOfreviewer %>,this,'2')">Request</a><br>
														<%}%>
														<%if(author[i].writeArticle[k].article_reviewer[2]!=null&&author[i].writeArticle[k].article_reviewer[2].status!='Complete'){%>
														 <a class="" id="buttonremove_<%=i%><%=k%>3" style="" onclick="removeReviewer('<%=i%>','<%=k%>','<%= author[i]._id %>','<%= author[i].writeArticle[k]._id %>',<%= author[i].writeArticle[k].noOfreviewer %>,this)"  >Remove</a><br>
														 <%}%>
														 <%if(author[i].writeArticle[k].article_reviewer[2]!=null&&author[i].writeArticle[k].article_reviewer[2].status=='Review complete'){%>
														<a class="" id="viewReview_<%=i%><%=k%>3" onclick="viewReview('<%= author[i]._id %>','<%= author[i].writeArticle[k]._id %>',this)" style="margin-top:5px;">View Review</a>
														 <%}%>
										      		</td>
										      		
										      		<td >
											      		<%if(author[i].writeArticle[k].article_reviewer[2]!=null){%>
											      		<%= author[i].writeArticle[k].article_reviewer[2].status %>
											      		<%}%>
											      		<%if(author[i].writeArticle[k].article_reviewer[2]==null){%>
											      		Request waiting
											      		<%}%>
										      		</td>
									      		</tr>



									    </tbody>
						     
							<% } %>
						<% } %>
					<% } %>


				</div>



		</div>
	</div>
<script src="lib/jquery/jquery.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>
<script src="../js/jquery-ui.js"></script>
<script>
var author=<% if(locals.author){%>
      <%- JSON.stringify(author) %>
      <%}%>;
  $(function() {
	  	for(var i=0; i<author.length; i++){
	  		for(var k=0; k<author[i].writeArticle.length; k++) {
	  			$( "#datepicker_"+k ).datepicker();
	  		}
		}
  });
  </script>
  <script type="text/javascript">
  	var author=<% if(locals.author){%>
      <%- JSON.stringify(author) %>
      <%}%>;
      $(document).ready(function() 
        {

        	for(var i=0; i<author.length; i++){
	  		for(var k=0; k<author[i].writeArticle.length; k++) {
	  			//$( "#datepicker_"+k ).datepicker();
	  			if(author[i].writeArticle[k].article_reviewer[0]){
	  				time1 = author[i].writeArticle[k].article_reviewer[0].dueDate;
		  			var dateTime1=new Date(time1);
					var month=dateTime1.getMonth()+1;
					var date1=dateTime1.getFullYear()+"/"+month+"/"+dateTime1.getDate();
					//alert(date1);
					$("#datepicker1_"+k).text(time1)
	  			}
	  			
	  		}
		}
          
        });
  </script>
<script type='text/javascript'> 
        $(document).ready(function() {
            $('#sidebar').affix({offset: {top: $('header').height()}});	
        });

	// function skip_review(userid,articleId,value,elem){
	// 	var val=value+1;
	// 	$("#value").text(val);

	// 	console.log(val);
	// 	console.log('Test reviewer')
	// 	var id = $(elem).attr("id");
	// 	console.log(id);
	// 	var x= id.split("_");
	// 	console.log(x);
	// 	var idd=x[1];
	// 	console.log(idd);
	// 	var reviewer_1=$("#revieweremail"+idd).val();
	// 	// $("#revieweremail"+idd).attr("disabled", "disabled");
	// 	console.log(reviewer_1);
		
	// 	$.ajax({ url: '/manageArticle/skipReviewer',
	//          data: { userid:userid,
	//          		 articleId:articleId,
	//          		 reviewer:reviewer_1,


	//          },
	//          type: 'POST',
	//          success: function(output) {
	         	
	//          	console.log(output);
	//          	window.location.reload();

	//           }
	//     });  
	// }

		function viewReview(userid,articleId,elem){
		// var val=value+1;
		// $("#value").text(val);

		// console.log(val);
		console.log('Test reviewer')
		var id = $(elem).attr("id");
		console.log(id);
		var x= id.split("_");
		console.log(x);
		var idd=x[1];
		var ind=idd[idd.length-1];
		console.log(ind);
		var reviewer_1=$("#deleterevieweremail"+idd).val();
		// $("#revieweremail"+idd).attr("disabled", "disabled");
		console.log(reviewer_1);
		
		$.ajax({ url: '/manageArticle/viewReview',
	         data: { userid:userid,
	         		 articleId:articleId,
	         		 reviewer:reviewer_1,
	         		 ind:ind,

	         },
	         type: 'POST',
	         success: function(output) {
	         	
	         	console.log(output);
	         	window.location=output;

	          }
	    });  
	}
		function removeReviewer(i,k,userid,articleId,value,elem){
		var val=value+1;
		$("#value").text(val);

		console.log(val);
		console.log('Test reviewer')
		var id = $(elem).attr("id");
		console.log(id);
		var x= id.split("_");
		console.log(x);
		var idd=x[1];
		var ind=idd[idd.length-1];
		console.log(ind);
		var reviewer_1=$("#deleterevieweremail"+idd).val();
		// $("#revieweremail"+idd).attr("disabled", "disabled");
		console.log(reviewer_1);
		
		$.ajax({ url: '/manageArticle/deleteReviewer',
	         data: { userid:userid,
	         		 articleId:articleId,
	         		 reviewer:reviewer_1,
	         		 ind:ind,

	         },
	         type: 'POST',
	         success: function(output) {
	         	
	         	console.log(output);
	         	window.location.reload();

	          }
	    });  
	}
	var author=<% if(locals.author){%>
      <%- JSON.stringify(author) %>
      <%}%>;
	function addReviewer(i,k,userid,articleId,value,elem,ind){
		var val=value+1;
		var dueDate;
		$("#value").text(val);
		if(!author[i].writeArticle[k].article_reviewer[0]&&author[i].writeArticle[k].article_reviewer[0]==null)
		 	dueDate=$( "#datepicker_"+k ).val();
		 	
		else if(author[i].writeArticle[k].article_reviewer[0]!=null)
		 dueDate=$( "#datepicker1_"+k ).text();
		
		// console.log(val);
		// console.log('Test reviewer')
		var id = $(elem).attr("id");
		//console.log(id);
		var x= id.split("_");
		//console.log(x);
		var idd=x[1];
		//console.log(idd);
		var reviewer_1=$("#revieweremail"+idd).val();
		//console.log(reviewer_1);
		
		$.ajax({ url: '/manageArticle/selectReviewer',
	         data: { userid:userid,
	         		 articleId:articleId,
	         		 reviewer:reviewer_1,
	         		 dueDate:dueDate,

	         },
	         type: 'POST',
	         success: function(output) {
	         	
	         	console.log(output);
	         	window.location.reload();

	          }
	    });  
	}
        
</script>



</body>
</html>