<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" type="text/css" href="/lib/bootstrap3/css/bootstrap.css">
<link href="../css/123abcd.css" type="text/css" rel="stylesheet">


<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>

	<div class="container">
		
		<div class="row">
			
			<div class="col-md-3 col-lg-3">
				
				<div class="nav list-group" id="sidebar">

					<ul class="nav bs-sidenav" style="background:#F7F5FA;">

						  <li class="menu active"><a class="primary">Hello</b> </a></li>
						  <li class="menu" id="review_article"><a class="primary" href="/userArticle">User Account<span class="pull-right">&rsaquo;</span></a></li>
						   
						  		<li class="menu" id="new_article">
						  			<a class="primary" href="/writeNewArticle">Submit New Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
						  		<li class="menu" id="guide_line">
						  			<a class="primary" href="/previous">Previous Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
							  <li class="menu" id="guide_line">
							  	<a class="primary" href="/guideline">Guide Lines<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="log_out">
							  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="password">
							  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="update_profile">
							  	<a class="primary" href="/users/updateUserProfile">Update Profile<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu active" id="homepage">
							  	<a class="primary" href="/">Home Page<span class="pull-right">&rsaquo;</span></a>
							  </li>

					</ul>

				</div>

			</div>


			<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:768px;height:auto;">
				
				<div class="col-lg-12" style="padding-top:40px;">
					<table class="table table-bordered">
					      <thead>
					        <tr>
					          
					          <th>Title of Book</th>
					          <th class="text-center">Option</th>
					        </tr>
					      </thead>
						<% for(var i=0; i<author.writeArticle.length; i++) {%>

							<% if(author.writeArticle[i].status == 'Request Authors Approval') { %>
								<tbody>

									<td><%= author.writeArticle[i].bookTitle %></td>
									<td align="center">
										<a href="/authorapprovalarticle?articleId=<%=author.writeArticle[i]._id %>">
											<button class="btn btn-primary btn-xs">View Article</button>
										</a>
									</td>

								</tbody>

							<% } %>
						<% } %>
			
				</div>

			</div>


		</div>
		
	</div>



</body>
<script src="lib/jquery/jquery.min.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>

<script type='text/javascript'> 
        $(document).ready(function() {
            $('#sidebar').affix({offset: {top: $('header').height()}});	
        });
        
</script> 


</html>