<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>

	<div class="container">
		<div class="row">
		
		
			
				<div class="col-md-3 col-lg-3">
					
					<div class="nav list-group" id="sidebar">

						<ul class="nav bs-sidenav" style="background:#F7F5FA;">

							  <li class="menu active">
							  		<a class="primary">Hello, Author !!<span class="pull-right"></span></a> 
							  </li>

							  <li class="menu" id="review_article">
							  		<a class="primary" href="/reviewarticle">Reviewer Pannel<span class="pull-right">&rsaquo;</span></a>
							  </li>

							  <li class="menu active" id="authorPenel">
							  	<a class="primary" href="/userArticle">Author Pannel<span class="pull-right">&rsaquo;</span></a>
							  </li>
						  		<li class="menu" id="new_article">
						  			<a class="primary" href="/writeNewArticle">Submit New Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
						  		<li class="menu" id="guide_line">
						  			<a class="primary" href="/previous">Previous Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
							  <li class="menu" id="guide_line">
							  	<a class="primary" href="/guideline">Guide Lines<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="log_out">
							  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="password">
							  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="update_profile">
							  	<a class="primary" href="/users/updateUserProfile">Update Profile<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu active" id="homepage">
							  	<a class="primary" href="/">Home Page<span class="pull-right">&rsaquo;</span></a>
							  </li>

						</ul>

					</div>

				</div>
				<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;padding-top:20px;">
						<div class="col-lg-12">
								<div class="col-lg-12 panel panel-success" >

									<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
										<div class="col-lg-12" >	
												<h3><b>Title of the Book : <%=article.bookTitle %></b></h3>
										</div>

									</div>

								</div>
								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 1 

										</div>

											<div class="col-lg-3"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.articleImage %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-6"> 
													<%= article.title%><br>
													<%=article.article%><br>
													<%=article.credit%><br>
													<%=article.bottomText%><br>

											</div>
											<%if(article.artistImage1 != 'undefined') {%>
											<div class="col-lg-3" style="display:none;" id="show_img"> 
													<img class="img-thumbnail" style="width:187px;height:130px;"  id="new_image"   src="..<%=article.artistImage1 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<%}%>

										</div>

								</div>

								<% if(article.articleTitle2){%>

										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 2

												</div>
												
													<div class="col-lg-3"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img2 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-6"> 
															<%= article.articleTitle2%><br>
															<%=article.article2%><br>
															<%=article.source2%><br>
															<%=article.bottomText2%><br>

													</div>
													<%if(article.artistImage2 != 'undefined') {%>
													<div class="col-lg-3" style="display:none;" id="show_img2" > 
															<img class="img-thumbnail" style="width:187px;height:130px;"  id="new_image2"   src="..<%=article.artistImage2 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<%}%>
												</div>

										</div>
								<%}%>

								<% if(article.articleTitle3){%>

										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 3

												</div>
												
													<div class="col-lg-3"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img3 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-6"> 
															<%= article.articleTitle3%><br>
															<%=article.article3%><br>
															<%=article.source3%><br>
															<%=article.bottomText3%><br>

													</div>
													<%if(article.artistImage3) {%>
													<div class="col-lg-3" style="display:none;" id="show_img3"> 
															<img class="img-thumbnail" style="width:187px;height:130px;"  id="new_image3"   src="..<%=article.artistImage3 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<%}%>
												</div>

										</div>

								<%}%>

								<% if(article.articleTitle4){%>
										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 4

												</div>
												
													<div class="col-lg-3"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img4 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-6"> 
															<%= article.articleTitle4%><br>
															<%=article.article4%><br>
															<%=article.source4%><br>
															<%=article.bottomText4%><br>

													</div> 
													<%if(article.artistImage4) {%>
													<div class="col-lg-3" style="display:none;" id="show_img4"> 
														<img class="img-thumbnail" style="width:187px;height:130px;"  id="new_image4"   src="..<%=article.artistImage4 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<%}%>
												</div>

										</div>
								<%}%>
							<% if(article.articleTitle5){%>
										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 5

												</div>
												
													<div class="col-lg-3"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img5 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-6"> 
															<%= article.articleTitle5%><br>
															<%=article.article5%><br>
															<%=article.source5%><br>
															<%=article.bottomText5%><br>

													</div> 
													<%if(article.artistImage5) {%>
													<div class="col-lg-3" style="display:none;" id="show_img5"> 
														<img class="img-thumbnail" style="width:187px;height:130px;"  id="new_image5"   src="..<%=article.artistImage5 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<%}%>
												</div>

										</div>
								<%}%>
								<% if(article.articleTitle6){%>
										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 6

												</div>
												
													<div class="col-lg-3"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img6 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-6"> 
															<%= article.articleTitle6%><br>
															<%=article.article6%><br>
															<%=article.source6%><br>
															<%=article.bottomText6%><br>

													</div> 
													<%if(article.artistImage6) {%>
													<div class="col-lg-3" style="display:none;" id="show_img6"> 
														<img class="img-thumbnail" style="width:187px;height:130px;"  id="new_image6"   src="..<%=article.artistImage6 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<%}%>
												</div>

										</div>
								<%}%>
								<% if(article.articleTitle7){%>
										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 7

												</div>
												
													<div class="col-lg-3"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img7 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-6"> 
															<%= article.articleTitle7%><br>
															<%=article.article7%><br>
															<%=article.source7%><br>
															<%=article.bottomText7%><br>

													</div> 
													<%if(article.artistImage7) {%>
													<div class="col-lg-3" style="display:none;" id="show_img7"> 
														<img class="img-thumbnail" style="width:187px;height:130px;"  id="new_image7"   src="..<%=article.artistImage7 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<%}%>
												</div>

										</div>
								<%}%>
								<% if(article.articleTitle8){%>
										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 8

												</div>
												
													<div class="col-lg-3"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img8 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-6"> 
															<%= article.articleTitle8%><br>
															<%=article.article8%><br>
															<%=article.source8%><br>
															<%=article.bottomText8%><br>

													</div> 
													<%if(article.artistImage8) {%>
													<div class="col-lg-3" style="display:none;" id="show_img8"> 
														<img class="img-thumbnail" style="width:187px;height:130px;"  id="new_image8"   src="..<%=article.artistImage8 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<%}%>
												</div>

										</div>
								<%}%>
								<% if(article.articleTitle9){%>
										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 9

												</div>
												
													<div class="col-lg-3"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img9 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-6"> 
															<%= article.articleTitle9%><br>
															<%=article.article9%><br>
															<%=article.source9%><br>
															<%=article.bottomText9%><br>

													</div> 
													<%if(article.artistImage9) {%>
													<div class="col-lg-3" style="display:none;" id="show_img9"> 
														<img class="img-thumbnail" style="width:187px;height:130px;"  id="new_image9"   src="..<%=article.artistImage9 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<%}%>
												</div>

										</div>
								<%}%>
								<% if(article.articleTitle10){%>
										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 10

												</div>
												
													<div class="col-lg-3"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img10 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-6"> 
															<%= article.articleTitle10%><br>
															<%=article.article10%><br>
															<%=article.source10%><br>
															<%=article.bottomText10%><br>

													</div> 
													<%if(article.artistImage10) {%>
													<div class="col-lg-3" style="display:none;" id="show_img10"> 
														<img class="img-thumbnail" style="width:187px;height:130px;"  id="new_image10"   src="..<%=article.artistImage10 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<%}%>
												</div>

										</div>
								<%}%>
								<% if(article.articleTitle11){%>
										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 11

												</div>
												
													<div class="col-lg-3"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img11 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-6"> 
															<%= article.articleTitle11%><br>
															<%=article.article11%><br>
															<%=article.source11%><br>
															<%=article.bottomText11%><br>

													</div> 
													<%if(article.artistImage11) {%>
													<div class="col-lg-3" style="display:none;" id="show_img11"> 
														<img class="img-thumbnail" style="width:187px;height:130px;"  id="new_image11"   src="..<%=article.artistImage11 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<%}%>
												</div>

										</div>
								<%}%>
								<% if(article.articleTitle12){%>
										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 12

												</div>
												
													<div class="col-lg-3"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img12 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-6"> 
															<%= article.articleTitle12%><br>
															<%=article.article12%><br>
															<%=article.source12%><br>
															<%=article.bottomText12%><br>

													</div> 
													<%if(article.artistImage12) {%>
													<div class="col-lg-3" style="display:none;" id="show_img12"> 
														<img class="img-thumbnail" style="width:187px;height:130px;"  id="new_image12"   src="..<%=article.artistImage12 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<%}%>
												</div>

										</div>
								<%}%>
								<% if(article.articleTitle13){%>
										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 13

												</div>
												
													<div class="col-lg-3"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img13 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-6"> 
															<%= article.articleTitle13%><br>
															<%=article.article13%><br>
															<%=article.source13%><br>
															<%=article.bottomText13%><br>

													</div> 
													<%if(article.artistImage13) {%>

													<div class="col-lg-3" style="display:none;" id="show_img13"> 
														<img class="img-thumbnail" style="width:187px;height:130px;"  id="new_image13"   src="..<%=article.artistImage13 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<%}%>
												</div>

										</div>
								<%}%>
								<% if(article.articleTitle14){%>
										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 14

												</div>
												
													<div class="col-lg-3"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img14 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-6"> 
															<%= article.articleTitle14%><br>
															<%=article.article14%><br>
															<%=article.source14%><br>
															<%=article.bottomText14%><br>

													</div> 
													<%if(article.artistImage14) {%>
													<div class="col-lg-3" style="display:none;" id="show_img14"> 
														<img class="img-thumbnail" style="width:187px;height:130px;"  id="new_image14"   src="..<%=article.artistImage14 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<%}%>
												</div>

										</div>
								<%}%>
								<% if(article.articleTitle15){%>
										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 15

												</div>
												
													<div class="col-lg-3"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img15 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-6"> 
															<%= article.articleTitle15%><br>
															<%=article.article15%><br>
															<%=article.source15%><br>
															<%=article.bottomText15%><br>

													</div> 
													<%if(article.artistImage15) {%>
													<div class="col-lg-3" style="display:none;" id="show_img15"> 
														<img class="img-thumbnail" style="width:187px;height:130px;"  id="new_image15"   src="..<%=article.artistImage15 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<%}%>
												</div>

										</div>
								<%}%>
								<% if(article.articleTitle16){%>
										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 16

												</div>
												
													<div class="col-lg-3"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img16 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-6"> 
															<%= article.articleTitle16%><br>
															<%=article.article16%><br>
															<%=article.source16%><br>
															<%=article.bottomText16%><br>

													</div> 
													<%if(article.artistImage16) {%>
													<div class="col-lg-3" style="display:none;" id="show_img16"> 
														<img class="img-thumbnail" style="width:187px;height:130px;"  id="new_image16"   src="..<%=article.artistImage16 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<%}%>
												</div>

										</div>
								<%}%>
								<div class="col-lg-12 panel panel-success" style="padding-top:20px;padding-bottom:20px;">
									<div class="col-lg-12" align="center">
											<div class="col-lg-4" style="display:none;" id="message">
												<p>Data Saved Successfully</p>
											</div>

											<div class="col-lg-4" style="display:none;" id="messageReject">
												<p>Data Rejected Successfully</p>
											</div>
									</div>

									<div class="col-lg-12 text-right"  align="right">		
											<button class="btn btn-primary" id="img" style="width:140px;">Show Artist Image</button> 
													
													
											<button class="btn btn-primary" id="accept" onclick="acceptimage('<%=article._id %>')" style="width:140px;">Accept Image</button>
													
													
											<button class="btn btn-primary" id="reject" onclick="reject('<%=article._id %>')" style="width:140px;">Reject Image</button>
											
									</div>

								</div>



						</div>

				</div>
		</div>
	</div>

</body>


<script src="lib/jquery/jquery.min.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>

<script type='text/javascript'> 
        $(document).ready(function() 
        {
            $('#sidebar').affix({offset: {top: $('header').height()}});	

        });


      $("#img").click(function()
	  {
	  		console.log('Show Data');
	  		$("#show_img").show();
	  		$("#show_img2").show();
	  		$("#show_img3").show();
	  		$("#show_img4").show();
	  		$("#show_img5").show();
	  		$("#show_img6").show();
	  		$("#show_img7").show();
	  		$("#show_img8").show();
	  		$("#show_img9").show();
	  		$("#show_img10").show();
	  		$("#show_img11").show();
	  		$("#show_img12").show();
	  		$("#show_img13").show();
	  		$("#show_img14").show();
	  		$("#show_img15").show();
	  		$("#show_img16").show();

	  });
        
</script>


<script>
function acceptimage(index){

	console.log('Show');
    $.ajax({ url: '/users/acceptArtistImage',
	     data: { 
	     	index:index


	     },
	     type: 'POST',
	     success: function(output) {
	     	
	        $("#message").show();
	      }
	}); 
}

function reject(index){

    $.ajax({ url: '/users/rejectArtistImage',
	     data: { 
	     	index:index


	     },
	     type: 'POST',
	     success: function(output) {
	     	
	     	$("#messageReject").show();
	        
	      }
	});

}

</script>

<script>

</script>
</html>