<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>


	<div class="container">
		<div class="row">



				<div class="col-md-3 col-lg-3">
					
					<div class="nav list-group" id="sidebar">

						<ul class="nav bs-sidenav" style="background:#F7F5FA;">
								 <li class="menu active">
						  			<a class="primary">Hello, Artist!!<span class="pull-right">&rsaquo;</span></a> 
						 		</li>
						 		<li class="menu"> 
								  		<a class="primary" href="/userArticle">Author Panel<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu active"> 
								  		<a class="primary" href="/waiting_for_acceptence">Decide to participate<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu"> 

								  		<a class="primary" href="/currentlyworkingartist">Currently Working On<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu"> 
								  		<a class="primary" href="/previouslyworkedartist">Previously SUbmitted<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  
								 
						  		<li class="menu" id="new_article">
						  			<a class="primary" href="/writeNewArticle">Submit New Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
						  		<li class="menu" id="guide_line">
						  			<a class="primary" href="/previous">Previous Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
							  <li class="menu" id="guide_line">
							  	<a class="primary" href="/guideline">Guide Lines<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="log_out">
							  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="password">
							  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="update_profile">
							  	<a class="primary" href="/users/updateUserProfile">Update Profile<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu active" id="homepage">
							  	<a class="primary" href="/">Home Page<span class="pull-right">&rsaquo;</span></a>
							  </li>


							</ul>

					</div>

				</div>


				

				<div class="col-md-9  pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;">
						
						<div class="col-lg-12" style="padding-top:20px;" align="center"> <h2>Bidding Article</h2></div>
						
							<table class="table table-bordered">
						      <!-- <thead>
						        <tr>
						          
							          <th>Article Title</th>
							          <th>Author</th>
							          <th>Action</th>
							          
						        </tr>
						      </thead> -->
						       <thead>
							        <tr>
							          
							          <th>Article</th>
							          <th>Bid Started</th>
							          <th>Bid End</th>
							          <th>Lowest Bid</th>
							          <th>Your Previous Bid</th>
							          <th>Place a bid</th>
							          <!-- <th class="text-center">Option</th> -->
							        </tr>
						      	</thead>
						      	<tbody>	
						      		<%for(var i=0;i<user.selected_Artist.length;i++){%>
						      			<%if(user.selected_ArtistId[i].id==article._id){%>
											<tr id="review_<%= i%>">
												<td><a href="/viewBidding_Article?articleId=<%=user.selected_Artist[i]._id%>"><%= user.selected_Artist[i].bookTitle%></a></td>
												    <td><span id="startDate_<%=i%>"></td>
												    <td><%= user.selected_ArtistId[i].endDate%></td>
												    <td><span id="lowestbid_<%=i%>"></span></td>
												    <td>
												    	<span id="myprebid_<%=i%>"></span>
												    </td>
												    <td><input type="text" name="cost" id="cost<%=i%>">

												    	<input type="button" class="btn btn-primary" onclick="Request_to_bid('<%=user.selected_Artist[i]._id%>','<%=author._id%>','<%=user.selected_Artist[i].no_page%>','<%=i%>')" id="confirmation_draft" value="Submit">
												    </td> 
										     </tr>
										<%}%>
								    <%}%>
								</tbody>

						      <!-- <tbody>
						      		<td><%=article.bookTitle%></td>
						      		<td><%=author.name%></td>
						      		<td><a href="/viewBidding_Article?articleId=<%=article._id%>">View</a> / <a data-toggle="modal" data-target="#ModalBidding" >Bid</a></td>
						      </tbody> -->



				</div>
				<div class="modal fade " id="ModalBidding" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  		<!-- <form  method="post" action="" enctype="multipart/form-data">
					  		<div class="modal-dialog">
					  	
							    <div class="modal-content">
							      <div class="modal-header" style="background-color:yellowGreen;">
							        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							        <h4 align="center"  class="modal-title" id="myModalLabel">Bidding Process</h4>
							      </div>
							      <div class="modal-body" style="height:200px;">
							          <div class="col-lg-12" style="padding-top:45px;" align="center">
							              <level>No of Pages:</level>
							              <input type="number" name="no_image" id="no_image" value="">
							          </div>
							          <div class="col-lg-12" style="padding-top:45px;" align="center">
							              <level>Cost per page:</level>
							              <input type="text" name="cost" id="cost">
							          </div>

							      </div>
							      <div class="modal-footer" style="background-color:aliceBlue;">
							        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
							        <input type="button" class="btn btn-primary" data-dismiss="modal" onclick="Request_to_bid('<%=article._id%>','<%=author._id%>')" id="confirmation_draft" value="Submit">
							      </div>
							    </div>
					    
					  </div>
				  </form> -->
				</div>


		</div>
	</div>
<script src="lib/jquery/jquery.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>
<script src="../js/jquery.raty.js" type="text/javascript"></script>
<script type='text/javascript'> 
var nopage='<%=article.morepage%>'
nopage=parseInt(nopage)+1;
$("#no_image").val(nopage);
		function Request_to_bid(articleId,authorId,noImage,i){
			var no_image=$("#no_image").val();
			var cost=$("#cost"+i).val();
			console.log("rdufufgdfgsucjgdcujg")
			$.ajax({ url: '/bidding',
		         data: { 
		         	no_image:noImage,
		         	cost:cost,
		         	articleId:articleId,
		         	authorId:authorId
		         },
		         type: 'POST',
		         success: function(output) {
		         	console.log(output);
		          }
		    });

		}
</script>
<script type="text/javascript">
var article=<% if(locals.article){%>
      <%- JSON.stringify(article) %>
      <%}%>;
var user=<% if(locals.user){%>
      <%- JSON.stringify(user) %>
      <%}%>;

		 for(var i=0;i<user.selected_Artist.length;i++) {
			if(user.selected_ArtistId[i].id==article._id){
					
					time1 = user.selected_ArtistId[i].startDate;
		  			var dateTime1=new Date(time1);
		  			var month=dateTime1.getMonth()+1;
					var date1=dateTime1.getFullYear()+"/"+month+"/"+dateTime1.getDate();
					$('#startDate_'+i).text(date1);
			}
		}

		 for(var k=0;k<user.selected_Artist.length;k++) {
      		if(article.bidding_Article&&article.bidding_Article.length<1)
		      {
		      	$("#lowestbid_"+k).text('0');
		      	$("#myprebid_"+k).text('0');
		      }
		      else
		      {
		      	var array=[];
		      	for(var i=0;i<article.bidding_Article.length;i++)
		      	{
		      			array[i]=article.bidding_Article[i].cost;
		      	}
		      	var x= Math.min.apply(Math,array);// min(rticle[k].bidding_Article);
		      	$("#lowestbid_"+k).text(x)
		      }

		      
		      if(article.bidding_Article&&article.bidding_Article.length>=1)
		      {
		      	for(var i=0;i<article.bidding_Article.length;i++)
		      	{
		      		if(article.bidding_Article[i].artistEmail==user.email)
		      		{
		      			$("#myprebid_"+k).text(article.bidding_Article[i].cost)
		      		}
		      	}
		      	
		      }
     }
</script>


</body>
</html>