<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>

	<div class="container">
		<div class="row">
			


				<div class="col-md-3 col-lg-3">
					
					<div class="nav list-group" id="sidebar">

						<ul class="nav bs-sidenav" style="background:#F7F5FA;">
								  <li class="menu active" id="admin"> 
								  	 	<a class="primary" href="/admin">Admin Pannel<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="manage_articles">
								  	<a class="primary" href="/manageArticle">Manage Articles<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_members"> 
								  	<a class="primary" href="/manageMembers">Manage Members<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="manage_website">
								  	<a class="primary" href="/managewebsite">Manage Website<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="view_donation">
								  	<a class="primary" href="#">View Donation<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="view_distribution">
								  	<a class="primary" href="#">Production and Distribution<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_cost">
								  	<a class="primary" href="/viewdistribution">Manage Cost<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="log_out">
								  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="password_change">
								  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
								  </li>
							</ul>

					</div>

				</div>


				<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;">
						<div class="col-lg-12" align="center" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;"> <h2>Decision after Review</h2> </div>
						
						<table class="table table-bordered">
					      <thead>
					        <tr >
					          
					          <th>Article Id</th>
					          <th>Title</th>
					          <th>Author</th>
					          
					          <th class="text-center">Option</th>
					        </tr>
					      </thead>
					   		
					   			<tbody>
					   				<%for(var i=0;i<author.length;i++){%>
					   				<%if(article[i].status=='Review complete'||article[i].status=='With Condition'){%>
					   				<tr>
					   				<td><%=article[i].articleId %></td>
					   				<td><%=article[i].bookTitle %></td>
					   				<td><%=author[i].name %></td>
					   				<td><a   data-toggle="modal" data-target="#myModalDraft" onclick="viewComment('<%=i%>')">View Reviewer’s Comment</a> / <a href="/acceptArticle?user=<%=author[i]._id%>&article=<%=article[i]._id%>">Accept</a>  / <a href="/changeRequest?author=<%=author[i]._id%>&article=<%=article[i]._id%>">Request Change</a> / <a href="/rejectArticle?author=<%=author[i]._id%>&article=<%=article[i]._id%>">Reject</a> </td>
					   				</tr>
					   			<%}%>
					   				<%}%>
					   			</tbody>
					</table>
				
					<div class="col-lg-12" align="center" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;"> <h2>Decision after Changed Request</h2> </div>
						
						<table class="table table-bordered">
					      <thead>
					        <tr >
					          
					          <th>Article Id</th>
					          <th>Title</th>
					          <th>Author</th>
					          
					          <th class="text-center">Option</th>
					        </tr>
					      </thead>
					   		
					   			<tbody>
					   				<%for(var i=0;i<author.length;i++){%>
					   				<%if(article[i].status=='Request Changed' ){%>
					   				<tr>
					   				<td><%=article[i].articleId %></td>
					   				<td><%=article[i].bookTitle %></td>
					   				<td><%=author[i].name %></td>
					   				<td><a href="/viewChangedarticle?id=<%=author[i]._id%>&article=<%=article[i]._id%>">View</a> / <a   data-toggle="modal" data-target="#myModalDraft" onclick="viewComment('<%=i%>')">View Reviewer’s Comment</a> / <a href="/acceptArticle?user=<%=author[i]._id%>&article=<%=article[i]._id%>">Accept</a>  / <a href="/changeRequest?author=<%=author[i]._id%>&article=<%=article[i]._id%>">Request Change</a> / <a href="/rejectArticle?author=<%=author[i]._id%>&article=<%=article[i]._id%>">Reject</a> </td>
					   				</tr>
					   			<%}%>
					   			<%}%>
					   			</tbody>
					   		
						
					</table>
					
				</div>
				<div class="modal fade " id="myModalDraft" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					        <h4 class="modal-title" id="myModalLabel">Reviewer’s Comment </h4>
					      </div>
					      <div class="modal-body" style="height:200px;">
					          <div class="col-lg-12" style="padding-top:45px;" align="left">
					          	<div  class="col-lg-12">
					          		<p><b>Samarize Review:</b></p>
					          		<p id="comment"></p>
					          	</div>
					          	<div  class="col-lg-12">
					          		<p><b>Details Review:</b></p>
					          		<%for(var i=1;i<=16;i++){%>
					          			<p id="comment<%=i%>"></p>
					          		<%}%>
					          		
					          	</div>
					              
					          </div>

					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-danger" data-dismiss="modal">Ok</button>
					       <!--  <button type="button" class="btn btn-primary" data-dismiss="modal"  id="confirmation_draft">Continue</button> -->
					      </div>
					    </div>
					  </div>
					</div>


		</div>
	</div>
	<script src="lib/jquery/jquery.js"></script>
	<script src="../js/bootstrap.js" ></script>
	<script src="../js/jquery.nav.js" ></script>
	<script src="../js/jquery-1.10.2.js" ></script>
	<script type='text/javascript'>
	
	 
	        $(document).ready(function() {
	            $('#sidebar').affix({offset: {top: $('header').height()}});	
	        });
	        
	</script>

	<script>
	var article= <% if(locals.article){%>
      <%- JSON.stringify(article) %>
      <%}%>;
	function viewComment(k){
			$( "#comment" ).empty();
			<% for(var l=1;l<=16;l++){%>
					$("#comment<%=l%>" ).empty();
				<%}%>
			for(var i=0;i<article[k].articleReviewer_comment.length;i++)
			{
				$("#comment").append('<p>'+article[k].articleReviewer_comment[i].comment+'</p>');
				<% for(var l=1;l<=16;l++){%>
					$("#comment<%=l%>").append('<p>'+article[k].articleReviewer_comment[i].comment<%=l%>+'</p>');
				<%}%>
			}

		}
	</script>
</body>
</html>