<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../css/123abcd.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>
	<div class="container">
		<div class="row">

				<div class="col-md-3 col-lg-3">
					
					<div class="nav list-group" id="sidebar">

							<ul class="nav bs-sidenav" style="background:#F7F5FA;">


								 <li class="menu active">
						  			<a class="primary"  href="/artist">Hello, Artist!!<span class="pull-right">&rsaquo;</span></a> 
						 		</li>
								<li class="menu"> 
								  	<a class="primary" href="/userArticle">Author Panel<span class="pull-right">&rsaquo;</span></a>
								</li>

								 <li class="menu active"> 
								  	<a class="primary" href="/waiting_for_acceptence">Decide to participate<span class="pull-right">&rsaquo;</span></a>
								 </li>
								 <li class="menu"> 

								  	<a class="primary" href="/currentlyworkingartist">Currently Working On<span class="pull-right">&rsaquo;</span></a>
								 </li>
								 <li class="menu"> 
								  	<a class="primary" href="/previouslyworkedartist">Previously Submitted<span class="pull-right">&rsaquo;</span></a>
								 </li>
								  
								  
						  		<li class="menu" id="new_article">
						  			<a class="primary" href="/writeNewArticle">Submit New Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
						  		<li class="menu" id="guide_line">
						  			<a class="primary" href="/previous">Previous Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
							  <li class="menu" id="guide_line">
							  	<a class="primary" href="/guideline">Guide Lines<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="log_out">
							  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="password">
							  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="update_profile">
							  	<a class="primary" href="/users/updateUserProfile">Update Profile<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu active" id="homepage">
							  	<a class="primary" href="/">Home Page<span class="pull-right">&rsaquo;</span></a>
							  </li>


							</ul>

					</div>
				</div>
				<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;padding-top:40px;">
					

					
						<table class="table table-bordered">
						     	 <thead>
							        <tr>
							          
							          <th>Article Id</th>
							          <th>Title of The Book</th>
							          <th class="text-center">Option</th>
							        </tr>
						      	</thead>
								<% for(var i=0;i<user.selectedArtist.length;i++) {%>

								
									
										<%if (user.selectedArtist[i].status == 'Accepted') { %>

												<tbody>	
														<td><%= user.selectedArtist[i].articleId%></td>
													    <td><%= user.selectedArtist[i].bookTitle%></td>
													    <td align="center">
													    	<a href="/artistarticle?articleId=<%=user.selectedArtist[i]._id%>" >View</a>
													    	
													    </td>
												</tbody>



										<% } %>  
									
								<% } %>
						</table>

				</div>

		</div>

	</div>


<script src="../js/jquery.min.js"></script>
<script src="../js/jquery.ui.widget.js"></script>
<script src="../js/jquery.fileupload.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>

<script type='text/javascript'> 
        $(document).ready(function() {
            $('#sidebar').affix({offset: {top: $('header').height()}});	
        });
        
</script>

<script>

</script>
</body>
</html>