<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" type="text/css" href="/lib/bootstrap3/css/bootstrap.css">
<link href="../css/123abcd.css" type="text/css" rel="stylesheet">
<link href="../css/123article.css" type="text/css" rel="stylesheet">
<link href="../css/jquery.tagit.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>

	<div class="container">
		
		<div class="row">
			
			<div class="col-md-3">
				
				<div class="nav list-group" id="sidebar">

						<ul class="nav bs-sidenav" style="background:#F7F5FA;" >
							  
							<li class="menu active" id="authorPenel"><a class="primary" href="/userArticle">Author Pannel<span class="pull-right">&rsaquo;</span></a></li>
					  		<li class="menu" id="new_article"><a class="primary" href="/writeNewArticle">Submit New Article<span class="pull-right">&rsaquo;</span></a></li>
					  		<li class="menu" id="guide_line"><a class="primary" href="/previous">Previous Article<span class="pull-right">&rsaquo;</span></a></li>
						  <li class="menu" id="guide_line"><a class="primary" href="/guideline">Guide Lines<span class="pull-right">&rsaquo;</span></a></li>
						  <li class="menu" id="log_out"><a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a></li>
						  <li class="menu" id="password"><a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a></li>
						  <li class="menu" id="donation"><a class="primary" href="/donors">Donation<span class="pull-right">&rsaquo;</span></a></li>
						  <li class="menu" id="update_profile"><a class="primary" href="/users/updateUserProfile">Update Profile<span class="pull-right">&rsaquo;</span></a></li>
						  <li class="menu active" id="homepage"><a class="primary" href="/">Home Page<span class="pull-right">&rsaquo;</span></a></li>

							  
					  		
						</ul>

				</div>

			</div>
			<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:768px;height:auto;">
				<div id="details" style="padding-left:20px; padding-top:40px;">
					<div>
						<label> Hi [ <%= user.name %> ],</label><br>
						<table class="table table-bordered">
			          		<thead>
			          			<tr>
			          				<th>Article</th>
			          				<th>Amount</th>
			          				<th>Action</th>
			          			</tr>
			          		</thead>
			          		<tbody>
			          			<%for(var i=0;i<article.length;i++){%>
				          			<tr>
				          				<td><a href="/showreviedArticle?articleid=<%=article[i]._id%>"><%=article[i].bookTitle%></a></td>
				          				<td><input type="text" name="amount" id="amount<%=i%>"></td>
				          				<td><button class="btn btn-primary" onClick="donateAmount('<%=i%>','<%=article[i]._id%>')" >Donate</button></td>
				          			</tr>
				          		<%}%>
			          			
			          		</tbody>
			          	</table>
						

					</div>
				</div>


				

			</div>
		</div>
		
	</div>

</body>


<script src="lib/jquery/jquery.min.js"></script>
<script src="../js/jquery.ui.widget.js"></script>
<script src="../js/jquery.fileupload.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
 -->
 <script type="text/javascript" src="/jquery-ui/jquery-ui.min.js"></script>
 <script src="../js/tag-it.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function() {
		
		$("#myTags").tagit({
		    availableTags: ["Bangla", "English", "Story", "Ideal", "Religion", "Mathematics"]
		});
    });
</script>


<script type="text/javascript">
$(document).ready(function(){
    //Handles menu drop down
    $('.dropdown-menu').find('input').click(function (e) {
        e.stopPropagation();
    });
});
</script>
<script type='text/javascript'> 
        $(document).ready(function() {
            $('#sidebar').affix({offset: {top: $('header').height()}});	
        });
        function donateAmount(i,id)
        {
        	var amount=$('#amount'+i).val();
        	var articleId=id;
        	if(amount=='')
        	{
        		alert("Please enter amount");
        		return false;
        	}

        	$.ajax({ url: '/donateAmount',
	         data: { 
	         		 amount:amount,
	         		 articleId:articleId,
	         },
	         type: 'POST',
	         success: function(output) {
	         	window.location.reload();
	          }
	   		 }); 
        }
</script> 
</html>