<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>

	<div class="container">
		<div class="row">
					
				<div class="col-md-3 col-lg-3">
					<div class="nav list-group" id="sidebar">

							<ul class="nav bs-sidenav" style="background:#F7F5FA;">
								  <li class="menu" id="manage_articles">
								  	<a class="primary" href="/manageArticle">Manage Articles<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_members"> 
								  	<a class="primary" href="/manageMembers">Manage Members<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_website">
								  	<a class="primary" href="/managewebsite">Manage Website<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_website">
								  	<a class="primary" href="/allauthors">All Authors<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="view_donation">
								  	<a class="primary" href="/viewdonation">View Donation<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="view_distribution">
								  	<a class="primary" href="/viewdistribution">View Distribution<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_cost">
								  	<a class="primary" href="/managecost">Manage Cost<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="log_out">
								  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="password_change">
								  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
								  </li>
							</ul>
					</div>
				</div>

				<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;padding-top:40px;">
					<div class="col-lg-12" align="center" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
						 <h2>Edit article</h2> 
					</div>
					<form id="articleSubmit" method="post" action="/editcontentsubmit" enctype="multipart/form-data">
					
					<input type="text" name="author" id="author" value="<%=author._id%>" style="display:none;">	
					<input type="text" name="articleId" id="articleId" value="<%=article._id%>" style="display:none;">		
					<div class="col-lg-12">
						<div class="col-lg-3" style="padding-left:0;">
								<h4>Title of the book:</h4> 
							</div>
							<div class="col-lg-9" style="padding-right:0;padding-left:0;">
								<input type="textarea" name="titleofBook" id="titleofBook" class="form-control input-md" placeholder="Title of the book" tabindex="1" value="<%=article.bookTitle%>" >
							</div>
					</div>
					<div class="col-lg-12" style="padding-left:0;padding-right:0;padding-bottom:20px;">
						<div class="col-lg-6" style="padding-left:0;padding-right:0;">
							<div class="col-lg-3" style="padding-left:0;padding-right:0;">
								Author’s Name:
							</div>
							<div class="col-lg-9"style="padding-left:0;">
								<%if(author.preferredname==''){%>
								<input id="nick_name" name="nick_name" type ="text" value='<%=author.name%>' class="form-control">
								<%}%>
								<%if(author.preferredname!=''){%>
								<input id="nick_name" name="nick_name" type ="text" value='<%=author.preferredname%>' class="form-control">
								<%}%>
							</div>
						</div>
						<div class="col-lg-6" style="padding-left:0;padding-right:0;">
							<!-- <div class="col-lg-3" style="padding-left:0;padding-right:0;">
								Artist’s Name:
							</div>
							<div class="col-lg-9"style="padding-left:0;">
								<input id="artist_name" name="artist_name" value="Collected" type ="text" class="form-control">
							</div> -->
						</div>
					</div>
					<div class="col-lg-12 panel panel-success" >

							<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
								<h4><b>Page : 1</b></h4>
							</div>

							<div class="col-lg-12" style="padding-bottom:20px;">
								
								
									<input type="textarea" name="articleTitle" id="articleTitle" class="form-control input-md" placeholder="Top Line Text" value="<%=article.title %>" tabindex="1" >
								

							</div>
							<div class="col-lg-12" style="padding-bottom:20px;">
								<input type="text" name="article" id="article" class="form-control input-md" placeholder="Top Sub Text" value="<%=article.article %>" tabindex="1" >
								
							</div>

	                		<div class="col-lg-8" style="padding-bottom:20px;padding-left:0;">
	                			<%if(article.articleImage&&article.articleImage!=''){%>
	                				<img src="<%=article.articleImage%>" style="height:50px;width:50px;">
	                			<%}%>
	                			
	                				<p>Choose Image File</p>
									<input type="file" id="img" name="img" />
	

							</div>				
							<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
									<button type="button" id="default_1" onclick="default_article('1')" class="btn btn-info pull-right">Set as cover image</button>
								</div>	
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="source" id="source" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=article.credit %>" tabindex="1" >
								
							</div>
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="bottomText" id="bottomText" class="form-control input-md" placeholder="Bottom Line Text" value="<%=article.bottomText %>" tabindex="1" >
								
							</div>
					</div>
					<!-- page 2 -->
					<div class="col-lg-12 panel panel-success" >

							<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
								<h4><b>Page : 2</b></h4>
							</div>

							<div class="col-lg-12" style="padding-bottom:20px;">
								
								
									<input type="textarea" name="articleTitle2" id="articleTitle2" class="form-control input-md" placeholder="Top Line Text" value="<%=article.articleTitle2 %>" tabindex="1" >
								

							</div>
							<div class="col-lg-12" style="padding-bottom:20px;">
								<input type="text" name="article2" id="article2" class="form-control input-md" placeholder="Top Sub Text" value="<%=article.article2 %>" tabindex="1" >
								
							</div>

	                		<div class="col-lg-8" style="padding-bottom:20px;padding-left:0;">
	                			<%if(article.img2&&article.img2!=''){%>
	                				<img src="<%=article.img2%>" style="height:50px;width:50px;">
	                			<%}%>
	                			
	                				<p>Choose Image File</p>
									<input type="file" id="img2" name="img2" />
	                			
									

							</div>				
							<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
									<button type="button" id="default_2" onclick="default_article('2')" class="btn btn-info pull-right">Set as cover image</button>
								</div>	
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="source2" id="source2" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=article.source2 %>" tabindex="1" >
								
							</div>
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="bottomText2" id="bottomText2" class="form-control input-md" placeholder="Bottom Line Text" value="<%=article.bottomText2 %>" tabindex="1" >
								
							</div>


					</div>
					<!-- page 3 -->
					<div class="col-lg-12 panel panel-success" >

							<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
								<h4><b>Page : 3</b></h4>
							</div>

							<div class="col-lg-12" style="padding-bottom:20px;">
								
								
									<input type="textarea" name="articleTitle3" id="articleTitle3" class="form-control input-md" placeholder="Top Line Text" value="<%=article.articleTitle3 %>" tabindex="1" >
								

							</div>
							<div class="col-lg-12" style="padding-bottom:20px;">
								<input type="text" name="article3" id="article3" class="form-control input-md" placeholder="Top Sub Text" value="<%=article.article3 %>" tabindex="1" >
								
							</div>

	                		<div class="col-lg-8" style="padding-bottom:20px;padding-left:0;">
	                			<%if(article.img3&&article.img3!=''){%>
	                				<img src="<%=article.img3%>" style="height:50px;width:50px;">
	                			<%}%>
	                			
	                				<p>Choose Image File</p>
									<input type="file" id="img3" name="img3" />
	                			
									

							</div>				
							<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
									<button type="button" id="default_3" onclick="default_article('3')" class="btn btn-info pull-right">Set as cover image</button>
								</div>	
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="source3" id="source3" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=article.source3 %>" tabindex="1" >
								
							</div>
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="bottomText3" id="bottomText3" class="form-control input-md" placeholder="Bottom Line Text" value="<%=article.bottomText3 %>" tabindex="1" >
								
							</div>


					</div>
					<!-- page 4 -->
					<div class="col-lg-12 panel panel-success" >

							<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
								<h4><b>Page : 4</b></h4>
							</div>

							<div class="col-lg-12" style="padding-bottom:20px;">
								
								
									<input type="textarea" name="articleTitle4" id="articleTitle4" class="form-control input-md" placeholder="Top Line Text" value="<%=article.articleTitle4 %>" tabindex="1" >
								

							</div>
							<div class="col-lg-12" style="padding-bottom:20px;">
								<input type="text" name="article4" id="article4" class="form-control input-md" placeholder="Top Sub Text" value="<%=article.article4 %>" tabindex="1" >
								
							</div>

	                		<div class="col-lg-8" style="padding-bottom:20px;padding-left:0;">
	                			<%if(article.img4&&article.img4!=''){%>
	                				<img src="<%=article.img4%>" style="height:50px;width:50px;">
	                			<%}%>
	                			
	                				<p>Choose Image File</p>
									<input type="file" id="img4" name="img4" />
	                			
									

							</div>				
							<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
									<button type="button" id="default_4" onclick="default_article('4')" class="btn btn-info pull-right">Set as cover image</button>
								</div>	
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="source4" id="source4" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=article.source4 %>" tabindex="1" >
								
							</div>
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="bottomText4" id="bottomText4" class="form-control input-md" placeholder="Bottom Line Text" value="<%=article.bottomText4 %>" tabindex="1" >
								
							</div>


					</div>
					<!-- page 5 -->
					<%if(article.articleTitle5&&article.articleTitle5!=''){%>
					<div class="col-lg-12 panel panel-success" >

							<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
								<h4><b>Page : 5</b></h4>
							</div>

							<div class="col-lg-12" style="padding-bottom:20px;">
								
								
									<input type="textarea" name="articleTitle5" id="articleTitle5" class="form-control input-md" placeholder="Top Line Text" value="<%=article.articleTitle5 %>" tabindex="1" >
								

							</div>
							<div class="col-lg-12" style="padding-bottom:20px;">
								<input type="text" name="article5" id="article5" class="form-control input-md" placeholder="Top Sub Text" value="<%=article.article5 %>" tabindex="1" >
								
							</div>

	                		<div class="col-lg-8" style="padding-bottom:20px;padding-left:0;">
	                			<%if(article.img5&&article.img5!=''){%>
	                				<img src="<%=article.img5%>" style="height:50px;width:50px;">
	                			<%}%>
	                			
	                				<p>Choose Image File</p>
									<input type="file" id="img5" name="img5" />
	                			
									

							</div>				
							<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
									<button type="button" id="default_5" onclick="default_article('5')" class="btn btn-info pull-right">Set as cover image</button>
								</div>	
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="source5" id="source5" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=article.source5 %>" tabindex="1" >
								
							</div>
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="bottomText5" id="bottomText5" class="form-control input-md" placeholder="Bottom Line Text" value="<%=article.bottomText5 %>" tabindex="1" >
								
							</div>


					</div>
					<%}%>
					<!-- page 6 -->
					<%if(article.articleTitle6&&article.articleTitle6!=''){%>
					<div class="col-lg-12 panel panel-success" >

							<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
								<h4><b>Page : 6</b></h4>
							</div>

							<div class="col-lg-12" style="padding-bottom:20px;">
								
								
									<input type="textarea" name="articleTitle6" id="articleTitle6" class="form-control input-md" placeholder="Top Line Text" value="<%=article.articleTitle6 %>" tabindex="1" >
								

							</div>
							<div class="col-lg-12" style="padding-bottom:20px;">
								<input type="text" name="article6" id="article6" class="form-control input-md" placeholder="Top Sub Text" value="<%=article.article6 %>" tabindex="1" >
								
							</div>

	                		<div class="col-lg-8" style="padding-bottom:20px;padding-left:0;">
	                			<%if(article.img6&&article.img6!=''){%>
	                				<img src="<%=article.img6%>" style="height:50px;width:50px;">
	                			<%}%>
	                			
	                				<p>Choose Image File</p>
									<input type="file" id="img6" name="img6" />
	                			
									

							</div>				
							<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
									<button type="button" id="default_6" onclick="default_article('6')" class="btn btn-info pull-right">Set as cover image</button>
								</div>	
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="source6" id="source6" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=article.source6 %>" tabindex="1" >
								
							</div>
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="bottomText6" id="bottomText6" class="form-control input-md" placeholder="Bottom Line Text" value="<%=article.bottomText6 %>" tabindex="1" >
								
							</div>


					</div>
					<%}%>
					<!-- page 7 -->
					<%if(article.articleTitle7&&article.articleTitle7!=''){%>
					<div class="col-lg-12 panel panel-success" >

							<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
								<h4><b>Page : 7</b></h4>
							</div>

							<div class="col-lg-12" style="padding-bottom:20px;">
								
								
									<input type="textarea" name="articleTitle7" id="articleTitle7" class="form-control input-md" placeholder="Top Line Text" value="<%=article.articleTitle7 %>" tabindex="1" >
								

							</div>
							<div class="col-lg-12" style="padding-bottom:20px;">
								<input type="text" name="article7" id="article7" class="form-control input-md" placeholder="Top Sub Text" value="<%=article.article7 %>" tabindex="1" >
								
							</div>

	                		<div class="col-lg-8" style="padding-bottom:20px;padding-left:0;">
	                			<%if(article.img7&&article.img7!=''){%>
	                				<img src="<%=article.img7%>" style="height:50px;width:50px;">
	                			<%}%>
	                			
	                				<p>Choose Image File</p>
									<input type="file" id="img7" name="img7" />
	                			
									

							</div>				
							<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
									<button type="button" id="default_7" onclick="default_article('7')" class="btn btn-info pull-right">Set as cover image</button>
								</div>	
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="source7" id="source7" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=article.source7 %>" tabindex="1" >
								
							</div>
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="bottomText7" id="bottomText7" class="form-control input-md" placeholder="Bottom Line Text" value="<%=article.bottomText7 %>" tabindex="1" >
								
							</div>


					</div>
					<%}%>

					<!-- page 8 -->
					<%if(article.articleTitle8&&article.articleTitle8!=''){%>
					<div class="col-lg-12 panel panel-success" >

							<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
								<h4><b>Page : 8</b></h4>
							</div>

							<div class="col-lg-12" style="padding-bottom:20px;">
								
								
									<input type="textarea" name="articleTitle8" id="articleTitle8" class="form-control input-md" placeholder="Top Line Text" value="<%=article.articleTitle8 %>" tabindex="1" >
								

							</div>
							<div class="col-lg-12" style="padding-bottom:20px;">
								<input type="text" name="article8" id="article8" class="form-control input-md" placeholder="Top Sub Text" value="<%=article.article8 %>" tabindex="1" >
								
							</div>

	                		<div class="col-lg-8" style="padding-bottom:20px;padding-left:0;">
	                			<%if(article.img8&&article.img8!=''){%>
	                				<img src="<%=article.img8%>" style="height:50px;width:50px;">
	                			<%}%>
	                			
	                				<p>Choose Image File</p>
									<input type="file" id="img8" name="img8" />
	                			
									

							</div>				
							<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
									<button type="button" id="default_8" onclick="default_article('8')" class="btn btn-info pull-right">Set as cover image</button>
								</div>	
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="source8" id="source8" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=article.source8 %>" tabindex="1" >
								
							</div>
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="bottomText8" id="bottomText8" class="form-control input-md" placeholder="Bottom Line Text" value="<%=article.bottomText8 %>" tabindex="1" >
								
							</div>


					</div>
					<%}%>
					<!-- page 9 -->
					<%if(article.articleTitle9&&article.articleTitle9!=''){%>
					<div class="col-lg-12 panel panel-success" >

							<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
								<h4><b>Page : 9</b></h4>
							</div>

							<div class="col-lg-12" style="padding-bottom:20px;">
								
								
									<input type="textarea" name="articleTitle9" id="articleTitle9" class="form-control input-md" placeholder="Top Line Text" value="<%=article.articleTitle9 %>" tabindex="1" >
								

							</div>
							<div class="col-lg-12" style="padding-bottom:20px;">
								<input type="text" name="article9" id="article9" class="form-control input-md" placeholder="Top Sub Text" value="<%=article.article9 %>" tabindex="1" >
								
							</div>

	                		<div class="col-lg-8" style="padding-bottom:20px;padding-left:0;">
	                			<%if(article.img9&&article.img9!=''){%>
	                				<img src="<%=article.img9%>" style="height:50px;width:50px;">
	                			<%}%>
	                			
	                				<p>Choose Image File</p>
									<input type="file" id="img9" name="img9" />
	                			
									

							</div>				
							<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
									<button type="button" id="default_9" onclick="default_article('9')" class="btn btn-info pull-right">Set as cover image</button>
								</div>	
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="source9" id="source9" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=article.source9 %>" tabindex="1" >
								
							</div>
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="bottomText9" id="bottomText9" class="form-control input-md" placeholder="Bottom Line Text" value="<%=article.bottomText9 %>" tabindex="1" >
								
							</div>


					</div>
					<%}%>

					<!-- page 7 -->
					<%if(article.articleTitle10&&article.articleTitle10!=''){%>
					<div class="col-lg-12 panel panel-success" >

							<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
								<h4><b>Page : 10</b></h4>
							</div>

							<div class="col-lg-12" style="padding-bottom:20px;">
								
								
									<input type="textarea" name="articleTitle10" id="articleTitle10" class="form-control input-md" placeholder="Top Line Text" value="<%=article.articleTitle10 %>" tabindex="1" >
								

							</div>
							<div class="col-lg-12" style="padding-bottom:20px;">
								<input type="text" name="article10" id="article10" class="form-control input-md" placeholder="Top Sub Text" value="<%=article.article10 %>" tabindex="1" >
								
							</div>

	                		<div class="col-lg-8" style="padding-bottom:20px;padding-left:0;">
	                			<%if(article.img10&&article.img10!=''){%>
	                				<img src="<%=article.img10%>" style="height:50px;width:50px;">
	                			<%}%>
	                			
	                				<p>Choose Image File</p>
									<input type="file" id="img10" name="img10" />
	                			
									

							</div>				
							<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
									<button type="button" id="default_10" onclick="default_article('10')" class="btn btn-info pull-right">Set as cover image</button>
								</div>	
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="source10" id="source10" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=article.source10 %>" tabindex="1" >
								
							</div>
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="bottomText10" id="bottomText10" class="form-control input-md" placeholder="Bottom Line Text" value="<%=article.bottomText10 %>" tabindex="1" >
								
							</div>
					</div>
					<%}%>
					<!-- page 7 -->
					<%if(article.articleTitle11&&article.articleTitle11!=''){%>
					<div class="col-lg-12 panel panel-success" >

							<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
								<h4><b>Page : 11</b></h4>
							</div>

							<div class="col-lg-12" style="padding-bottom:20px;">
								
								
									<input type="textarea" name="articleTitle11" id="articleTitle11" class="form-control input-md" placeholder="Top Line Text" value="<%=article.articleTitle11 %>" tabindex="1" >
								

							</div>
							<div class="col-lg-12" style="padding-bottom:20px;">
								<input type="text" name="article11" id="article11" class="form-control input-md" placeholder="Top Sub Text" value="<%=article.article11 %>" tabindex="1" >
								
							</div>

	                		<div class="col-lg-8" style="padding-bottom:20px;padding-left:0;">
	                			<%if(article.img11&&article.img11!=''){%>
	                				<img src="<%=article.img11%>" style="height:50px;width:50px;">
	                			<%}%>
	                			
	                				<p>Choose Image File</p>
									<input type="file" id="img11" name="img11" />
	                			
									

							</div>				
							<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
									<button type="button" id="default_11" onclick="default_article('11')" class="btn btn-info pull-right">Set as cover image</button>
								</div>	
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="source11" id="source11" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=article.source11 %>" tabindex="1" >
								
							</div>
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="bottomText11" id="bottomText11" class="form-control input-md" placeholder="Bottom Line Text" value="<%=article.bottomText11 %>" tabindex="1" >
								
							</div>
					</div>
					<%}%>

					<!-- page 7 -->
					<%if(article.articleTitle12&&article.articleTitle12!=''){%>
					<div class="col-lg-12 panel panel-success" >

							<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
								<h4><b>Page : 12</b></h4>
							</div>

							<div class="col-lg-12" style="padding-bottom:20px;">
								
								
									<input type="textarea" name="articleTitle12" id="articleTitle12" class="form-control input-md" placeholder="Top Line Text" value="<%=article.articleTitle12 %>" tabindex="1" >
								

							</div>
							<div class="col-lg-12" style="padding-bottom:20px;">
								<input type="text" name="article12" id="article12" class="form-control input-md" placeholder="Top Sub Text" value="<%=article.article12 %>" tabindex="1" >
								
							</div>

	                		<div class="col-lg-8" style="padding-bottom:20px;padding-left:0;">
	                			<%if(article.img12&&article.img12!=''){%>
	                				<img src="<%=article.img12%>" style="height:50px;width:50px;">
	                			<%}%>
	                			
	                				<p>Choose Image File</p>
									<input type="file" id="img12" name="img12" />
	                			
									

							</div>				
							<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
									<button type="button" id="default_12" onclick="default_article('12')" class="btn btn-info pull-right">Set as cover image</button>
								</div>	
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="source12" id="source12" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=article.source12 %>" tabindex="1" >
								
							</div>
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="bottomText12" id="bottomText12" class="form-control input-md" placeholder="Bottom Line Text" value="<%=article.bottomText12 %>" tabindex="1" >
								
							</div>
					</div>
					<%}%>

					<!-- page 13 -->
					<%if(article.articleTitle13&&article.articleTitle13!=''){%>
					<div class="col-lg-12 panel panel-success" >

							<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
								<h4><b>Page : 13</b></h4>
							</div>

							<div class="col-lg-12" style="padding-bottom:20px;">
								
								
									<input type="textarea" name="articleTitle13" id="articleTitle13" class="form-control input-md" placeholder="Top Line Text" value="<%=article.articleTitle13 %>" tabindex="1" >
								

							</div>
							<div class="col-lg-12" style="padding-bottom:20px;">
								<input type="text" name="article13" id="article13" class="form-control input-md" placeholder="Top Sub Text" value="<%=article.article13 %>" tabindex="1" >
								
							</div>

	                		<div class="col-lg-8" style="padding-bottom:20px;padding-left:0;">
	                			<%if(article.img13&&article.img13!=''){%>
	                				<img src="<%=article.img13%>" style="height:50px;width:50px;">
	                			<%}%>
	                			
	                				<p>Choose Image File</p>
									<input type="file" id="img13" name="img13" />
	                			
									

							</div>				
							<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
									<button type="button" id="default_13" onclick="default_article('13')" class="btn btn-info pull-right">Set as cover image</button>
								</div>	
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="source13" id="source13" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=article.source13 %>" tabindex="1" >
								
							</div>
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="bottomText13" id="bottomText13" class="form-control input-md" placeholder="Bottom Line Text" value="<%=article.bottomText13 %>" tabindex="1" >
								
							</div>


					</div>
					<%}%>
					<!-- page 14 -->
					<%if(article.articleTitle14&&article.articleTitle14!=''){%>
					<div class="col-lg-12 panel panel-success" >

							<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
								<h4><b>Page : 14</b></h4>
							</div>

							<div class="col-lg-12" style="padding-bottom:20px;">
								
								
									<input type="textarea" name="articleTitle14" id="articleTitle14" class="form-control input-md" placeholder="Top Line Text" value="<%=article.articleTitle14 %>" tabindex="1" >
								

							</div>
							<div class="col-lg-12" style="padding-bottom:20px;">
								<input type="text" name="article14" id="article14" class="form-control input-md" placeholder="Top Sub Text" value="<%=article.article14 %>" tabindex="1" >
								
							</div>

	                		<div class="col-lg-8" style="padding-bottom:20px;padding-left:0;">
	                			<%if(article.img14&&article.img14!=''){%>
	                				<img src="<%=article.img14%>" style="height:50px;width:50px;">
	                			<%}%>
	                			
	                				<p>Choose Image File</p>
									<input type="file" id="img14" name="img14" />
	                			
									

							</div>				
							<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
									<button type="button" id="default_14" onclick="default_article('14')" class="btn btn-info pull-right">Set as cover image</button>
								</div>	
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="source14" id="source14" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=article.source14 %>" tabindex="1" >
								
							</div>
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="bottomText14" id="bottomText14" class="form-control input-md" placeholder="Bottom Line Text" value="<%=article.bottomText14 %>" tabindex="1" >
								
							</div>


					</div>
					<%}%>
					<!-- page 15 -->
					<%if(article.articleTitle15&&article.articleTitle15!=''){%>
					<div class="col-lg-12 panel panel-success" >

							<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
								<h4><b>Page : 15</b></h4>
							</div>

							<div class="col-lg-12" style="padding-bottom:20px;">
								
								
									<input type="textarea" name="articleTitle15" id="articleTitle15" class="form-control input-md" placeholder="Top Line Text" value="<%=article.articleTitle15 %>" tabindex="1" >
								

							</div>
							<div class="col-lg-12" style="padding-bottom:20px;">
								<input type="text" name="article15" id="article15" class="form-control input-md" placeholder="Top Sub Text" value="<%=article.article15 %>" tabindex="1" >
								
							</div>

	                		<div class="col-lg-8" style="padding-bottom:20px;padding-left:0;">
	                			<%if(article.img15&&article.img15!=''){%>
	                				<img src="<%=article.img15%>" style="height:50px;width:50px;">
	                			<%}%>
	                			
	                				<p>Choose Image File</p>
									<input type="file" id="img15" name="img15" />
	                			
									

							</div>				
							<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
									<button type="button" id="default_15" onclick="default_article('15')" class="btn btn-info pull-right">Set as cover image</button>
								</div>	
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="source15" id="source15" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=article.source15 %>" tabindex="1" >
								
							</div>
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="bottomText15" id="bottomText15" class="form-control input-md" placeholder="Bottom Line Text" value="<%=article.bottomText15 %>" tabindex="1" >
								
							</div>


					</div>
					<%}%>
					<!-- page 16 -->
					<%if(article.articleTitle16&&article.articleTitle16!=''){%>
					<div class="col-lg-12 panel panel-success" >

							<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
								<h4><b>Page : 16</b></h4>
							</div>

							<div class="col-lg-12" style="padding-bottom:20px;">
								
								
									<input type="textarea" name="articleTitle16" id="articleTitle16" class="form-control input-md" placeholder="Top Line Text" value="<%=article.articleTitle16 %>" tabindex="1" >
								

							</div>
							<div class="col-lg-12" style="padding-bottom:20px;">
								<input type="text" name="article16" id="article16" class="form-control input-md" placeholder="Top Sub Text" value="<%=article.article16 %>" tabindex="1" >
								
							</div>

	                		<div class="col-lg-8" style="padding-bottom:20px;padding-left:0;">
	                			<%if(article.img16&&article.img16!=''){%>
	                				<img src="<%=article.img16%>" style="height:50px;width:50px;">
	                			<%}%>
	                			
	                				<p>Choose Image File</p>
									<input type="file" id="img16" name="img16" />
	                			
									

							</div>				
							<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
									<button type="button" id="default_16" onclick="default_article('16')" class="btn btn-info pull-right">Set as cover image</button>
								</div>	
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="source16" id="source16" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=article.source16 %>" tabindex="1" >
								
							</div>
							<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
								<input type="text" name="bottomText16" id="bottomText16" class="form-control input-md" placeholder="Bottom Line Text" value="<%=article.bottomText16 %>" tabindex="1" >
								
							</div>


					</div>
					<%}%>
					<input type="submit" class="btn btn-primary pull-right" value="Edit Article">
				</form>
				</div>
		</div>
	</div>

<script src="lib/jquery/jquery.min.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>


<script type='text/javascript'> 
        $(document).ready(function() {
            $('#sidebar').affix({offset: {top: $('header').height()}});	
        });
        
</script> 

<script>


</script>
</body>
</html>