<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" type="text/css" href="/lib/bootstrap3/css/bootstrap.css">
<link href="../css/123abcd.css" type="text/css" rel="stylesheet">
<link href="../css/123article.css" type="text/css" rel="stylesheet">
<link href="../css/jquery.tagit.css" type="text/css" rel="stylesheet">
<link href="../css/bootstrap-multiselect.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>

	<div class="container">
		
		<div class="row">
			
			<div class="col-md-3">
				
				<div class="nav list-group" id="sidebar">

						<ul class="nav bs-sidenav" style="background:#F7F5FA;" >
							   <li class="menu active" id="authorPenel">
							  	<a class="primary" href="/userArticle">Author Pannel<span class="pull-right">&rsaquo;</span></a>
							  </li>
						  		<li class="menu" id="new_article">
						  			<a class="primary" href="/writeNewArticle">Submit New Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
						  		<li class="menu" id="guide_line">
						  			<a class="primary" href="/previous">Previous Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
							  <li class="menu" id="guide_line">
							  	<a class="primary" href="/guideline">Guide Lines<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="log_out">
							  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="password">
							  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="update_profile">
							  	<a class="primary" href="/users/updateUserProfile">Update Profile<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu active" id="homepage">
							  	<a class="primary" href="/">Home Page<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  
						</ul>

				</div>

			</div>
			<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:768px;height:auto;">



				<div class="col-lg-12" id="create_article" style="padding-top:10px;">

						<form id="articleSubmit" method="post" action="/editsubmit" enctype="multipart/form-data">
							
							<div class="col-lg-12" style="padding-left:0;padding-right:0;">
								<div class="col-lg-12" style="padding-left:0;padding-right:0;">
									
										<div class="col-lg-9" style="padding-left:0;"><h3>Write New Article</h3></div>
										
										<div class="col-lg-3" style="padding-left:0;padding-right:0;">
												<div class="btn-group pull-right">
													<div class="collapse navbar-collapse js-navbar-collapse" style="padding-left:0;padding-right:0;padding-top:10px;">
	
												</div>



										</div>
								</div>
								<div class="col-lg-12" style="padding-left:0;"><hr class="colorgraph"></div>
								
								<div class="col-lg-12" style="padding-bottom:20px;padding-right:0;padding-left:0;">

									<div class="col-lg-3" style="padding-left:0;">
										<h4>Title of the book:</h4> 

									</div>
									<div class="col-lg-9" style="padding-right:0;padding-left:0;">
										<input type="textarea" name="titleofBook" id="titleofBook" class="form-control input-md" placeholder="Title of the book" value="<%= singleArticle.bookTitle%>" tabindex="1" required>
									</div>
										
								</div>
								<div class="col-lg-12" style="padding-left:0;padding-right:0;padding-bottom:20px;">
									<div class="col-lg-5" style="padding-left:0;padding-right:0;">
										<div class="col-lg-5" style="padding-left:0;padding-right:0;">
											Author’s Name:
										</div>
										<div class="col-lg-7"style="padding-left:0;">
											
											<input id="nick_name" name="nick_name" type ="text" value='<%=singleArticle.NickName%>' class="form-control">
											
											
											
										</div>
									</div>
									<div class="col-lg-5" style="padding-left:0;padding-right:0;">
										<div class="col-lg-4" style="padding-left:0;padding-right:0;">
											Artist’s Name:
										</div>
										<div class="col-lg-8"style="padding-left:0;">
											<input id="artist_name" name="artist_name" value="<%=singleArticle.artistName%>" type ="text" class="form-control">
										</div>
									</div>
									<div class="col-lg-2 pull-right" style="padding-left:0px;"> 
										  
											<select id="demo" multiple="multiple">
													<option id="test1" value="বাংলা">বাংলা</option>
													<option id="test2" value="ইংরেজি">ইংরেজি</option>
													<option id="test3" value="গল্প">গল্প</option>
													<option id="test4" value="আদর্শ">আদর্শ</option>
													<option id="test5" value="ধর্ম">ধর্ম</option>
													<option id="test6" value="গণিত">গণিত</option>
											</select>		
										
									</div>
								</div>
								

<!-- Start for page 1 -->
								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
											<h4><b>Page : 1</b></h4>
										</div>

										<div style="padding-bottom:20px;">
											
											
												<input type="textarea" name="articleTitle" id="articleTitle" class="form-control input-md" placeholder="Top Line Text" value="<%=singleArticle.title %>" tabindex="1" required>
											
	
										</div>
										<div style="padding-bottom:20px;">
											<input type="text" name="article" id="article" class="form-control input-md" placeholder="Top Sub Text" value="<%=singleArticle.article %>" tabindex="1" required>
											
										</div>

				                		<div class="col-lg-8" style="padding-bottom:20px;padding-left:0;">
				                			<%if(singleArticle.articleImage&&singleArticle.articleImage!=''){%>
				                				<img src="<%=singleArticle.articleImage%>" style="height:50px;width:50px;">
				                			<%}%>
				                			
				                				<p>Choose Image File</p>
												<input type="file" id="img" name="img" />
				                			
												

										</div>				
										<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
												<button type="button" id="default_1" onclick="default_article('1')" class="btn btn-info pull-right">Set as cover image</button>
											</div>	
										<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
											<input type="text" name="source" id="source" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=singleArticle.credit %>" tabindex="1" >
											
										</div>
										<div style="padding-bottom:20px;padding-left:0;padding-right:0;">
											<input type="text" name="bottomText" id="bottomText" class="form-control input-md" placeholder="Bottom Line Text" value="<%=singleArticle.bottomText %>" tabindex="1" >
											
										</div>


								</div>



<!-- Start for page 2 -->

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
											<h4><b>Page : 2</b></h4>
										</div>

										<div style="padding-bottom:20px;">
											<input type="textarea" name="articleTitle2" id="articleTitle2" class="form-control input-md" placeholder="Top Line Text" value="<%=singleArticle.articleTitle2 %>" tabindex="1" >
										</div>
										<div style="padding-bottom:20px;">
											<input type="text" name="article2" id="article2" class="form-control input-md" placeholder="Top Sub Text" value="<%=singleArticle.article2 %>" tabindex="1" >
											
										</div>

				                		<div class="col-lg-8" style="padding-bottom:20px;padding-left:0;">
				                			<%if(singleArticle.img2&&singleArticle.img2!=''){%>
				                				<img src="<%=singleArticle.img2%>" style="height:50px;width:50px;">
				                			<%}%>
												<p>Choose Image File</p>
												<input type="file" id="img2" name="img2" />

										</div>					
										<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
												<button type="button" id="default_2" onclick="default_article('2')" class="btn btn-info pull-right">Set as cover image</button>
											</div>	
										<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
											<input type="text" name="source2" id="source2" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=singleArticle.source2 %>" tabindex="1" >
											
										</div>
										<div style="padding-bottom:20px;padding-left:0;padding-right:0;">
											<input type="text" name="bottomText2" id="bottomText2" class="form-control input-md" placeholder="Bottom Line Text" value="<%=singleArticle.bottomText2 %>" tabindex="1" >
											
										</div>


								</div>

<!-- Start for page 3 -->

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
											<h4><b>Page : 3</b></h4>
										</div>

										<div style="padding-bottom:20px;">
											<input type="textarea" name="articleTitle3" id="articleTitle3" class="form-control input-md" placeholder="Top Line Text" value="<%=singleArticle.articleTitle3 %>" tabindex="1" >
										</div>
										<div style="padding-bottom:20px;">
											<input type="text" name="article3" id="article3" class="form-control input-md" placeholder="Top Sub Text" value="<%=singleArticle.article3 %>" tabindex="1" >
											
										</div>				                						
										<div class="col-lg-8" style="padding-bottom:20px;padding-left:0;">
											<%if(singleArticle.img3&&singleArticle.img3!=''){%>
				                				<img src="<%=singleArticle.img3%>" style="height:50px;width:50px;">
				                			<%}%>
												<p>Choose Image File</p>
												<input type="file" id="img3" name="img3" />

										</div>
										<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
												<button type="button" id="default_3" onclick="default_article('3')" class="btn btn-info pull-right">Set as cover image</button>
											</div>	
										<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
											<input type="text" name="source3" id="source3" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=singleArticle.source3 %>" tabindex="1" >
											
										</div>
										<div style="padding-bottom:20px;padding-left:0;padding-right:0;">
											<input type="text" name="bottomText3" id="bottomText3" class="form-control input-md" placeholder="Bottom Line Text" value="<%=singleArticle.bottomText3 %>" tabindex="1" >
											
										</div>


								</div>
<!-- Start for page 4 -->

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
											<h4><b>Page : 4</b></h4>
										</div>

										<div style="padding-bottom:20px;">
											<input type="textarea" name="articleTitle4" id="articleTitle4" class="form-control input-md" placeholder="Top Line Text" value="<%=singleArticle.articleTitle4 %>" tabindex="1" >
										</div>
										<div style="padding-bottom:20px;">
											<input type="text" name="article4" id="article4" class="form-control input-md" placeholder="Top Sub Text" value="<%=singleArticle.article4 %>" tabindex="1" >
											
										</div>
										<div class="col-lg-8" style="padding-bottom:20px;padding-left:0;">
											<%if(singleArticle.img4&&singleArticle.img4!=''){%>
				                				<img src="<%=singleArticle.img4%>" style="height:50px;width:50px;">
				                			<%}%>
												<p>Choose Image File</p>
												<input type="file" id="img4" name="img4" />

										</div>
										<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
												<button type="button" id="default_4" onclick="default_article('4')" class="btn btn-info pull-right">Set as cover image</button>
											</div>	
										<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
											<input type="text" name="source4" id="source4" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=singleArticle.source4 %>" tabindex="1" >
											
										</div>
										<div style="padding-bottom:20px;padding-left:0;padding-right:0;">
											<input type="text" name="bottomText4" id="bottomText4" class="form-control input-md" placeholder="Bottom Line Text" value="<%=singleArticle.bottomText4 %>" tabindex="1" >

											<input type="hidden" id="morepage" name="morepage" value="<%=singleArticle.morepage %>">  
											<input type="hidden" id="articleId" name="articleId" value="<%=singleArticle._id %>"> 
											<input type="hidden" id="default_image" name="default_image" value="1">
											<input  style="display:none;" type="text" name="hiddenCategory[]" id="hiddenCategory" value="" >
											<!-- hidden  for count page--> 
											
										</div>


								</div>
								

<!-- Page (5-8) -->


					<% if(singleArticle.morepage==1 || singleArticle.morepage==2 || singleArticle.morepage==3) {%>
								<div class="col-lg-12" id="page_5_8" >

											<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
													<h4><b>Page : 5</b></h4>
												</div>

												<div style="padding-bottom:20px;">
													<input type="textarea" name="articleTitle5" id="articleTitle5" class="form-control input-md" placeholder="Top Line Text" value="<%=singleArticle.articleTitle5 %>" tabindex="1" >
												</div>
												<div style="padding-bottom:20px;">
													<input type="text" name="article5" id="article5" class="form-control input-md" placeholder="Top Sub Text" value="<%=singleArticle.article5 %>" tabindex="1" >
													
												</div>						                						
												<div class="col-lg-8" style="padding-bottom:20px;padding-left:0;">
													<%if(singleArticle.img5&&singleArticle.img5!=''){%>
						                				<img src="<%=singleArticle.img5%>" style="height:50px;width:50px;">
						                			<%}%>
													<p>Choose Image File</p>
													<input type="file" id="img5" name="img5" />

												</div>
												<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
												<button type="button" id="default_5" onclick="default_article('5')" class="btn btn-info pull-right">Set as cover image</button>
											</div>	
												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="source5" id="source5" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=singleArticle.source5 %>" tabindex="1" >
													
												</div>
												<div style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="bottomText5" id="bottomText5" class="form-control input-md" placeholder="Bottom Line Text" value="<%=singleArticle.bottomText5 %>" tabindex="1" >
													
												</div>


											</div>



											<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
													<h4><b>Page : 6</b></h4>
												</div>

												<div style="padding-bottom:20px;">
													<input type="textarea" name="articleTitle6" id="articleTitle6" class="form-control input-md" placeholder="Top Line Text" value="<%=singleArticle.articleTitle6 %>" tabindex="1" >
												</div>
												<div style="padding-bottom:20px;">
													<input type="text" name="article6" id="article6" class="form-control input-md" placeholder="Top Sub Text" value="<%=singleArticle.article6 %>" tabindex="1" >
													
												</div>					
												<div class="col-lg-8" style="padding-bottom:20px;padding-left:0;">
													<%if(singleArticle.img6&&singleArticle.img6!=''){%>
						                				<img src="<%=singleArticle.img6%>" style="height:50px;width:50px;">
						                			<%}%>
													<p>Choose Image File</p>
													<input type="file" id="img6" name="img6" />

												</div>
												<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
												<button type="button" id="default_6" onclick="default_article('6')" class="btn btn-info pull-right">Set as cover image</button>
											</div>
												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="source6" id="source6" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=singleArticle.source6 %>" tabindex="1" >
													
												</div>
												<div style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="bottomText6" id="bottomText6" class="form-control input-md" placeholder="Bottom Line Text" value="<%=singleArticle.bottomText6 %>" tabindex="1" >
													
												</div>


											</div>

											<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
													<h4><b>Page : 7</b></h4>
												</div>

												<div style="padding-bottom:20px;">
													<input type="textarea" name="articleTitle7" id="articleTitle7" class="form-control input-md" placeholder="Top Line Text" value="<%=singleArticle.articleTitle7 %>" tabindex="1" >
												</div>
												<div style="padding-bottom:20px;">
													<input type="text" name="article7" id="article7" class="form-control input-md" placeholder="Top Sub Text" value="<%=singleArticle.article7 %>" tabindex="1" >
													
												</div>				
												<div class="col-lg-8" style="padding-bottom:20px;padding-left:0;">
													<%if(singleArticle.img7&&singleArticle.img7!=''){%>
						                				<img src="<%=singleArticle.img7%>" style="height:50px;width:50px;">
						                			<%}%>
													<p>Choose Image File</p>
													<input type="file" id="img7" name="img7" />

												</div>
												<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
												<button type="button" id="default_7" onclick="default_article('7')" class="btn btn-info pull-right">Set as cover image</button>
											</div>
												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="source7" id="source7" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=singleArticle.source7 %>" tabindex="1" >
													
												</div>
												<div style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="bottomText7" id="bottomText7" class="form-control input-md" placeholder="Bottom Line Text" value="<%=singleArticle.bottomText7 %>" tabindex="1" >
													
												</div>


											</div>
											<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
													<h4><b>Page : 8</b></h4>
												</div>

												<div style="padding-bottom:20px;">
													<input type="textarea" name="articleTitle8" id="articleTitle8" class="form-control input-md" placeholder="Top Line Text" value="<%=singleArticle.articleTitle8 %>" tabindex="1" >
												</div>
												<div style="padding-bottom:20px;">
													<input type="text" name="article8" id="article8" class="form-control input-md" placeholder="Top Sub Text" value="<%=singleArticle.article8 %>" tabindex="1" >
													
												</div>				
												<div class="col-lg-8" style="padding-bottom:20px;padding-left:0;">
													<%if(singleArticle.img8&&singleArticle.img8!=''){%>
						                				<img src="<%=singleArticle.img8%>" style="height:50px;width:50px;">
						                			<%}%>
													<p>Choose Image File</p>
													<input type="file" id="img8" name="img8" />

												</div>
												<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
												<button type="button" id="default_8" onclick="default_article('8')" class="btn btn-info pull-right">Set as cover image</button>
											</div>
												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="source8" id="source8" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=singleArticle.source8 %>" tabindex="1" >
													
												</div>
												<div style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="bottomText8" id="bottomText8" class="form-control input-md" placeholder="Bottom Line Text" value="<%=singleArticle.bottomText8 %>" tabindex="1" >
													
												</div>


											</div>
								</div>


	<% } %>

	<% if(singleArticle.morepage==2 || singleArticle.morepage==3) {%>
								<div class="col-lg-12" id="page_9_12" >
								<!-- Page (9-12) -->

											<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
													<h4><b>Page : 9</b></h4>
												</div>

												<div style="padding-bottom:20px;">
													<input type="textarea" name="articleTitle9" id="articleTitle9" class="form-control input-md" placeholder="Top Line Text" value="<%=singleArticle.articleTitle9 %>" tabindex="1" >
												</div>
												<div style="padding-bottom:20px;">
													<input type="text" name="article9" id="article9" class="form-control input-md" placeholder="Top Sub Text" value="<%=singleArticle.article9 %>" tabindex="1" >
													
												</div>
												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;">
													<%if(singleArticle.img9&&singleArticle.img9!=''){%>
						                				<img src="<%=singleArticle.img9%>" style="height:50px;width:50px;">
						                			<%}%>
													<p>Choose Image File</p>
													<input type="file" id="img9" name="img9" />

												</div>
												<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
												<button type="button" id="default_9" onclick="default_article('9')" class="btn btn-info pull-right">Set as cover image</button>
											</div>
												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="source9" id="source9" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=singleArticle.source9 %>" tabindex="1" >
													
												</div>
												<div style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="bottomText9" id="bottomText9" class="form-control input-md" placeholder="Bottom Line Text" value="<%=singleArticle.bottomText9 %>" tabindex="1" >
													
												</div>


											</div>



											<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
													<h4><b>Page : 10</b></h4>
												</div>

												<div style="padding-bottom:20px;">
													<input type="textarea" name="articleTitle10" id="articleTitle10" class="form-control input-md" placeholder="Top Line Text" value="<%=singleArticle.articleTitle10 %>" tabindex="1" >
												</div>
												<div style="padding-bottom:20px;">
													<input type="text" name="article10" id="article10" class="form-control input-md" placeholder="Top Sub Text" value="<%=singleArticle.article10 %>" tabindex="1" >
													
												</div>
												<div class="col-lg-8" style="padding-bottom:20px;padding-left:0;">
													<%if(singleArticle.img10&&singleArticle.img10!=''){%>
						                				<img src="<%=singleArticle.img10%>" style="height:50px;width:50px;">
						                			<%}%>
													<p>Choose Image File</p>
													<input type="file" id="img10" name="img10" />

												</div>
												<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
												<button type="button" id="default_10" onclick="default_article('10')" class="btn btn-info pull-right">Set as cover image</button>
											</div>
												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="source10" id="source10" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=singleArticle.source10 %>" tabindex="1" >
													
												</div>
												<div style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="bottomText10" id="bottomText10" class="form-control input-md" placeholder="Bottom Line Text" value="<%=singleArticle.bottomText10 %>" tabindex="1" >
													
												</div>


											</div>

											<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
													<h4><b>Page : 11</b></h4>
												</div>

												<div style="padding-bottom:20px;">
													<input type="textarea" name="articleTitle11" id="articleTitle11" class="form-control input-md" placeholder="Top Line Text" value="<%=singleArticle.articleTitle11 %>" tabindex="1" >
												</div>
												<div style="padding-bottom:20px;">
													<input type="text" name="article11" id="article11" class="form-control input-md" placeholder="Top Sub Text" value="<%=singleArticle.article11 %>" tabindex="1" >
													
												</div>
												<div class="col-lg-8" style="padding-bottom:20px;padding-left:0;">
													<%if(singleArticle.img11&&singleArticle.img11!=''){%>
						                				<img src="<%=singleArticle.img11%>" style="height:50px;width:50px;">
						                			<%}%>
													<p>Choose Image File</p>
													<input type="file" id="img11" name="img11" />

												</div>
												<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
												<button type="button" id="default_11" onclick="default_article('11')" class="btn btn-info pull-right">Set as cover image</button>
											</div>
												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="source11" id="source11" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=singleArticle.source11 %>" tabindex="1" >
													
												</div>
												<div style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="bottomText11" id="bottomText11" class="form-control input-md" placeholder="Bottom Line Text" value="<%=singleArticle.bottomText11 %>" tabindex="1" >
													
												</div>


											</div>
											<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
													<h4><b>Page : 12</b></h4>
												</div>

												<div style="padding-bottom:20px;">
													<input type="textarea" name="articleTitle12" id="articleTitle12" class="form-control input-md" placeholder="Top Line Text" value="<%=singleArticle.articleTitle12 %>" tabindex="1" >
												</div>
												<div style="padding-bottom:20px;">
													<input type="text" name="article12" id="article12" class="form-control input-md" placeholder="Top Sub Text" value="<%=singleArticle.article12 %>" tabindex="1" >
													
												</div>
												<div class="col-lg-8" style="padding-bottom:20px;padding-left:0;">
													<%if(singleArticle.img12&&singleArticle.img12!=''){%>
						                				<img src="<%=singleArticle.img12%>" style="height:50px;width:50px;">
						                			<%}%>
													<p>Choose Image File</p>
													<input type="file" id="img12" name="img12" />

												</div>
												<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
												<button type="button" id="default_12" onclick="default_article('12')" class="btn btn-info pull-right">Set as cover image</button>
											</div>
												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="source12" id="source12" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=singleArticle.source12 %>" tabindex="1" >
													
												</div>
												<div style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="bottomText12" id="bottomText12" class="form-control input-md" placeholder="Bottom Line Text" value="<%=singleArticle.bottomText12 %>" tabindex="1" >
													
												</div>


											</div>
								</div>
		<% } %>

	<% if(singleArticle.morepage==3) {%>
								<div class="col-lg-12" id="page_13_16" >
								<!-- Page (13-16) -->

											<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
													<h4><b>Page : 13</b></h4>
												</div>

												<div style="padding-bottom:20px;">
													<input type="textarea" name="articleTitle13" id="articleTitle13" class="form-control input-md" placeholder="Top Line Text" value="<%=singleArticle.articleTitle13 %>" tabindex="1" >
												</div>
												<div style="padding-bottom:20px;">
													<input type="text" name="article13" id="article13" class="form-control input-md" placeholder="Top Sub Text" value="<%=singleArticle.article13 %>" tabindex="1" >
													
												</div>
												<div class="col-lg-8" style="padding-bottom:20px;padding-left:0;">
													<%if(singleArticle.img13&&singleArticle.img13!=''){%>
						                				<img src="<%=singleArticle.img13%>" style="height:50px;width:50px;">
						                			<%}%>
													<p>Choose Image File</p>
													<input type="file" id="img13" name="img13" />

												</div>
												<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
												<button type="button" id="default_13" onclick="default_article('13')" class="btn btn-info pull-right">Set as cover image</button>
											</div>
												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="source13" id="source13" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=singleArticle.source13 %>" tabindex="1" >
													
												</div>
												<div style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="bottomText13" id="bottomText13" class="form-control input-md" placeholder="Bottom Line Text" value="<%=singleArticle.bottomText13 %>" tabindex="1" >
													
												</div>


											</div>



											<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
													<h4><b>Page : 14</b></h4>
												</div>

												<div style="padding-bottom:20px;">
													<input type="textarea" name="articleTitle14" id="articleTitle14" class="form-control input-md" placeholder="Top Line Text" value="<%=singleArticle.articleTitle14 %>" tabindex="1" >
												</div>
												<div style="padding-bottom:20px;">
													<input type="text" name="article14" id="article14" class="form-control input-md" placeholder="Top Sub Text" value="<%=singleArticle.article14 %>" tabindex="1" >
													
												</div>
												<div class="col-lg-8" style="padding-bottom:20px;padding-left:0;">
													<%if(singleArticle.img14&&singleArticle.img14!=''){%>
						                				<img src="<%=singleArticle.img14%>" style="height:50px;width:50px;">
						                			<%}%>
													<p>Choose Image File</p>
													<input type="file" id="img14" name="img14" />

												</div>
												<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
												<button type="button" id="default_14" onclick="default_article('14')" class="btn btn-info pull-right">Set as cover image</button>
											</div>
												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="source14" id="source14" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=singleArticle.source14 %>" tabindex="1" >
													
												</div>
												<div style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="bottomText14" id="bottomText14" class="form-control input-md" placeholder="Bottom Line Text" value="<%=singleArticle.bottomText14 %>" tabindex="1" >
													
												</div>


											</div>

											<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
													<h4><b>Page : 15</b></h4>
												</div>

												<div style="padding-bottom:20px;">
													<input type="textarea" name="articleTitle15" id="articleTitle15" class="form-control input-md" placeholder="Top Line Text" value="<%=singleArticle.articleTitle15 %>" tabindex="1" >
												</div>
												<div style="padding-bottom:20px;">
													<input type="text" name="article15" id="article15" class="form-control input-md" placeholder="Top Sub Text" value="<%=singleArticle.article15 %>" tabindex="1" >
													
												</div>				
												<div class="col-lg-8" style="padding-bottom:20px;padding-left:0;">
													<%if(singleArticle.img15&&singleArticle.img15!=''){%>
						                				<img src="<%=singleArticle.img15%>" style="height:50px;width:50px;">
						                			<%}%>
													<p>Choose Image File</p>
													<input type="file" id="img15" name="img15" />

												</div>
												<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
												<button type="button" id="default_15" onclick="default_article('15')" class="btn btn-info pull-right">Set as cover image</button>
											</div>
												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="source15" id="source15" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=singleArticle.source15 %>" tabindex="1" >
													
												</div>
												<div style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="bottomText15" id="bottomText15" class="form-control input-md" placeholder="Bottom Line Text" value="<%=singleArticle.bottomText15 %>" tabindex="1" >
													
												</div>


											</div>
											<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
													<h4><b>Page : 16</b></h4>
												</div>

												<div style="padding-bottom:20px;">
													<input type="textarea" name="articleTitle16" id="articleTitle16" class="form-control input-md" placeholder="Top Line Text" value="<%=singleArticle.articleTitle16 %>" tabindex="1" >
												</div>
												<div style="padding-bottom:20px;">
													<input type="text" name="article16" id="article16" class="form-control input-md" placeholder="Top Sub Text" value="<%=singleArticle.article16 %>" tabindex="1" >
													
												</div>
												<div class="col-lg-8" style="padding-bottom:20px;padding-left:0;">
													<%if(singleArticle.img16&&singleArticle.img16!=''){%>
						                				<img src="<%=singleArticle.img16%>" style="height:50px;width:50px;">
						                			<%}%>
													<p>Choose Image File</p>
													<input type="file" id="img16" name="img16" />

												</div>
												<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
												<button type="button" id="default_16" onclick="default_article('16')" class="btn btn-info pull-right">Set as cover image</button>
											</div>
												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="source16" id="source16" class="form-control input-md" placeholder="Source of image (Link/ Credit)" value="<%=singleArticle.source16 %>" tabindex="1" >
													
												</div>
												<div style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="bottomText16" id="bottomText16" class="form-control input-md" placeholder="Bottom Line Text" value="<%=singleArticle.bottomText16 %>" tabindex="1" >
													
												</div>


											</div>

											
								</div>


	<% } %>							<!-- rumi -->
									<div class="col-lg-12" id="page_5_8" style="display:none;">
								<!-- Page (5-8) -->

											<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
											<div class="col-lg-8"><h4><b>Page : 5</b></h4></div>
											<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
												<button type="button" id="default_5" onclick="default_article('5')" class="btn btn-info pull-right">Set as cover page</button>
											</div>

											
										</div>

												<div style="padding-bottom:20px;">
													<input type="textarea" name="articleTitle5" id="articleTitle5" class="form-control input-md" placeholder="Top Line Text" tabindex="1" >
												</div>
												<div style="padding-bottom:20px;">
													<input type="text" name="article5" id="article5" class="form-control input-md" placeholder="Top Sub Text" tabindex="1" >
													
												</div>

												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;">
													<%if(singleArticle.img5&&singleArticle.img5!=''){%>
						                				<img src="<%=singleArticle.img5%>" style="height:50px;width:50px;">
						                			<%}%>
														<p>Choose Image File</p>
														<input type="file" id="img5" name="img5" />

												</div>
						                						

												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="source5" id="source5" class="form-control input-md" placeholder="Source of image (Link/ Credit)" tabindex="1" >
													
												</div>
												<div style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="bottomText5" id="bottomText5" class="form-control input-md" placeholder="Bottom Line Text" tabindex="1" >
													
												</div>


											</div>



											<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
											<div class="col-lg-8"><h4><b>Page : 6</b></h4></div>
											<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
												<button type="button" id="default_6" onclick="default_article('6')" class="btn btn-info pull-right">Set as cover page</button>
											</div>

											
										</div>

												<div style="padding-bottom:20px;">
													<input type="textarea" name="articleTitle6" id="articleTitle6" class="form-control input-md" placeholder="Top Line Text" tabindex="1" >
												</div>
												<div style="padding-bottom:20px;">
													<input type="text" name="article6" id="article6" class="form-control input-md" placeholder="Top Sub Text" tabindex="1" >
													
												</div>

												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;">
													<%if(singleArticle.img6&&singleArticle.img6!=''){%>
						                				<img src="<%=singleArticle.img6%>" style="height:50px;width:50px;">
						                			<%}%>
														<p>Choose Image File</p>
														<input type="file" id="img6" name="img6" />
												</div>
						                						

												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="source6" id="source6" class="form-control input-md" placeholder="Source of image (Link/ Credit)" tabindex="1" >
													
												</div>
												<div style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="bottomText6" id="bottomText6" class="form-control input-md" placeholder="Bottom Line Text" tabindex="1" >
													
												</div>


											</div>

											<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
											<div class="col-lg-8"><h4><b>Page : 7</b></h4></div>
											<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
												<button type="button" id="default_7" onclick="default_article('7')" class="btn btn-info pull-right">Set as cover page</button>
											</div>

											
										</div>

												<div style="padding-bottom:20px;">
													<input type="textarea" name="articleTitle7" id="articleTitle7" class="form-control input-md" placeholder="Top Line Text" tabindex="1" >
												</div>
												<div style="padding-bottom:20px;">
													<input type="text" name="article7" id="article7" class="form-control input-md" placeholder="Top Sub Text" tabindex="1" >
													
												</div>

												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;">
													<%if(singleArticle.img7&&singleArticle.img7!=''){%>
						                				<img src="<%=singleArticle.img7%>" style="height:50px;width:50px;">
						                			<%}%>
														<p>Choose Image File</p>
														<input type="file" id="img7" name="img7" />
												</div>
						                						

												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="source7" id="source7" class="form-control input-md" placeholder="Source of image (Link/ Credit)" tabindex="1" >
													
												</div>
												<div style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="bottomText7" id="bottomText7" class="form-control input-md" placeholder="Bottom Line Text" tabindex="1" >
													
												</div>


											</div>
											<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
											<div class="col-lg-8"><h4><b>Page : 8</b></h4></div>
											<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
												<button type="button" id="default_8" onclick="default_article('8')" class="btn btn-info pull-right">Set as cover page</button>
											</div>

											
										</div>

												<div style="padding-bottom:20px;">
													<input type="textarea" name="articleTitle8" id="articleTitle8" class="form-control input-md" placeholder="Top Line Text" tabindex="1" >
												</div>
												<div style="padding-bottom:20px;">
													<input type="text" name="article8" id="article8" class="form-control input-md" placeholder="Top Sub Text" tabindex="1" >
													
												</div>

												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;">
													<%if(singleArticle.img8&&singleArticle.img8!=''){%>
						                				<img src="<%=singleArticle.img8%>" style="height:50px;width:50px;">
						                			<%}%>
														<p>Choose Image File</p>
														<input type="file" id="img8" name="img8" />
												</div>
						                						

												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="source8" id="source8" class="form-control input-md" placeholder="Source of image (Link/ Credit)" tabindex="1" >
													
												</div>
												<div style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="bottomText8" id="bottomText8" class="form-control input-md" placeholder="Bottom Line Text" tabindex="1" >
													
												</div>


											</div>
								</div>
								<div class="col-lg-12" id="page_9_12" style="display:none;">
								<!-- Page (9-12) -->

											<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
											<div class="col-lg-8"><h4><b>Page : 9</b></h4></div>
											<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
												<button type="button" id="default_9" onclick="default_article('9')" class="btn btn-info pull-right">Set as cover page</button>
											</div>

											
										</div>

												<div style="padding-bottom:20px;">
													<input type="textarea" name="articleTitle9" id="articleTitle9" class="form-control input-md" placeholder="Top Line Text" tabindex="1" >
												</div>
												<div style="padding-bottom:20px;">
													<input type="text" name="article9" id="article9" class="form-control input-md" placeholder="Top Sub Text" tabindex="1" >
													
												</div>

												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;">
													<%if(singleArticle.img9&&singleArticle.img9!=''){%>
						                				<img src="<%=singleArticle.img9%>" style="height:50px;width:50px;">
						                			<%}%>
														<p>Choose Image File</p>
														<input type="file" id="img9" name="img9" />
												</div>
						                						

												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="source9" id="source9" class="form-control input-md" placeholder="Source of image (Link/ Credit)" tabindex="1" >
													
												</div>
												<div style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="bottomText9" id="bottomText9" class="form-control input-md" placeholder="Bottom Line Text" tabindex="1" >
													
												</div>


											</div>



											<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
											<div class="col-lg-8"><h4><b>Page : 10</b></h4></div>
											<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
												<button type="button" id="default_10" onclick="default_article('10')" class="btn btn-info pull-right">Set as cover page</button>
											</div>

											
										</div>

												<div style="padding-bottom:20px;">
													<input type="textarea" name="articleTitle10" id="articleTitle10" class="form-control input-md" placeholder="Top Line Text" tabindex="1" >
												</div>
												<div style="padding-bottom:20px;">
													<input type="text" name="article10" id="article10" class="form-control input-md" placeholder="Top Sub Text" tabindex="1" >
													
												</div>

												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;">
													<%if(singleArticle.img10&&singleArticle.img10!=''){%>
						                				<img src="<%=singleArticle.img10%>" style="height:50px;width:50px;">
						                			<%}%>
														<p>Choose Image File</p>
														<input type="file" id="img10" name="img10" />
												</div>
						                						

												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="source10" id="source10" class="form-control input-md" placeholder="Source of image (Link/ Credit)" tabindex="1" >
													
												</div>
												<div style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="bottomText10" id="bottomText10" class="form-control input-md" placeholder="Bottom Line Text" tabindex="1" >
													
												</div>


											</div>

											<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
											<div class="col-lg-8"><h4><b>Page : 11</b></h4></div>
											<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
												<button type="button" id="default_11" onclick="default_article('11')" class="btn btn-info pull-right">Set as cover page</button>
											</div>

											
										</div>

												<div style="padding-bottom:20px;">
													<input type="textarea" name="articleTitle11" id="articleTitle11" class="form-control input-md" placeholder="Top Line Text" tabindex="1" >
												</div>
												<div style="padding-bottom:20px;">
													<input type="text" name="article11" id="article11" class="form-control input-md" placeholder="Top Sub Text" tabindex="1" >
													
												</div>

												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;">
													<%if(singleArticle.img11&&singleArticle.img11!=''){%>
						                				<img src="<%=singleArticle.img11%>" style="height:50px;width:50px;">
						                			<%}%>
														<p>Choose Image File</p>
														<input type="file" id="img11" name="img11" />
												</div>
						                						

												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="source11" id="source11" class="form-control input-md" placeholder="Source of image (Link/ Credit)" tabindex="1" >
													
												</div>
												<div style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="bottomText11" id="bottomText11" class="form-control input-md" placeholder="Bottom Line Text" tabindex="1" >
													
												</div>


											</div>
											<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
											<div class="col-lg-8"><h4><b>Page : 12</b></h4></div>
											<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
												<button type="button" id="default_12" onclick="default_article('12')" class="btn btn-info pull-right">Set as cover page</button>
											</div>

											
										</div>

												<div style="padding-bottom:20px;">
													<input type="textarea" name="articleTitle12" id="articleTitle12" class="form-control input-md" placeholder="Top Line Text" tabindex="1" >
												</div>
												<div style="padding-bottom:20px;">
													<input type="text" name="article12" id="article12" class="form-control input-md" placeholder="Top Sub Text" tabindex="1" >
													
												</div>

												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;">
													<%if(singleArticle.img12&&singleArticle.img12!=''){%>
						                				<img src="<%=singleArticle.img12%>" style="height:50px;width:50px;">
						                			<%}%>
														<p>Choose Image File</p>
														<input type="file" id="img12" name="img12" />
												</div>
						                						

												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="source12" id="source12" class="form-control input-md" placeholder="Source of image (Link/ Credit)" tabindex="1" >
													
												</div>
												<div style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="bottomText12" id="bottomText12" class="form-control input-md" placeholder="Bottom Line Text" tabindex="1" >
													
												</div>


											</div>
								</div>

								<div class="col-lg-12" id="page_13_16" style="display:none;">
								<!-- Page (13-16) -->

											<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
											<div class="col-lg-8"><h4><b>Page : 13</b></h4></div>
											<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
												<button type="button" id="default_13" onclick="default_article('13')" class="btn btn-info pull-right">Set as cover page</button>
											</div>

											
										</div>

												<div style="padding-bottom:20px;">
													<input type="textarea" name="articleTitle13" id="articleTitle13" class="form-control input-md" placeholder="Top Line Text" tabindex="1" >
												</div>
												<div style="padding-bottom:20px;">
													<input type="text" name="article13" id="article13" class="form-control input-md" placeholder="Top Sub Text" tabindex="1" >
													
												</div>

												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;">
													<%if(singleArticle.img13&&singleArticle.img13!=''){%>
						                				<img src="<%=singleArticle.img13%>" style="height:50px;width:50px;">
						                			<%}%>
														<p>Choose Image File</p>
														<input type="file" id="img13" name="img13" />
												</div>
						                						

												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="source13" id="source13" class="form-control input-md" placeholder="Source of image (Link/ Credit)" tabindex="1" >
													
												</div>
												<div style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="bottomText13" id="bottomText13" class="form-control input-md" placeholder="Bottom Line Text" tabindex="1" >
													
												</div>


											</div>



											<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
											<div class="col-lg-8"><h4><b>Page : 14</b></h4></div>
											<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
												<button type="button" id="default_14" onclick="default_article('14')" class="btn btn-info pull-right">Set as cover page</button>
											</div>

											
										</div>

												<div style="padding-bottom:20px;">
													<input type="textarea" name="articleTitle14" id="articleTitle14" class="form-control input-md" placeholder="Top Line Text" tabindex="1" >
												</div>
												<div style="padding-bottom:20px;">
													<input type="text" name="article14" id="article14" class="form-control input-md" placeholder="Top Sub Text" tabindex="1" >
													
												</div>

												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;">
													<%if(singleArticle.img14&&singleArticle.img14!=''){%>
						                				<img src="<%=singleArticle.img14%>" style="height:50px;width:50px;">
						                			<%}%>
														<p>Choose Image File</p>
														<input type="file" id="img14" name="img14" />
												</div>
						                						

												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="source14" id="source14" class="form-control input-md" placeholder="Source of image (Link/ Credit)" tabindex="1" >
													
												</div>
												<div style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="bottomText14" id="bottomText14" class="form-control input-md" placeholder="Bottom Line Text" tabindex="1" >
													
												</div>


											</div>

											<div class="col-lg-12 panel panel-success" >
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
												<div class="col-lg-8"><h4><b>Page : 15</b></h4></div>
												<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
													<button type="button" id="default_15" onclick="default_article('15')" class="btn btn-info pull-right">Set as cover page</button>
												</div>

												
											</div>

												<div style="padding-bottom:20px;">
													<input type="textarea" name="articleTitle15" id="articleTitle15" class="form-control input-md" placeholder="Top Line Text" tabindex="1" >
												</div>
												<div style="padding-bottom:20px;">
													<input type="text" name="article15" id="article15" class="form-control input-md" placeholder="Top Sub Text" tabindex="1" >
													
												</div>

												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;">
													<%if(singleArticle.img15&&singleArticle.img15!=''){%>
						                				<img src="<%=singleArticle.img15%>" style="height:50px;width:50px;">
						                			<%}%>
														<p>Choose Image File</p>
														<input type="file" id="img15" name="img15" />
												</div>
						                						

												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="source15" id="source15" class="form-control input-md" placeholder="Source of image (Link/ Credit)" tabindex="1" >
													
												</div>
												<div style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="bottomText15" id="bottomText15" class="form-control input-md" placeholder="Bottom Line Text" tabindex="1" >
													
												</div>


											</div>
											<div class="col-lg-12 panel panel-success" >

											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
												<div class="col-lg-8"><h4><b>Page : 16</b></h4></div>
												<div class="col-lg-4" style="padding-top:10px;padding-right:0;">
													<button type="button" id="default_16" onclick="default_article('16')" class="btn btn-info pull-right">Set as cover page</button>
												</div>

												
											</div>

												<div style="padding-bottom:20px;">
													<input type="textarea" name="articleTitle16" id="articleTitle16" class="form-control input-md" placeholder="Top Line Text" tabindex="1" >
												</div>
												<div style="padding-bottom:20px;">
													<input type="text" name="article16" id="article16" class="form-control input-md" placeholder="Top Sub Text" tabindex="1" >
													
												</div>

												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;">
													<%if(singleArticle.img16&&singleArticle.img16!=''){%>
						                				<img src="<%=singleArticle.img16%>" style="height:50px;width:50px;">
						                			<%}%>
														<p>Choose Image File</p>
														<input type="file" id="img16" name="img16" />
												</div>
						                						

												<div class="col-lg-12" style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="source16" id="source16" class="form-control input-md" placeholder="Source of image (Link/ Credit)" tabindex="1" >
													
												</div>
												<div style="padding-bottom:20px;padding-left:0;padding-right:0;">
													<input type="text" name="bottomText16" id="bottomText16" class="form-control input-md" placeholder="Bottom Line Text" tabindex="1" >
													
												</div>

												<input type="hidden" id="draft" name="draft" value="">


											</div>
								</div>

<!-- rumi -->





									<div class="col-lg-12" style="padding-right:0;padding-bottom:30px;">
									<div style="padding-bottom:20px;padding-right:0;" class="pull-right">
										<div class="btn-group" id="remove" style="display:none;">
											<button class="btn btn-info " type="button" id="romove_more" tabindex="1">Remove 4 Pages</button>
										</div>
										<div class="btn-group">
											<button class="btn btn-info " type="button" id="add_more" tabindex="1">Add More 4 Pages</button>
										</div>
										<div class="btn-group">
											<button class="btn btn-info pull-right" type="button" id="preview" data-toggle="modal" data-target="#myModal" tabindex="1">Preview Article</button>
										</div>
										<div class="btn-group">
											<button class="btn btn-info pull-right" type="button" id="submit_draft" data-toggle="modal" data-target="#myModalDraft" tabindex="1">Save Draft</button>
										</div>


										<div class="btn-group">
											<button class="btn btn-info pull-right" data-toggle="modal" data-target="#waiting_modal" type="button" id="submit_article" tabindex="1">Submit the Article</button>
										</div>
									</div>
								</div>




							</div>


						</form>


				</div>
				




			</div>
		</div>
		
	</div>

	<div class="modal fade " id="waiting_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
     
      <div class="modal-body" style="height:60px;">
          <div class="col-lg-12" id="waitinfo" style="" align="center">
          	<div class="col-lg-1" ><img src="/img/8.gif"></div>
			<div class="col-lg-11" ><p style="color:green"><b><i>Thanks for submitting the article. Please wait while we upload your article.</i></b> </p></div>
		</div>

      </div>
     
    </div>
  </div>
</div>
<div class="modal fade " id="myModalDraft" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Confirmation </h4>
      </div>
      <div class="modal-body" style="height:200px;">
          <div class="col-lg-12" style="padding-top:45px;" align="center">
              <p>The draft is updated </p>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#waiting_modal_draft"  id="confirmation_draft">Please continue</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade " id="waiting_modal_draft" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
     
      <div class="modal-body" style="height:60px;">
          <div class="col-lg-12" id="waitinfo" style="" align="center">
          	<div class="col-lg-1" ><img src="/img/8.gif"></div>
			<div class="col-lg-11" ><p style="color:green"><b><i>Please wait while saved your article as a draft.</i></b> </p></div>
		</div>

      </div>
     
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="modalContent" style="height: 955px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div id="booktitle" style="font-size:30px;"> </div>
      </div>
      <div class="modal-body">
          <div class="col-lg-12" style="padding-top:10px;">
          	  <div class="col-lg-12"><h4>Page : 1</h4><br></div>
          	   
          	   <div class="col-lg-6">
              <div class="col-lg-12" id="top1"> </div>
              <div class="col-lg-12" id="sub1"> </div>
              <div class="col-lg-12" id="Source1"> </div>
              <div class="col-lg-12" id="bottom1"> </div>
              </div>
              <div class="col-lg-6">
          	  <%if (singleArticle.articleImage!=null){%>
          	  <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.articleImage %>" alt="Jason's Photo" style="width: inherit" />
          	  <%}%>
          	  </div>
          </div>
          <div class="col-lg-12" style="padding-top:10px;padding-bottom:10px;">
          	<div class="col-lg-12" id="page2" style="display:none"><h4>Page : 2</h4><br></div>
          	 
          	   <div class="col-lg-6">
              <div class="col-lg-12" id="page-2"></div>
              <div class="col-lg-12" id="top2"> </div>
              <div class="col-lg-12" id="sub2"> </div>
              <div class="col-lg-12" id="Source2"> </div>
              <div class="col-lg-12" id="bottom2"> </div>
          </div>
          <div class="col-lg-6">
          	 <%if (singleArticle.img2!=""){%>
          	  <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.img2 %>" alt="Jason's Photo" style="width: inherit" />
          	  <%}%>
          	</div>
      </div>
          <div class="col-lg-12">
          	<div class="col-lg-12" id="page3" style="display:none"><h4>Page : 3</h4><br></div>
          	 
          	 <div class="col-lg-6">
              <div class="col-lg-12" id="page-3"></div>
              <div class="col-lg-12" id="top3"> </div>
              <div class="col-lg-12" id="sub3"> </div>
              <div class="col-lg-12" id="Source3"> </div>
              <div class="col-lg-12" id="bottom3"> </div>
          </div>
          <div class="col-lg-6">
          	<%if (singleArticle.img3!="" ){%>
          	  <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.img3 %>" alt="Jason's Photo" style="width: inherit" />
          	  <%}%>
          	</div>
      </div>
          <div class="col-lg-12">
          	<div class="col-lg-12"  id="page4" style="display:none"><h4>Page : 4</h4><br></div>
          	
          	 <div class="col-lg-6">
              <div class="col-lg-12" id="page-4"></div>
              <div class="col-lg-12" id="top4"> </div>
              <div class="col-lg-12" id="sub4"> </div>
              <div class="col-lg-12" id="Source4"> </div>
              <div class="col-lg-12" id="bottom4"> </div>
          </div>
           <div class="col-lg-6">
          	<%if (singleArticle.img4!="" ){%>
          	  <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.img4 %>" alt="Jason's Photo" style="width: inherit" />
          	  <%}%>
          	</div>
      </div>
          <div class="col-lg-12">
          	<div class="col-lg-12"  id="page5" style="display:none"><h4>Page : 5</h4><br></div>
          	 
          	  <!-- C:\fakepath\Lighthouse.jpg -->
          	  <!-- <img src="" id="article_image5"> -->
          	  <!-- <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=singleArticle.img5 %>" alt="Jason's Photo" style="width: inherit" />
          	   -->
          	    <div class="col-lg-6">
              <div class="col-lg-12" id="page-5"></div>
              <div class="col-lg-12" id="top5"> </div>
              <div class="col-lg-12" id="sub5"> </div>
              <div class="col-lg-12" id="Source5"> </div>
              <div class="col-lg-12" id="bottom5"> </div>
          </div>
          <div class="col-lg-6">
          	<%if (singleArticle.img5!=null ){%>
          	  <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.img5 %>" alt="Jason's Photo" style="width: inherit" />
          	  <%}%>
          	</div>
          </div>
          <div class="col-lg-12">
          	<div class="col-lg-12"  id="page6" style="display:none"><h4>Page : 6</h4><br></div>
          	
          	 <div class="col-lg-6">
              <div class="col-lg-12" id="page-6"></div>
              <div class="col-lg-12" id="top6"> </div>
              <div class="col-lg-12" id="sub6"> </div>
              <div class="col-lg-12" id="Source6"> </div>
              <div class="col-lg-12" id="bottom6"> </div>
          </div>
           <div class="col-lg-6">
          	<%if (singleArticle.img6!=null ){%>
          	  <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.img6 %>" alt="Jason's Photo" style="width: inherit" />
          	  <%}%>
          	</div>
      </div>
          <div class="col-lg-12">
          	<div class="col-lg-12"  id="page7" style="display:none"><h4>Page : 7</h4><br></div>
          	
          	 <div class="col-lg-6">
              <div class="col-lg-12" id="page-7"></div>
              <div class="col-lg-12" id="top7"> </div>
              <div class="col-lg-12" id="sub7"> </div>
              <div class="col-lg-12" id="Source7"> </div>
              <div class="col-lg-12" id="bottom7"> </div>
          </div>
           <div class="col-lg-6">
          	<%if (singleArticle.img7!=null ){%>
          	  <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.img7 %>" alt="Jason's Photo" style="width: inherit" />
          	  <%}%>
          	</div>
      </div>
          <div class="col-lg-12">
          	<div class="col-lg-12"  id="page8" style="display:none"><h4>Page : 8</h4><br></div>
          	
          	 <div class="col-lg-6">
              <div class="col-lg-12" id="page-8"></div>
              <div class="col-lg-12" id="top8"> </div>
              <div class="col-lg-12" id="sub8"> </div>
              <div class="col-lg-12" id="Source8"> </div>
              <div class="col-lg-12" id="bottom8"> </div>
          </div>
           <div class="col-lg-6">
          	<%if (singleArticle.img8!=null ){%>
          	  <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.img8 %>" alt="Jason's Photo" style="width: inherit" />
          	  <%}%>
          	</div>
      </div>
          <div class="col-lg-12">
          	<div class="col-lg-12"  id="page9" style="display:none"><h4>Page : 9</h4><br></div>
          	 
          	 <div class="col-lg-6">
              <div class="col-lg-12" id="page-9"></div>
              <div class="col-lg-12" id="top9"> </div>
              <div class="col-lg-12" id="sub9"> </div>
              <div class="col-lg-12" id="Source9"> </div>
              <div class="col-lg-12" id="bottom9"> </div>
          </div>
          <div class="col-lg-6">
          	<%if (singleArticle.img9!=null ){%>
          	  <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.img9 %>" alt="Jason's Photo" style="width: inherit" />
          	  <%}%>
          	</div>
      </div>
          <div class="col-lg-12">
          	<div class="col-lg-12"  id="page10" style="display:none"><h4>Page : 10</h4><br></div>
          	 
          	 <div class="col-lg-6">
              <div class="col-lg-12" id="page-10"></div>
              <div class="col-lg-12" id="top10"> </div>
              <div class="col-lg-12" id="sub10"> </div>
              <div class="col-lg-12" id="Source10"> </div>
              <div class="col-lg-12" id="bottom10"> </div>
          </div>
          <div class="col-lg-6">
          	<%if (singleArticle.img10!=null ){%>
          	  <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.img10 %>" alt="Jason's Photo" style="width: inherit" />
          	  <%}%>
          	</div>
          </div>
          <div class="col-lg-12">
          	<div class="col-lg-12"  id="page11" style="display:none"><h4>Page : 11</h4><br></div>
          	 
          	 <div class="col-lg-6">
              <div class="col-lg-12" id="page-11"></div>
              <div class="col-lg-12" id="top11"> </div>
              <div class="col-lg-12" id="sub11"> </div>
              <div class="col-lg-12" id="Source11"> </div>
              <div class="col-lg-12" id="bottom11"> </div>
          </div>
          <div class="col-lg-6">
          	<%if (singleArticle.img11!=null ){%>
          	  <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.img11%>" alt="Jason's Photo" style="width: inherit" />
          	  <%}%>
          	</div>
      </div>
          <div class="col-lg-12">
          	<div class="col-lg-12"  id="page12" style="display:none"><h4>Page : 12</h4><br></div>
          	 
          	 <div class="col-lg-6">
              <div class="col-lg-12" id="page-12"></div>
              <div class="col-lg-12" id="top12"> </div>
              <div class="col-lg-12" id="sub12"> </div>
              <div class="col-lg-12" id="Source12"> </div>
              <div class="col-lg-12" id="bottom12"> </div>
          </div>
          <div class="col-lg-6">
          	<%if (singleArticle.img12!=null ){%>
          	  <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.img12 %>" alt="Jason's Photo" style="width: inherit" />
          	  <%}%>
          	</div>
          </div>
          <div class="col-lg-12">
          	<div class="col-lg-12"  id="page13" style="display:none"><h4>Page : 13</h4><br></div>
          	 
          	 <div class="col-lg-6">
              <div class="col-lg-12" id="page-13"></div>
              <div class="col-lg-12" id="top13"> </div>
              <div class="col-lg-12" id="sub13"> </div>
              <div class="col-lg-12" id="Source13"> </div>
              <div class="col-lg-12" id="bottom13"> </div>
          </div>
          <div class="col-lg-6">
          	<%if (singleArticle.img13!=null ){%>
          	  <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.img13 %>" alt="Jason's Photo" style="width: inherit" />
          	  <%}%>
          	</div>
          </div>
          <div class="col-lg-12">
          	<div class="col-lg-12"  id="page14" style="display:none"><h4>Page : 14</h4><br></div>
          	 
          	   <div class="col-lg-6">
              <div class="col-lg-12" id="page-14"></div>
              <div class="col-lg-12" id="top14"> </div>
              <div class="col-lg-12" id="sub14"> </div>
              <div class="col-lg-12" id="Source14"> </div>
              <div class="col-lg-12" id="bottom14"> </div>
          </div>
          <div class="col-lg-6">
          	<%if (singleArticle.img14!=null ){%>
          	  <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.img14 %>" alt="Jason's Photo" style="width: inherit" />
          	  <%}%>
          	</div>
          </div>
          <div class="col-lg-12">
          	<div class="col-lg-12"  id="page15" style="display:none"><h4>Page : 15</h4><br></div>
          	 
          	 <div class="col-lg-6">
              <div class="col-lg-12" id="page-15"></div>
              <div class="col-lg-12" id="top15"> </div>
              <div class="col-lg-12" id="sub15"> </div>
              <div class="col-lg-12" id="Source15"> </div>
              <div class="col-lg-12" id="bottom15"> </div>
          </div>
          <div class="col-lg-6">
          	<%if (singleArticle.img15!=null ){%>
          	  <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.img15 %>" alt="Jason's Photo" style="width: inherit" />
          	  <%}%>
          	</div>
          </div>
          <div class="col-lg-12">
          	<div class="col-lg-12"  id="page16" style="display:none"><h4>Page : 16</h4><br></div>
          	 
          	 <div class="col-lg-6">
              <div class="col-lg-12" id="page-16"></div>
              <div class="col-lg-12" id="top16"> </div>
              <div class="col-lg-12" id="sub16"> </div>
              <div class="col-lg-12" id="Source16"> </div>
              <div class="col-lg-12" id="bottom16"> </div>
          </div>
          <div class="col-lg-6">
          	<%if (singleArticle.img16!=null ){%>
          	  <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.img16 %>" alt="Jason's Photo" style="width: inherit" />
          	  <%}%>
          	</div>
          </div>
      </div>

    </div>
  </div>
</div>

<!-- Modal for suggestion -->
</body>


<script src="/js/jquery.min.js"></script>
<script src="../js/jquery.ui.widget.js"></script>
<script src="../js/jquery.fileupload.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>
<script src="../js/bootstrap-multiselect.js" ></script>
<script type="text/javascript" src="/jquery-ui/jquery-ui.min.js"></script>
<script src="../js/tag-it.js" type="text/javascript"></script>



<script type="text/javascript">
$(document).ready(function(){
    //Handles menu drop down
    $('.dropdown-menu').find('input').click(function (e) {
        e.stopPropagation();
    });
    $('#demo').multiselect();
 $("#submit_article").click(function(){
$("#draft").val('waiting');

	var $category=[];

	$('#demo :selected').each(function(i, selected) { 

		
		$category[i]=selected.value;
		console.log("$category");
		
		
		
	});
	console.log($category);
	console.log($category.length)
	$('#hiddenCategory').val($category);
	// $("#submit_article").prop("type", "submit"); 
	 $("#articleSubmit").submit();
					//console.log($category);
    //     		var id= "<%= singleArticle._id %>";
    //     		console.log(id);

				// $.ajax({ url: '/submitDraft',
		  //        data: { 
		  //        	id:id,
		  //        },
		  //        type: 'POST',
		  //        success: function(output) 
		  //        {
		  //        	console.log(output);
		  //        	window.location = '/userArticle';
		         	
		  //         }
		  //  	});
        });
    $("#confirmation_draft").click(function(){
     		if($("#titleofBook").val() != "")
     		{
     			$("#articleSubmit").submit();
     		}
     		
    			
    	});   	
    $("#submit_draft").click(function(){

    			$("#draft").val('draft');
    			$("#myModalDraft").show();
    			console.log($("#draft").val());

					var $category=[];

					$('#demo :selected').each(function(i, selected) { 

						
						$category[i]=selected.value;
						console.log("$category");
						
						
						
					});
					console.log($category);
					console.log($category.length)
					$('#hiddenCategory').val($category); 
					//console.log($category);
    	});


   // $("#booktitle").text($("#titleofBook").val());
    var x=$("#titleofBook").val();
    console.log(x);
    $("#booktitle").text(x);
    $("#top1").text($("#articleTitle").val());
    $("#sub1").text($("#article").val());
    $("#source1").text($("#source").val());
    $("#bottom1").text($("#bottomText").val());

    if($("#articleTitle2").val())
    {
		    //$("#page2").text('Page - 2');
		    var x=$("#articleTitle2").val();
		    $("#top2").text(x);
		    $("#page2").show();
		    $("#sub2").text($("#article2").val());
		    $("#source2").text($("#source2").val());
		    $("#bottom2").text($("#bottomText2").val());

    }
    if($("#articleTitle3").val())
    {
		    //$("#page3").text('Page - 3');
		    var x=$("#articleTitle3").val();
		    $("#top3").text(x);
		    $("#page3").show();
		    $("#sub3").text($("#article3").val());
		    $("#source3").text($("#source3").val());
		    $("#bottom3").text($("#bottomText3").val());

    }
    if($("#articleTitle4").val())
    {
		    //$("#page4").text('Page - 4');
		    var x=$("#articleTitle4").val();
		    $("#top4").text(x);
		     $("#page4").show();
		    $("#sub4").text($("#article4").val());
		    $("#source4").text($("#source4").val());
		    $("#bottom4").text($("#bottomText4").val());

    }
     if($("#articleTitle5").val())
    {
		    //$("#page5").text('Page - 5');
		    var x=$("#articleTitle5").val();
		    $("#top5").text(x);
		     $("#page5").show();
		     var imgfile5=$("#img5").val();
		     // article_image5.src = imgfile5;
		     // $("#article_image5").val($("#img5").val());
		     console.log(imgfile5)
		    $("#sub5").text($("#article5").val());
		    $("#source5").text($("#source5").val());
		    $("#bottom5").text($("#bottomText5").val());

    }
    if($("#articleTitle6").val())
    {
		    //$("#page6").text('Page - 6');
		    var x=$("#articleTitle6").val();
		    $("#top6").text(x);
		     $("#page6").show();
		    $("#sub6").text($("#article6").val());
		    $("#source6").text($("#source6").val());
		    $("#bottom6").text($("#bottomText6").val());

    }
    if($("#articleTitle7").val())
    {
		    //$("#page7").text('Page - 7');
		    var x=$("#articleTitle7").val();
		    $("#top7").text(x);
		     $("#page7").show();
		    $("#sub7").text($("#article7").val());
		    $("#source7").text($("#source7").val());
		    $("#bottom7").text($("#bottomText7").val());

    }
    if($("#articleTitle8").val())
    {
		    //$("#page8").text('Page - 8');
		    var x=$("#articleTitle8").val();
		    $("#top8").text(x);
		     $("#page8").show();
		    $("#sub8").text($("#article8").val());
		    $("#source8").text($("#source8").val());
		    $("#bottom8").text($("#bottomText8").val());

    }
    if($("#articleTitle9").val())
    {
		    //$("#page9").text('Page - 9');
		    var x=$("#articleTitle9").val();
		    $("#top9").text(x);
		     $("#page9").show();
		    $("#sub9").text($("#article9").val());
		    $("#source9").text($("#source9").val());
		    $("#bottom9").text($("#bottomText9").val());

    }
    if($("#articleTitle10").val())
    {
		    //$("#page10").text('Page - 10');
		    var x=$("#articleTitle10").val();
		    $("#top10").text(x);
		     $("#page10").show();
		    $("#sub10").text($("#article10").val());
		    $("#source10").text($("#source10").val());
		    $("#bottom10").text($("#bottomText10").val());

    }
    if($("#articleTitle11").val())
    {
		    //$("#page11").text('Page - 11');
		    var x=$("#articleTitle11").val();
		    $("#top11").text(x);
		     $("#page11").show();
		    $("#sub11").text($("#article11").val());
		    $("#source11").text($("#source11").val());
		    $("#bottom11").text($("#bottomText11").val());

    }
    if($("#articleTitle12").val())
    {
		    //$("#page12").text('Page - 12');
		    var x=$("#articleTitle12").val();
		    $("#top12").text(x);
		     $("#page12").show();
		    $("#sub12").text($("#article12").val());
		    $("#source12").text($("#source12").val());
		    $("#bottom12").text($("#bottomText12").val());

    }
    if($("#articleTitle13").val())
    {
		    //$("#page13").text('Page - 13');
		    var x=$("#articleTitle13").val();
		    $("#top13").text(x);
		     $("#page13").show();
		    $("#sub13").text($("#article13").val());
		    $("#source13").text($("#source13").val());
		    $("#bottom13").text($("#bottomText13").val());

    }
    if($("#articleTitle14").val())
    {
		    //$("#page14").text('Page - 14');
		    var x=$("#articleTitle14").val();
		    $("#top14").text(x);
		     $("#page14").show();
		    $("#sub14").text($("#article14").val());
		    $("#source14").text($("#source14").val());
		    $("#bottom14").text($("#bottomText14").val());

    }
    if($("#articleTitle15").val())
    {
		    //$("#page15").text('Page - 15');
		    var x=$("#articleTitle15").val();
		    $("#top15").text(x);
		     $("#page15").show();
		    $("#sub15").text($("#article15").val());
		    $("#source15").text($("#source15").val());
		    $("#bottom15").text($("#bottomText15").val());

    }
    if($("#articleTitle16").val())
    {
		    //$("#page16").text('Page - 16');
		    var x=$("#articleTitle16").val();
		    $("#top16").text(x);
		     $("#page16").show();
		    $("#sub16").text($("#article16").val());
		    $("#source16").text($("#source16").val());
		    $("#bottom16").text($("#bottomText16").val());

    }


});

function default_article(value){


 	console.log(value);
 	$("#default_"+value).attr("disabled","disabled");
 	$("#default_image").val(value);

 }
</script>






<script type='text/javascript'> 
$(document).ready(function()
{
var count=<%=singleArticle.morepage%>;
var a=<%=singleArticle.morepage%>
	if(a>0)
		$("#remove").show();


$("#preview").click(function(){
	console.log($("#morepage").val())
	if($("#morepage").val()==1)
		$("#modalContent").css('height','1000px')
    else if($("#morepage").val()==2)
    	$("#modalContent").css('height','1900px')
    else if($("#morepage").val()==3)
    	$("#modalContent").css('height','2400px')
    else if($("#morepage").val()==4)
    	$("#modalContent").css('height','3000px')

})

var page58=0;
       $("#add_more").click(function(){
		


		count++;
		if(count==1)
		{

			console.log("more: "+<%=singleArticle.morepage%>)
			<%if(singleArticle.morepage<=1){%>
			$("#remove").show();
			console.log(count);
			$("#morepage").val(count);
			$("#page_5_8").show();
			$("#remove").show();
			<%}%>
			$("#remove").show();
			console.log(count);
			$("#morepage").val(count);
			$("#page_5_8").show();
			$("#remove").show();
			
		}
		if(count==2)
		{
			<%if(singleArticle.morepage<=2){%>
			console.log(count);
			$("#morepage").val(count);
			$("#page_9_12").show();
			$("#remove").show();
			<%}%>
			$("#morepage").val(count);
			$("#page_9_12").show();
			$("#remove").show();
			
		}
		else if(count == 3)
		{
			<%if(singleArticle.morepage<=3){%>
			console.log(count);
			$("#morepage").val(count);
			$("#page_13_16").show();
			$("#add_more").hide();
			$("#remove").show();
			<%}%>	
			$("#morepage").val(count);
			$("#page_13_16").show();
			$("#add_more").hide();
			$("#remove").show();
		}



	});
	

	$("#romove_more").click(function(){
			count--;
			var a=<%=singleArticle.morepage%>
			alert(a+" "+count)
			console.log('Remove:'+count);
			// if(a==count){
			// 	$("#remove").hide();
			// 	$("#add_more").show();

			// }
			if(count == 0)
			{

				<%if(singleArticle.morepage<=1){%>
				$("#morepage").val(count);
				console.log($("#morepage").val());
				$("#page_5_8").hide();
				$("#remove").hide();
				$("#add_more").show();
				<%}%>
				$("#morepage").val(count);
				console.log($("#morepage").val());
				$("#page_5_8").hide();
				$("#remove").hide();
				$("#add_more").show();
			}
			else if(count ==1)
			{
				$("#morepage").val(count);
				$("#page_9_12").hide();
			}
			else if(count == 2)
			{
				$("#morepage").val(count);
				$("#page_13_16").hide();
			}

	});
});
        
</script> 
</html>