<meta charset="utf-8">
<title>পাতার বই</title>
<meta name="description" content="A website for short and simple books for kids." />
<meta name="keywords" content="kids, book, easy, simple, free, blog, bengali, english, math, story, religion, blogger" />

<!--STYLESHEETS-->
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/print.css" type="text/css" media="print" />

<link rel="stylesheet" type="text/css" href="/lib/bootstrap3/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/common.css">   
<link rel="stylesheet" type="text/css" href="/css/views/index.css"> 
<!--INTERNET EXPLORER SPECIFIC STYLESHEETS-->
<!--[if lte IE 8]>
<link rel="stylesheet" href="assets/ie8_hacks.css" type="text/css" media="screen" />
<![endif]-->

<!--Help IE8 and earlier with HTML5-->
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!--GOOGLE WEB FONTS USED IN THIS TEMPLATE - http://www.google.com/webfonts-->
<link href='http://fonts.googleapis.com/css?family=Happy+Monkey' rel='stylesheet' type='text/css'>
<h1><a id="home" href="/" title="পাতার বই">পাতার বই</a></h1>
<nav id="main">
<ul>
<li id="access"><a href="#content">Skip navigation</a></li><!--enables people browsing without a mouse to skip the navigation-->
<li><a class="now" href="/">মূল পাতা</a></li>
<li><a href="userArticle" title="Link description if needed">আমাদের কথা</a></li>
<li><a href="signin" title="To login or register.">লগ-ইন করুন</a></li>
<li><a href="writeArticle" title="Link description if needed">লেখা জমা দিন</a></li>
<li><a href="#" title="Link description if needed">অনুদান করুন</a></li>
</ul>
</nav><!--end main-->