<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>পাতার বই</title>
<link rel="stylesheet" type="text/css" href="/lib/bootstrap3/css/bootstrap.css">
<link href="../css/home.css" type="text/css" rel="stylesheet">
<link href="../css/jPages.css" type="text/css" rel="stylesheet">

<link href="../css/jquery.tagit.css" type="text/css" rel="stylesheet">

<link href='http://fonts.googleapis.com/css?family=Happy+Monkey' rel='stylesheet' type='text/css'>
</head>

<body>

<!--Full content-->
<div class="container" id="main-container">
<!--Header-->
		<header class="">
			<p><img class="img-responsive" src="img/banner_final.png"></p>
				 <nav class="navbar navbar-default" role="navigation" id="navbar-home">
		  <!-- Brand and toggle get grouped for better mobile display -->
		                <div class="navbar-header">
		                   <button type="button" class="navbar-toggle" id="home-nav" data-toggle="collapse" data-target="#collapse-1">
		                       <span class="sr-only">Toggle navigation</span>
		                       <span class="icon-bar"></span>
		                       <span class="icon-bar"></span>
		                       <span class="icon-bar"></span>
		                   </button>
		                   <a class="navbar-brand visible-xs" href="">তালিকা</a>
		                </div>
		  <!-- Collect the nav links, forms, and other content for toggling -->
		                <div class="collapse navbar-collapse" id="collapse-1">
		                    <ul class="nav navbar-nav col-lg-11 col-md-11 col-sm-11 col-xs-10 pull-right" id="home-ul-nav" style="padding-left:0 !important; padding-top:15px;">
		                         <li><a href="/" class="nav-menu nav-a-active">মূল পাতা</a></li>
		                         <li><a href="/amaderkotha" class="nav-menu">আমাদের কথা</a></li>
                             <%if (login == '0') { %>
		                	         <li><a href="signin" class="nav-menu">লগ-ইন-করুন</a></li>
                             <% } %>
                             <%if (login == '1') { %>

                                <li><a href="signout" class="nav-menu">লগ আউট</a></li>
                             <% } %>
                             <%if (login == '0') { %>
                                  <li><a href="signin" class="nav-menu">লেখা জমা দিন</a></li>
                               <% } %>
                             <%if (login == '1') { %>
		                              <li><a href="writeNewArticle" class="nav-menu">লেখা জমা দিন</a></li>
                               <% } %>
		                	     <li><a href="/donation" class="nav-menu">অনুদান করুন</a></li>

		                    </ul>
		                </div>
		                <!-- Button trigger modal -->


  <!-- /.navbar-collapse -->
        		 </nav>
		</header>
    <!--Header-->
<!--Message-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <!-- <h5 class="invite-msg">স্বাগতম অতিথি</h5> -->
                </div>
              </div>
        </div>
    </div>

<!--Message-->
<!--Left SideBar-->
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="left-sidebar">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
               <h4 class="category">Category</h4>
            </div>

            <div id="left-slide" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left-side-sm left-slide">
            		<img  class="" src="img/Logo_Bengali_small.png">

                <p id="bengla" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bgla">বাংলা</p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left-side-sm left-slide">
            		<img  class="" src="img/Logo_English_small.png">
                <p id="english" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bgla">ইংরেজি</p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left-side-sm left-slide">
            		<img class="" src="img/Logo_story_small.png">
                <p id="story" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bgla">গল্প</p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left-side-sm left-slide">
            		<img  class="" src="img/logo_ethics_small.png">
                <p id="ethics" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bgla">আদর্শ</p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left-side-sm left-slide">
            		<img class="" src="img/Logo_religion_small.png">
                <p id="religion"  class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bgla">ধর্ম</p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left-side-sm left-slide">
            		<img class="" src="img/Logo_Math_small.png">
                <p id="math"  class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bgla">গণিত</p>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left-side-dif left-slide">
            		<img  class="img-responsive" src="img/logo_show_all_category_small.png">
                <p id="all" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bgla">সব বিষয়</p>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="ul-one" style="margin-top:10px;">
               <h4 class="level">Levels</h4>

               <ul>
                  <li id="one"><a class="text-1">1</a></li>
                  <li id="two"><a class="text-2">2</a></li>
                  <li id="three"><a class="text-3">3</a></li>
                  <li id="four"><a class="text-4">4</a></li>
                  <li id="five"><a class="text-5">5</a></li>
                  <li id="six"><a class="text-6">6</a></li>
                  <li id="seven"><a class="text-7">7</a></li>
                  <li id="all_article"><a class="text-show-all">Show all</a></li>
               </ul>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="ul-two" style="margin-top:10px;">
                  <h4 class="status">Status</h4>
                  <ul>
                     <li><a>Submitted</a></li>
                     <li><a>Accepted</a></li>
                     <li><a>Complete</a></li>
                     <li><a>Show all</a></li>
                  </ul>
            </div>
    </div>
<!--Left SideBar-->

<!--Main description section-->
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0;" id="index">
      <div class="col-lg-12" id="itemContainer">
    	<% for(var i=0; i<user.length; i++) {%>

    			<% for(var j=user[i].writeArticle.length-1; j>=0; j--) {%>
    			     
               <% if(user[i].writeArticle[j].status != 'waiting'&&user[i].writeArticle[j].status != 'draft'&&user[i].writeArticle[j].status != 'Rejected') { %> 


        			      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="">
        			         
                        
                           <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5  article-pre">
            			            <a href="/article?userid=<%= user[i]._id%>&articleid=<%= user[i].writeArticle[j]._id%>"><img style="height:150px; width:100%;" class="img-responsive" src="..<%=user[i].writeArticle[j].articleImage %>"></a>
            			         </div>


                        
        			         <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
        			            <h2 class="book-title"><a href="/article?userid=<%= user[i]._id%>&articleid=<%= user[i].writeArticle[j]._id%>"><%= user[i].writeArticle[j].bookTitle%></a></h2>
        			            <h4 class="book-writer">লেখাঃ <%= user[i].name%></h4>
                          <%if(user[i].writeArticle[j].artistId!=null){%>
        			            <h4 class="book-writer">ছবিঃ <%= user[i].writeArticle[j].artistName%></h4>
                          <%}%>
                          <%if(user[i].writeArticle[j].artistId==null){%>
                          <h4 class="book-writer">ছবিঃ <%= user[i].name%></h4>
                          <%}%>
        			            <h4 class="sub-level"><%= user[i].writeArticle[j].cetagory%></h4>
                          <h4 class="sub-level"> লেভেল :<span><%= user[i].writeArticle[j].label%></h4>

                          <span class="star_<%= user[i].writeArticle[j]._id%>" article-title-id="<%= user[i].writeArticle[j]._id%>" user-id="<%= user[i]._id%>"> </span>
        			            
        			         </div>
                       <div class="col-lg-12">
                       <hr>
                       </div>
        			      </div>


              <% } %>

    			<% } %>
		<% } %>
  </div>



</div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0;display:none;" id="bengla_article" >
      <div class="col-lg-12" id="itemContainer">
      <% for(var i=0; i<user.length; i++) {%>

          <% for(var j=user[i].writeArticle.length-1; j>=0; j--) {%>
               
               <% if(user[i].writeArticle[j].status != 'waiting'&&user[i].writeArticle[j].status != 'draft'&&user[i].writeArticle[j].status != 'Rejected') { %> 

                    <%for(var k=0;k<user[i].writeArticle[j].cetagory.length;k++){%>

                          <% if(user[i].writeArticle[j].cetagory[k] == 'বাংলা') { %> 
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5  article-pre">
                                  <a  onclick="article('<%= user[i]._id%>','<%= user[i].writeArticle[j]._id%>')"><img class="img-responsive" src="..<%=user[i].writeArticle[j].articleImage %>"></a>
                               </div>

                               <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                  <h2 class="book-title" ><%= user[i].writeArticle[j].bookTitle%></h2>
                                  <h4 class="book-writer">লেখাঃ <%= user[i].name%></h4>
                                  <%if(user[i].writeArticle[j].artistName!=null){%>
                                  <h4 class="book-writer">ছবিঃ <%= user[i].writeArticle[j].artistName%></h4>
                                  <%}%>
                                  <%if(user[i].writeArticle[j].artistName==null){%>
                                  <h4 class="book-writer">ছবিঃ <%= user[i].name%></h4>
                                  <%}%>
                                  <h4 class="sub-level"><%= user[i].writeArticle[j].cetagory%></h4>
                                  <h4 class="sub-level"> লেভেল :<span><%= user[i].writeArticle[j].label%></h4>
                                      <span style="font-size:12px;">
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star-empty"></i>
                                      </span>
                                  
                               </div>
                               <div class="col-lg-12">
                                 <hr>
                                 </div>
                            </div>
                          <% } %>
                    <%}%>

              <% } %>

          <% } %>
    <% } %>

    </div>
</div>
 






    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0;display:none;" id="english_article" >
      <div class="col-lg-12" id="itemContainer">
      <% for(var i=0; i<user.length; i++) {%>

          <% for(var j=user[i].writeArticle.length-1; j>=0; j--) {%>
               
               <% if(user[i].writeArticle[j].status != 'waiting'&&user[i].writeArticle[j].status != 'draft'&&user[i].writeArticle[j].status != 'Rejected') { %> 

                    <%for(var k=0;k<user[i].writeArticle[j].cetagory.length;k++){%>
                        <% if(user[i].writeArticle[j].cetagory[k] == 'ইংরেজি') { %> 
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                             <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5  article-pre">
                                <a  onclick="article('<%= user[i]._id%>','<%= user[i].writeArticle[j]._id%>')"><img class="img-responsive" src="../article_image/<%=user[i].writeArticle[j].homePic %>"></a>
                             </div>

                             <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <h2 class="book-title"><%= user[i].writeArticle[j].bookTitle%></h2>
                                <h4 class="book-writer">লেখাঃ <%= user[i].name%></h4>
                                <%if(user[i].writeArticle[j].artistName!=null){%>
                                <h4 class="book-writer">ছবিঃ <%= user[i].writeArticle[j].artistName%></h4>
                                <%}%>
                                <%if(user[i].writeArticle[j].artistName==null){%>
                                <h4 class="book-writer">ছবিঃ <%= user[i].name%></h4>
                                <%}%>
                                <h4 class="sub-level"><%= user[i].writeArticle[j].cetagory%></h4>
                                <h4 class="sub-level"> লেভেল :<span><%= user[i].writeArticle[j].label%></h4>
                                    <span style="font-size:12px;">
                                      <i class="glyphicon glyphicon-star"></i>
                                      <i class="glyphicon glyphicon-star"></i>
                                      <i class="glyphicon glyphicon-star"></i>
                                      <i class="glyphicon glyphicon-star"></i>
                                      <i class="glyphicon glyphicon-star-empty"></i>
                                    </span>
                                
                             </div>
                             <div class="col-lg-12">
                               <hr>
                               </div>
                          </div>
                        <% } %>
                    <%}%>
              <% } %>

          <% } %>
    <% } %>
  </div>
</div>
    


    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0;display:none;" id="story_article" >
      <div class="col-lg-12" id="itemContainer">
      <% for(var i=0; i<user.length; i++) {%>

          <% for(var j=user[i].writeArticle.length-1; j>=0; j--) {%>
               
               <% if(user[i].writeArticle[j].status != 'waiting'&&user[i].writeArticle[j].status != 'draft'&&user[i].writeArticle[j].status != 'Rejected') { %> 


                    <%for(var k=0;k<user[i].writeArticle[j].cetagory.length;k++){%>


                        <% if(user[i].writeArticle[j].cetagory[k] == 'গল্প') { %> 
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                             <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5  article-pre">
                                <a  onclick="article('<%= user[i]._id%>','<%= user[i].writeArticle[j]._id%>')"><img class="img-responsive" src="..<%=user[i].writeArticle[j].articleImage %>"></a>
                             </div>

                             <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <h2 class="book-title"><%= user[i].writeArticle[j].bookTitle%></h2>
                                <h4 class="book-writer">লেখাঃ <%= user[i].name%></h4>
                                
                                <%if(user[i].writeArticle[j].artistName!=null){%>
                                <h4 class="book-writer">ছবিঃ <%= user[i].writeArticle[j].artistName%></h4>
                                <%}%>
                                <%if(user[i].writeArticle[j].artistName==null){%>
                                <h4 class="book-writer">ছবিঃ <%= user[i].name%></h4>
                                <%}%>
                                
                                <h4 class="sub-level"><%= user[i].writeArticle[j].cetagory%></h4>
                                <h4 class="sub-level"> লেভেল :<span><%= user[i].writeArticle[j].label%></h4>
                                    <span style="font-size:12px;">
                                      <i class="glyphicon glyphicon-star"></i>
                                      <i class="glyphicon glyphicon-star"></i>
                                      <i class="glyphicon glyphicon-star"></i>
                                      <i class="glyphicon glyphicon-star"></i>
                                      <i class="glyphicon glyphicon-star-empty"></i>
                                    </span>
                                
                             </div>
                             <div class="col-lg-12">
                               <hr>
                               </div>
                          </div>
                        <% } %>
                      <%}%>
              <% } %>

          <% } %>
    <% } %>

    </div>
</div>




    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0;display:none;" id="ethics_article" >
      <div class="col-lg-12" id="itemContainer">
      <% for(var i=0; i<user.length; i++) {%>

          <% for(var j=user[i].writeArticle.length-1; j>=0; j--) {%>
               
               <% if(user[i].writeArticle[j].status != 'waiting'&&user[i].writeArticle[j].status != 'draft'&&user[i].writeArticle[j].status != 'Rejected') { %> 

                  <%for(var k=0;k<user[i].writeArticle[j].cetagory.length;k++){%>

                        <% if(user[i].writeArticle[j].cetagory[k] == 'আদর্শ') { %> 
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                             <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5  article-pre">
                                <a  onclick="article('<%= user[i]._id%>','<%= user[i].writeArticle[j]._id%>')"><img class="img-responsive" src="..<%=user[i].writeArticle[j].articleImage %>"></a>
                             </div>

                             <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <h2 class="book-title"><%= user[i].writeArticle[j].bookTitle%></h2>
                                <h4 class="book-writer">লেখাঃ <%= user[i].name%></h4>
                                <%if(user[i].writeArticle[j].artistName!=null){%>
                                <h4 class="book-writer">ছবিঃ <%= user[i].writeArticle[j].artistName%></h4>
                                <%}%>
                                <%if(user[i].writeArticle[j].artistName==null){%>
                                <h4 class="book-writer">ছবিঃ <%= user[i].name%></h4>
                                <%}%>
                                <h4 class="sub-level"><%= user[i].writeArticle[j].cetagory%></h4>
                                <h4 class="sub-level"> লেভেল :<span><%= user[i].writeArticle[j].label%></h4>
                                    <span style="font-size:12px;">
                                      <i class="glyphicon glyphicon-star"></i>
                                      <i class="glyphicon glyphicon-star"></i>
                                      <i class="glyphicon glyphicon-star"></i>
                                      <i class="glyphicon glyphicon-star"></i>
                                      <i class="glyphicon glyphicon-star-empty"></i>
                                    </span>
                                
                             </div>
                             <div class="col-lg-12">
                                 <hr>
                                 </div>
                          </div>
                        <% } %>
                    <%}%>
              <% } %>

          <% } %>
    <% } %>

    </div>
</div>


    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0;display:none;" id="religion_article" >
      <div class="col-lg-12" id="itemContainer">
      <% for(var i=0; i<user.length; i++) {%>

          <% for(var j=user[i].writeArticle.length-1; j>=0; j--) {%>
               
               <% if(user[i].writeArticle[j].status != 'waiting'&&user[i].writeArticle[j].status != 'draft'&&user[i].writeArticle[j].status != 'Rejected') { %> 

                    <%for(var k=0;k<user[i].writeArticle[j].cetagory.length;k++){%>

                          <% if(user[i].writeArticle[j].cetagory[k] == 'ধর্ম') { %> 
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5  article-pre">
                                  <a  onclick="article('<%= user[i]._id%>','<%= user[i].writeArticle[j]._id%>')"><img class="img-responsive" src="..<%=user[i].writeArticle[j].articleImage %>"></a>
                               </div>

                               <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                  <h2 class="book-title"><%= user[i].writeArticle[j].bookTitle%></h2>
                                  <h4 class="book-writer">লেখাঃ <%= user[i].name%></h4>
                                  <%if(user[i].writeArticle[j].artistName!=null){%>
                                  <h4 class="book-writer">ছবিঃ <%= user[i].writeArticle[j].artistName%></h4>
                                  <%}%>
                                  <%if(user[i].writeArticle[j].artistName==null){%>
                                  <h4 class="book-writer">ছবিঃ <%= user[i].name%></h4>
                                  <%}%>
                                  <h4 class="sub-level"><%= user[i].writeArticle[j].cetagory%></h4>
                                  <h4 class="sub-level"> লেভেল :<span><%= user[i].writeArticle[j].label%></h4>
                                      <span style="font-size:12px;">
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star"></i>
                                        <i class="glyphicon glyphicon-star-empty"></i>
                                      </span>
                                  
                               </div>
                               <div class="col-lg-12">
                                   <hr>
                                   </div>
                            </div>
                          <% } %>
                    <%}%>
              <% } %>

          <% } %>
    <% } %>

    </div>
</div>


    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0;display:none;" id="math_article" >
      <div class="col-lg-12" id="itemContainer">
      <% for(var i=0; i<user.length; i++) {%>

          <% for(var j=user[i].writeArticle.length-1; j>=0; j--) {%>
               
               <% if(user[i].writeArticle[j].status != 'waiting'&&user[i].writeArticle[j].status != 'draft'&&user[i].writeArticle[j].status != 'Rejected') { %> 

                    <%for(var k=0;k<user[i].writeArticle[j].cetagory.length;k++){%>

                        <% if(user[i].writeArticle[j].cetagory[k] == 'গণিত') { %> 
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                             <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5  article-pre">
                                <a  onclick="article('<%= user[i]._id%>','<%= user[i].writeArticle[j]._id%>')"><img class="img-responsive" src="..<%=user[i].writeArticle[j].articleImage %>"></a>
                             </div>

                             <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <h2 class="book-title"><%= user[i].writeArticle[j].bookTitle%></h2>
                                <h4 class="book-writer">লেখাঃ <%= user[i].name%></h4>
                                <%if(user[i].writeArticle[j].artistName!=null){%>
                                <h4 class="book-writer">ছবিঃ <%= user[i].writeArticle[j].artistName%></h4>
                                <%}%>
                                <%if(user[i].writeArticle[j].artistName==null){%>
                                <h4 class="book-writer">ছবিঃ <%= user[i].name%></h4>
                                <%}%>
                                <h4 class="sub-level"><%= user[i].writeArticle[j].cetagory%></h4>
                                <h4 class="sub-level"> লেভেল :<span><%= user[i].writeArticle[j].label%></h4>
                                    <span style="font-size:12px;">
                                      <i class="glyphicon glyphicon-star"></i>
                                      <i class="glyphicon glyphicon-star"></i>
                                      <i class="glyphicon glyphicon-star"></i>
                                      <i class="glyphicon glyphicon-star"></i>
                                      <i class="glyphicon glyphicon-star-empty"></i>
                                    </span>
                                
                             </div>
                             <div class="col-lg-12">
                               <hr>
                               </div>
                          </div>
                        <% } %>
                    <%}%>
              <% } %>

          <% } %>
    <% } %>

    </div>
</div>


 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0;display:none;" id="all_article_show" >
     <div class="col-lg-12" id="itemContainer"> 
      <% for(var i=0; i<user.length; i++) {%>

          <% for(var j=user[i].writeArticle.length-1; j>=0; j--) {%>
               
               <% if(user[i].writeArticle[j].status != 'waiting'&&user[i].writeArticle[j].status != 'draft'&&user[i].writeArticle[j].status != 'Rejected') { %> 

                  
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                       <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5  article-pre">
                          <a  onclick="article('<%= user[i]._id%>','<%= user[i].writeArticle[j]._id%>')"><img class="img-responsive" src="..<%=user[i].writeArticle[j].articleImage %>"></a>
                       </div>

                       <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                          <h2 class="book-title"><%= user[i].writeArticle[j].bookTitle%></h2>
                          <h4 class="book-writer">লেখাঃ <%= user[i].name%></h4>
                          <%if(user[i].writeArticle[j].artistName!=null){%>
                            <h4 class="book-writer">ছবিঃ <%= user[i].writeArticle[j].artistName%></h4>
                            <%}%>
                            <%if(user[i].writeArticle[j].artistName==null){%>
                            <h4 class="book-writer">ছবিঃ <%= user[i].name%></h4>
                            <%}%>
                          <h4 class="sub-level"><%= user[i].writeArticle[j].cetagory%></h4>
                          <h4 class="sub-level"> লেভেল :<span><%= user[i].writeArticle[j].label%></h4>
                              <span style="font-size:12px;">
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star-empty"></i>
                              </span>
                          
                       </div>
                       <div class="col-lg-12">
                          <hr>
                       </div>
                    </div>
                

              <% } %>

          <% } %>
    <% } %>

    </div>
</div>

    <!-- Start Label Search -->

 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0;display:none;" id="label_one" >
      
      <% for(var i=0; i<user.length; i++) {%>

          <% for(var j=user[i].writeArticle.length-1; j>=0; j--) {%>
               
               <% if(user[i].writeArticle[j].status != 'waiting'&&user[i].writeArticle[j].status != 'draft'&&user[i].writeArticle[j].status != 'Rejected') { %> 

                  <% if(user[i].writeArticle[j].label == '১') { %> 
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                       <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5  article-pre">
                          <a  onclick="article('<%= user[i]._id%>','<%= user[i].writeArticle[j]._id%>')"><img class="img-responsive" src="..<%=user[i].writeArticle[j].articleImage %>"></a>
                       </div>

                       <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                          <h2 class="book-title"><%= user[i].writeArticle[j].bookTitle%></h2>
                          <h4 class="book-writer">লেখাঃ <%= user[i].name%></h4>
                          <%if(user[i].writeArticle[j].artistName!=null){%>
                          <h4 class="book-writer">ছবিঃ <%= user[i].writeArticle[j].artistName%></h4>
                          <%}%>
                          <%if(user[i].writeArticle[j].artistName==null){%>
                          <h4 class="book-writer">ছবিঃ <%= user[i].name%></h4>
                          <%}%>
                          <h4 class="sub-level"><%= user[i].writeArticle[j].cetagory%></h4>
                          <h4 class="sub-level"> লেভেল :<span><%= user[i].writeArticle[j].label%></h4>
                              <span style="font-size:12px;">
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star-empty"></i>
                              </span>
                          
                       </div>
                    </div>
                  <% } %>

              <% } %>

          <% } %>
    <% } %>

    </div>
 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0;display:none;" id="label_two" >
      
      <% for(var i=0; i<user.length; i++) {%>

          <% for(var j=user[i].writeArticle.length-1; j>=0; j--) {%>
               
               <% if(user[i].writeArticle[j].status != 'waiting'&&user[i].writeArticle[j].status != 'draft'&&user[i].writeArticle[j].status != 'Rejected') { %> 

                  <% if(user[i].writeArticle[j].label == '২') { %> 
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                       <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5  article-pre">
                          <a  onclick="article('<%= user[i]._id%>','<%= user[i].writeArticle[j]._id%>')"><img class="img-responsive" src="..<%=user[i].writeArticle[j].articleImage %>"></a>
                       </div>

                       <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                          <h2 class="book-title"><%= user[i].writeArticle[j].bookTitle%></h2>
                          <h4 class="book-writer">লেখাঃ <%= user[i].name%></h4>
                          <%if(user[i].writeArticle[j].artistName!=null){%>
                            <h4 class="book-writer">ছবিঃ <%= user[i].writeArticle[j].artistName%></h4>
                            <%}%>
                            <%if(user[i].writeArticle[j].artistName==null){%>
                            <h4 class="book-writer">ছবিঃ <%= user[i].name%></h4>
                            <%}%>
                          <h4 class="sub-level"><%= user[i].writeArticle[j].cetagory%></h4>
                          <h4 class="sub-level"> লেভেল :<span><%= user[i].writeArticle[j].label%></h4>
                              <span style="font-size:12px;">
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star-empty"></i>
                              </span>
                          
                       </div>
                    </div>
                  <% } %>

              <% } %>

          <% } %>
    <% } %>

    </div>

 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0;display:none;" id="label_three" >
      
      <% for(var i=0; i<user.length; i++) {%>

          <% for(var j=user[i].writeArticle.length-1; j>=0; j--) {%>
               
               <% if(user[i].writeArticle[j].status != 'waiting'&&user[i].writeArticle[j].status != 'draft'&&user[i].writeArticle[j].status != 'Rejected') { %> 

                  <% if(user[i].writeArticle[j].label == '৩') { %> 
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                       <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5  article-pre">
                          <a  onclick="article('<%= user[i]._id%>','<%= user[i].writeArticle[j]._id%>')"><img class="img-responsive" src="..<%=user[i].writeArticle[j].articleImage %>"></a>
                       </div>

                       <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                          <h2 class="book-title"><%= user[i].writeArticle[j].bookTitle%></h2>
                          <h4 class="book-writer">লেখাঃ <%= user[i].name%></h4>
                          <%if(user[i].writeArticle[j].artistName!=null){%>
                          <h4 class="book-writer">ছবিঃ <%= user[i].writeArticle[j].artistName%></h4>
                          <%}%>
                          <%if(user[i].writeArticle[j].artistName==null){%>
                          <h4 class="book-writer">ছবিঃ <%= user[i].name%></h4>
                          <%}%>
                          <h4 class="sub-level"><%= user[i].writeArticle[j].cetagory%></h4>
                          <h4 class="sub-level"> লেভেল :<span><%= user[i].writeArticle[j].label%></h4>
                              <span style="font-size:12px;">
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star-empty"></i>
                              </span>
                          
                       </div>
                    </div>
                  <% } %>

              <% } %>

          <% } %>
    <% } %>

    </div>
 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0;display:none;" id="label_four" >
      
      <% for(var i=0; i<user.length; i++) {%>

          <% for(var j=user[i].writeArticle.length-1; j>=0; j--) {%>
               
               <% if(user[i].writeArticle[j].status != 'waiting'&&user[i].writeArticle[j].status != 'draft'&&user[i].writeArticle[j].status != 'Rejected') { %> 

                  <% if(user[i].writeArticle[j].label == '৪') { %> 
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                       <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5  article-pre">
                          <a  onclick="article('<%= user[i]._id%>','<%= user[i].writeArticle[j]._id%>')"><img class="img-responsive" src="..<%=user[i].writeArticle[j].articleImage %>"></a>
                       </div>

                       <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                          <h2 class="book-title"><%= user[i].writeArticle[j].bookTitle%></h2>
                          <h4 class="book-writer">লেখাঃ <%= user[i].name%></h4>
                          <%if(user[i].writeArticle[j].artistName!=null){%>
                            <h4 class="book-writer">ছবিঃ <%= user[i].writeArticle[j].artistName%></h4>
                            <%}%>
                            <%if(user[i].writeArticle[j].artistName==null){%>
                            <h4 class="book-writer">ছবিঃ <%= user[i].name%></h4>
                            <%}%>
                          <h4 class="sub-level"><%= user[i].writeArticle[j].cetagory%></h4>
                          <h4 class="sub-level"> লেভেল :<span><%= user[i].writeArticle[j].label%></h4>
                              <span style="font-size:12px;">
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star-empty"></i>
                              </span>
                          
                       </div>
                    </div>
                  <% } %>

              <% } %>

          <% } %>
    <% } %>

    </div>
 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0;display:none;" id="label_five" >
      
      <% for(var i=0; i<user.length; i++) {%>

          <% for(var j=user[i].writeArticle.length-1; j>=0; j--) {%>
               
               <% if(user[i].writeArticle[j].status != 'waiting'&&user[i].writeArticle[j].status != 'draft'&&user[i].writeArticle[j].status != 'Rejected') { %> 

                  <% if(user[i].writeArticle[j].label == '৫') { %> 
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                       <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5  article-pre">
                          <a  onclick="article('<%= user[i]._id%>','<%= user[i].writeArticle[j]._id%>')"><img class="img-responsive" src="..<%=user[i].writeArticle[j].articleImage %>"></a>
                       </div>

                       <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                          <h2 class="book-title"><%= user[i].writeArticle[j].bookTitle%></h2>
                          <h4 class="book-writer">লেখাঃ <%= user[i].name%></h4>
                          <%if(user[i].writeArticle[j].artistName!=null){%>
                          <h4 class="book-writer">ছবিঃ <%= user[i].writeArticle[j].artistName%></h4>
                          <%}%>
                          <%if(user[i].writeArticle[j].artistName==null){%>
                          <h4 class="book-writer">ছবিঃ <%= user[i].name%></h4>
                          <%}%>
                          <h4 class="sub-level"><%= user[i].writeArticle[j].cetagory%></h4>
                          <h4 class="sub-level"> লেভেল :<span><%= user[i].writeArticle[j].label%></h4>
                              <span style="font-size:12px;">
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star-empty"></i>
                              </span>
                          
                       </div>
                    </div>
                  <% } %>

              <% } %>

          <% } %>
    <% } %>

    </div>
 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0;display:none;" id="label_six" >
      
      <% for(var i=0; i<user.length; i++) {%>

          <% for(var j=user[i].writeArticle.length-1; j>=0; j--) {%>
               
               <% if(user[i].writeArticle[j].status != 'waiting'&&user[i].writeArticle[j].status != 'draft'&&user[i].writeArticle[j].status != 'Rejected') { %> 

                  <% if(user[i].writeArticle[j].label == '৬') { %> 
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                       <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5  article-pre">
                          <a  onclick="article('<%= user[i]._id%>','<%= user[i].writeArticle[j]._id%>')"><img class="img-responsive" src="..<%=user[i].writeArticle[j].articleImage %>"></a>
                       </div>

                       <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                          <h2 class="book-title"><%= user[i].writeArticle[j].bookTitle%></h2>
                          <h4 class="book-writer">লেখাঃ <%= user[i].name%></h4>
                          <%if(user[i].writeArticle[j].artistName!=null){%>
                          <h4 class="book-writer">ছবিঃ <%= user[i].writeArticle[j].artistName%></h4>
                          <%}%>
                          <%if(user[i].writeArticle[j].artistName==null){%>
                          <h4 class="book-writer">ছবিঃ <%= user[i].name%></h4>
                          <%}%>
                          <h4 class="sub-level"><%= user[i].writeArticle[j].cetagory%></h4>
                          <h4 class="sub-level"> লেভেল :<span><%= user[i].writeArticle[j].label%></h4>
                              <span style="font-size:12px;">
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star-empty"></i>
                              </span>
                          
                       </div>
                    </div>
                  <% } %>

              <% } %>

          <% } %>
    <% } %>

    </div>
 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0;display:none;" id="label_seven" >
      
      <% for(var i=0; i<user.length; i++) {%>

          <% for(var j=user[i].writeArticle.length-1; j>=0; j--) {%>
               
               <% if(user[i].writeArticle[j].status != 'waiting'&&user[i].writeArticle[j].status != 'draft'&&user[i].writeArticle[j].status != 'Rejected') { %> 

                  <% if(user[i].writeArticle[j].label == '৭') { %> 
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                       <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5  article-pre">
                          <a  onclick="article('<%= user[i]._id%>','<%= user[i].writeArticle[j]._id%>')"><img class="img-responsive" src="..<%=user[i].writeArticle[j].articleImage %>"></a>
                       </div>

                       <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                          <h2 class="book-title"><%= user[i].writeArticle[j].bookTitle%></h2>
                          <h4 class="book-writer">লেখাঃ <%= user[i].name%></h4>
                          <%if(user[i].writeArticle[j].artistName!=null){%>
                          <h4 class="book-writer">ছবিঃ <%= user[i].writeArticle[j].artistName%></h4>
                          <%}%>
                          <%if(user[i].writeArticle[j].artistName==null){%>
                          <h4 class="book-writer">ছবিঃ <%= user[i].name%></h4>
                          <%}%>
                          <h4 class="sub-level"><%= user[i].writeArticle[j].cetagory%></h4>
                          <h4 class="sub-level"> লেভেল :<span><%= user[i].writeArticle[j].label%></h4>
                              <span style="font-size:12px;">
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star-empty"></i>
                              </span>
                          
                       </div>
                    </div>
                  <% } %>

              <% } %>

          <% } %>
    <% } %>

    </div>
<!--Main description section-->
 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right sub-level" style="padding-bottom:10px;">
    <%if (login == '0') { %>  
      স্বাগতম অতিথি
    <% } %>
    <%if (login == '1') { %>  
      <a href="/users/updateUserProfile">স্বাগতম <%=name%></a>
    <% } %>
</div>
<!--Right SideBar-->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-right" id="right-sidebar" style="margin-right:30px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
               <h4 class="category">প্রিয় লেখা</h4>
            </div>

            <% if (xtra >=4) { %>
                <% for(var i=0;i<ratedArticle.length;i++) {%>  
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 prio-box">
                         
                          <img style="height:100px; width:108px;" class="img-responsive" src=".<%=ratedArticle[i].articleImage %>">
                        
                          <p class="art-img">
                            <a href="/article?userid=<%=ratedArticleAuthor[i] %>&articleid=<%= ratedArticle[i]._id%>"><img src="..<%=ratedArticle[i].articleImage %>" style="width:150px;height:120px;"></a>
                            <br><span><%= ratedArticle[i].bookTitle%></span></p>

                      </div>
                <% } %>
            <% } %>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
               <h4 class="category">বেশি পড়া</h4>
            </div>

            <% if (xtra >=4) { %>
                <% for(var i=0;i<highreadarticle.length;i++) {%> 
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 prio-box">
                         
                          <img  style="height:100px; width:108px;" src="..<%=highreadarticle[i].articleImage %>">
                        
                        <p class="art-img">
                            <a href="/article?userid=<%=highreadarticleauthor[i] %>&articleid=<%= highreadarticle[i]._id%>">
                              <img class="img-responsive" src="..<%=highreadarticle[i].articleImage %>" style="height:120px;width:150px;">
                            </a>
                            <br><span><%= highreadarticle[i].bookTitle%></span>
                          </p>  

                      </div>
                <% } %>
            <% } %>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
               <h4 class="category">নতুন লেখা</h4>
            </div>
            <% for(var i=0;i<latestArticle.length;i++) {%> 

              
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 prio-box">
                  <a>

                    <img style="height:100px; width:108px;" class="img-responsive" src="..<%=latestArticle[i].articleImage %>">

                  </a>
                  <p class="art-img">

                     <a href="/latestarticle?userid=<%=lastArticleAuthor[i] %>&articleid=<%= latestArticle[i]._id%>">
                          <img class="img-responsive" src="..<%=latestArticle[i].articleImage %>" style="height:120px;width:150px;">
                      </a>
                    <span><%= latestArticle[i].bookTitle%></span>

                  </p>

                </div>

              
            <% } %>   




    </div>
<!--Right SideBar-->
<!--pagination -->
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">

                    <div class="holder"></div>
            </div>
      </div>
<!--pagination-->


<!--Fotter-->
      <div class="footer col-lg-12 col-md-12 col-sm-12 col-xs-12">
         
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <ul class="list-inline">
                  <li><a class="f1" href="#" id="anArtist" data-toggle="modal" data-target="#myModal">Are you an artist!</a></li>
                  <li><a class="f1" href="#" id="suggestion" data-toggle="modal" data-target="#suggestionModal">Suggestions!</a></li>
                  <li><a class="f1" href="#" id="contact" data-toggle="modal" data-target="#contactModal">Contact us</a></li>
                  <li><a class="f1" href="/authors">Our Authors</a></li>
                  <li><a class="f1" href="/reviewer">Our Reviewers</a></li>
                  <li><a class="f1" href="/donation">Donors</a></li>
              </ul>

          </div>
          
          
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              

              <div class="form-inline pull-right">
                  
                  <form id="tagSearch" method="post" action="/tagsearch" >
                      <div class="form-group">
                          <input type="text" class="form-control" id="tagInput" name="tagInput" placeholder="search the site">
                      </div>

                      <div class="form-group">
                          <button type="button" id="tagsearch" class="search-btn btn btn-sm">Search</button>
                      </div>

                  </form>

              </div> 



          </div>
      </div>
<!--Fotter-->
</div>

<!--End section-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center copyright">
    <h6><strong>&copy; পাতার বই <a href="http://www.patarboi.com">(www.patarboi.com)</a> 2013 Credit</strong></h6>
</div>
<!--End section-->

<!-- Modal for Are you an artist? -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Are You an Artist?</h4>
      </div>
      <div class="modal-body" style="height:200px;">
          <div class="col-lg-12" style="padding-top:10px;">
              <div class="col-lg-2">Name :</div>
              <div class="col-lg-10"> <input style="width:100%;" id="nameArtist" value="" name="nameArtist" type="text" class="col-lg-8 input-large search-query" placeholder="Enter Name"></div>
          </div>
          <div class="col-lg-12" style="padding-top:10px;padding-bottom:10px;">
              <div class="col-lg-2">Email :</div>
              <div class="col-lg-10"> <input style="width:100%;" id="emailArtist" value="" name="emailArtist" type="email" class="col-lg-8 input-large search-query" placeholder="Enter Email"></div>
          </div>
          <div class="col-lg-12">
              <div class="col-lg-2" style="padding-right:0;">Message :</div>
              <div class="col-lg-10"> 

                    <textarea id="messageArtist" name="messageArtist" value="" style="width:100%;height:100px;overflow-y:auto;text-align:left;padding-left:15px;padding-left:15px;" placeholder="Write your message"></textarea>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"  id="anArtistSubmit">Submit</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal for suggestion -->
<div class="modal fade" id="suggestionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Suggestion</h4>
      </div>
      <div class="modal-body" style="height:200px;">
          <div class="col-lg-12" style="padding-top:10px;">
              <div class="col-lg-2" style="padding-right:0;padding-left:0;">Name :</div>
              <div class="col-lg-10"> <input style="width:100%;" id="nameSuggestion" name="nameSuggestion" type="text" class="col-lg-8 input-large search-query" placeholder="Enter Name"></div>
          </div>
          <div class="col-lg-12" style="padding-top:10px;padding-bottom:10px;">
              <div class="col-lg-2" style="padding-right:0;padding-left:0;">Email :</div>
              <div class="col-lg-10"> <input style="width:100%;" id="emailSuggestion" name="emailSuggestion" type="email" class="col-lg-8 input-large search-query" placeholder="Enter Email"></div>
          </div>
          <div class="col-lg-12">
              <div class="col-lg-2" style="padding-right:0;padding-left:0;">Suggestion :</div>
              <div class="col-lg-10"> 

                    <textarea id="suggestionMessage" name="suggestionMessage"  style="width:100%;height:100px;overflow-y:auto;text-align:left;padding-left:15px;padding-left:15px;" placeholder="Write your suggestion"></textarea>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="sendSuggestion" name="sendSuggestion">Submit</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for contact us -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Contact Us</h4>
      </div>
      <div class="modal-body" style="height:300px;">
        


            <div class="col-lg-12" style="padding-left:0;" >
                 Your Name
            </div>
            <div>
                <input type="text" style="width:100%;" name="contactName" id="contactName" class="input-xlarge">
            </div>
            <div class="col-lg-12"  style="padding-left:0;" >
                 Your E-mail
            </div>
            <div>
                <input type="email" style="width:100%;" name="contactEmail" id="contactEmail" class="input-xlarge">
            </div>
            <div class="col-lg-12" style="padding-left:0;" >
                 Enter a Message
            </div>
            <div>
                <textarea name="contactMessage" id="contactMessage" style="width:100%;height:150px;" class="input-xlarge"></textarea>
            </div>
            
            
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" name="contactSend" id="contactSend" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>

<script src="lib/jquery/jquery.min.js"></script>
<script src="../js/jquery.raty.js" type="text/javascript"></script>
<script src="../js/jquery.simplePagination.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/tag-it.js" type="text/javascript"></script>
<script src="/js/bootstrap.js" type="text/javascript"></script>
<script src="/js/jPages.js" type="text/javascript"></script>

<script>
/*$(document).ready(function(){

var path=window.location.pathname;
console.log(path);
if(path == '/tagsearch')
{
  console.log('Tag search');
  $("#index").hide();
  $("#tag_search").show();


}



}) */
</script>


<script type="text/javascript">
$(document).ready(function() {

    $("#anArtist").on("click", function(){
        
         $("#myModal").modal('show');

   });

    $("#suggestion").on("click",function(){

        $("#suggestionModal").modal('show');
    });

    $("#contact").on("click",function(){

        $("#contactModal").modal('show');
    });



});


$(function(){

 $("div.holder").jPages({
        containerID  : "itemContainer",
        perPage      : 4,

    });

});

</script>


<script>

      <% for(var i=0; i<user.length; i++) {%>

          <% for(var j=user[i].writeArticle.length-1; j>=0; j--) {%>
               
               <% if(user[i].writeArticle[j].status != 'waiting'&&user[i].writeArticle[j].status != 'draft'&&user[i].writeArticle[j].status != 'Rejected') { %> 
                       $(".star_<%= user[i].writeArticle[j]._id%>").raty({ 

                            score: <%= user[i].writeArticle[j].rating%>,
                            <%if (login == '0') { %>
                                readOnly:  true,
                             <% } %> 
                            <%if (login == '1') { %>
                                readOnly:  false,
                             <% } %> 
                        });
                            

                           

                            $(".star_<%= user[i].writeArticle[j]._id%> >").click(function() {
                            var score = $(this).attr("alt"); 
                            //alert(this);
                            var rating=score;
                            var articleId= "<%= user[i].writeArticle[j]._id%>" ;
                            var userId="<%= user[i]._id%>";

                            console.log(rating);
                            console.log(articleId);
                            console.log(userId);

                            $.ajax({ url: '/article/rating',
                                     
                                     data: { 

                                          articleId:articleId,
                                          userId:userId,
                                          rating:rating,

                                     },
                                     type: 'POST',
                                     success: function(output) {
                                        console.log(output);

                                      }
                                });   

                          
                        });  


                  <% } %>
          <% } %>
   <% } %>

   $("#tagsearch").click(function(){

        console.log($("#tagInput").val());
        var tag=$("#tagInput").val();
        
   });


   $("#anArtistSubmit").click(function(){
        var name= $("#nameArtist").val();
        var email=$("#emailArtist").val();
        var message=$("#messageArtist").val();
        console.log(name);
        console.log(email);
        console.log(message);
        
        $.ajax({ url: '/areYouArtist',
         data: { 
              name:name,
              email:email,
              message:message,


         },
         type: 'POST',
         success: function(output) {
          
            
          }        


    });

  });

  $("#sendSuggestion").click(function(){

        var name= $("#nameSuggestion").val();
        var email=$("#emailSuggestion").val();
        var suggestion=$("#suggestionMessage").val();
        console.log(name);
        console.log(email);
        console.log(suggestion);
        $.ajax({ url: '/suggestion',
         data: { 
              name:name,
              email:email,
              suggestion:suggestion,


         },
         type: 'POST',
         success: function(output) {
          
            console.log(output);
            
          }        


    });

  });

  $("#contactSend").click(function(){
        var name= $("#contactName").val();
        var email=$("#contactEmail").val();
        var message=$("#contactMessage").val();
        console.log(name);
        console.log(email);
        console.log(message);
        
        $.ajax({ url: '/contact',
         data: { 
              name:name,
              email:email,
              message:message,


         },
         type: 'POST',
         success: function(output) {
          
            console.log(output);
            
          }        


    });
  });

  $("#bengla").click(function(){
      
      $('#bengla_article').show();
      $('#index').hide();
      $('#english_article').hide();
      $('#story_article').hide();
      $('#ethics_article').hide();
      $('#religion_article').hide();
      $('#math_article').hide();
      $('#all_article_show').hide();
      $("#label_one").hide();
      $("#label_two").hide();
      $("#label_three").hide();
      $("#label_four").hide();
      $("#label_five").hide();
      $("#label_six").hide();
      $("#label_seven").hide(); 


  });
  $("#english").click(function(){
      $('#bengla_article').hide();
      $('#index').hide();
      $('#english_article').show();
      $('#story_article').hide();
      $('#ethics_article').hide();
      $('#religion_article').hide();
      $('#math_article').hide();
      $('#all_article_show').hide();
      $("#label_one").hide();
      $("#label_two").hide();
      $("#label_three").hide();
      $("#label_four").hide();
      $("#label_five").hide();
      $("#label_six").hide();
      $("#label_seven").hide(); 
  });
  $("#story").click(function(){
      $('#bengla_article').hide();
      $('#index').hide();
      $('#english_article').hide();
      $('#story_article').show();
      $('#ethics_article').hide();
      $('#religion_article').hide();
      $('#math_article').hide();
      $('#all_article_show').hide();
      $("#label_one").hide();
      $("#label_two").hide();
      $("#label_three").hide();
      $("#label_four").hide();
      $("#label_five").hide();
      $("#label_six").hide();
      $("#label_seven").hide(); 

  });
  $("#ethics").click(function(){

      $('#bengla_article').hide();
      $('#index').hide();
      $('#english_article').hide();
      $('#story_article').hide();
      $('#ethics_article').show();
      $('#religion_article').hide();
      $('#math_article').hide();
      $('#all_article_show').hide();
      $("#label_one").hide();
      $("#label_two").hide();
      $("#label_three").hide();
      $("#label_four").hide();
      $("#label_five").hide();
      $("#label_six").hide();
      $("#label_seven").hide(); 
  });
  $("#religion").click(function(){
      $('#bengla_article').hide();
      $('#index').hide();
      $('#english_article').hide();
      $('#story_article').hide();
      $('#ethics_article').hide();
      $('#religion_article').show();
      $('#math_article').hide();
      $('#all_article_show').hide();
      $("#label_one").hide();
      $("#label_two").hide();
      $("#label_three").hide();
      $("#label_four").hide();
      $("#label_five").hide();
      $("#label_six").hide();
      $("#label_seven").hide(); 

  });
  $("#math").click(function(){

      $('#bengla_article').hide();
      $('#index').hide();
      $('#english_article').hide();
      $('#story_article').hide();
      $('#ethics_article').hide();
      $('#religion_article').hide();
      $('#math_article').show();
      $('#all_article_show').hide();
      $("#label_one").hide();
      $("#label_two").hide();
      $("#label_three").hide();
      $("#label_four").hide();
      $("#label_five").hide();
      $("#label_six").hide();
      $("#label_seven").hide(); 
  });
  $("#all").click(function(){

      $('#bengla_article').hide();
      $('#index').hide();
      $('#english_article').hide();
      $('#story_article').hide();
      $('#ethics_article').hide();
      $('#religion_article').hide();
      $('#math_article').hide();
      $('#index').show();
      $("#label_one").hide();
      $("#label_two").hide();
      $("#label_three").hide();
      $("#label_four").hide();
      $("#label_five").hide();
      $("#label_six").hide();
      $("#label_seven").hide(); 
  });
/*------------Start Label------------- */
  $("#one").click(function(){


      $("#label_one").show();
      $("#label_two").hide();
      $("#label_three").hide();
      $("#label_four").hide();
      $("#label_five").hide();
      $("#label_six").hide();
      $("#label_seven").hide(); 
      $('#index').hide();
      $('#bengla_article').hide();
      $('#english_article').hide();
      $('#story_article').hide();
      $('#ethics_article').hide();
      $('#religion_article').hide();
      $('#math_article').hide();
      $('#all_article_show').hide();
  });
  $("#two").click(function(){

      $("#label_one").hide();
      $("#label_two").show();
      $("#label_three").hide();
      $("#label_four").hide();
      $("#label_five").hide();
      $("#label_six").hide();
      $("#label_seven").hide(); 
      $('#index').hide();
      $('#bengla_article').hide();
      $('#english_article').hide();
      $('#story_article').hide();
      $('#ethics_article').hide();
      $('#religion_article').hide();
      $('#math_article').hide();
      $('#all_article_show').hide();
  });

  $("#three").click(function(){

      $("#label_one").hide();
      $("#label_two").hide();
      $("#label_three").show();
      $("#label_four").hide();
      $("#label_five").hide();
      $("#label_six").hide();
      $("#label_seven").hide(); 
      $('#index').hide();
      $('#bengla_article').hide();
      $('#english_article').hide();
      $('#story_article').hide();
      $('#ethics_article').hide();
      $('#religion_article').hide();
      $('#math_article').hide();
      $('#all_article_show').hide();
  });

  $("#four").click(function(){

      $("#label_one").hide();
      $("#label_two").hide();
      $("#label_three").hide();
      $("#label_four").show();
      $("#label_five").hide();
      $("#label_six").hide();
      $("#label_seven").hide(); 
      $('#index').hide();
      $('#bengla_article').hide();
      $('#english_article').hide();
      $('#story_article').hide();
      $('#ethics_article').hide();
      $('#religion_article').hide();
      $('#math_article').hide();
      $('#all_article_show').hide();
  });

  $("#five").click(function(){

      $("#label_one").hide();
      $("#label_two").hide();
      $("#label_three").hide();
      $("#label_four").hide();
      $("#label_five").show();
      $("#label_six").hide();
      $("#label_seven").hide(); 
      $('#index').hide();
      $('#bengla_article').hide();
      $('#english_article').hide();
      $('#story_article').hide();
      $('#ethics_article').hide();
      $('#religion_article').hide();
      $('#math_article').hide();
      $('#all_article_show').hide();
  });

  $("#six").click(function(){

      $("#label_one").hide();
      $("#label_two").hide();
      $("#label_three").hide();
      $("#label_four").hide();
      $("#label_five").hide();
      $("#label_six").show();
      $("#label_seven").hide(); 
      $('#index').hide();
      $('#bengla_article').hide();
      $('#english_article').hide();
      $('#story_article').hide();
      $('#ethics_article').hide();
      $('#religion_article').hide();
      $('#math_article').hide();
      $('#all_article_show').hide();
  });

  $("#seven").click(function(){

      $("#label_one").hide();
      $("#label_two").hide();
      $("#label_three").hide();
      $("#label_four").hide();
      $("#label_five").hide();
      $("#label_six").hide();
      $("#label_seven").show(); 
      $('#index').hide();
      $('#bengla_article').hide();
      $('#english_article').hide();
      $('#story_article').hide();
      $('#ethics_article').hide();
      $('#religion_article').hide();
      $('#math_article').hide();
      $('#all_article_show').hide();
  });

  $("#all_article").click(function(){

      $('#index').show();
      $("#label_one").hide();
      $("#label_two").hide();
      $("#label_three").hide();
      $("#label_four").hide();
      $("#label_five").hide();
      $("#label_six").hide();
      $("#label_seven").hide(); 
      $('#bengla_article').hide();
      $('#english_article').hide();
      $('#story_article').hide();
      $('#ethics_article').hide();
      $('#religion_article').hide();
      $('#math_article').hide();
      $('#all_article_show').hide();
  });



</script>
</body>
</html>