<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>পাতার বই</title>
<link rel="stylesheet" type="text/css" href="/lib/bootstrap3/css/bootstrap.css">
<link href="../css/home.css" type="text/css" rel="stylesheet">
<link href="../css/jquery.bxslider.css" type="text/css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Happy+Monkey' rel='stylesheet' type='text/css'>


</style>

</head>

<body style="padding-top:5px;">
<!--Full content-->
<div class="container" id="main-container" style="border-top-left-radius:15px; border-top-right-radius:15px;">

  <header class="">
      
         <nav class="navbar navbar-default" role="navigation" id="navbar-home">
  <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                   <button type="button" class="navbar-toggle" id="home-nav" data-toggle="collapse" data-target="#collapse-1">
                       <span class="sr-only">Toggle navigation</span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                   </button>
                   <a class="navbar-brand visible-xs" href="">তালিকা</a>
                </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="collapse-1">
                    <ul class="nav navbar-nav col-lg-11 col-md-11 col-sm-11 col-xs-10 pull-right" id="home-ul-nav" style="padding-left:0 !important; padding-top:15px;">
                         <li><a href="/" class="nav-menu">মূল পাতা</a></li>
                         <li><a href="/amaderkotha" class="nav-menu">আমাদের কথা</a></li>
                       
                        <% if(login == '0') {%>
                          <li><a href="signin" class="nav-menu">লগ-ইন-করুন</a></li> 
                        <%}%>
                         <li><a href="#" class="nav-menu">লেখা জমা দিন</a></li>
                       <li><a href="/donation" class="nav-menu">অনুদান করুন</a></li>
                    </ul>


             </nav>
    </header>
    <!--Header-->



<!--content-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 article-content" style="width:70.667%;padding-top:25px;padding-left:25px;padding-right:25px;">

          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<!-- Wrapper for slides -->

<%if (article.morepage == '0'){ %>
<ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <% if(article.articleTitle2 != "") {%>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <% }%>
    <% if(article.articleTitle3 != "") {%>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <% }%>
    <% if(article.articleTitle4 != "") {%>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <% }%>
 </ol>

 <% } %>
 <%if (article.morepage == '1'){ %>
<ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
 </ol>

 <% } %>
  <%if (article.morepage == '2'){ %>
<ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
    <li data-target="#carousel-example-generic" data-slide-to="8"></li>
    <li data-target="#carousel-example-generic" data-slide-to="9"></li>
    <li data-target="#carousel-example-generic" data-slide-to="10"></li>
    <li data-target="#carousel-example-generic" data-slide-to="11"></li>
 </ol>

 <% } %>
  <%if (article.morepage == '3'){ %>
<ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
    <li data-target="#carousel-example-generic" data-slide-to="8"></li>
    <li data-target="#carousel-example-generic" data-slide-to="9"></li>
    <li data-target="#carousel-example-generic" data-slide-to="10"></li>
    <li data-target="#carousel-example-generic" data-slide-to="11"></li>
    <li data-target="#carousel-example-generic" data-slide-to="12"></li>
    <li data-target="#carousel-example-generic" data-slide-to="13"></li>
    <li data-target="#carousel-example-generic" data-slide-to="14"></li>
    <li data-target="#carousel-example-generic" data-slide-to="15"></li>
 </ol>

 <% } %>
            <div class="carousel-inner" style="padding-left:0;">
                  

                  <div class="item active" style="padding-left:0;">
                        <div class="col-lg-12" style="color:<%= article.topFontcolor%>;;padding-left:0;" >
<!--                           <div class="col-lg-12">
                              <h2><%= article.bookTitle %> </h2>
                          </div> -->
                          <div class="col-lg-12"><h4><%= article.title %></h4>
                              <div class="col-lg-4" style="width:25px; overflow:hidden;">
                                  <!--<audio src="/article_sound/<%=article.articleTitleSound %>" style="width:80px;" controls></audio> -->

                              </div>
                          </div>
                          <div class="col-lg-12" style="padding-bottom:15px;"><h4><%= article.article %><h4> </div>
                          <div class="text-center">
                            <%if(user_article.imagePosition=='full'){%>
                            <img style="height:350px;width:650px;align:<%=article.imagePosition%>;"  src="../article_image/<%= article.articleImage%>">
                            <%}%>
                            <%if(user_article.imagePosition=='middle'){%>
                            <img style="height:300px;align:<%=article.imagePosition%>;"  src="../article_image/<%= article.articleImage%>">
                            <%}%>
                           <!--  <img style="height:300px;"  src="../article_image/<%= article.articleImage%>"> -->
                          </div>
                          <div style="color: <%=article.bottomTextcolor %>;text-align:<%=article.bottomTextalign %>;height:41px;position:relative;">

                              <p><%= article.bottomText %></p>

                          </div>

                        </div>
                  </div>
                  <% if(article.articleTitle2 != "") {%>
                      <div class="item" style="padding-left:0;">
                            <!-- <div class="col-lg-12">
                                <h2><%= article.bookTitle %> </h2>
                            </div> -->
                            <div style="color:<%= article.topFontcolor%>;text-align:<%=article.topTextalign %>;padding-left:0px;">

                              <h4><%= article.articleTitle2 %></h4>

                            </div>
                            <div class="col-lg-12" style="padding-bottom:15px;padding-left:0px;"><h4><%= article.article2 %></h4> </div>
                            <div class="text-center">
                               <%if(user_article.imagePosition=='full'){%>
                            <img style="height:350px;width:650px;align:<%=article.imagePosition%>;"  src="../article_image/<%= article.img2%>">
                            <%}%>
                            <%if(user_article.imagePosition=='middle'){%>
                            <img style="height:300px;align:<%=article.imagePosition%>;"  src="../article_image/<%= article.img2%>">
                            <%}%>
                             <!--  <img style="height:300px;"  src="../article_image/<%= article.img2%>"> -->
                            </div>
                            <div style="color: <%=article.bottomTextcolor %>;text-align:<%=article.bottomTextalign %>;height:41px;position:relative;">

                                <p><%= article.bottomText2 %></p>

                            </div>

                      </div>
                  <%}%>

                  <% if(article.articleTitle3 != "") {%>
                      <div class="item " style="padding-left:0;">

                             <!-- <div class="col-lg-12">
                                <h2><%= article.bookTitle %> </h2>
                             </div> -->
                            <div style="color:<%= article.topFontcolor%>;text-align:<%=article.topTextalign %>;padding-left:0px;">

                              <h4><%= article.articleTitle3 %></h4>

                            </div>
                            <div class="col-lg-12" style="padding-bottom:15px;padding-left:0px;"><h4><%= article.article3 %></h4> </div>
                            <div class="text-center">
                               <%if(user_article.imagePosition=='full'){%>
                            <img style="height:350px;width:650px;align:<%=article.imagePosition%>;"  src="../article_image/<%= article.img3%>">
                            <%}%>
                            <%if(user_article.imagePosition=='middle'){%>
                            <img style="height:300px;align:<%=article.imagePosition%>;"  src="../article_image/<%= article.img3%>">
                            <%}%>
                             <!--  <img style="height:300px;"  src="../article_image/<%= article.img3%>"> -->
                            </div>
                            <div style="color: <%=article.bottomTextcolor %>;text-align:<%=article.bottomTextalign %>;height:41px;position:relative;">

                                <p><%= article.bottomText3 %></p>

                            </div>

                      </div>
                  <%}%>
                  <% if(article.articleTitle4 != "") {%>
                  <div class="item" style="padding-left:0;">
                          <!-- <div class="col-lg-12">
                              <h2><%= article.bookTitle %> </h2>
                          </div> -->
                        <div style="color:<%= article.topFontcolor%>;text-align:<%=article.topTextalign %>;padding-left:0px;">

                          <h4><%= article.articleTitle4 %></h4>

                        </div>
                        <div class="col-lg-12" style="padding-bottom:15px;padding-left:0px;"><h4><%= article.article4 %></h4> </div>
                        <div class="text-center">
                           <%if(user_article.imagePosition=='full'){%>
                            <img style="height:350px;width:650px;align:<%=article.imagePosition%>;"  src="../article_image/<%= article.img4%>">
                            <%}%>
                            <%if(user_article.imagePosition=='middle'){%>
                            <img style="height:300px;align:<%=article.imagePosition%>;"  src="../article_image/<%= article.img4%>">
                            <%}%>
                          <!-- <img style="height:300px;"  src="../article_image/<%= article.img4%>"> -->
                        </div>
                        <div style="color: <%=article.bottomTextcolor %>;text-align:<%=article.bottomTextalign %>;height:41px;position:relative;">

                            <p><%= article.bottomText4 %></p>

                        </div>

                  </div>
                  <%}%>
            </div>

<!-- Controls -->
              
          </div>
      </div>

<!--Right SideBar-->
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="right-sidebar" style="margin-right:10px;">
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 prio-box">
            <img class="img-responsive" src="../article_image/<%= article.articleImage%>">
          </div>
       
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 class="book-title" style="margin:10px 0;"><%= article.bookTitle %></h3>
            <%if(latestarticleuser.preferredname!=''){%>
            <h5 class="book-writer" style="margin:10px 0;">লেখাঃ <a href="" data-toggle="modal" data-target="#viewProfile"><%= latestarticleuser.preferredname %></a></h5>
            <%}%>
            <%if(latestarticleuser.preferredname==''){%>
            <h5 class="book-writer" style="margin:10px 0;">লেখাঃ <a href="" data-toggle="modal" data-target="#viewProfile"><%= author %></a></h5>
            <%}%>
            <%if(user_article.artistId!=''){%>
            <h5 class="book-writer" style="margin:10px 0;">ছবিঃ<a href="" data-toggle="modal" data-target="#viewProfileArtist"> <%= user_article.artistName %></a></h5>
            <%}%>
            <%if(user_article.artistId==''){%>
            <h5 class="book-writer" style="margin:10px 0;">ছবিঃ<a href="" data-toggle="modal" data-target="#viewProfile"> <%= author %></a></h5>
            <%}%>
            <h5 class="text-left" style="margin:10px 0; color: #E56E94;"><%= article.cetagory %></h5>
            <h5 class="text-left" style="margin:10px 0; color: #E56E94;">লেভেল <%= article.label %></h5>
                <% if(login == '1') {%><h5 class="text-left" style="margin:10px 0; color: #E56E94;"><%= article.status %></h5> <%}%>
            <div id="star"></div>

                
            </h5>
           
         </div>
      </div>
<!--Right SideBar-->

</div>
<!--content-->
<div class="modal fade" id="viewProfileArtist" >
  <div class="modal-dialog">
    <div class="modal-content" style="height:265px;">
      <div class="modal-header">
        <h5 style="padding-left: 35px;"><%= user_article.artistName %></h5>
        <button type="button" class="btn btn-danger btn-xs pull-right" style="margin-top: -30px;" data-dismiss="modal">X</button>
      </div>

      <div class="modal-body col-lg-12">
         <%if(artist!=null){%>
        <div class=" col-lg-9">
        
          <div class=" col-lg-12"><level>Author' name:  <%=artist.name%></level></div>
          <div class=" col-lg-12"><level>Country: <%= artist.country %></level></div>
          <div class=" col-lg-12"><level>Biography: <%= artist.biography %></level></div>
<!--           <div class=" col-lg-12"><level>Gender: <%= artist.gender %></level></div> -->
          
        </div>
        <div class=" col-lg-3">
          <img style="height:90px;width:90px;" src="<%=artist.profilePicture%>">
        </div>
         <%}%> 
      </div>
    </div>  <!-- /.modal-content -->
  </div>  <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="viewProfile" >
  <div class="modal-dialog">
    <div class="modal-content" style="height:265px;">
      <div class="modal-header">
        <h5 style="padding-left: 35px;"><%= author %></h5>
        <button type="button" class="btn btn-danger btn-xs pull-right" style="margin-top: -30px;" data-dismiss="modal">X</button>
      </div>

      <div class="modal-body col-lg-12">
        <div class=" col-lg-9">
          <div class=" col-lg-12"><level>Author' name: <%= author %></level></div>
          <div class=" col-lg-12"><level>Country: <%= country %></level></div>
          <div class=" col-lg-12"><level>Biography: <%= latestarticleuser.biography %></level></div>
          <!-- <div class=" col-lg-12"><level>Gender: <%= latestarticleuser.gender %></level></div> -->
        </div>
        <div class=" col-lg-3">
          <img style="height:90px;width:90px;" src="<%=latestarticleuser.profilePicture%>">
        </div>
        
      </div>
    </div>  <!-- /.modal-content -->
  </div>  <!-- /.modal-dialog -->
</div>

<!--Fotter-->
      <div class="footer footer-article col-lg-12 col-md-12 col-sm-12 col-xs-12">
         
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <ul class="list-inline">
                  <li><a class="f1" href="#">Are you an artist!</a></li>
                  <li><a class="f1" href="#">Suggestions!</a></li>
                  <li><a class="f1" href="#">Contact us</a></li>
                  <li><a class="f1" href="/authors">Our Authors</a></li>
                  <li><a class="f1" href="/reviewer">Our Reviewers</a></li>
                  <li><a class="f1" href="/donation">Donors</a></li>
              </ul>

          </div>
          
          
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <form class="form-inline pull-right" role="form">
                  <div class="form-group">
                      
                  </div>

                  <div class="form-group">
                      
                  </div>
              </form> 
          </div>
      </div>

<!--Fotter-->
</div>


<!--End section-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center copyright">
    <h6><strong>&copy; পাতার বই <a href="http://www.patarboi.com">(www.patarboi.com)</a> 2013 Credit</strong></h6>
</div>
<!--End section-->


<script src="lib/jquery/jquery.min.js"></script>
<script src="../js/jquery.raty.js" type="text/javascript"></script>
<script src="../js/bootstrap.js" ></script>
<script>
$(document).ready(function(){
    $('#star').raty({
     score: <%=article.rating %>,
     readOnly:  true,

      });
 
});

$(document).ready(function() {
  $('.carousel').carousel();

})
</script>
</body>
</html>
