<article ID="cutout">
<h3>Category</h3>
	<ul class="images">
		<li style="width:100%"><a href="#"><figure class="cap-left"><img src="img/logo_bengali_small.png" width="50" height="50" alt="Benalmadena"><figcaption>বাংলা</figcaption></figure></a></li>
		<li><a href="#"><figure class="cap-left"><img src="img/logo_english_small.png" width="50" height="50" alt="Benalmadena"><figcaption>ইংরেজী</figcaption></figure></a></li>
		<li><a href="#"><figure class="cap-left"><img src="img/logo_story_small.png" width="50" height="50" alt="Benalmadena"><figcaption>গল্প</figcaption></figure></a></li>
		<li><a href="#"><figure class="cap-left"><img src="img/logo_ethics_small.png" width="50" height="50" alt="Benalmadena"><figcaption>আদর্শ</figcaption></figure></a></li>
		<li><a href="#"><figure class="cap-left"><img src="img/logo_religion_small.png" width="50" height="50" alt="Benalmadena"><figcaption>ধর্ম</figcaption></figure></a></li>
		<li><a href="#"><figure class="cap-left"><img src="img/logo_math_small.png" width="50" height="50" alt="Benalmadena"><figcaption>গনিত</figcaption></figure></a></li>
		<li><a href="#"><figure class="cap-left"><img src="img/logo_show_all_category_small.png" width="135" height="50" alt="Benalmadena"><figcaption>সব বিষয়</figcaption></figure></a></li>
	</ul>

</article>