<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>


	<div class="container">
		<div class="row">


			<div class="col-md-3 col-lg-3">
				
				<div class="nav list-group" id="sidebar">

						<ul class="nav bs-sidenav" style="background:#F7F5FA;">
							  <li class="menu" id="admin"> <a class="primary" href="/admin">Admin Pannel<span class="pull-right">&rsaquo;</span></a></li>
							  <li class="menu" id="manage_articles"><a class="primary" href="/manageArticle">Manage Articles<span class="pull-right">&rsaquo;</span></a></li>
							  <li class="menu" id="manage_members"><a class="primary" href="/manageMembers">Manage Members<span class="pull-right">&rsaquo;</span></a></li>
							  
							  <li class="menu" id="manage_website"><a class="primary" href="#">Manage Website<span class="pull-right">&rsaquo;</span></a></li>
							  <li class="menu" id="manage_website">
								  	<a class="primary" href="/allauthors">All Authors<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="view_donation"><a class="primary" href="#">View Donation<span class="pull-right">&rsaquo;</span></a></li>
							  <li class="menu" id="view_distribution"><a class="primary" href="/viewdistribution">Production and Distribution<span class="pull-right">&rsaquo;</span></a></li>
							  <li class="menu" id="manage_cost"><a class="primary" href="#">Manage Cost<span class="pull-right">&rsaquo;</span></a></li>
							  <li class="menu" id="log_out"><a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a></li>
							  <li class="menu" id="password_change"><a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a></li>
						</ul>

				</div>

			</div>
			<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;">
					<!-- change password -->
					<div class="col-lg-12" id="members"  >
							<div class="col-lg-12" style="padding-bottom:20px;" align="center"><h3>Member Management<h3></div>
							
							<div class="col-lg-12">
								<div class="col-lg-5">
									<p style="color:red">
										<b>Email Address</b>
									</p>
									<input type="email" class="form-control" name="inviteFriend" id="inviteFriend" placeholder="Enter email address">
								</div>
								<div class="col-lg-3">
									<p style="color:red">
										<b>Invite As</b>
									</p>
									<select name="category" id="category" style="width:100%; padding:5px;height:37px;">							
												<option value="User">User</option>
												<option value="Artists">Artist</option>
							 					<option value="Staff">Staff</option>
							 					<option value="Reviewer">Reviewer</option>
										</select>
								</div>
								<div class="col-lg-3">
									<br>
									<button style="margin-top: 10px;" type="button" id="invite_friends" class="btn btn-info" >Invite</button>
								</div>
							</div>
							<form method="post" action="/searchUser">
								<div class="col-lg-12" style="margin-top: 20px;">
									<div class="col-lg-3" >
										<input type="text" class="form-control" name="searchUser" id="searchUser" placeholder="Search">
									</div>
									<div class="col-lg-3" style="margin-top:5px;">
								
										<button type="submit" id="" class="glyphicon glyphicon-search"  style="text-decoration:none;width:30px;" ></button>
									</div>
								</div>
						</form>
						<%if(searcheduser.length!='0'){%>
							<h5 align="center">Search Result</h5>
					
							<div class="col-lg-12 text-center" style="padding-top:20px;" align="center">
									
									<div class="col-lg-2" style="border:1px solid #333333; height:30px;">
										<h6>User Name</h6>
									</div>
									<div class="col-lg-3" style="border:1px solid #333333; height:30px;">
										<h6>Email address</h6>
									</div>
									
									<div class="col-lg-2" style="border:1px solid #333333; height:30px;">
										<h6>Pen name</h6>
									</div>

									<div class="col-lg-1" style="border:1px solid #333333; height:30px;">
										<h6>Author? </h6>
									</div>
									<div class="col-lg-2" style="border:1px solid #333333; height:30px;">
										<h6>Reviewer?</h6>
									</div>
									<div class="col-lg-1" style="border:1px solid #333333; height:30px;">
										<h6>Artist?</h6>
									</div>
									<div class="col-lg-1" style="border:1px solid #333333; height:30px;">
										<h6>Staff?</h6>
									</div>
							
							 </div>

							 <%for(var i=0;i<searcheduser.length;i++){%>
							 <div class="col-lg-12 text-center"  >	
							 		<div class="col-lg-2" style="border:1px solid #333333; height:30px;">
										<span style="font-size:12px; vertical-align:middle;"><%= searcheduser[i].name.substring(0,13)  %>
										</span>
									</div>
									<div class="col-lg-3" style="border:1px solid #333333; height:30px;">
										<span style="font-size:12px; vertical-align:middle;"> <a href="/viewSearchuserProfile?email=<%= searcheduser[i].email %>"> <%= searcheduser[i].email %></a>
										</span>
									</div>
									<div class="col-lg-2" style="border:1px solid #333333; height:30px;">
										<span style="font-size:12px; vertical-align:middle;"><%= searcheduser[i].preferredname  %>
										</span>
									</div>
									<div class="col-lg-1" style="border:1px solid #333333; height:30px;">
										<%if(searcheduser[i].userType=='Author'){%>
										<span style="font-size:12px; vertical-align:middle;">Yes
										</span>
										<%}%>
										<%if(searcheduser[i].userType!='Author'){%>
										<span style="font-size:12px; vertical-align:middle;">No
										</span>
										<%}%>
									</div>
									<div class="col-lg-2" style="border:1px solid #333333; height:30px;">
										<%if(searcheduser[i].reviewer.length!=0){%>
										<span style="font-size:12px; vertical-align:middle;">Yes
										</span>
										<%}%>
										<%if(searcheduser[i].reviewer.length==0){%>
										<span style="font-size:12px; vertical-align:middle;">No
										</span>
										<%}%>
									</div>
									<div class="col-lg-1" style="border:1px solid #333333; height:30px;">
										
										<span style="font-size:12px; vertical-align:middle;" ><p id="isArtist<%=i%>"></p>
										</span>
										
										
										
									</div>
									<div class="col-lg-1" style="border:1px solid #333333; height:30px;">
										
										<span style="font-size:12px; vertical-align:middle;" id="isStaff<%=i%>">Yes
										</span>
										
										
										
									</div>
								</div>
							 <%}%>

						<%}%>
						<form method="post" action="/removeUserType">

						<div class="col-lg-12">
								<div class="col-lg-5">
									<p style="color:red">
										<b>Email Address</b>
									</p>
									<input type="email" class="form-control" name="email" id="email" placeholder="Enter email address">
								</div>
								<div class="col-lg-3">
									<p style="color:red">
										<b>Remove From</b>
									</p>
									<select name="category1" id="category1" style="width:100%; padding:5px;height:37px;">							
												<option value="User">User</option>
												<option value="Artists">Artist</option>
							 					<option value="Staff">Staff</option>
							 					<option value="Reviewer">Reviewer</option>

										</select>
								</div>
								<div class="col-lg-3"style="margin-top:10px;">
									<br>
									<button type="submit" class="btn btn-danger">Remove</button>
								</div>
							</div>
							</form>
							<div class="col-lg-12" style="display:none;margin-top:20px;" id="addmenber">		
									<table class="table table-bordered" >
									     	 <thead>
										        <tr >
										          <th class="text-center">Name</th>
										          <th class="text-center">Type</th>
										          <th class="text-center">Add Type</th>
										          <th class="text-center">Option</th>
										        </tr>
									      	</thead>
											<% for(var i=0; i<author.length; i++) {%>

													<tbody align="center" >	
															<td>

																<%= author[i].name %>

															</td>
														    
														    <td>
														 			<select name="defaultType" id="defaultType" style="width:120px;height:25px;">
														 						<option><%= author[i].userType %></option>
														 				<%if (author[i].userSubtype.length != 0) { %>
															 				
															 				<% for(var k=0; k<author[i].userSubtype.length; k++) {%> 
															 					<option ><%= author[i].userSubtype[k].subtype %></option>
															 				<% } %>

														 				<% } %>

														 			</select>
														    </td>
														    
														    <td>
														 			<select name="adduserType1_<%=i%>" id="adduserType1_<%=i%>" style="width:120px;height:25px;">
														 				
														 					<option value="Artists">Artist</option>
														 					<option value="Staff">Staff</option>
														 					<option value="Commentator">Commentator</option>
														 				
														 			</select>
														    </td>
														    <td>
														    		<button class="btn btn-primary " onclick="add('<%= author[i]._id %>','<%=i%>')">Add User Type</button>
														    </td>
													</tbody>

												
											<% } %>
									</table>
							</div>
							<div class="col-lg-12" align="center" style="margin-top:10px;">
									<!-- <button type="button" id="invite" class="btn btn-info" >Invite</button> -->
									<button type="button" id="addusertype" class="btn btn-success">Add</button>
									<button type="button" class="btn btn-primary">Edit</button>
									<!-- <button type="button" class="btn btn-danger">Remove</button> -->
							</div>
						</div>
					</div>
					
					
					<div class="col-lg-12" id="change" style="display:none;">
								
								<form method="post" action="#">
									
									<div class=col-lg-12>
										<label><b>Password Change<b></label><br>
										<hr class="colorgraph">
										<div style="padding-bottom:20px;">
											<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Existing Password" tabindex="1" required>
										</div>
										<div style="padding-bottom:20px;">
											
											<input type="password" name="new_password" id="new_password" class="form-control input-lg" placeholder="New Password" tabindex="1" required>
										</div>
										<div style="padding-bottom:20px;">
											<button class="btn btn-success pull-right" style="width:20%;height:50px;" tabindex="1">Submit</button>
										</div>
									</div>


								</form>


					</div>
					<div class="col-lg-12" id="cost" style="display:none" style="padding-top:30px;">
							<div class="col-lg-12" style="padding-bottom:5px;">
								<div class="col-lg-3">
									Average shipping price :

								</div>
								<div class="col-lg-9">
									<input type="text" name="shipping_price" id="shipping_price" class="form-control input-lg" placeholder="Shipping price" tabindex="1" required>

								</div>
							</div>

							<div class="col-lg-12" style="padding-bottom:5px;">
								<div class="col-lg-3">
								Book Price :
								</div>
								<div class="col-lg-9">
									
									<input type="text" name="book_price" id="book_price" class="form-control input-lg" placeholder="Book price" tabindex="1" required>
								</div>
							</div>

							<div class="col-lg-12">

									<button class="btn btn-danger pull-right" style="width:20%;height:50px;padding-right:10px;" tabindex="1">
										Cancel
									</button>
									<button class="btn btn-primary pull-right" style="width:20%;height:50px;padding-right:10px;" tabindex="1">
										Update
									</button>
							</div>
					</div>

			</div>



		</div>
	</div>


</body>


<script src="lib/jquery/jquery.min.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>

<script type='text/javascript'> 
var searcheduser= <% if(locals.searcheduser){%>
      <%- JSON.stringify(searcheduser) %>
      <%}%>;
        $(document).ready(function() {
        	
            $('#sidebar').affix({offset: {top: $('header').height()}});	

            for(var i=0;i<searcheduser.length;i++)
            { var checkArtist=0;
            	for(var j=0;j<searcheduser[i].userSubtype.length;j++)
            	{
            		if(searcheduser[i].userSubtype[j].subtype=='Artists'){
            			checkArtist=1;
            		}
            		
            	}
            	if(checkArtist==1)
            		$("#isArtist"+i).text('Yes');
            	else if(checkArtist==0)
            		$("#isArtist"+i).text('No');
            }

             for(var i=0;i<searcheduser.length;i++)
            { var checkStaff=0;
            	for(var j=0;j<searcheduser[i].userSubtype.length;j++)
            	{
            		if(searcheduser[i].userSubtype[j].subtype=='Staff'){
            			checkStaff=1;
            		}
            		
            	}
            	if(checkStaff==1)
            		$("#isStaff"+i).text('Yes');
            	else if(checkStaff==0)
            		$("#isStaff"+i).text('No');
            }
        });
        
</script> 

<script>

	$("#invite_friends").click(function(){

			console.log($("#inviteFriend").val());
			var email=$("#inviteFriend").val();
			if(email=='')
			{
				alert("Please enter email address");
				return false;
			}
			var type=$("#category").val();
			$.ajax({ url: '/admin/invite',
		         data: { 
		         		 email:email,
		         		 type:type,
		         },
		         type: 'POST',
		         success: function(output) {
		         	
		         	console.log(output);
		          }
		    });  

	});

	$("#addusertype").click(function(){

			$("#addmenber").show();
	});

    $("#invite").on("click", function(){
        
         $("#myModal").modal('show');

   });
	
	$("#password_change").click(function(){
		$("#change").show();
		$("#cost").hide();
		$("#members").hide();

	});
	$("#manage_cost").click(function(){
		$("#change").hide();
		$("#cost").show();
		$("#members").hide();

	});
	$("#manage_members").click(function(){
		$("members").show();
		$("#change").hide();
		$("#cost").hide();
	});
	function add(id,i){
		console.log("rumi")
		console.log(id);
		var userid=id;
		var value=$("#adduserType1_"+i).val();
		$.ajax({ url: '/manageMember/addtype',
	         data: { id:userid,
	         		 typeValue:value
	         },
	         type: 'POST',
	         success: function(output) {
	         	console.log(output);
	          }
	    }); 
	    location.reload();
	   $("#addmenber").show();
	}





</script>
</html>