<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">
<link rel="stylesheet" href="css/jquery-ui.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>

	<div class="container">
		<div class="row">
					
				<div class="col-md-3 col-lg-3">
					<div class="nav list-group" id="sidebar">

							<ul class="nav bs-sidenav" style="background:#F7F5FA;">
								  <li class="menu active" id="admin"> 
								  	 	<a class="primary" href="/admin">Admin Pannel<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="manage_articles">
								  	<a class="primary" href="/manageArticle">Manage Articles<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="manage_members"> 
								  	<a class="primary" href="/manageMembers">Manage Members<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  

								  <li class="menu" id="manage_website">
								  	<a class="primary" href="/managewebsite">Manage Website<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="view_donation">
								  	<a class="primary" href="#">View Donation<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="view_distribution">
								  	<a class="primary" href="/viewdistribution">Production and Distribution<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_cost">
								  	<a class="primary" href="#">Manage Cost<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="log_out">
								  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="password_change">
								  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
								  </li>
							</ul>
					</div>
				</div>

			<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;padding-top:40px;">
					
					<div class="col-lg-12" id="cost"  style="padding-top:30px;">
							<div class="col-lg-12" style="padding-bottom:30px" id="section-5">
							
								<div class="col-lg-12"><h4 style="padding-left:50px;padding-bottom:20px;"><b>Search result for the article name</b></h4></div>
									<table class="table table-bordered">
						      <thead>
						        <tr>
						          	<th>Article Name</th>
							       	<th>Author</th>
							        <th>Date completed</th>
							        <th>Artist 1</th>
							        <th>Total Cost</th>
							        <th>Paid</th>
							        <th>Artist 2</th>
							        <th>Total Cost</th>
							        <th>Paid</th>
							        <th>Artist 3</th>
							        <th>Total Cost</th>
							        <th>Paid</th>
							        <th>Total cost (article)</th>
							        <th>Total paid (article)</th>
							        <th>Cost of printing (1 copy)</th>
						        </tr>
						      </thead>
						      <tbody>
						      	
						      		<%for(var i=0;i<author.length;i++){%>
						      			<tr>
						      				<td><%=article[i].bookTitle%></td>
						      				<td><%=author[i].name%></td>
						      				<td><%=article[i].completeDate%></td>
						      				<%for(var j=0;j<3;j++){%>
						      					<td>
						      						<%if(biddingAllArtist[j]){%>
						      						<%=biddingAllArtist[j].artistEmail%>
						      						<%}%>
						      					</td>
						      					<td>
						      						<%if(biddingAllArtist[j]){%>
						      						<%=biddingAllArtist[j].cost%>
						      						<%}%>
						      					</td>
						      					<td>
						      						<%if(biddingAllArtist[j]){%>
						      						<%=biddingAllArtist[j].paid%>
						      						<%}%>
						      					</td>
						      				<%}%>
						      				<td>
						      					<%if(biddingArtist){%>
						      					<%=biddingArtist.cost%>
						      					<%}%>
						      				</td>
						      				<td>
						      					<%if(biddingArtist){%>
						      					<%=biddingArtist.paid%>
						      					<%}%>
						      				</td>
						      				<td></td>
						      			</tr>
						      		<%}%>
						      </tbody>
						      </table>							
							</div>
					</div>

			</div>


		</div>
	</div>

<script src="lib/jquery/jquery.min.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>


<script type='text/javascript'> 
        $(document).ready(function() {
            $('#sidebar').affix({offset: {top: $('header').height()}});	
        });
        
        
</script> 


</body>
</html>