<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>


	<div class="container">
		<div class="row">


				<div class="col-md-3 col-lg-3">
					
					<div class="nav list-group" id="sidebar">

							<ul class="nav bs-sidenav" style="background:#F7F5FA;">

								  <li class="menu active" id="admin"> 
								  	 	<a class="primary" href="/admin">Admin Pannel<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="manage_articles">
								  		<a class="primary" href="/manageArticle">Manage Articles<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="manage_members">
								  	 	<a class="primary" href="/manageMembers">Manage Members<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  
								  <li class="menu" id="manage_website">
								  		<a class="primary" href="/managewebsite">Manage Website<span class="pull-right">&rsaquo;</span></a>
								  </li>
								 <!--  <li class="menu" id="manage_website">
								  	<a class="primary" href="/allauthors">All Authors<span class="pull-right">&rsaquo;</span></a>
								  </li> -->
								  <li class="menu" id="view_donation">
								  		<a class="primary" href="#"><span class="pull-right">&rsaquo;</span>View Donation</a>
								  </li>
								  <li class="menu" id="view_distribution">
								  		<a class="primary" href="/viewdistribution">Production and Distribution<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="manage_cost">
								  		<a class="primary" href="#">Manage Cost<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="log_out">
								  		<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="password_change">
								  		<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
								  </li>
							</ul>

					</div>

				</div>


			<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;" id="article">

				<div class="col-lg-12"  >
					<h3 align="center">Waiting List</h3>
					
					<div class="col-lg-12 text-center" style="padding-top:20px;" align="left">
							<!--	<div class="col-lg-2"><b>Article Id</b></div>
								<div class="col-lg-2"><b>Author</b></div>
								<div class="col-lg-2"><b>Article Title</b></div>
								<div class="col-lg-2"><b>Status</b></div>
								<div class="col-lg-4"><b>Option</b> </div>   -->
					
							<div class="col-lg-2" style="border:1px solid #333333; height:30px;">
								<h5>Article ID</h5>
							</div>
							<div class="col-lg-2" style="border:1px solid #333333; height:30px;">
								<h5>Date</h5>
							</div>
							
							<div class="col-lg-2" style="border:1px solid #333333; height:30px;">
								<h5>Title</h5>
							</div>

							<div class="col-lg-2" style="border:1px solid #333333; height:30px;">
								<h5>Author</h5>
							</div>
							<div class="col-lg-4" style="border:1px solid #333333; height:30px;">
								<h5>Option</h5>
							</div>

					




					 </div>


					<div class="col-lg-12" align="left" style="padding-left:0; padding-right:0">

						<div class="col-lg-12" style="padding-left:0;padding-right:0;">

							<% for(var i=0; i<article.length; i++) {%>

								<% for(var k=0; k<article[i].writeArticle.length; k++) {%>
									
											<%if (article[i].writeArticle[k].status == 'waiting') { %>
														

													<div class="col-lg-12"  >	
														<div class="col-lg-12 text-center" id="waiting_<%= i%><%= k %>" style="padding-left:0; padding-right:0">	

																<div class="col-lg-2" style="border:1px solid #333333; height:30px;">
																	<span style="font-size:14px; vertical-align:middle;"><%= article[i].writeArticle[k].articleId %>
																	</span>
																</div>
																<div class="col-lg-2" style="border:1px solid #333333; height:30px;">
																	<span style="font-size:14px; vertical-align:middle;"><p id="time_<%=i%><%=k%>"></p></span>
																</div>

																<div class="col-lg-2" style="border:1px solid #333333; height:30px;">
																	<span style="font-size:14px; vertical-align:middle;"><%= article[i].writeArticle[k].bookTitle %>
																	</span>
																</div>
																<div class="col-lg-2" style="border:1px solid #333333; height:30px;">
																	<span style="font-size:14px; vertical-align:middle;"><%= article[i].name.substring(0,13)  %></span>
																</div>
																<div class="col-lg-4" style="border:1px solid #333333; height:30px;">
																	
																	<span style="font-size:14px; vertical-align:middle;">
																		<a  href="/viewarticle?id=<%= article[i]._id%>&articleid=<%= article[i].writeArticle[k]._id %>"  >View
																		</a> / 
																		<%if(article[i].writeArticle[k].sound == 'No') {%>
																		<!-- <a  href="/addSound?id=<%= article[i]._id%>&articleid=<%= article[i].writeArticle[k]._id %>">Add Sound </a>
																		 / -->
																		 <% }%> 
																		 
																		 
																		<a onclick="acceptArticle('<%= article[i]._id%>', '<%= article[i].writeArticle[k]._id %>',this)" id="accept__<%= i%><%= k %>" href="#">Accept
																		</a> / 
																		<a data-toggle="modal" data-target="#myModal" onclick="rejectArticle('<%= article[i]._id%>', '<%= article[i].writeArticle[k]._id %>',this)" id="reject__<%= i%><%= k %>" href="#"  >Reject 
																		</a>


																	</span>

																</div>

														</div>
													</div>


											<% } %> 


								
								<% } %> 
							<% } %> 

						</div>    
					 
						 <!-- <div class="col-lg-12" align="left" id="otherTask">

						 		<h4><br>Other Tasks:<h4> <br>
						 		<a href="/assignreviewer" id="assignReviewer">Assign Reviewers </a>  /  <a href="/assignartist">Assign Artist </a> / <a id="#" href="/requestartist">Request Artist </a>/<a href="/manageArticle/uploadPdf"> Upload file as a4 book </a>/<a href="/manageArticle/uploadppt"> Upload file as slides </a>/<a href="/manageArticle/uploadletter"> Upload article as letter format book </a>


						 </div> -->
					</div>





				<div class="col-lg-10" id="change" style="display:none;">
							
							<form method="post" action="#">
								
								<div class=col-lg-12>
									<label><b>Password Change<b></label><br>
									<hr class="colorgraph">
									<div style="padding-bottom:20px;">
										<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Existing Password" tabindex="1" required>
									</div>
									<div style="padding-bottom:20px;">
										
										<input type="password" name="new_password" id="new_password" class="form-control input-lg" placeholder="New Password" tabindex="1" required>
									</div>
									<div style="padding-bottom:20px;">
										<button class="btn btn-success pull-right" style="width:20%;height:50px;" tabindex="1">Submit</button>
									</div>
								</div>


							</form>


				</div>






		</div>
	</div>

<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"> Send a Message </h4>
      </div>
      <div class="modal-body" style="height:200px;">
          <div class="col-lg-12" style="padding-top:45px;" align="center">
              <textarea class="col-lg-12" id="message" name="message" ></textarea>
              <input type="text" id="user" name="user" style="display:none;">
              <input type="text" id="index" name="index" style="display:none;">
              <input type="text" id="element" name="element" style="display:none;">
          </div>

      </div>
            <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"  id="confirmation_submit">Submit</button>
      </div>
    </div>
  </div>
</div>
<!-- <div class="modal fade" id="upload_pdf" >
 
        
          <div class="modal-dialog">
            <div class="modal-content" id="change_height" style="height:220px;">
              <div class="modal-header" style="padding-bottom:30px;background-color:#4CAE4C;">
                <h4 style="margin:0;color:white;width:500;">Upload pdf</h4>
                <button type="button" style="margin-top:-20px;"class="btn btn-danger btn-xs pull-right" data-dismiss="modal">X</button>
              </div>
               
                  	 <div class="modal-body">
                    <form role="form" method="post" action="/manageArticle/uploadPdf" enctype="multipart/form-data">
                      
                            
                                    
                                  <p>Choose Pdf File</p>
								  <input  type="file" id="pdf_upload" name="pdf_upload" required/>
                                  <input type="text" id="user_article" name="user_article" hidden="true">
                                  <input type="text" id="articleWritlearticle" name="articleWritlearticle" hidden="true">
                                   
                                  
                                  <button id= "upload_pdf_confirm"style="margin-top:15px;margin-left:453px;" class="btn btn-success">Upload</button>

                                                      
                          
                      </form>
                  </div>
                  	
            </div>  
          </div>  
        
</div> -->


</body>


<script src="lib/jquery/jquery.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>

<script type='text/javascript'> 
        $(document).ready(function() {
            $('#sidebar').affix({offset: {top: $('header').height()}});	
        });
        
</script> 

<script>
var article= <% if(locals.article){%>
      <%- JSON.stringify(article) %>
      <%}%>;
	$(document).ready(function()
	{
		for(var i=0;i<article.length;i++)
		{
			for(var k=0;k<article[i].writeArticle.length;k++)
			{
				var time=article[i].writeArticle[k].created;
				var dateTime=new Date(time);
				var month=dateTime.getMonth()+1;
				var date=dateTime.getFullYear()+"/"+month+"/"+dateTime.getDate();
				console.log(date);
				$("#time_"+i+k).text(date)
			}
		}
		$("#password_change").click(function(){
			$("#change").show();
			$("#article").hide();
			$("#reviewer").hide();

		});


		$("#assignReviewer").click(function(){
			$("#reviewer").show();
			$("#change").hide();
			$("#article").hide();

		});


	

	});
	$("#upload_pdf_confirm").click(function(){

		location.reload();
	//	var name=$("#pdf_upload").val();
		// var url=
		//console.log(name)
			// $.ajax({ url: '/manageArticle/accept',
	  //        data: { index:index,
	  //        		 user_id:user_id
	  //        },
	  //        type: 'POST',
	  //        success: function(output) {


	  //        		console.log(output);
	  //        	}
	  //   });

	});
	function addpdf(user_id, index,elem){
		console.log(index)
		$("#user_article").val(user_id);
		$("#articleWritlearticle").val(index);
		console.log($("#user_article").val())
		 $("#upload_pdf").show();
	}
	function acceptArticle(user_id, index,elem){

			console.log(user_id);
			console.log(index);
			
		   
			
			$.ajax({ url: '/manageArticle/accept',
	         data: { index:index,
	         		 user_id:user_id
	         },
	         type: 'POST',
	         success: function(output) {


	         		console.log(output);
	         		 var id = $(elem).attr("id");
				    var x= id.split("_");
				    var idd=x[2];
				    console.log(idd);
				    $("#waiting_"+idd).hide();

	          }
	    });
	}

	function rejectArticle(user,index,elem){

		console.log(user);
		console.log(index);
		$("#user").val(user)
		$("#index").val(index)
		$("#element").val(elem)
return false;
		// $.ajax({ url: '/manageArticle/reject',
	 //         data: { index:index,
	 //         		 user:user
	 //         },
	 //         type: 'POST',
	 //         success: function(output) {
	         	
	 //         	console.log(output);
		// 		var id = $(elem).attr("id");
		// 		console.log(id);
		// 	    var x= id.split("_");
		// 	    var idd=x[2];
		// 	    console.log(idd);
		// 	    $("#waiting_"+idd).hide();
	 //          }
	 //    });
	}
		$("#confirmation_submit").click(function(){
			index=$("#index").val();
			user=$("#user").val();
			elem=$("#element").val();
			message=$("#message").val();
			$.ajax({ url: '/manageArticle/reject',
	         data: { index:index,
	         		 user:user,
	         		 message:message
	         },
	         type: 'POST',
	         success: function(output) {
	         	window.location.reload();
	         	console.log(output);
				var id = $(elem).attr("id");
				console.log(id);
			    var x= id.split("_");
			    var idd=x[2];
			    console.log(idd);
			    $("#waiting_"+idd).hide();

			    
	          }
	    });
		})
		$('#accept').click(function(err){
			console.log('Done');
		})

</script>


</html>