<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">
<link rel="stylesheet" href="css/jquery-ui.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>

	<div class="container">
		<div class="row">
					
				<div class="col-md-3 col-lg-3">
					<div class="nav list-group" id="sidebar">

							<ul class="nav bs-sidenav" style="background:#F7F5FA;">
								  <li class="menu active" id="admin"> 
								  	 	<a class="primary" href="/admin">Admin Pannel<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="manage_articles">
								  	<a class="primary" href="/manageArticle">Manage Articles<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="manage_members"> 
								  	<a class="primary" href="/manageMembers">Manage Members<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  

								  <li class="menu" id="manage_website">
								  	<a class="primary" href="/managewebsite">Manage Website<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="view_donation">
								  	<a class="primary" href="#">View Donation<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="view_distribution">
								  	<a class="primary" href="/viewdistribution">Production and Distribution<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_cost">
								  	<a class="primary" href="/managecost">Manage Cost<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="log_out">
								  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="password_change">
								  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
								  </li>
							</ul>
					</div>
				</div>

			<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;padding-top:40px;">
					
					<div class="col-lg-12" id="cost"  style="padding-top:30px;">
							<div class="col-lg-12" style="padding-bottom:30px" id="section-5">
							
								<div class="col-lg-12"><h2 style="padding-left:50px;padding-bottom:20px;"><b>Manage Cost</b></h2></div>
									<form method="post" action="/searchArticleByArticle">	
										<div class="col-lg-4">
											<input type="text" class="form-control" id="searchByArticle" name="searchByArticle" placeholder="Search by Article">
											</div>
											<div class="col-lg-2">
											<button type="submit" id="" class="glyphicon glyphicon-search"  style="text-decoration:none;width:30px;" ></button>
											</div>
										</form>	
											<form method="post" action="/searchArticleByArtist">
												<div class="col-lg-4">
													<input type="text" class="form-control" placeholder="Search by Artist" id="searchByArtist" name="searchByArtist">
												</div>
												<div class="col-lg-2">
													<button type="submit" id="" class="glyphicon glyphicon-search"  style="text-decoration:none;width:30px;" ></button>
												</div>
										</form>
												
									
									<!-- <div class="col-lg-6">
											<form method="post" action="adminmanagecost">

												<div class="col-lg-12">
													<h4><label>Average shipping price  <input type="text" id="shippingprice" name="shippingprice" style="width:125px;" >
													</h4>
													
													<h4><label>Book Price/page &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input class="input-control" id="bookprice" name="bookprice" type="text" style="width:125px;">
													</h4>

												</div>

												<div class="col-lg-12 text-right">
													
														<div class="btn-group">
															<button type="submit" class="btn btn-info" >Update</button>
														</div>
														<div class="btn-group">
															<button type="button" class="btn btn-danger" >Cancel</button>
														</div> 
													
												</div>

											<form>
									</div> -->
									
							</div>
					</div>

			</div>


		</div>
	</div>

<script src="lib/jquery/jquery.min.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>
<script src="../js/jquery-1.10.2.js"></script>
<script src="../js/jquery-ui.js"></script>

<script type='text/javascript'> 
 var artist= <% if(locals.artist){%>
      <%- JSON.stringify(artist) %>
      <%}%>;
var availableArtist=[];
for(var i=0;i<artist.length;i++){
	availableArtist[i]=artist[i];
	}
 var articleTitle= <% if(locals.articleTitle){%>
      <%- JSON.stringify(articleTitle) %>
      <%}%>;
var availableArticles=[];
for(var i=0;i<articleTitle.length;i++){
	availableArticles[i]=articleTitle[i];
	}
// console.log(availableArtist)
      $( "#searchByArtist" ).autocomplete({
      source: availableArtist
    });
       $( "#searchByArticle" ).autocomplete({
      source: availableArticles
    });
        $(document).ready(function() {
            $('#sidebar').affix({offset: {top: $('header').height()}});	
        });
        
        
</script> 


</body>
</html>