<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../css/123abcd.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>
	<div class="container">
		<div class="row">

				<div class="col-md-3 col-lg-3">
					
					<div class="nav list-group" id="sidebar">

							<!-- <ul class="nav bs-sidenav" style="background:#F7F5FA;">
								<li class="menu active">
						  			<a class="primary"  href="/artist">Hello, Artist!!<span class="pull-right">&rsaquo;</span></a> 
						 		</li>
	
						 		<li class="menu active" id="authorPenel"><a class="primary" href="/userArticle">Author Pannel<span class="pull-right">&rsaquo;</span></a></li>
						  		<li class="menu" id="new_article"><a class="primary" href="/writeNewArticle">Submit New Article<span class="pull-right">&rsaquo;</span></a></li>
						  		<li class="menu" id="guide_line"><a class="primary" href="/previous">Previous Article<span class="pull-right">&rsaquo;</span></a></li>
							  <li class="menu" id="guide_line"><a class="primary" href="#">Guide Lines<span class="pull-right">&rsaquo;</span></a></li>
							  <li class="menu" id="log_out"><a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a></li>
							  <li class="menu" id="password"><a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a></li>
							  <li class="menu" id="update_profile"><a class="primary" href="/users/updateUserProfile">Update Profile<span class="pull-right">&rsaquo;</span></a></li>
							  <li class="menu active" id="homepage"><a class="primary" href="/">Home Page<span class="pull-right">&rsaquo;</span></a></li>
								 <li class="menu active"> 
								  	<a class="primary" href="/waiting_for_acceptence">Decide to participate<span class="pull-right">&rsaquo;</span></a>
								 </li>
								 <li class="menu"> 

								  	<a class="primary" href="/currentlyworkingartist">Currently Working On<span class="pull-right">&rsaquo;</span></a>
								 </li>
								 <li class="menu"> 
								  	<a class="primary" href="/previouslyworkedartist">Previously Submitted<span class="pull-right">&rsaquo;</span></a>
								 </li>
								  
								 
							  
							  
						


							</ul> -->
							<ul class="nav bs-sidenav" style="background:#F7F5FA;">
								<li class="menu active"><a class="primary" href="/artist">Artist's Panel<span class="pull-right">&rsaquo;</span></a></li>
								<li class="menu"><a class="primary" href="/open_for_bid">Submit a bid<span class="pull-right">&rsaquo;</span></a></li>

								<li class="menu"><a class="primary" href="/acceptedArticleForBid">Submit an art work<span class="pull-right">&rsaquo;</span></a></li>

								<li class="menu"><a class="primary" href="/previouslyworkedartist">Previous art work<span class="pull-right">&rsaquo;</span></a></li>

								<li class="menu"><a class="primary"href="/myWallet">My Wallet<span class="pull-right">&rsaquo;</span></a></li>

								<li class="menu" id="guide_line">
							  	<a class="primary" href="/guideline">Guide Lines<span class="pull-right">&rsaquo;</span></a>
							  </li>

							  <li class="menu" id="log_out">
							  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
							  </li>

							  <li class="menu" id="password">
							  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
							  </li>

							  <li class="menu" id="update_profile">
							  	<a class="primary" href="/users/updateUserProfile">Update Profile<span class="pull-right">&rsaquo;</span></a>
							  </li>

							  <li class="menu active" id="homepage">
							  	<a class="primary" href="/">Home Page<span class="pull-right">&rsaquo;</span></a>
							  </li>
							</ul>


					</div>
				</div>
				<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;padding-top:40px;">
					

					
						<table class="table table-bordered">
						     	 <thead>
							        <tr>
							          
							          <th>Article</th>
							          <th>Bid Started</th>
							          <th>Bid End</th>
							          <th>Lowest Bid</th>
							          <th>Your Previous Bid</th>
							          <th>Place a bid</th>
							          <!-- <th class="text-center">Option</th> -->
							        </tr>
						      	</thead>
						      	<%for(var k=0;k<article.length;k++){%>
									<% for(var i=0;i<user.selectedArtist.length;i++) {%>

											<%if (user.selectedArtist[i].status != 'Request Artist' &&user.selectedArtist[i].status != 'Finish' && article[k]._id==user.selectedArtistId[i].id) { %>

													<tbody>	
														<tr id="review_<%= i%>">
															<td><a href="/viewBidding_Article?articleId=<%=user.selectedArtist[i]._id%>"><%= user.selectedArtist[i].bookTitle%></a></td>
															    <td><span id="startDate_<%=i%>"></td>
															    <td><%= user.selectedArtistId[i].endDate%></td>
															    <td><span id="lowestbid_<%=k%>"></span></td>
															    <td>
															    	<span id="myprebid_<%=k%>"></span>
															    </td>
															    <td><input type="text" name="cost" id="cost<%=k%><%=i%>">

															    	<input type="button" class="btn btn-primary" onClick="Request_to_bid('<%=user.selectedArtist[i]._id%>','<%=author[k]._id%>','<%=user.selectedArtist[i].no_page%>','<%=k%>','<%=i%>')" id="confirmation_draft" value="Submit">
															    </td> 
														   <!--  <td align="center">
														    	<a href="#" id="accept_<%=i%>"  onclick="accept('<%=user.selectedArtist[i]._id%>',this)">Accept</a> / <a href="#" onclick="reject()">Reject </a>
														    	
														    </td> -->
														      </tr>
													</tbody>



											<% } %>  
										
									<% } %>
								<% } %>
						</table>

				</div>
		</div>

	</div>


<script src="../js/jquery.min.js"></script>
<script src="../js/jquery.ui.widget.js"></script>
<script src="../js/jquery.fileupload.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>

<script type='text/javascript'> 
        $(document).ready(function() {
            $('#sidebar').affix({offset: {top: $('header').height()}});	
        });
        
</script>

<script>
var article=<% if(locals.article){%>
      <%- JSON.stringify(article) %>
      <%}%>;
var user=<% if(locals.user){%>
      <%- JSON.stringify(user) %>
      <%}%>;
	for(var k=0;k<article.length;k++){
		 for(var i=0;i<user.selectedArtist.length;i++) {
			if (user.selectedArtist[i].status != 'Finish' &&user.selectedArtist[i].status != 'Request Artist' && article[k]._id==user.selectedArtistId[i].id) {
					
					time1 = user.selectedArtistId[i].startDate;
		  			var dateTime1=new Date(time1);
		  			var month=dateTime1.getMonth()+1;
					var date1=dateTime1.getFullYear()+"/"+month+"/"+dateTime1.getDate();
					$('#startDate_'+i).text(date1);
			}
		}
	}
      for(var k=0;k<article.length;k++)
      {
      		if(article[k].bidding_Article&&article[k].bidding_Article.length<1)
		      {
		      	$("#lowestbid_"+k).text('0');
		      	$("#myprebid_"+k).text('0');
		      }
		      else
		      {
		      	var array=[];
		      	for(var i=0;i<article[k].bidding_Article.length;i++)
		      	{
		      			array[i]=article[k].bidding_Article[i].cost;
		      	}
		      	var x= Math.min.apply(Math,array);// min(rticle[k].bidding_Article);
		      	$("#lowestbid_"+k).text(x)
		      }

		      
		      if(article[k].bidding_Article&&article[k].bidding_Article.length>=1)
		      {
		      	for(var i=0;i<article[k].bidding_Article.length;i++)
		      	{
		      		if(article[k].bidding_Article[i].artistEmail==user.email)
		      		{
		      			$("#myprebid_"+k).text(article[k].bidding_Article[i].cost)
		      		}
		      	}
		      	
		      }
      }
</script>
<script>
function Request_to_bid(articleId,authorId,no_page,k,i){
			// var no_image=$("#no_image").val();
			var cost=$("#cost"+k+i).val();
			console.log("rdufufgdfgsucjgdcujg")
			$.ajax({ url: '/bidding',
		         data: { 
		         	no_image:no_page,
		         	cost:cost,
		         	articleId:articleId,
		         	authorId:authorId
		         },
		         type: 'POST',
		         success: function(output) {
		         	console.log(output);
		         	window.location='/artist/'
		          }
		    });

		}

	function accept(index,elem){
		var id = $(elem).attr("id");
		console.log(id);
		var x= id.split("_");
		console.log(x);
		var idd=x[1];
		console.log(idd);

		$("#review_"+idd).hide();
		console.log(index);

			$.ajax({ url: '/acceptArtistArticle',
		         data: { 
		         	index:index,
		         },
		         type: 'POST',
		         success: function(output) {
		         	
		         	console.log(output);
	       //   		var id = $(elem).attr("id");
				    // var x= id.split("_");
				    // var idd=x[1];
				    // console.log(idd);
				    // $("#artist_"+idd).hide();

		          }
		    });
	}
	function reject(){

		console.log('Reject');
	}



</script>
<script type="text/javascript">

</script>
</body>
</html>