<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>


	<div class="container">
		<div class="row">


			<div class="col-md-3 col-lg-3">
				
				<div class="nav list-group" id="sidebar">

						<ul class="nav bs-sidenav" style="background:#F7F5FA;">
							   <li class="menu active" id="authorPenel">
							  	<a class="primary" href="/userArticle">Author Pannel<span class="pull-right">&rsaquo;</span></a>
							  </li>
						  		<li class="menu" id="new_article">
						  			<a class="primary" href="/writeNewArticle">Submit New Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
						  		<li class="menu" id="guide_line">
						  			<a class="primary" href="/previous">Previous Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
							  <li class="menu" id="guide_line">
							  	<a class="primary" href="/guideline">Guide Lines<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="log_out">
							  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="password">
							  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="update_profile">
							  	<a class="primary" href="/users/updateUserProfile">Update Profile<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu active" id="homepage">
							  	<a class="primary" href="/">Home Page<span class="pull-right">&rsaquo;</span></a>
							  </li>
						</ul>

				</div>

			</div>
			<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;">

						<h2 align="center"> Previous Article </h2>
						<table class="table table-bordered">
						     	 <thead>
							        <tr >
							          <th class="text-center">Article Id</th>
							          <th class="text-center">Title</th>
							          <th class="text-center">Status</th>
							          <th class="text-center">Option</th>
							        </tr>
						      	</thead>
								<% for(var i=user.writeArticle.length-1; i>=0; i--) {%>

										<tbody align="center" id="waiting_<%= i%>" >	
												<td><%= user.writeArticle[i].articleId %></td>
											    <td><%= user.writeArticle[i].bookTitle %></td>
											    <td><%= user.writeArticle[i].status %></td>
											    <td>
											    		<a href="/author/previousarticle?articleid=<%=user.writeArticle[i]._id%>"> View</a>  
											    		<%if (user.writeArticle[i].status == 'draft') { %>
											    			/ <a href="/author/editarticle?articleid=<%=user.writeArticle[i]._id%>"> Edit </a> 
											    		<% } %>

											    		<%if (user.writeArticle[i].status == 'waiting') { %>
											    		 / <a onclick="articleDelete(<%=i %>)" href="#"> Delete </a> 
											    		 <% } %>
											    </td>
										</tbody>

									
								<% } %>
						</table>
					
					



			</div>



		</div>
	</div>

</body>


<script src="js/jquery.min.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>

<script type='text/javascript'> 
        $(document).ready(function() {
            $('#sidebar').affix({offset: {top: $('header').height()}});	
        });
        
</script> 


</html>