<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>

	<div class="container">
		<div class="row">
		
		
			
				<div class="col-md-3 col-lg-3">
					
					<div class="nav list-group" id="sidebar">

						<ul class="nav bs-sidenav" style="background:#F7F5FA;">

							<!--   <li class="menu active">
							  		<a class="primary">Hello, Reviewer!!<span class="pull-right">&rsaquo;</span></a> 
							  </li>

							  <li class="menu" id="review_article">
							  		<a class="primary" href="/userArticle">Author Pannel<span class="pull-right">&rsaquo;</span></a>
							  </li>

							  <li class="menu" id="decide_review">
							  		<a class="primary" href="/decide2review">Decide to Review<span class="pull-right">&rsaquo;</span></a>
							  </li>

							  <li class="menu" id="currently_reviewing">
							  		<a class="primary" href="/reviewarticle">Currently Reviewing<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="previously_reviewed">
							  		<a class="primary" href="/previouslyreviewed">Previously Reviewed<span class="pull-right">&rsaquo;</span></a>
							  </li>

							   
						  		<li class="menu" id="new_article">
						  			<a class="primary" href="/writeNewArticle">Submit New Article<span class="pull-right">&rsaquo;</span></a>
						  		</li> -->
						  		<li class="menu active">
							  		<a class="primary" href="/reviewerpanel">Reviewer's Panel<span class="pull-right">&rsaquo;</span></a> 
							  </li>
							  <li class="menu" id="decide_review">
							  		<a class="primary" href="/decide2review">Accept a Request<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="currently_reviewing">
							  		<a class="primary" href="/reviewarticle">Submit a Review <span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="guide_line">
						  			<a class="primary" href="/previouslyreviewed">Previous Review<span class="pull-right">&rsaquo;</span></a>
						  		</li>
							  <li class="menu" id="guide_line">
							  	<a class="primary" href="/guideline">Guide Lines<span class="pull-right">&rsaquo;</span></a></li>
							  <li class="menu" id="log_out">
							  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="password">
							  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="update_profile">
							  	<a class="primary" href="/users/updateUserProfile">Update Profile<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu active" id="homepage">
							  	<a class="primary" href="/">Home Page<span class="pull-right">&rsaquo;</span></a>
							  </li>
						</ul>

					</div>

				</div>
				<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;padding-top:20px;">
			
						<div class="col-lg-12" style="padding-right:0;padding-left:0;padding-top:40px;" >
									<table class="table table-bordered">
									      <thead>
									        <tr>
									          
									          <th class="text-center">Article</th>
									          <th class="text-center">View Review</th>
									          <th class="text-center">Due Date</th>
									          <th class="text-center">Suubmitted Date</th>
									        </tr>
									      </thead>
									      

									      <tbody>

									      		<% for(var i=0; i<user.reviewer.length; i++) {%>

									      			<%if (user.reviewer[i].reviewer_status == 'Finish' ) { %>

													        <tr>
													          
													          
													          <td class="text-center"><a href="/reviewsinglearticle?articleid=<%=user.reviewer[i]._id %>" ><%= user.reviewer[i].bookTitle%></a></td>
													          <td class="text-center"> <a href="/viewPreReviwersinglearticle?userid=<%=user.reviewer[i].articleAthor %>&articleid=<%=user.reviewer[i]._id %>">View Review</a> </td>
													          <td class="text-center">
													          		   	<span id="time1_<%=i%>"></span>	
 
													          </td>
													          <td class="text-center">
													          		   
 																	<span id="time_<%=i%>"></span>	
													          </td>
													        </tr>

													 <% } %>        
											    <% } %>


									      </tbody>
									</table>
						</div>
				</div>
		</div>
	</div>

</body>


<script src="lib/jquery/jquery.min.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>

<script type='text/javascript'> 
var reviewer=<% if(locals.user.reviewer){%>
      <%- JSON.stringify(user.reviewer) %>
      <%}%>;
      $(document).ready(function() 
        {
           for(var i=0;i<reviewer.length;i++)
           {
           		time = reviewer[i].reviewSubmittedDate;
           		var dateTime=new Date(time);
				var month=dateTime.getMonth()+1;
				var date=dateTime.getFullYear()+"/"+month+"/"+dateTime.getDate();
				console.log(date);
				$("#time_"+i).text(date)


				time1 = reviewer[i].dueDate;
				//alert(time1)
           		var dateTime1=new Date(time1);
				var month1=dateTime1.getMonth()+1;
				var date1=dateTime1.getFullYear()+"/"+month1+"/"+dateTime1.getDate();
				console.log(date1);
				$("#time1_"+i).text(time1)
           }
        });
        $(document).ready(function() 
        {
            $('#sidebar').affix({offset: {top: $('header').height()}});	

        });
        
</script>

</html>