<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>পাতার বই</title>
<link rel="stylesheet" type="text/css" href="/lib/bootstrap3/css/bootstrap.css">
<link href="../css/home.css" type="text/css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Happy+Monkey' rel='stylesheet' type='text/css'>


</style>

</head>

<body style="padding-top:5px;">
<!--Full content-->
<div class="container" id="main-container" style="border-top-left-radius:15px; border-top-right-radius:15px;">

        	<header class="">
              
                 <nav class="navbar navbar-default" role="navigation" id="navbar-home">
          <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                           <button type="button" class="navbar-toggle" id="home-nav" data-toggle="collapse" data-target="#collapse-1">
                               <span class="sr-only">Toggle navigation</span>
                               <span class="icon-bar"></span>
                               <span class="icon-bar"></span>
                               <span class="icon-bar"></span>
                           </button>
                           <a class="navbar-brand visible-xs" href="">তালিকা</a>
                        </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="collapse-1">
                            <ul class="nav navbar-nav col-lg-11 col-md-11 col-sm-11 col-xs-10 pull-right" id="home-ul-nav" style="padding-left:150px; !important; padding-top:15px;">
                                 <li><a href="/" class="nav-menu">মূল পাতা</a></li>
                                 <li><a href="/amaderkotha" class="nav-menu">আমাদের কথা</a></li>
                               	 <li><a href="/donation" class="nav-menu">অনুদান করুন</a></li>
                            </ul>


                     </nav>
            </header>
            <!--Header-->



        <!--content-->
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-2" style="padding-right:40px; padding-bottom:20px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 article-content" style="padding-bottom:25px;">

        			
        	    <div class="col-lg-12" style="">
        				
                			<form role="form" method="post" action="/users/resetpassword">
                				
                      				<h2><b>Reset your password</b></h2>
                      				<hr class="colorgraph">

                      				<div class="form-group">
                                  <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
                      				</div>
                              <div class="form-group">
                                    <input type="password" name="repassword" id="repassword" class="form-control input-lg" placeholder="Re -enter password">
                                    <input type="hidden" name="user_pass_id" id="user_pass_id" value="<%=userid%>" class="form-control input-lg" placeholder="">
                              </div>
                      				<div id="doesnot_match" class="col-lg-12" style="display:none;padding-right:0px;padding-left: 0px;">
                                  <p class="col-lg-12" style="color:red;padding-left:0px;padding-right:0px;">Password doesn't match</p>
                                  
                                </div>			
                              <hr class="colorgraph">
                      				<div class="row" style="padding-right:0;">
                      					
                      					<div class="col-lg-3" style="padding-left:0;margin-left:455px;">
                      						<input class="btn btn-success pull-right" type="submit" id="reset_password" value="Reset password" style="width:100%;;height:40px;padding-left:0;">
                      					</div>

                      				</div>
                						
                			</form>

          			</div>
              </div>



        </div>
        <!--content-->



        <!--Fotter--> 
              <div class="footer footer-article col-lg-12 col-md-12 col-sm-12 col-xs-12">
                 
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <ul class="list-inline">
                          <li><a class="f1" href="#" id="anArtist" data-toggle="modal" data-target="#myModal">Are you an artist!</a></li>
                          <li><a class="f1" href="#" id="suggestion" data-toggle="modal" data-target="#suggestionModal">Suggestions!</a></li>
                          <li><a class="f1" href="#" id="contact" data-toggle="modal" data-target="#contactModal">Contact us</a></li>
                          <li><a class="f1" href="/authors">Our Authors</a></li>
                          <li><a class="f1" href="/reviewer">Our Reviewers</a></li>
                          <li><a class="f1" href="/authors">Donors</a></li>
                      </ul>

                  </div>
                  
                 <!--  
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <form class="form-inline pull-right" role="form">
                          <div class="form-group">
                              
                          </div>

                          <div class="form-group">
                             
                          </div>
                      </form> 
                  </div> -->
              </div>

        <!--Fotter-->
        </div>


        <!--End section-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center copyright">
            <h6><strong>&copy; পাতার বই <a href="http://www.patarboi.com">(www.patarboi.com)</a> 2013 Credit</strong></h6>
        </div>
        <!--End section-->

</div>
<script src="/lib/jquery/jquery.min.js"></script>
<script src="/js/bootstrap.js" type="text/javascript"></script>

<script>

    $(document).ready(function(){
     $("#reset_password").on("click",function(){
      console.log("hjghjgh")
          var pass=$("#password").val();
          var confirm_pass=$("#repassword").val();
          if(pass!=confirm_pass){
           // alert('password does not match');
            $("#doesnot_match").show();
             return false;

          }
           
            
        });


    })
</script>

</body>
</html>
