<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>


	<div class="container">
		<div class="row">


			<div class="col-md-3 col-lg-3">
				
				<div class="nav list-group" id="sidebar">

						<ul class="nav bs-sidenav" style="background:#F7F5FA;">
							  <li class="menu" id="admin"> <a class="primary" href="/admin">Admin Pannel<span class="pull-right">&rsaquo;</span></a></li>
							  <li class="menu" id="manage_articles"><a class="primary" href="/manageArticle">Manage Articles<span class="pull-right">&rsaquo;</span></a></li>
							  <li class="menu" id="manage_members"><a class="primary" href="/manageMembers">Manage Members<span class="pull-right">&rsaquo;</span></a></li>
							  
							  <li class="menu" id="manage_website"><a class="primary" href="#">Manage Website<span class="pull-right">&rsaquo;</span></a></li>
							  <li class="menu" id="manage_website">
								  	<a class="primary" href="/allauthors">All Authors<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="view_donation"><a class="primary" href="#">View Donation<span class="pull-right">&rsaquo;</span></a></li>
							  <li class="menu" id="view_distribution"><a class="primary" href="/viewdistribution">Production and Distribution<span class="pull-right">&rsaquo;</span></a></li>
							  <li class="menu" id="manage_cost"><a class="primary" href="#">Manage Cost<span class="pull-right">&rsaquo;</span></a></li>
							  <li class="menu" id="log_out"><a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a></li>
							  <li class="menu" id="password_change"><a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a></li>
						</ul>

				</div>

			</div>
			<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;">
					<!-- change password -->
					<div class="col-lg-12" id="members"  >
							
							<form method="post" action="/submitReason">
							
								<div class="col-lg-12">
									<p style="color:red">
										<b>Reviewer’s Comment</b>
									</p>
									<!-- <input type="email" class="form-control" name="inviteFriend" id="inviteFriend" placeholder="Enter email address"> -->
									<p id="comment" name="comment"></p>
									<input type="text" id="comment1" name="comment1" style="display:none;">
									<input type="text" id="comment2" name="comment2" style="display:none;">
									<input type="text" id="comment3" name="comment3" style="display:none;">
									<input type="text" id="email" name="email" style="display:none;">
									<input type="text" id="artID" name="artID" style="display:none;">
								</div>
								<div class="col-lg-12">
									<p style="color:red">
										<b>Reason of Rejection</b>
									</p>
									
									<textarea class="form-control" id="reason" name="reason"></textarea>
									
								</div>
								<div class="col-lg-3">
									<br>
									<button style="margin-top: 10px;" type="submit" id="" class="btn btn-info" >Submit</button>
								</div>
							
							</form>
					
					
					<div class="col-lg-12" id="cost" style="display:none" style="padding-top:30px;">
							<div class="col-lg-12" style="padding-bottom:5px;">
								<div class="col-lg-3">
									Average shipping price :

								</div>
								<div class="col-lg-9">
									<input type="text" name="shipping_price" id="shipping_price" class="form-control input-lg" placeholder="Shipping price" tabindex="1" required>

								</div>
							</div>

							<div class="col-lg-12" style="padding-bottom:5px;">
								<div class="col-lg-3">
								Book Price :
								</div>
								<div class="col-lg-9">
									
									<input type="text" name="book_price" id="book_price" class="form-control input-lg" placeholder="Book price" tabindex="1" required>
								</div>
							</div>

							<div class="col-lg-12">

									<button class="btn btn-danger pull-right" style="width:20%;height:50px;padding-right:10px;" tabindex="1">
										Cancel
									</button>
									<button class="btn btn-primary pull-right" style="width:20%;height:50px;padding-right:10px;" tabindex="1">
										Update
									</button>
							</div>
					</div>

			</div>



		</div>
	</div>


</body>


<script src="lib/jquery/jquery.min.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>

<script type='text/javascript'> 
var article= <% if(locals.article){%>
      <%- JSON.stringify(article) %>
      <%}%>;
      		$("#email").val('<%=author.email%>');
      		$("#artID").val(article._id);
			$( "#comment" ).empty();
			for(var i=0;i<article.articleReviewer_comment.length;i++)
			{
				$("#comment").append('<p>'+article.articleReviewer_comment[i].comment+'</p>');
				if(i==0)
					$("#comment1").val(article.articleReviewer_comment[i].comment);
				else if(i==1)
					$("#comment2").val(article.articleReviewer_comment[i].comment);
				else if(i==2)
					$("#comment3").val(article.articleReviewer_comment[i].comment);
			}

		
</script> 


</html>