<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>


	<div class="container">
		<div class="row">



				<div class="col-md-3 col-lg-3">
					
					<div class="nav list-group" id="sidebar">

						<ul class="nav bs-sidenav" style="background:#F7F5FA;">

							  <li class="menu active"> 
							  		<a class="primary" href="/admin">Admin Panel<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu"> 
							  		<a class="primary" href="/authors">All Users<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="log_out">
							  		<a class="primary" href="signout">Log Out <span class="pull-right">&rsaquo;</span></a>
							  </li>
							  
						</ul>

					</div>

				</div>


				

				<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;padding-top:40px;">
					<div class="col-lg-12" align="center" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;"> <h2>Request Author’s Approval</h2> </div>
					<table class="table table-bordered">
					      <thead>
					        <tr>
					          
					          <th class="text-center">Article Id</th>
					          <th class="text-center">Article Title</th>
					          <th class="text-center">Author</th>
					          <th class="text-center">Option</th>
					           <th class="text-center">Status</th>

					        </tr>
					      </thead>
						
							<tbody>
								
								<%for(var i=0;i<article.length;i++){%>
									<tr>
										<td class="text-center"><%=article[i].articleId%></td>
										<td class="text-center"><%=article[i].bookTitle%></td>
										<td class="text-center"><%=author[i].name%></td>
										<td class="text-center">

											<%if(completeSelection[i]==0&&article[i].status!='Received Author’s Response'){%>
											<a href="/viewArtWork?author=<%=author[i]._id%>&article=<%=article[i]._id%>">View Art Work</a>
											<%}%>
											<%if(completeSelection[i]==1){%>
											
											<a href="/requestAuthorsApproval?author=<%=author[i]._id%>&article=<%=article[i]._id%>&location=requestartist">Request Authors Approval</a>
											<%}%>
											<%if(completeSelection[i]==2||article[i].status=='Received Author’s Response'){%>
											
											<a href="/ViewAuthorSelection?author=<%=author[i]._id%>&article=<%=article[i]._id%>" >View Author’s Selection</a>
											<%}%>
										</td>
										<td class="text-center">
											<%if(article[i].status=='Request Authors Approval'||article[i].status=='Bidding complete'){%>
												Waiting for Author’s Response
											<%}%>
											<%if(article[i].status!='Request Authors Approval'&&article[i].status!='Bidding complete'){%>
												<%=article[i].status%>
											<%}%>
											</td>
									</tr>
								<%}%>
							</tbody>	
					</table>
				</div>
<!-- 				<div class="modal fade " id="ModalAuthorSelection" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					        <h4 class="modal-title" id="myModalLabel">Author’s Selection</h4>
					      </div>
					      <div class="modal-body" style="height:200px;">
					          <div class="col-lg-12" style="padding-top:45px;" align="center">
					              <table class="table table-bordered">
									      <thead>
									        <tr>
									          
									          <th class="text-center">Page No.</th>
									          <th class="text-center">Text</th>
									          <th class="text-center">Image</th>
									         </tr>
									      </thead>
									      <tbody>
									      		<tr>
									      			<td>1</td>
									      			<td></td>
									      			<td>1</td>
									      		</tr>
									      </tbody>	
									    </table>
					          </div>

					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
									
					      </div>
					    </div>
					  </div>
					</div> -->
				

		</div>
	</div>
<script src="lib/jquery/jquery.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>

<script type='text/javascript'> 
        $(document).ready(function() {
            $('#sidebar').affix({offset: {top: $('header').height()}});	
        });
        
</script>

<script>
function authorApproval(image1,image2,image3,image4,artist,articleId,artistname,elem){


     		var id = $(elem).attr("id");
     		console.log(id);
		    var x= id.split("_");
		    console.log(x);
		    var idd=x[1];
		    console.log(idd);

		    $("#request_"+idd).hide();  



			console.log(artist);
			console.log(articleId);



		$.ajax({ url: '/admin/requestAuthor',
         data: { 
         		

         		image1:image1,
         		image2:image2,
         		image3:image3,
         		image4:image4,
         		artist:artist,
         		articleId:articleId,
         		artistname:artistname

         },
         type: 'POST',
         success: function(output) {
         	
            console.log(output);
     		

          }
    	}); 

}
</script>
</body>
</html>