<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>

	<div class="container">
		<div class="row">
		
		
			
				<div class="col-md-3 col-lg-3">
					
					<div class="nav list-group" id="sidebar">

						<ul class="nav bs-sidenav" style="background:#F7F5FA;">

							 <!--  <li class="menu active">
							  		<a class="primary">Hello, Reviewer!!<span class="pull-right">&rsaquo;</span></a> 
							  </li>

							  <li class="menu" id="review_article">
							  		<a class="primary" href="/reviewerpanel">Reviewer Pannel<span class="pull-right">&rsaquo;</span></a>
							  </li>

							  <li class="menu" id="decide_review">
							  		<a class="primary" href="/decide2review">Decide to Review<span class="pull-right">&rsaquo;</span></a>
							  </li>

							  <li class="menu" id="currently_reviewing">
							  		<a class="primary" href="#">Currently Reviewing<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="previously_reviewed">
							  		<a class="primary" href="/previouslyreviewed">Previously Reviewed<span class="pull-right">&rsaquo;</span></a>
							  </li>

							  <li class="menu active" id="authorPenel">
							  	<a class="primary" href="/userArticle">Author Pannel<span class="pull-right">&rsaquo;</span></a>
							  </li>
						  		<li class="menu" id="new_article">
						  			<a class="primary" href="/writeNewArticle">Submit New Article<span class="pull-right">&rsaquo;</span></a>
						  		</li> -->
						  		 <li class="menu active">
							  		<a class="primary" href="/reviewerpanel">Reviewer's Panel<span class="pull-right">&rsaquo;</span></a> 
							  </li>
							  <li class="menu" id="decide_review">
							  		<a class="primary" href="/decide2review">Accept a Request<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="currently_reviewing">
							  		<a class="primary" href="/reviewarticle">Submit a Review <span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="guide_line">
						  			<a class="primary" href="/previouslyreviewed">Previous Review<span class="pull-right">&rsaquo;</span></a>
						  		</li>
							  <li class="menu" id="guide_line">
							  	<a class="primary" href="/guideline">Guide Lines<span class="pull-right">&rsaquo;</span></a></li>
							  <li class="menu" id="log_out">
							  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="password">
							  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="update_profile">
							  	<a class="primary" href="/users/updateUserProfile">Update Profile<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu active" id="homepage">
							  	<a class="primary" href="/">Home Page<span class="pull-right">&rsaquo;</span></a>
							  </li>

						</ul>

					</div>

				</div>
				<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;padding-top:20px;">
			
						<div class="col-lg-12" style="padding-right:0;padding-left:0;padding-top:40px;" >

									<table class="table table-bordered">
									      <thead>
									        <tr>
									          
									          <th>Article</th>
									          <th>Action</th>
									          <th>Request Due date</th>
									          <th class="text-center">Action</th>
									        </tr>
									      </thead>
									      

									      <tbody>

									      		<% for(var i=0; i<user.reviewer.length; i++) {%>

									      			<%if (user.reviewer[i].reviewer_status == 'Accept' ) { %>
													        <tr id="review_<%= i%>">
													          
													          <td><a href="/article?userid=<%=user.reviewer[i].articleAthor %>&articleid=<%= user.reviewer[i].writeArticleId%>"><%= user.reviewer[i].bookTitle%></a></td>
													          <td><a href="/reviewsinglearticle?userid=<%=user.reviewer[i].articleAthor %>&articleid=<%=user.reviewer[i]._id %>">Preview</a></td>
													          <td><span id="time1_<%=i%>"></span></td>
															  <td class="text-center">
															  	<a href="/viewReviwersinglearticle?userid=<%=user.reviewer[i].articleAthor %>&articleid=<%=user.reviewer[i]._id %>">Review It</a>
															  	<!-- ///////// -->
																<!--  <a href="/reviewsinglearticle?userid=<%=user.reviewer[i].articleAthor %>&articleid=<%=user.reviewer[i]._id %>">
																	          	<button class="btn btn-primary btn-xs" id="view_article">View </button>
														        </a> -->
																	<!-- <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#ModalComment" onclick="reviewedArticle(<%= i%>,'<%=user.reviewer[i].articleAthor %>','<%=user.reviewer[i]._id %>','<%= user.reviewer[i].writeArticleId %>',this)" type="button" id="acceptReview_<%=i%>"> Accept</button> -->
																<!-- ///////// -->
													          </td>
													        </tr>

													<% } %>
											    <% } %>


									      </tbody>
									</table>

						</div>
				</div>
				<div class="modal fade " id="ModalComment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				        <h4 class="modal-title text-center" id="myModalLabel">Write Comment</h4>
				      </div>
				      <div class="modal-body" style="height:200px;">
				          <div class="col-lg-12" style="padding-top:45px;" >
				          	<p>Write comment</p>
				             	<textarea type="text" class="form-control" id="comment" name="comment"></textarea>
				             	<input type="text" id="id" name="id" style="display:none;">
				             	<input type="text" id="author" name="author"  style="display:none;">
				             	<input type="text" id="reviewArticleId" name="reviewArticleId"  style="display:none;">
				             	<input type="text" id="writeArticleId" name="writeArticleId"  style="display:none;">
				             	<input type="text" id="ratingScore" name="ratingScore"  style="display:none;">
				             	<p>Rating</p>
				             	<span class="star" id="rating"> </span>
				          </div>

				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
				        <button type="button" class="btn btn-primary" data-dismiss="modal"  id="subnit_comment">Submit</button>
				      </div>
				    </div>
				  </div>
				</div>
		</div>
	</div>

</body>


<script src="lib/jquery/jquery.min.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>
<script src="../js/jquery.raty.js" type="text/javascript"></script>

<script type='text/javascript'> 
        $(document).ready(function() 
        {
            $('#sidebar').affix({offset: {top: $('header').height()}});	

        });
        
</script>

<script>
                    
function reviewedArticle(id,author,reviewArticleId,writeArticleId,elem){
	$("#id").val(id);
	$("#author").val(author);
	$("#reviewArticleId").val(reviewArticleId);
	$("#writeArticleId").val(writeArticleId);
	console.log(id);
	console.log(author);
	console.log(reviewArticleId);
	console.log(writeArticleId);

	
	// hide div
	var index = $(elem).attr("id");
	console.log(index);
    var x= index.split("_");
    var idd=x[1];
    console.log(idd);
    $("#review_"+idd).hide();

    // ----hide end-------
 	return false;
	 

}
$("#subnit_comment").click(function(){
		id=$("#id").val();
		author=$("#author").val();
		reviewArticleId=$("#reviewArticleId").val();
		writeArticleId=$("#writeArticleId").val();
		comment=$("#comment").val();
		rating=$("#ratingScore").val();
		$.ajax({ url: '/reviewer/articleAccept',
         data: { 
         	id:id,
         	author:author,
         	reviewArticleId:reviewArticleId,
         	writeArticleId:writeArticleId,
         	comment:comment,
         	rating:rating,
         },
         type: 'POST',
         success: function(output) {
         	
            console.log(output);
     		
     	// 	var id = $(elem).attr("id");
		    // var x= id.split("_");
		    // var idd=x[1];
		    // console.log(idd);
		    // $("#review_"+idd).hide();
          }
    }); 

})
</script>
<script type="text/javascript">
 var reviewer=<% if(locals.user.reviewer){%>
      <%- JSON.stringify(user.reviewer) %>
      <%}%>;
      $(document).ready(function() 
        {
           for(var i=0;i<reviewer.length;i++)
           {
           		

				time1 = reviewer[i].dueDate;
				//alert(time1)
           		var dateTime1=new Date(time1);
				var month=dateTime1.getMonth()+1;
				var date1=dateTime1.getFullYear()+"/"+month+"/"+dateTime1.getDate();
				console.log(date1);
				$("#time1_"+i).text(time1)
           }
        });
$(document).ready(function(){
		  $(".star").raty({ 
		    score: 0,
		    readOnly:  false,
		});
		    

		   

		    $(".star > img").click(function() {
		     var score = $(this).attr("alt");
		    // console.log($("rating").attr("alt")) 
		     //alert(score);
		    var rating=score;
		    $("#ratingScore").val(score);
		   
		}); 
})

</script>
</html>