<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>


	<div class="container">
		<div class="row">



				<div class="col-md-3 col-lg-3">
					
					<div class="nav list-group" id="sidebar">

						<ul class="nav bs-sidenav" style="background:#F7F5FA;">

							  <!-- <li class="menu active"> 
							  		<a class="primary" href="/admin">Admin Panel<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="manage_website">
								  	<a class="primary" href="/allauthors">All Authors<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="log_out">
							  		<a class="primary" href="signout">Log Out <span class="pull-right">&rsaquo;</span></a>
							  </li> -->

								  <li class="menu" id="manage_articles">
								  		<a class="primary" href="/manageArticle">Manage Articles<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="manage_members">
								  	 	<a class="primary" href="/manageMembers">Manage Members<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  
								  <li class="menu" id="manage_website">
								  		<a class="primary" href="/managewebsite">Manage Website<span class="pull-right">&rsaquo;</span></a>
								  </li>
								 <!--  <li class="menu" id="manage_website">
								  	<a class="primary" href="/allauthors">All Authors<span class="pull-right">&rsaquo;</span></a>
								  </li> -->
								  <li class="menu" id="view_donation">
								  		<a class="primary" href="#"><span class="pull-right">&rsaquo;</span>View Donation</a>
								  </li>
								  <li class="menu" id="view_distribution">
								  		<a class="primary" href="/viewdistribution">Production and Distribution<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="manage_cost">
								  		<a class="primary" href="#">Manage Cost<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="log_out">
								  		<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="password_change">
								  		<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
								  </li>
							  
						</ul>

					</div>

				</div>


				

				<div class="col-md-9  pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;">
						
						<div class="col-lg-12" style="padding-top:20px;" align="center"> <h2>Reviewer Details</h2></div>
						
							<table class="table table-bordered">
						      <thead>
						        <tr>
						          
							          <th>Reviewer Name</th>
							          <th>Description</th>
							          <th>Email Address </th>
							          <th># Reviewing</th>
							          <th># Total Reviewed</th>
							          <th> Reviewer Rating  </th>
							          <th># Request Waiting</th>
							          <th># Request Decline</th>
						        </tr>
						      </thead>
						      <tbody>
						      		<td><%=reviewer.name%></td>
						      		<td><a href="/viewSearchuserProfile?email=<%=reviewer.email%>">user profile</a></td>
						      		<td><%=reviewer.email%></td>
						      		<td><%=reviewing%></td>
						      		<td><%=reviewed%></td>
						      		<td><span class="star" id="rating" style="font-size:1px;"> </span></td>
						      		<td><%=waiting%></td>
						      		<td><%=decline%></td>
						      </tbody>



				</div>



		</div>
	</div>
<script src="lib/jquery/jquery.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>
<script src="../js/jquery.raty.js" type="text/javascript"></script>
<script type='text/javascript'> 
        $(".star").raty({ 
        	<%if(rating){%>
		    score: <%=rating%>,
		    readOnly:  true,
		    <%}%>
		    <%if(!rating){%>
		    score: 0,
		    readOnly:  true,
		    <%}%>
		});
</script>



</body>
</html>