<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" type="text/css" href="/lib/bootstrap3/css/bootstrap.css">
<link href="../css/123abcd.css" type="text/css" rel="stylesheet">


<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>

	<div class="container">
		
		<div class="row">
		
		
			
			<div class="col-md-3">
				
				<div class="nav list-group" id="sidebar">

						<ul class="nav bs-sidenav" style="background:#F7F5FA;">

							  <li class="menu active"><a class="primary">Hello, <b><%=author.name%></b> </a></li>
							  <li class="menu active" id="authorPenel">
							  	<a class="primary" href="/userArticle">Author Pannel<span class="pull-right">&rsaquo;</span></a>
							  </li>
						  		<li class="menu" id="new_article">
						  			<a class="primary" href="/writeNewArticle">Submit New Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
						  		<li class="menu" id="guide_line">
						  			<a class="primary" href="/previous">Previous Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
							  <li class="menu" id="guide_line">
							  	<a class="primary" href="/guideline">Guide Lines<span class="pull-right">&rsaquo;</span></a></li>
							  <li class="menu" id="log_out">
							  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="password">
							  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="update_profile">
							  	<a class="primary" href="/users/updateUserProfile">Update Profile<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu active" id="homepage">
							  	<a class="primary" href="/">Home Page<span class="pull-right">&rsaquo;</span></a>
							  </li>

						</ul>

				</div>
			</div>
			

			<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:768px;height:auto;">
				
				
					<div class="col-lg-12">

						<% for(var k=0; k<author.writeArticle.length; k++) {%>
							
							<% if(author.writeArticle[k].status == 'Accepted') { %>

								<div class="col-lg-12" style="padding-right:0;padding-left:0;height:250px;max-height:250px;border-width: 1px; border-bottom: solid; border-color: lightgray;padding-top:15px;"  >


									<div class="col-lg-4" style="padding-left:0;">

										<img class="img-thumbnail" style="width:280px;height:220px;" id="new_image"   src="../article_image/<%=author.writeArticle[k].articleImage %>" alt="Jason's Photo" style="width: inherit" />

									</div>
									<div class="col-lg-8" style="padding-left:0;"> 
										
										<h4><%= author.writeArticle[k].title%></h4><br>
										<%= author.writeArticle[k].article%><br>
										<%= author.writeArticle[k].credit%><br>
										<%= author.writeArticle[k].bottomText%><br>
									</div>


								</div>
							<% } %>
						<% } %>

					</div>
				
			</div>

		</div>
		
	</div>


<script src="lib/jquery/jquery.min.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>
<script type='text/javascript'> 
        $(document).ready(function() {
            $('#sidebar').affix({offset: {top: $('header').height()}});	
        });
        
</script> 
</body>

</html>