<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>

	<div class="container">
		<div class="row">
		
		
			
				<div class="col-md-3 col-lg-3">
					
					<div class="nav list-group" id="sidebar">

						<ul class="nav bs-sidenav" style="background:#F7F5FA;">

							  <!-- <li class="menu active">
							  		<a class="primary">Hello, Reviewer!!<span class="pull-right">&rsaquo;</span></a> 
							  </li>

							  <li class="menu" id="review_article">
							  		<a class="primary" href="/userArticle">Author Pannel<span class="pull-right">&rsaquo;</span></a>
							  </li>

							  <li class="menu" id="decide_review">
							  		<a class="primary" href="/decide2review">Decide to Review<span class="pull-right">&rsaquo;</span></a>
							  </li>

							  <li class="menu" id="currently_reviewing">
							  		<a class="primary" href="/reviewarticle">Currently Reviewing<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="previously_reviewed">
							  		<a class="primary" href="/previouslyreviewed">Previously Reviewed<span class="pull-right">&rsaquo;</span></a>
							  </li>

							   
						  		<li class="menu" id="new_article">
						  			<a class="primary" href="/writeNewArticle">Submit New Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
						  		<li class="menu" id="guide_line">
						  			<a class="primary" href="/previous">Previous Article<span class="pull-right">&rsaquo;</span></a>
						  		</li> -->
							  <li class="menu active">
							  		<a class="primary" href="/reviewerpanel">Reviewer's Panel<span class="pull-right">&rsaquo;</span></a> 
							  </li>
							  <li class="menu" id="decide_review">
							  		<a class="primary" href="/decide2review">Accept a Request<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="currently_reviewing">
							  		<a class="primary" href="/reviewarticle">Submit a Review <span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="guide_line">
						  			<a class="primary" href="/previouslyreviewed">Previous Review<span class="pull-right">&rsaquo;</span></a>
						  		</li>
							  <li class="menu" id="guide_line">
							  	<a class="primary" href="/guideline">Guide Lines<span class="pull-right">&rsaquo;</span></a></li>
							  <li class="menu" id="log_out">
							  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="password">
							  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="update_profile">
							  	<a class="primary" href="/users/updateUserProfile">Update Profile<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu active" id="homepage">
							  	<a class="primary" href="/">Home Page<span class="pull-right">&rsaquo;</span></a>
							  </li>
						</ul>

					</div>

				</div>
				<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;padding-top:20px;">
			
						<div class="col-lg-12" style="padding-right:0;padding-left:0;padding-top:40px;" >
									<table class="table table-bordered">
									      <thead>
									        <tr>
									          
									          
									          <th>Article Title</th>
									          <th>Last date to accept</th>
									          <th class="text-center">Action on request</th>
									        </tr>
									      </thead>
									      

									      <tbody>

									      		<% for(var i=0; i<user.reviewer.length; i++) {%>

									      			<%if (user.reviewer[i].reviewer_status == 'pending'&&user.reviewer[i].writeArticleId==id ) { %>

													        <tr id="review_<%= i%>">

													          <td><a href="/showreviedArticle?articleid=<%= user.reviewer[i].writeArticleId%>"><%= user.reviewer[i].bookTitle%></a>  </td>
													          <td><span id="time1_<%=i%>"></span>	</td>
													          <td class="text-center">
													          		<a href="#" id="accept_<%=i%>" data-toggle="modal" data-target="#ModalAccept" onclick="accept('<%= user.reviewer[i].writeArticleId%>','<%= user.reviewer[i]._id%>',this)">Accept </a> / <a id="reject_<%=i%>" href="#" data-toggle="modal" data-target="#ModalReject"  onclick="reject('<%= user.reviewer[i].writeArticleId%>','<%= user.reviewer[i]._id%>',this)"> Reject </a>
 
													          </td>
													        </tr>

													 <% } %>        
											    <% } %>


									      </tbody>
									</table>
						</div>
						<div class="modal fade " id="ModalReject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						        <h4 class="modal-title text-center" id="myModalLabel">Confirmation</h4>
						      </div>
						      <div class="modal-body" style="height:100px;">
						          <div class="col-lg-12 text-center" style="padding-top:45px;" >
						          	Do you want to reject this article?
						          	<input type="text" id="articleId" name="articleId"  style="display:none;">
						          	<input type="text" id="id" name="id"  style="display:none;">
				             		<input type="text" id="writeArticleId" name="writeArticleId"  style="display:none;">
						          </div>

						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
						        <button type="button" class="btn btn-primary" data-dismiss="modal"  id="submit_Confirmation">Yes</button>
						      </div>
						    </div>
						  </div>
						</div>

						<div class="modal fade " id="ModalAccept" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						        <h4 class="modal-title text-center" id="myModalLabel">Confirmation</h4>
						      </div>
						      <div class="modal-body" style="height:100px;">
						          <div class="col-lg-12 text-center" style="padding-top:45px;" >
						          	Do you want to accept this article?
						          	<input type="text" id="articleId1" name="articleId1"  style="display:none;">
						          	<input type="text" id="id1" name="id1"  style="display:none;">
				             		<input type="text" id="writeArticleId1" name="writeArticleId1"  style="display:none;">
						          </div>

						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
						        <button type="button" class="btn btn-primary" data-dismiss="modal"  id="submit_Confirmation_accept">Yes</button>
						      </div>
						    </div>
						  </div>
						</div>
				</div>
		</div>
	</div>

</body>


<script src="lib/jquery/jquery.min.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>

<script type='text/javascript'> 
        $(document).ready(function() 
        {
            $('#sidebar').affix({offset: {top: $('header').height()}});	

        });
        var reviewer=<% if(locals.user.reviewer){%>
      <%- JSON.stringify(user.reviewer) %>
      <%}%>;
      $(document).ready(function() 
        {
           for(var i=0;i<reviewer.length;i++)
           {
           		

				time1 = reviewer[i].dueDate;
				//alert(time1)
           		var dateTime1=new Date(time1);
				var month=dateTime1.getMonth()+1;
				var date1=dateTime1.getFullYear()+"/"+month+"/"+dateTime1.getDate();
				console.log(date1);
				$("#time1_"+i).text(time1)
           }
        });
</script>

<script>
function accept(writeArticleId,articleId,elem){
		$("#articleId1").val(articleId);
		$("#writeArticleId1").val(writeArticleId);
		var id = $(elem).attr("id");
		$("#id1").val(id);
		return false;

		var id = $(elem).attr("id");
		console.log(id);
		var x= id.split("_");
		console.log(x);
		var idd=x[1];
		console.log(idd);

		$("#review_"+idd).hide();
	console.log(articleId);
	$.ajax({ url: '/reviewarticlestatuschange',
         data: { 
         	articleId:articleId,
         	writeArticleId:writeArticleId,

         },
         type: 'POST',
         success: function(output) {
         	
            console.log(output);
          }
    });


}

function reject(writeArticleId,articleId,elem){
		$("#articleId").val(articleId);
		$("#writeArticleId").val(writeArticleId);
		var id = $(elem).attr("id");
		$("#id").val(id);
		return false;
		
		console.log(id);
		var x= id.split("_");
		console.log(x);
		var idd=x[1];
		console.log(idd);

		$("#review_"+idd).hide();
	console.log(articleId);
	$.ajax({ url: '/rejectReviewArticle',
         data: { 
         	articleId:articleId,
         	writeArticleId:writeArticleId,

         },
         type: 'POST',
         success: function(output) {
         	
            console.log(output);
          }
    });


}
$("#submit_Confirmation").click(function(){
	var articleId=$("#articleId").val();
	var writeArticleId=$("#writeArticleId").val();
	var id=$("#id").val();
	var x= id.split("_");
		console.log(x);
		var idd=x[1];
		console.log(idd);

		$("#review_"+idd).hide();
	$.ajax({ url: '/rejectReviewArticle',
         data: { 
         	articleId:articleId,
         	writeArticleId:writeArticleId,

         },
         type: 'POST',
         success: function(output) {
         	
            console.log(output);
          }
    });
})

$("#submit_Confirmation_accept").click(function(){
	var articleId=$("#articleId1").val();
	var writeArticleId=$("#writeArticleId1").val();
	var id=$("#id1").val();
	var x= id.split("_");
		console.log(x);
		var idd=x[1];
		console.log(idd);

		$("#review_"+idd).hide();
	console.log(articleId);
	$.ajax({ url: '/reviewarticlestatuschange',
         data: { 
         	articleId:articleId,
         	writeArticleId:writeArticleId,

         },
         type: 'POST',
         success: function(output) {
         	
            console.log(output);
          }
    });
})

</script>
</html>