<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>

	<div class="container">
		<div class="row">
		
		
			
				<div class="col-md-3 col-lg-3">
					
					<div class="nav list-group" id="sidebar">

						<ul class="nav bs-sidenav" style="background:#F7F5FA;">
<!-- 
							  <li class="menu active">
							  		<a class="primary">Hello, Reviewer !!<span class="pull-right">&rsaquo;</span></a> 
							  </li>

							  <li class="menu" id="review_article">
							  		<a class="primary" href="/reviewarticle">Reviewer Pannel<span class="pull-right">&rsaquo;</span></a>
							  </li>

							  <li class="menu active" id="authorPenel">
							  	<a class="primary" href="/userArticle">Author Pannel<span class="pull-right">&rsaquo;</span></a>
							  </li>
						  		<li class="menu" id="new_article">
						  			<a class="primary" href="/writeNewArticle">Submit New Article<span class="pull-right">&rsaquo;</span></a>
						  		</li> -->
						  		 <li class="menu active">
							  		<a class="primary" href="/reviewerpanel">Reviewer's Panel<span class="pull-right">&rsaquo;</span></a> 
							  </li>
							  <li class="menu" id="decide_review">
							  		<a class="primary" href="/decide2review">Accept a Request<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="currently_reviewing">
							  		<a class="primary" href="/reviewarticle">Submit a Review <span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="guide_line">
							  	<a class="primary" href="/guideline">Guide Lines<span class="pull-right">&rsaquo;</span></a></li>
							  <li class="menu" id="log_out">
							  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="password">
							  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="update_profile">
							  	<a class="primary" href="/users/updateUserProfile">Update Profile<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu active" id="homepage">
							  	<a class="primary" href="/">Home Page<span class="pull-right">&rsaquo;</span></a>
							  </li>

						</ul>

					</div>

				</div>
				<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;padding-top:20px;">
						<div class="col-lg-12">


							<% if(reviewArticle.sound == 'No') { %>
								<div class="col-lg-12 panel panel-success" >

									<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
										<div class="col-lg-12" >	
												<h3><b>Title of the Book : <%=reviewArticle.bookTitle %></b></h3>
										</div>

									</div>

								</div>
								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 1 

										</div>

											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.articleImage %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-8"> 
													<%= reviewArticle.title%><br>
													<%=reviewArticle.article%><br>
													<%=reviewArticle.credit%><br>
													<%=reviewArticle.bottomText%><br>

											</div>

										</div>

								</div>

								<%if(reviewArticle.articleTitle2) {%>

									<div class="col-lg-12 panel panel-success" >

											<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
												<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 2

											</div>
											
												<div class="col-lg-4"> 
													<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img2 %>" alt="Jason's Photo" style="width: inherit" />
												</div>
												<div class="col-lg-8"> 
														<%= reviewArticle.articleTitle2%><br>
														<%=reviewArticle.article2%><br>
														<%=reviewArticle.source2%><br>
														<%=reviewArticle.bottomText2%><br>

												</div>

											</div>

									</div>

								<% } %>

								<%if(reviewArticle.articleTitle3) {%>

										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 3

												</div>
												
													<div class="col-lg-4"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img3 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-8"> 
															<%= reviewArticle.articleTitle3%><br>
															<%=reviewArticle.article3%><br>
															<%=reviewArticle.source3%><br>
															<%=reviewArticle.bottomText3%><br>

													</div>

												</div>

										</div>

								<% } %>

								<%if(reviewArticle.articleTitle4) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 4

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img4 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-8"> 
													<%= reviewArticle.articleTitle4%><br>
													<%=reviewArticle.article4%><br>
													<%=reviewArticle.source4%><br>
													<%=reviewArticle.bottomText4%><br>

											</div>

										</div>

								</div>
								<%}%>
								<%if(reviewArticle.articleTitle5) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 5

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img5 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-8"> 
													<%= reviewArticle.articleTitle5%><br>
													<%=reviewArticle.article5%><br>
													<%=reviewArticle.source5%><br>
													<%=reviewArticle.bottomText5%><br>

											</div>

										</div>

								</div>
								<%}%>
								<%if(reviewArticle.articleTitle6) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 6

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img6 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-8"> 
													<%= reviewArticle.articleTitle6%><br>
													<%=reviewArticle.article6%><br>
													<%=reviewArticle.source6%><br>
													<%=reviewArticle.bottomText6%><br>

											</div>

										</div>

								</div>
								<%}%>
								<%if(reviewArticle.articleTitle7) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 7

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img7 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-8"> 
													<%= reviewArticle.articleTitle7%><br>
													<%=reviewArticle.article7%><br>
													<%=reviewArticle.source7%><br>
													<%=reviewArticle.bottomText7%><br>

											</div>

										</div>

								</div>
								<%}%>
								<%if(reviewArticle.articleTitle8) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 8

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img8 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-8"> 
													<%= reviewArticle.articleTitle8%><br>
													<%=reviewArticle.article8%><br>
													<%=reviewArticle.source8%><br>
													<%=reviewArticle.bottomText8%><br>

											</div>

										</div>

								</div>
								<%}%>
								<%if(reviewArticle.articleTitle9) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 9

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img9 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-8"> 
													<%= reviewArticle.articleTitle9%><br>
													<%=reviewArticle.article9%><br>
													<%=reviewArticle.source9%><br>
													<%=reviewArticle.bottomText9%><br>

											</div>

										</div>

								</div>
								<%}%>
								<%if(reviewArticle.articleTitle10) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 10

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img10 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-8"> 
													<%= reviewArticle.articleTitle10%><br>
													<%=reviewArticle.article10%><br>
													<%=reviewArticle.source10%><br>
													<%=reviewArticle.bottomText10%><br>

											</div>

										</div>

								</div>
								<%}%>
								<%if(reviewArticle.articleTitle11) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 11

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img11 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-8"> 
													<%= reviewArticle.articleTitle11%><br>
													<%=reviewArticle.article11%><br>
													<%=reviewArticle.source11%><br>
													<%=reviewArticle.bottomText11%><br>

											</div>

										</div>

								</div>
								<%}%>
								<%if(reviewArticle.articleTitle12) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 12

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img12 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-8"> 
													<%= reviewArticle.articleTitle12%><br>
													<%=reviewArticle.article12%><br>
													<%=reviewArticle.source12%><br>
													<%=reviewArticle.bottomText12%><br>

											</div>

										</div>

								</div>
								<%}%>
								<%if(reviewArticle.articleTitle13) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 13

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img13 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-8"> 
													<%= reviewArticle.articleTitle13%><br>
													<%=reviewArticle.article13%><br>
													<%=reviewArticle.source13%><br>
													<%=reviewArticle.bottomText13%><br>

											</div>

										</div>

								</div>
								<%}%>
								<%if(reviewArticle.articleTitle14) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 14

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img14%>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-8"> 
													<%= reviewArticle.articleTitle14%><br>
													<%=reviewArticle.article14%><br>
													<%=reviewArticle.source14%><br>
													<%=reviewArticle.bottomText14%><br>

											</div>

										</div>

								</div>
								<%}%>
								<%if(reviewArticle.articleTitle15) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 15

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img15 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-8"> 
													<%= reviewArticle.articleTitle15%><br>
													<%=reviewArticle.article15%><br>
													<%=reviewArticle.source15%><br>
													<%=reviewArticle.bottomText15%><br>

											</div>

										</div>

								</div>
								<%}%>
								<%if(reviewArticle.articleTitle16) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 16

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img16 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-8"> 
													<%= reviewArticle.articleTitle16%><br>
													<%=reviewArticle.article16%><br>
													<%=reviewArticle.source16%><br>
													<%=reviewArticle.bottomText16%><br>

											</div>

										</div>

								</div>
								<%}%>
							<% } %>





<!-- For listening Sound  -->


							<% if(reviewArticle.sound == 'Yes') { %>


								<div class="col-lg-12 panel panel-success" >

									<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
										<div class="col-lg-12" >	
												<h3><b>Title of the Book : 
												
												<% for(var i=0; i<reviewArticle.bookTitleSound.length; i++) {%>

														<span>
															<%= reviewArticle.bookTitleSound[i].word%>
															<% if(reviewArticle.bookTitleSound[i].sound != "Null") {%>
																	<audio style="width:6%" controls>
																	  <source src="../article_sound/<%= reviewArticle.bookTitleSound[i].sound%>" type="audio/mp3">
																	</audio>
															<% } %>
														</span>


												<% } %>

												</b></h3>
										</div>

									</div>

								</div>
								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 1 

										</div>

											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=reviewArticle.articleImage %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-8"> 
												
													

													<% for(var i=0; i<reviewArticle.title1Sound.length; i++) {%>

															<span>
																<%= reviewArticle.title1Sound[i].word%>
																<% if(reviewArticle.title1Sound[i].sound != "Null") {%>
																		<audio style="width:10%" controls>
																		  <source src="../article_sound/<%= reviewArticle.title1Sound[i].sound%>" type="audio/mp3">
																		</audio>
																<% } %>
															</span>


													<% } %>


													<br>
												
													
													<% for(var i=0; i<reviewArticle.topSubText1Sound.length; i++) {%>

															<span>
																<%= reviewArticle.topSubText1Sound[i].word%>
																<% if(reviewArticle.topSubText1Sound[i].sound != "Null") {%>
																		<audio style="width:10%" controls>
																		  <source src="../article_sound/<%= reviewArticle.topSubText1Sound[i].sound%>" type="audio/mp3">
																		</audio>
																<% } %>
															</span>


													<% } %><br>
													<%=reviewArticle.credit%><br>
													
													<% for(var i=0; i<reviewArticle.topBottomText1Sound.length; i++) {%>

															<span>
																<%= reviewArticle.topBottomText1Sound[i].word%>
																<% if(reviewArticle.topBottomText1Sound[i].sound != "Null") {%>
																		<audio style="width:10%" controls>
																		  <source src="../article_sound/<%= reviewArticle.topBottomText1Sound[i].sound%>" type="audio/mp3">
																		</audio>
																<% } %>
															</span>


													<% } %>

											</div>

										</div>

								</div>
								<% if(reviewArticle.articleTitle2 != "") {%>
								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 2

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=reviewArticle.img2 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-8"> 


													<% for(var i=0; i<reviewArticle.articleTitle2Sound.length; i++) {%>

														<span>
															<%= reviewArticle.articleTitle2Sound[i].word%>
															
															<% if(reviewArticle.articleTitle2Sound[i] != " ") {%>
																	<audio style="width:9%" controls>
																	  <source src="../article_sound/<%= reviewArticle.articleTitle2Sound[i].sound%>" type="audio/mp3">
																	</audio>
															<% } %>
														</span>


													<% } %>
													<br>

													<% for(var i=0; i<reviewArticle.article2Sound.length; i++) {%>

														<span>
															<%= reviewArticle.article2Sound[i].word%>
															
															<% if(reviewArticle.article2Sound[i] != " ") {%>
																	<audio style="width:9%" controls>
																	  <source src="../article_sound/<%= reviewArticle.article2Sound[i].sound%>" type="audio/mp3">
																	</audio>
															<% } %>
														</span>


													<% } %>
													<br>
													<%=reviewArticle.source2%><br>
													<% for(var i=0; i<reviewArticle.bottomText2Sound.length; i++) {%>

														<span>
															<%= reviewArticle.bottomText2Sound[i].word%>
															
															<% if(reviewArticle.bottomText2Sound[i] != " ") {%>
																	<audio style="width:9%" controls>
																	  <source src="../article_sound/<%= reviewArticle.bottomText2Sound[i].sound%>" type="audio/mp3">
																	</audio>
															<% } %>
														</span>


													<% } %>
													<br>

											</div>

										</div>

								</div>
								<%}%>

								<% if( reviewArticle.articleTitle3 != ""){%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 3

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=reviewArticle.img3 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-8"> 


													<% for(var i=0; i<reviewArticle.articleTitle3Sound.length; i++) {%>

														<span>
															<%= reviewArticle.articleTitle3Sound[i].word%>
															
															<% if(reviewArticle.articleTitle3Sound[i] != " ") {%>
																	<audio style="width:9%" controls>
																	  <source src="../article_sound/<%= reviewArticle.articleTitle3Sound[i].sound%>" type="audio/mp3">
																	</audio>
															<% } %>
														</span>


													<% } %>
													<br>
													<% for(var i=0; i<reviewArticle.article3Sound.length; i++) {%>

														<span>
															<%= reviewArticle.article3Sound[i].word%>
															
															<% if(reviewArticle.article3Sound[i] != " ") {%>
																	<audio style="width:9%" controls>
																	  <source src="../article_sound/<%= reviewArticle.article3Sound[i].sound%>" type="audio/mp3">
																	</audio>
															<% } %>
														</span>


													<% } %>
													<br>
													<%=reviewArticle.source3%><br>
														<% for(var i=0; i<reviewArticle.bottomText3Sound.length; i++) {%>

														<span>
															<%= reviewArticle.bottomText3Sound[i].word%>
															
															<% if(reviewArticle.bottomText3Sound[i] != " ") {%>
																	<audio style="width:9%" controls>
																	  <source src="../article_sound/<%= reviewArticle.bottomText3Sound[i].sound%>" type="audio/mp3">
																	</audio>
															<% } %>
														</span>


													<% } %>
													<br>

											</div>

										</div>

								</div>
								<%}%>
								<% if( reviewArticle.articleTitle4 != ""){%>
								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 4

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=reviewArticle.img4 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-8"> 
														<% for(var i=0; i<reviewArticle.articleTitle4Sound.length; i++) {%>

														<span>
															<%= reviewArticle.articleTitle4Sound[i].word%>
															
															<% if(reviewArticle.articleTitle4Sound[i] != " ") {%>
																	<audio style="width:9%" controls>
																	  <source src="../article_sound/<%= reviewArticle.articleTitle4Sound[i].sound%>" type="audio/mp3">
																	</audio>
															<% } %>
														</span><br>
														<% for(var i=0; i<reviewArticle.article4Sound.length; i++) {%>

															<span>
																<%= reviewArticle.article4Sound[i].word%>
																
																<% if(reviewArticle.article4Sound[i] != " ") {%>
																		<audio style="width:9%" controls>
																		  <source src="../article_sound/<%= reviewArticle.article4Sound[i].sound%>" type="audio/mp3">
																		</audio>
																<% } %>
															</span>


														<% } %>
														<br>


													<% } %>
													<br>
													<%=reviewArticle.source4%><br>
													<%=reviewArticle.source3%><br>
														<% for(var i=0; i<reviewArticle.bottomText4Sound.length; i++) {%>

														<span>
															<%= reviewArticle.bottomText4Sound[i].word%>
															
															<% if(reviewArticle.bottomText4Sound[i] != " ") {%>
																	<audio style="width:9%" controls>
																	  <source src="../article_sound/<%= reviewArticle.bottomText4Sound[i].sound%>" type="audio/mp3">
																	</audio>
															<% } %>
														</span>


													<% } %>
													<br>

											</div>

										</div>

								</div>
								<%}%>

							<% } %>

						</div>

					<!--	<div class="col=lg-12" style="padding-right:15px;">
								<button type="button" class="btn btn-primary pull-right" style="width:15%" id="accept">Accept</button>
						</div>  -->

				</div>
		</div>
	</div>

</body>


<script src="lib/jquery/jquery.min.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>

<script type='text/javascript'> 
        $(document).ready(function() 
        {
            $('#sidebar').affix({offset: {top: $('header').height()}});	

        });
        
</script>

<script>

</script>
</html>