<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>

	<div class="container">
		<div class="row">
		
		
			
				<div class="col-md-3 col-lg-3">
					
					<div class="nav list-group" id="sidebar">

						<ul class="nav bs-sidenav" style="background:#F7F5FA;">

							  <!-- <li class="menu active">
							  		<a class="primary">Hello, Reviewer!!<span class="pull-right">&rsaquo;</span></a> 
							  </li>

							  <li class="menu" id="review_article">
							  		<a class="primary" href="/userArticle">Author Pannel<span class="pull-right">&rsaquo;</span></a>
							  </li>

							  <li class="menu" id="decide_review">
							  		<a class="primary" href="/decide2review">Decide to Review<span class="pull-right">&rsaquo;</span></a>
							  </li>

							  <li class="menu" id="currently_reviewing">
							  		<a class="primary" href="/reviewarticle">Currently Reviewing<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="previously_reviewed">
							  		<a class="primary" href="/previouslyreviewed">Previously Reviewed<span class="pull-right">&rsaquo;</span></a>
							  </li>

							  
						  		<li class="menu" id="new_article">
						  			<a class="primary" href="/writeNewArticle">Submit New Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
						  		<li class="menu" id="guide_line">
						  			<a class="primary" href="/previous">Previous Article<span class="pull-right">&rsaquo;</span></a>
						  		</li> -->
						  		<li class="menu active">
							  		<a class="primary" href="/reviewerpanel">Reviewer's Panel<span class="pull-right">&rsaquo;</span></a> 
							  </li>
							  <li class="menu" id="decide_review">
							  		<a class="primary" href="/decide2review">Accept a Request<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="currently_reviewing">
							  		<a class="primary" href="/reviewarticle">Submit a Review <span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="guide_line">
						  			<a class="primary" href="/previouslyreviewed">Previous Review<span class="pull-right">&rsaquo;</span></a>
						  		</li>
							  <li class="menu" id="guide_line">
							  	<a class="primary" href="/guideline">Guide Lines<span class="pull-right">&rsaquo;</span></a></li>
							  <li class="menu" id="log_out">
							  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="password">
							  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="update_profile">
							  	<a class="primary" href="/users/updateUserProfile">Update Profile<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu active" id="homepage">
							  	<a class="primary" href="/">Home Page<span class="pull-right">&rsaquo;</span></a>
							  </li>

						</ul>

					</div>

				</div>
				<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;padding-top:20px;">
			
						<div class="col-lg-12" style="padding-right:0;padding-left:0;padding-top:40px;" >
							    <p> Hi [ <%= user.name %> ],</p>
								<p><a href="/decide2review"><%=waiting%></a> articles to accept reviewe request.</p>
								<p><a href="/reviewarticle"><%=waiting_review%></a> articles waiting for your review. </p>
								<p><a href="/previouslyreviewed"><%=review_so_far%></a> articles previously reviewed. </p>
								<p> <a href="/reviewSave"><%=savedReview%></a> articles saved after review. </p>
						</div>
				</div>
		</div>
	</div>

</body>


<script src="lib/jquery/jquery.min.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>

<script type='text/javascript'> 
        $(document).ready(function() 
        {
            $('#sidebar').affix({offset: {top: $('header').height()}});	

        });
        
</script>

<script>



</script>
</html>