<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">
<link rel="stylesheet" href="css/jquery-ui.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>

	<div class="container">
		<div class="row">
					
				<div class="col-md-3 col-lg-3">
					<div class="nav list-group" id="sidebar">

							<ul class="nav bs-sidenav" style="background:#F7F5FA;">
								  <li class="menu active" id="admin"> 
								  	 	<a class="primary" href="/admin">Admin Pannel<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  

								  <li class="menu" id="manage_articles">
								  	<a class="primary" href="/manageArticle">Manage Articles<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="manage_members"> 
								  	<a class="primary" href="/manageMembers">Manage Members<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_website">
								  	<a class="primary" href="/managewebsite">Manage Website<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="view_donation">
								  	<a class="primary" href="#">View Donation<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="view_distribution">
								  	<a class="primary" href="/viewdistribution">Production and Distribution<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_cost">
								  	<a class="primary" href="#">Manage Cost<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="log_out">
								  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="password_change">
								  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
								  </li>
							</ul>
					</div>
				</div>

				<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;padding-top:40px;">
						<h3 align="center"> <b>Search result</b> </h3>
						
							<table class="table table-bordered">
						        <thead>
						          <tr>
						            
						            <th>Article Name</th>
						            <th>Author</th>
						            <th>Date completed</th>
						            <th>Production Details link</th>
						            <th>Total Production Volume</th>
						            <th>Total Production Cost</th>
						            <th>Average Cost of Production</th>						            
						            <th>Fixed Cost (artist)</th>
						            <th>Effective Cost per item</th>
						            <th>Distribution Details link</th>
						            <th>Total Distribution Volume</th>
						            <th>Total Distribution Earning</th>
						            <th>Profit / Loss</th>
						          </tr>
						        </thead>
						        <tbody>
						          <%for(var i=0;i<article.length;i++){%>
						          		<tr>
						          			<td><%=article[i].bookTitle%></td>
						          			<td><%=author[i].name%></td>
						          			<td>
						          				<%if(article[i].completeDate){%>
						          				<span id="completeDate"></span>
						          				<%}%>
						          			</td>
						          			<td><a id="showProductionDetails" href="#productionDetails">Details</a></td>
						          			<td>
						          				<%if(article[i].productionVolume){%>
								        		<p id=""><%=article[i].productionVolume%></p>
								        		<%}%>
								        	</td>
						          			<td>
						          				<%if(article[i].productionCost){%>
								        		<p id=""><%=article[i].productionCost%></p>
								        		<%}%>
						          			</td>
						          			<td>
						          				<%if(article[i].productionCost&&article[i].productionVolume){%>
								        		<p id=""><%=article[i].productionCost/article[i].productionVolume%></p>
								        		<%}%>
						          			</td>
						          			<td></td>
						          			<td></td>
						          			<td><a id="showDistributionDetails" href="#">Details</a></td>
						          			<td><%if(article[i].distributionVolume){%>
								        		<p id=""><%=article[i].distributionVolume%></p>
								        		<%}%>
										    </td>
						          			<td>
						          				<%if(article[i].distributionRevenue){%>
								        		<p id=""><%=article[i].distributionRevenue%></p>
								        		<%}%>
						          			</td>
						          			<td></td>
						          		</tr>
						          <%}%>
						          <tr>
						          	<td colspan="4" class="text-right">Grand Total</td>
						          	<td></td>
						          			<td></td>
						          			<td></td>
						          			<td></td>
						          			<td></td>
						          			<td></td>
						          			<td></td>
						          			<td></td>
						          			<td></td>
						          </tr>
						        </tbody>
						    </table>
						    <div id="productionDetails" style='display:none;'>
						    		<h3 class="text-center">Production details</h3>
						    		<table class="table table-bordered">
								        <thead>
								          <tr>
								            
								            <th>Article Name</th>
								            <th>Author</th>
								            <th>Reference</th>
								            <th>Date of Production</th>
								            <th>Volume of Production</th>
								            <th>Total Cost of Production</th>
								            <th>Amount Paid</th>						            
								            <th>Date Paid</th>
								            <th>Produced by</th>
								            <th>Collected by</th>
								            <th>Action</th>
								            
								          </tr>
								        </thead>
								        <tbody>
								        	<%for(var i=0;i<article.length;i++){%>
								        		<tr>
										        	<td><%=article[i].bookTitle%></td>
										        	<td><%=author[i].name%></td>
										        	<td><%if(article[i].productionRef&&article[i].productionRef!=''){%>
										        		<p id="ref1"><%=article[i].productionRef%></p>
										        		<%}%>
										        		<input type="text" name="ref" id="ref" style="display:none;" value="<%=article[i].productionRef%>">
										        	</td>
										        	<td>
										        		<%if(article[i].productionDate&&article[i].productionDate!=''){%>
										        		<p id="productionDate1"></p>
										        		<%}%>
										        		<input type="text" id="datepicker1"style="display:none;">
										        	</td>
										        	<td>
										        		<%if(article[i].productionVolume){%>
										        		<p id="productionVolume1"><%=article[i].productionVolume%></p>
										        		<%}%>
										        		<input type="number" name="productionVolume" id="productionVolume"style="display:none;" value="<%=article[i].productionVolume%>">
										        	</td>
										        	<td>
										        		<%if(article[i].productionCost){%>
										        		<p id="productionCost1"><%=article[i].productionCost%></p>
										        		<%}%>
										        		<input type="number" name="productionCost" id="productionCost"style="display:none;" value="<%=article[i].productionCost%>">
										        	</td>
										        	<td>
										        		<%if(article[i].amountPaid){%>
										        		<p id="amountPaid1"><%=article[i].amountPaid%></p>
										        		<%}%>
										        		<input type="number" name="amountPaid" id="amountPaid"style="display:none;"value="<%=article[i].amountPaid%>">
										        	</td>
										        	<td><%if(article[i].paidDate&&article[i].paidDate!=''){%>
										        		<p id="paidDate1"><%=article[i].paidDate%></p>
										        		<%}%>
										        		<input type="text" id="datepicker2"style="display:none;"></td>
										        	<td>
										        		<%if(article[i].produceBy&&article[i].produceBy!=''){%>
										        		<p id="producedBy1"><%=article[i].produceBy%></p>
										        		<%}%>
										        		<input type="text" name="producedBy" id="producedBy"style="display:none;" value="<%=article[i].produceBy%>">
										        	</td>
										        	<td>
										        		<%if(article[i].collectedBy&&article[i].collectedBy!=''){%>
										        		<p id="collectedBy1"><%=article[i].collectedBy%></p>
										        		<%}%>
										        		
										        		<input type="text" name="collectedBy" id="collectedBy"style="display:none;" value="<%=article[i].collectedBy%>">
										        	</td>
										        	<td><input type="number" value="<%=i%>" name="iter" id="iter"style="display:none;"><a  id="modifyProduction">Modify</a></td>
										        </tr>
								        	<%}%>
								        </tbody>
								    </table>
						    </div>
						     <div id="distributionDetails" style='display:none;'>
						    		<h3 class="text-center">Distribution details</h3>
						    		<table class="table table-bordered">
								        <thead>
								          <tr>
								            
								            <th>Article Name</th>
								            <th>Author</th>
								            <th>Reference</th>
								            <th>Date of distribution</th>
								            <th>Volume of Distribution</th>
								            <th>Revenue from the distribution</th>
								            <th>Amount Collected</th>						            
								            <th>Date Collected</th>
								            <th>Distributed to</th>
								            <th>Distributed by</th>
								            <th>Action</th>
								            
								          </tr>
								        </thead>
								        <tbody>
								        	<%for(var i=0;i<article.length;i++){%>
								        		<tr>
										        	<td><%=article[i].bookTitle%></td>
										        	<td><%=author[i].name%></td>
										        	<td>
										        		<%if(article[i].distributionRef&&article[i].distributionRef!=''){%>
										        		<p id="disRef1"><%=article[i].distributionRef%></p>
										        		<%}%>
										        		<input type="text" name="disRef" id="disRef" style="display:none;" value="<%=article[i].distributionRef%>">
										        	</td>
										        	<td>
										        		<%if(article[i].distributionDate&&article[i].distributionDate!=''){%>
										        		<p id="distributionDate1"></p>
										        		<%}%>
										        		<input type="text" id="disDatepicker1"style="display:none;">
										        	</td>
										        	<td>
										        		<%if(article[i].distributionVolume){%>
										        		<p id="distributionVolume1"><%=article[i].distributionVolume%></p>
										        		<%}%>
										        		<input type="number" name="distributionVolume" id="distributionVolume"style="display:none;" value="<%=article[i].distributionVolume%>">
										        	</td>
										        	<td>
										        		<%if(article[i].distributionRevenue){%>
										        		<p id="distributionRevenue1"><%=article[i].distributionRevenue%></p>
										        		<%}%>
										        		<input type="number" name="distributionRevenue" id="distributionRevenue"style="display:none;" value="<%=article[i].distributionRevenue%>">
										        	</td>
										        	<td>
										        		<%if(article[i].amountCollected){%>
										        		<p id="amountCollected1"><%=article[i].amountCollected%></p>
										        		<%}%>
										        		<input type="number" name="amountCollected" id="amountCollected"style="display:none;"value="<%=article[i].amountCollected%>">
										        	</td>
										        	<td>
										        		<%if(article[i].collectedDate&&article[i].collectedDate!=''){%>
										        		<p id="collectedDate1"><%=article[i].collectedDate%></p>
										        		<%}%>
										        		<input type="text" id="disDatepicker2"style="display:none;">
										        	</td>
										        	<td>
										        		<%if(article[i].distributedTo&&article[i].distributedTo!=''){%>
										        		<p id="distributedTo1"><%=article[i].distributedTo%></p>
										        		<%}%>
										        		<input type="text" name="distributedTo" id="distributedTo"style="display:none;" value="<%=article[i].distributedTo%>">
										        	</td>
										        	<td>
										        		<%if(article[i].distributionBy&&article[i].distributionBy!=''){%>
										        		<p id="distributionBy1"><%=article[i].distributionBy%></p>
										        		<%}%>
										        		
										        		<input type="text" name="distributionBy" id="distributionBy"style="display:none;" value="<%=article[i].distributionBy%>">
										        	</td>
										        	<td><input type="number" value="<%=i%>" name="iter1" id="iter1"style="display:none;"><a  id="modifyDistribution">Modify</a></td>
										        </tr>
								        	<%}%>
								        </tbody>
								    </table>
						    </div>
				</div>
			    


		</div>
	</div>

<script src="lib/jquery/jquery.min.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>
<script src="../js/jquery-1.10.2.js"></script>
<script src="../js/jquery-ui.js"></script>

<script type='text/javascript'> 
$("#datepicker1").datepicker();
$("#datepicker2").datepicker();
$("#disDatepicker1").datepicker();
$("#disDatepicker2").datepicker();
var article= <% if(locals.article){%>
      <%- JSON.stringify(article) %>
      <%}%>;
      // console.log(article)
      for(var i=0;i<article.length;i++)
      {
      	var time=article[i].completeDate;
        var dateTime=new Date(time);
        var month=dateTime.getMonth()+1;
        var date=dateTime.getFullYear()+"/"+month+"/"+dateTime.getDate();
        $("#completeDate").text(date);


        var article= <% if(locals.article){%>
			      <%- JSON.stringify(article) %>
			      <%}%>;
        		var iter=$('#iter').val();
        		// alert(article[iter].bookTitle)
        		var time=article[iter].productionDate;
        		var dateTime=new Date(time);
        		
        		var month=dateTime.getMonth()+1;
		        var date=dateTime.getFullYear()+"/"+month+"/"+dateTime.getDate();
		        $("#productionDate1").text(date);

		        var time=article[iter].paidDate;
        		var dateTime=new Date(time);
        		
        		var month=dateTime.getMonth()+1;
		        var date=dateTime.getFullYear()+"/"+month+"/"+dateTime.getDate();
		        $("#paidDate1").text(date);

		        ///

		        var iter=$('#iter1').val();
        		var time=article[iter].distributionDate;
        		var dateTime=new Date(time);
        		
        		var month=dateTime.getMonth()+1;
		        var date=dateTime.getFullYear()+"/"+month+"/"+dateTime.getDate();
		        $("#distributionDate1").text(date);

		        var time=article[iter].collectedDate;
        		var dateTime=new Date(time);
        		
        		var month=dateTime.getMonth()+1;
		        var date=dateTime.getFullYear()+"/"+month+"/"+dateTime.getDate();
		        $("#collectedDate1").text(date);
      }
        // $(document).ready(function() {
        //     $('#sidebar').affix({offset: {top: $('header').height()}});	
   
        // });
        $("#showProductionDetails").click(function(){
        	$("#productionDetails").show();
        })
        $("#showDistributionDetails").click(function(){
        	$("#distributionDetails").show();
        })
        $('#modifyDistribution').click(function(){
        	if($('#modifyDistribution').text()=='Modify')
        	{
        		$("#disRef").show();
	        	$("#distributionVolume").show();
	        	$("#distributionRevenue").show();
	        	$("#amountCollected").show();
	        	$("#distributedTo").show();
	        	$("#distributionBy").show();
	        	$("#disDatepicker1").show();
	        	$("#disDatepicker2").show();


	        	$("#disRef1").hide();
	        	$("#distributionVolume1").hide();
	        	$("#distributionRevenue1").hide();
	        	$("#amountCollected1").hide();
	        	$("#collectedDate1").hide();
	        	$("#distributedTo1").hide();
	        	$("#distributionBy1").hide();
	        	$("#distributionDate1").hide();
	        	$('#modifyDistribution').text("Save")
        	}

        	else if($('#modifyDistribution').text()=='Save')
        	{
        		var disRef= $("#disRef").val();
	        	var distributionVolume=$("#distributionVolume").val();
	        	var distributionRevenue=$("#distributionRevenue").val();
	        	var amountCollected=$("#amountCollected").val();
	        	var distributedTo=$("#distributedTo").val();
	        	var distributionBy=$("#distributionBy").val();
	        	var disDatepicker1=$("#disDatepicker1").val();
	        	var disDatepicker2=$("#disDatepicker2").val();

	        	var iter=$('#iter1').val();
        		var article= <% if(locals.article){%>
			      <%- JSON.stringify(article) %>
			      <%}%>;
			      var id=article[iter]._id;

			     $.ajax({ url: '/admindistributionDetails',
				         data: { 
				         	articleId:id,
				         	disRef:disRef,
			         		distributionVolume:distributionVolume,
			         		distributionRevenue:distributionRevenue,
			         		amountCollected:amountCollected,
			         		distributedTo:distributedTo,
			         		distributionBy:distributionBy,
			         		disDatepicker1:disDatepicker1,
			         		disDatepicker2:disDatepicker2,
				         	// writeArticleId:writeArticleId,

				         },
				         type: 'POST',
				         success: function(output) {
				         	$("#disRef").hide();
				        	$("#distributionVolume").hide();
				        	$("#distributionRevenue").hide();
				        	$("#amountCollected").hide();
				        	$("#distributedTo").hide();
				        	$("#distributionBy").hide();
				        	$("#disDatepicker1").hide();
				        	$("#disDatepicker2").hide();
				        	
				        	$("#disRef1").show();
				        	$("#distributionVolume1").show();
				        	$("#distributionRevenue1").show();
				        	$("#amountCollected1").show();
				        	$("#collectedDate1").show();
				        	$("#distributedTo1").show();
				        	$("#distributionBy1").show();
				        	$("#distributionDate1").show();
				        	$('#modifyDistribution').text("Modify");
				            console.log(output);
				          }
				    });
        	}
        })
        $('#modifyProduction').click(function(){
        	if($('#modifyProduction').text()=="Modify")
        	{	
        		$("#ref").show();
	        	$("#productionVolume").show();
	        	$("#productionCost").show();
	        	$("#amountPaid").show();
	        	$("#producedBy").show();
	        	$("#collectedBy").show();
	        	$("#datepicker1").show();
	        	$("#datepicker2").show();
	        	$("#ref1").hide();
	        	$("#productionDate1").hide();
	        	$("#productionVolume1").hide();
	        	$("#productionCost1").hide();
	        	$("#amountPaid1").hide();
	        	$("#producedBy1").hide();
	        	$("#paidDate1").hide();
	        	$("#collectedBy1").hide();
	        	$('#modifyProduction').text("Save")
        	}
        	else if($('#modifyProduction').text()=="Save")
        	{
        		var ref1=$("#ref").val();
        		var productionVolume1=$('#productionVolume').val();
        		var productionCost1=$("#productionCost").val();
        		var amountPaid1=$("#amountPaid").val();
        		var producedBy1=$("#producedBy").val();
        		var collectedBy1=$("#collectedBy").val();
        		var datepicker11=$("#datepicker1").val();
        		var datepicker21=$("#datepicker2").val();
        		
        		var iter=$('#iter').val();
        		var article= <% if(locals.article){%>
			      <%- JSON.stringify(article) %>
			      <%}%>;
			      var id=article[iter]._id;
			     
			     $.ajax({ url: '/adminproductionDetails',
				         data: { 
				         	articleId:id,
				         	ref:ref1,
			         		 productionVolume:productionVolume1,
			         		 productionCost:productionCost1,
			         		 amountPaid:amountPaid1,
			         		 producedBy:producedBy1,
			         		 collectedBy:collectedBy1,
			         		 datepicker1:datepicker11,
			         		 datepicker2:datepicker21,
				         	// writeArticleId:writeArticleId,

				         },
				         type: 'POST',
				         success: function(output) {
				         	 $("#ref").hide();
				        	$("#productionVolume").hide();
				        	$("#productionCost").hide();
				        	$("#amountPaid").hide();
				        	$("#producedBy").hide();
				        	$("#collectedBy").hide();
				        	$("#datepicker1").hide();
				        	$("#datepicker2").hide();
				        	$("#ref1").show();
				        	$("#productionDate1").show();
				        	$("#productionVolume1").show();
				        	$("#productionCost1").show();
				        	$("#amountPaid1").show();
				        	$("#producedBy1").show();
				        	$("#collectedBy1").show();
				        	$("#paidDate1").show();
				        	$('#modifyProduction').text("Modify");
				            console.log(output);
				          }
				    });

        	}
        	
        })
</script> 


</body>
</html>