<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>

	<div class="container">
		<div class="row">
		
		
			
				<div class="col-md-3 col-lg-3">
					
					<div class="nav list-group" id="sidebar">

						<ul class="nav bs-sidenav" style="background:#F7F5FA;">

							  <li class="menu active">
							  		<a class="primary">Hello, Admin !!<span class="pull-right">&rsaquo;</span></a> 
							  </li>

							  <li class="menu" id="review_article">
							  		<a class="primary" href="/admin">Admin Pannel<span class="pull-right">&rsaquo;</span></a>
							  </li>

							  <li class="menu" id="log_out">
							  		<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
							  </li>

						</ul>

					</div>

				</div>
				<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;padding-top:20px;">
						<div class="col-lg-12">


							
							<div class="col-lg-12 panel panel-success" >

								<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
									<div class="col-lg-12" >	
											<h3><b>Title of the Book : <%=article.bookTitle %></b></h3>
									</div>

								</div>

							</div>
							<div class="col-lg-12 panel panel-success" >

									<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
										<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 1 

									</div>

										<div class="col-lg-4"> 
											<%if(article.newimage1 ){%>
											<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=article.newimage1 %>" alt="Jason's Photo" style="width: inherit" />
											<%} else {%>
											<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=article.articleImage %>" alt="Jason's Photo" style="width: inherit" />
											<%}%>
										</div>
										<div class="col-lg-8"> 
												<%= article.title%><br>
												<%=article.article%><br>
												<%=article.credit%><br>
												<%=article.bottomText%><br>

										</div>

									</div>

							</div>
							<% if(article.articleTitle2) {%>
									<div class="col-lg-12 panel panel-success" >

											<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
												<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 2

											</div>
											
												<div class="col-lg-4"> 
													<%if(article.newimage2){%>
													<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=article.newimage2 %>" alt="Jason's Photo" style="width: inherit" />
													<%}%>
												</div>


												<div class="col-lg-8"> 
														<%= article.articleTitle2%><br>
														<%=article.article2%><br>
														<%=article.source2%><br>
														<%=article.bottomText2%><br>

												</div>

											</div>

									</div>
							<%}%>

							<% if(article.articleTitle3) {%>
									<div class="col-lg-12 panel panel-success" >

											<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
												<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 3

											</div>
											
												<div class="col-lg-4">
												<%if(article.newimage3){%> 
													<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=article.newimage3 %>" alt="Jason's Photo" style="width: inherit" />
												<%} else {%>
													<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=article.img3 %>" alt="Jason's Photo" style="width: inherit" />
												<%}%>

	
												</div>
												<div class="col-lg-8"> 
														<%= article.articleTitle3%><br>
														<%=article.article3%><br>
														<%=article.source3%><br>
														<%=article.bottomText3%><br>

												</div>

											</div>

									</div>
							<%}%>

							<% if(article.articleTitle4) {%>
									<div class="col-lg-12 panel panel-success" >

											<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
												<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 4

											</div>
											
												<div class="col-lg-4"> 
													<%if(article.newimage4 ){%>
													<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=article.newimage4 %>" alt="Jason's Photo" style="width: inherit" />

													<%}  else {%>
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=article.img4 %>" alt="Jason's Photo" style="width: inherit" />
													<%}%>

												</div>
												<div class="col-lg-8"> 
														<%= article.articleTitle4%><br>
														<%=article.article4%><br>
														<%=article.source4%><br>
														<%=article.bottomText4%><br>

												</div>

											</div>

									</div>
								<%}%>
								<% if(article.articleTitle5) {%>
									<div class="col-lg-12 panel panel-success" >

											<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
												<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 5

											</div>
											
												<div class="col-lg-4"> 
													<%if(article.newimage5 ){%>
													<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=article.newimage5 %>" alt="Jason's Photo" style="width: inherit" />
													<%} else {%>
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=article.img5 %>" alt="Jason's Photo" style="width: inherit" />

													<%}%>
												</div>
												<div class="col-lg-8"> 
														<%= article.articleTitle5%><br>
														<%=article.article5%><br>
														<%=article.source5%><br>
														<%=article.bottomText5%><br>

												</div>

											</div>

									</div>
								<%}%>
								<% if(article.articleTitle6) {%>
									<div class="col-lg-12 panel panel-success" >

											<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
												<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 6

											</div>
											
												<div class="col-lg-4"> 
													<%if(article.newimage6 ){%>
													<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=article.newimage6 %>" alt="Jason's Photo" style="width: inherit" />
													<%} else {%>
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=article.img6%>" alt="Jason's Photo" style="width: inherit" />

													<%}%>
												</div>
												<div class="col-lg-8"> 
														<%= article.articleTitle6%><br>
														<%=article.article6%><br>
														<%=article.source6%><br>
														<%=article.bottomText6%><br>

												</div>

											</div>

									</div>
								<%}%>
								<% if(article.articleTitle7) {%>
									<div class="col-lg-12 panel panel-success" >

											<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
												<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 7

											</div>
											
												<div class="col-lg-4"> 
													<%if(article.newimage7 ){%>
													<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=article.newimage7 %>" alt="Jason's Photo" style="width: inherit" />
													<%} else {%>
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=article.img7%>" alt="Jason's Photo" style="width: inherit" />

													<%}%>
												</div>
												<div class="col-lg-8"> 
														<%= article.articleTitle7%><br>
														<%=article.article7%><br>
														<%=article.source7%><br>
														<%=article.bottomText7%><br>

												</div>

											</div>

									</div>
								<%}%>
								<% if(article.articleTitle8) {%>
									<div class="col-lg-12 panel panel-success" >

											<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
												<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 8

											</div>
											
												<div class="col-lg-4"> 
													<%if(article.newimage8 ){%>
													<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=article.newimage8 %>" alt="Jason's Photo" style="width: inherit" />
													<%} else {%>
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=article.img8%>" alt="Jason's Photo" style="width: inherit" />

													<%}%>
												</div>
												<div class="col-lg-8"> 
														<%= article.articleTitle8%><br>
														<%=article.article8%><br>
														<%=article.source8%><br>
														<%=article.bottomText8%><br>

												</div>

											</div>

									</div>
								<%}%>
								<% if(article.articleTitle9) {%>
									<div class="col-lg-12 panel panel-success" >

											<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
												<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 9

											</div>
											
												<div class="col-lg-4"> 
													<%if(article.newimage9 ){%>
													<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=article.newimage9 %>" alt="Jason's Photo" style="width: inherit" />
													<%} else {%>
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=article.img9%>" alt="Jason's Photo" style="width: inherit" />

													<%}%>
												</div>
												<div class="col-lg-8"> 
														<%= article.articleTitle9%><br>
														<%=article.article9%><br>
														<%=article.source9%><br>
														<%=article.bottomText9%><br>

												</div>

											</div>

									</div>
								<%}%>
								<% if(article.articleTitle10) {%>
									<div class="col-lg-12 panel panel-success" >

											<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
												<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 10

											</div>
											
												<div class="col-lg-4"> 
													<%if(article.newimage10){%>
													<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=article.newimage10 %>" alt="Jason's Photo" style="width: inherit" />
													<%} else {%>
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=article.img10%>" alt="Jason's Photo" style="width: inherit" />

													<%}%>
												</div>
												<div class="col-lg-8"> 
														<%= article.articleTitle10%><br>
														<%=article.article10%><br>
														<%=article.source10%><br>
														<%=article.bottomText10%><br>

												</div>

											</div>

									</div>
								<%}%>
								<% if(article.articleTitle11) {%>
									<div class="col-lg-12 panel panel-success" >

											<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
												<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 11

											</div>
											
												<div class="col-lg-4"> 
													<%if(article.newimage11){%>
													<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=article.newimage11 %>" alt="Jason's Photo" style="width: inherit" />
													<%} else {%>
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=article.img11%>" alt="Jason's Photo" style="width: inherit" />

													<%}%>
												</div>
												<div class="col-lg-8"> 
														<%= article.articleTitle11%><br>
														<%=article.article11%><br>
														<%=article.source11%><br>
														<%=article.bottomText11%><br>

												</div>

											</div>

									</div>
								<%}%>
								<% if(article.articleTitle12) {%>
									<div class="col-lg-12 panel panel-success" >

											<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
												<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 12

											</div>
											
												<div class="col-lg-4"> 
													<%if(article.newimage12){%>
													<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=article.newimage12 %>" alt="Jason's Photo" style="width: inherit" />
													<%} else {%>
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=article.img12%>" alt="Jason's Photo" style="width: inherit" />

													<%}%>
												</div>
												<div class="col-lg-8"> 
														<%= article.articleTitle12%><br>
														<%=article.article12%><br>
														<%=article.source12%><br>
														<%=article.bottomText12%><br>

												</div>

											</div>

									</div>
								<%}%>
								<% if(article.articleTitle13) {%>
									<div class="col-lg-12 panel panel-success" >

											<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
												<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 13

											</div>
											
												<div class="col-lg-4"> 
													<%if(article.newimage13){%>
													<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=article.newimage13 %>" alt="Jason's Photo" style="width: inherit" />
													<%} else {%>
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=article.img13%>" alt="Jason's Photo" style="width: inherit" />

													<%}%>
												</div>
												<div class="col-lg-8"> 
														<%= article.articleTitle13%><br>
														<%=article.article13%><br>
														<%=article.source13%><br>
														<%=article.bottomText13%><br>

												</div>

											</div>

									</div>
								<%}%>

								<% if(article.articleTitle14) {%>
									<div class="col-lg-12 panel panel-success" >

											<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
												<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 14

											</div>
											
												<div class="col-lg-4"> 
													<%if(article.newimage14){%>
													<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=article.newimage14 %>" alt="Jason's Photo" style="width: inherit" />
													<%} else {%>
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=article.img14%>" alt="Jason's Photo" style="width: inherit" />

													<%}%>
												</div>
												<div class="col-lg-8"> 
														<%= article.articleTitle14%><br>
														<%=article.article14%><br>
														<%=article.source14%><br>
														<%=article.bottomText14%><br>

												</div>

											</div>

									</div>
								<%}%>
								<% if(article.articleTitle15) {%>
									<div class="col-lg-12 panel panel-success" >

											<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
												<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 15

											</div>
											
												<div class="col-lg-4"> 
													<%if(article.newimage15){%>
													<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=article.newimage15 %>" alt="Jason's Photo" style="width: inherit" />
													<%} else {%>
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=article.img15%>" alt="Jason's Photo" style="width: inherit" />

													<%}%>
												</div>
												<div class="col-lg-8"> 
														<%= article.articleTitle15%><br>
														<%=article.article15%><br>
														<%=article.source15%><br>
														<%=article.bottomText15%><br>

												</div>

											</div>

									</div>
								<%}%>
								<% if(article.articleTitle16) {%>
									<div class="col-lg-12 panel panel-success" >

											<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
												<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 16

											</div>
											
												<div class="col-lg-4"> 
													<%if(article.newimage16){%>
													<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=article.newimage16 %>" alt="Jason's Photo" style="width: inherit" />
													<%} else {%>
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=article.img16%>" alt="Jason's Photo" style="width: inherit" />

													<%}%>
												</div>
												<div class="col-lg-8"> 
														<%= article.articleTitle16%><br>
														<%=article.article16%><br>
														<%=article.source16%><br>
														<%=article.bottomText16%><br>

												</div>

											</div>

									</div>
								<%}%>

						





<!-- For listening Sound  -->


						</div>

					<!--	<div class="col=lg-12" style="padding-right:15px;">
								<button type="button" class="btn btn-primary pull-right" style="width:15%" id="accept">Accept</button>
						</div>  -->

				</div>
		</div>
	</div>

</body>


<script src="lib/jquery/jquery.min.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>

<script type='text/javascript'> 
        $(document).ready(function() 
        {
            $('#sidebar').affix({offset: {top: $('header').height()}});	

        });
        
</script>

<script>

</script>
</html>