<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>পাতার বই</title>
<link rel="stylesheet" type="text/css" href="/lib/bootstrap3/css/bootstrap.css">
<link href="../css/home.css" type="text/css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Happy+Monkey' rel='stylesheet' type='text/css'>


</style>

</head>

<body style="padding-top:5px;">
<!--Full content-->
<div class="container" id="main-container" style="border-top-left-radius:15px; border-top-right-radius:15px;">

	<header class="">
      
         <nav class="navbar navbar-default" role="navigation" id="navbar-home">
  <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                   <button type="button" class="navbar-toggle" id="home-nav" data-toggle="collapse" data-target="#collapse-1">
                       <span class="sr-only">Toggle navigation</span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                   </button>
                   <a class="navbar-brand visible-xs" href="">তালিকা</a>
                </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="collapse-1">
                    <ul class="nav navbar-nav col-lg-11 col-md-11 col-sm-11 col-xs-10 pull-right" id="home-ul-nav" style="padding-left:70px; !important; padding-top:15px;">
                         <li><a href="/" class="nav-menu">মূল পাতা</a></li>
                         <li><a href="/amaderkotha" class="nav-menu">আমাদের কথা</a></li>
                         <li><a href="signin" class="nav-menu">লগ-ইন-করুন</a></li>
                       <li><a href="/donation" class="nav-menu">অনুদান করুন</a></li>
                    </ul>


             </nav>
    </header>
    <!--Header-->



<!--content-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right:40px;height:380px;">
      <div class="col-lg-12 col-md-8 col-sm-8 col-xs-8 article-content" style="height:380px;">

						<h3 align="center">Authors</h3>
            
            <table class="table table-bordered" >
                   <thead>
                      <tr >
                          <th class="text-center">Name</th>
                          <th class="text-center">Email</th>
                          <th class="text-center">No of Article</th>

                      </tr>
                    </thead>
                    

                    <% for(var i=0; i<no; i++) {%>
                        <tbody align="center" > 

                            <td> <%= name[i]%></td>
                            <td> <%= email[i]%></td>
                            <td> <%= articleNo[i]%></td>

                        </tbody>
                    <% } %>
            </table>
      </div>



</div>
<!--content-->



<!--Fotter-->
      <div class="footer footer-article col-lg-12 col-md-12 col-sm-12 col-xs-12">
         
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <ul class="list-inline">
                  <li><a class="f1" href="#" id="anArtist" data-toggle="modal" data-target="#myModal">Are you an artist!</a></li>
                  <li><a class="f1" href="#" id="suggestion" data-toggle="modal" data-target="#suggestionModal">Suggestions!</a></li>
                  <li><a class="f1" href="#" id="contact" data-toggle="modal" data-target="#contactModal">Contact us</a></li>
                  <li><a class="f1" href="/authors">Our Authors</a></li>
                  <li><a class="f1" href="/reviewer">Our Reviewers</a></li>
                  <li><a class="f1" href="/donation">Donors</a></li>
              </ul>

          </div>
          
          
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <form class="form-inline pull-right" role="form">
                  <div class="form-group">
                      <input type="text" class="form-control" id="" placeholder="search the site">
                  </div>

                  <div class="form-group">
                      <button type="submit" class="search-btn btn btn-sm">Search</button>
                  </div>
              </form> 
          </div>
      </div>

<!--Fotter-->
</div>


<!--End section-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center copyright">
    <h6><strong>&copy; পাতার বই <a href="http://www.patarboi.com">(www.patarboi.com)</a> 2013 Credit</strong></h6>
</div>
<!--End section-->

<!-- Modal for Are you an artist? -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Are You an Artist?</h4>
      </div>
      <div class="modal-body" style="height:200px;">
          <div class="col-lg-12" style="padding-top:10px;">
              <div class="col-lg-2">Name :</div>
              <div class="col-lg-10"> <input style="width:100%;" type="text" class="col-lg-8 input-large search-query" placeholder="Enter Name"></div>
          </div>
          <div class="col-lg-12" style="padding-top:10px;padding-bottom:10px;">
              <div class="col-lg-2">Email :</div>
              <div class="col-lg-10"> <input style="width:100%;" type="email" class="col-lg-8 input-large search-query" placeholder="Enter Email"></div>
          </div>
          <div class="col-lg-12">
              <div class="col-lg-2" style="padding-right:0;">Message :</div>
              <div class="col-lg-10"> 

                    <textarea  style="width:100%;height:100px;overflow-y:auto;text-align:left;padding-left:15px;padding-left:15px;" placeholder="Write your message"></textarea>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for suggestion -->
<div class="modal fade" id="suggestionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Suggestion</h4>
      </div>
      <div class="modal-body" style="height:200px;">
          <div class="col-lg-12" style="padding-top:10px;">
              <div class="col-lg-2" style="padding-right:0;padding-left:0;">Name :</div>
              <div class="col-lg-10"> <input style="width:100%;" type="text" class="col-lg-8 input-large search-query" placeholder="Enter Name"></div>
          </div>
          <div class="col-lg-12" style="padding-top:10px;padding-bottom:10px;">
              <div class="col-lg-2" style="padding-right:0;padding-left:0;">Email :</div>
              <div class="col-lg-10"> <input style="width:100%;" type="email" class="col-lg-8 input-large search-query" placeholder="Enter Email"></div>
          </div>
          <div class="col-lg-12">
              <div class="col-lg-2" style="padding-right:0;padding-left:0;">Suggestion :</div>
              <div class="col-lg-10"> 

                    <textarea  style="width:100%;height:100px;overflow-y:auto;text-align:left;padding-left:15px;padding-left:15px;" placeholder="Write your suggestion"></textarea>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for contact us -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Contact Us</h4>
      </div>
      <div class="modal-body" style="height:300px;">
        


            <div class="col-lg-12" style="padding-left:0;" >
                 Your Name
            </div>
            <div>
                <input type="text" style="width:100%;" name="name" class="input-xlarge">
            </div>
            <div class="col-lg-12"  style="padding-left:0;" >
                 Your E-mail
            </div>
            <div>
                <input type="email" style="width:100%;" name="email" class="input-xlarge">
            </div>
            <div class="col-lg-12" style="padding-left:0;" >
                 Enter a Message
            </div>
            <div>
                <textarea name="message" style="width:100%;height:150px;" class="input-xlarge"></textarea>
            </div>
            
            
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>

<script src="lib/jquery/jquery.min.js"></script>
<script src="/js/bootstrap.js" type="text/javascript"></script>
<script>
$(document).ready(function() {

    $("#anArtist").on("click", function(){
        
         $("#myModal").modal('show');

   });

    $("#suggestion").on("click",function(){

        $("#suggestionModal").modal('show');
    });

    $("#contact").on("click",function(){

        $("#contactModal").modal('show');
    });

});
</script>
</body>
</html>
