

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" type="text/css" href="/lib/bootstrap3/css/bootstrap.css">
<link href="/css/123abcd.css" type="text/css" rel="stylesheet">
<link href="/css/123article.css" type="text/css" rel="stylesheet">
<link href="/css/jquery.tagit.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>

	<div class="container">
		
		<div class="row">
			
			<div class="col-md-3" style="padding-top:25px;">
				
				<div class="nav list-group" id="sidebar">

						<ul class="nav bs-sidenav" style="background:#F7F5FA;" >
							  
							  <!-- <li class="menu active" id="authorPenel">
							  	<a class="primary" href="/userArticle">Author Pannel<span class="pull-right">&rsaquo;</span></a>
							  </li>
						  		<li class="menu" id="new_article">
						  			<a class="primary" href="/writeNewArticle">Submit New Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
						  		<li class="menu" id="guide_line">
						  			<a class="primary" href="/previous">Previous Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
							  <li class="menu" id="guide_line">
							  	<a class="primary" href="#">Guide Lines<span class="pull-right">&rsaquo;</span></a></li>
							  <li class="menu" id="log_out">
							  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="password">
							  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="update_profile">
							  	<a class="primary" href="#">Update Profile<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu active" id="homepage">
							  	<a class="primary" href="/">Home Page<span class="pull-right">&rsaquo;</span></a>
							  </li> -->

							  <li class="menu" id="manage_members"> 
								  	<a class="primary" href="/manageMembers">Manage Members<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_articles">
								  	<a class="primary" href="/manageArticle">Manage Articles<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_website">
								  	<a class="primary" href="/managewebsite">Manage Website<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_website">
								  	<a class="primary" href="/allauthors">All Authors<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="view_donation">
								  	<a class="primary" href="/viewdonation">View Donation<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="view_distribution">
								  	<a class="primary" href="/viewdistribution">Production and Distribution<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_cost">
								  	<a class="primary" href="/managecost">Manage Cost<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="log_out">
								  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="password_change">
								  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
								  </li>
														
						</ul>

				</div>

			</div>
			<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:768px;height:auto;padding-top:25px;">
					<div class="col-lg-12" id="profile" style="padding-left:20px;">
						
						
								 <form role="form" method="post" action="/uploadletter" enctype="multipart/form-data">
										<div class="col-lg-12" style="border:1px solid lightgray;min-height:70px;height:auto;padding-top:20px;margin-top:20px;background-color:#F7F5FA;">
											<div class="col-lg-3" style="padding-right:0px;">
												<img style="height:100px;width:140px;" src="/article_image/<%=writeArticle.homePic%>">
											</div>
											<div class="col-lg-6" >
												Author : <%=alluser.name%>;<br>
												Title  :<%= writeArticle.bookTitle%><br>
												<p>Choose a letter file</p>
												<input  type="file" id="pdf_upload" name="pdf_upload"   required/>
												<input type="text" id="user_article" name="user_article" hidden="true" value="<%=alluser._id%>">
                                  				<input type="text" id="articleWritlearticle" name="articleWritlearticle" hidden="true"  value="<%=writeArticle._id%>">
												<button id= "upload_pdf_confirm"style="margin-top:-47px;margin-left:453px;" class="btn btn-success">Upload</button>
											</div>
										</div>
									</form>
							
			</div>
			
		</div>
		
	</div>

</body>


<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.ui.widget.js"></script>
<script src="/js/jquery.fileupload.js"></script>
<script src="/js/bootstrap.js" ></script>
<script src="/js/jquery.nav.js" ></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
 --><script type="text/javascript" src="/jquery-ui/jquery-ui.min.js"></script>
<script src="/js/tag-it.js" type="text/javascript"></script>



</html>