<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>


	<div class="container">
		<div class="row">



				<div class="col-md-3 col-lg-3">
					
					<div class="nav list-group" id="sidebar">

						<!-- <ul class="nav bs-sidenav" style="background:#F7F5FA;">

							  <li class="menu active"> 
							  		<a class="primary" href="/admin">Admin Panel<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu"> 
							  		<a class="primary" href="/authors">All Users<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="log_out">
							  		<a class="primary" href="signout">Log Out <span class="pull-right">&rsaquo;</span></a>
							  </li>
							  
						</ul> -->
						<ul class="nav bs-sidenav" style="background:#F7F5FA;">
								  <li class="menu" id="manage_articles">
								  	<a class="primary" href="/manageArticle">Manage Articles<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_members"> 
								  	<a class="primary" href="/manageMembers">Manage Members<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_website">
								  	<a class="primary" href="/managewebsite">Manage Website<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_website">
								  	<a class="primary" href="/allauthors">All Authors<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="view_donation">
								  	<a class="primary" href="/viewdonation">View Donation<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="view_distribution">
								  	<a class="primary" href="/viewdistribution">Production and Distribution<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_cost">
								  	<a class="primary" href="/managecost">Manage Cost<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="log_out">
								  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="password_change">
								  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
								  </li>
							</ul>

					</div>

				</div>


				

				<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;padding-top:40px;">
						<div class="col-lg-12" align="center" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;"> <h2>Finalize the article</h2> </div>
					<table class="table table-bordered">
					      <thead>
					        <tr>
					          
					          <th class="text-center">Article Id</th>
					          <th class="text-center">Article Title</th>
					          <th class="text-center">Author</th>
					          <th class="text-center">Option</th>
					          <th class="text-center">Make Article Complete</th>
					        </tr>
					      </thead>
					      <tbody>
					      		<%for(var i=0;i<article.length;i++){%>
					      			<tr>
					      				<td><%=article[i].articleId%></td>
					      				<td><%=article[i].bookTitle%></td>
					      				<td><%=author[i].name%></td>
					      				<td>
					      					<a href="/editcontents?id=<%= author[i]._id%>&articleid=<%= article[i]._id %>">Edit the content</a><br>
					      					<a href="/manageArticle/uploadPdf?author=<%=author[i]._id%>&article=<%=article[i]._id%>"> Upload file as a4 book </a><br>
					      					<a href="/manageArticle/uploadppt?author=<%=author[i]._id%>&article=<%=article[i]._id%>"> Upload file as slides </a><br>
					      					<a href="/manageArticle/uploadletter?author=<%=author[i]._id%>&article=<%=article[i]._id%>"> Upload article as letter format book </a><br>
					      					<a href="/selectArtWork?author=<%=author[i]._id%>&article=<%=article[i]._id%>">Select Art Work</a><br>
					      					<a  href="/addSound?id=<%= author[i]._id%>&articleid=<%= article[i]._id %>">Add Sound </a>
					      				</td>
					      				<td>
					      					<%if(article[i].editcontent && article[i].uploadPdf && article[i].uploadPpt && article[i].uploadLetter && article[i].artwork && article[i].addsound && article[i].editcontent!='' && article[i].uploadPdf!='' && article[i].uploadPpt!='' && article[i].uploadLetter!='' && article[i].artwork!='' && article[i].addsound!=''){%>
					      					<a href="/defineAsComplete?id=<%= author[i]._id%>&articleid=<%= article[i]._id %>">Define Article as COMPLETE </a>
					      					<%}%>

					      				</td>
					      			</tr>
					      		<%}%>
					      </tbody>
					<!-- 		<% for(var i=0; i<author.length; i++) {%>

									<% for(var j=0; j<author[i].writeArticle.length; j++) {%>

										<% if(author[i].writeArticle[j].status == 'Received Author’s Response'){%>

									      <tbody id="request_<%= i%><%= j%>">
									      		<td><%= author[i].writeArticle[j].bookTitle%><br></td>
									      		<td><%= author[i].writeArticle[j].status%><br></td>
									      		<td align="center">
									      				<a href="/manageArticle/uploadPdf"> Upload file as a4 book </a>
									      				/<a href="/manageArticle/uploadppt"> Upload file as slides </a>
									      				/<a href="/manageArticle/uploadletter"> Upload article as letter format book </a>
									      				/<a  href="/addSound?id=<%= author[i]._id%>&articleid=<%= author[i].writeArticle[j]._id %>">Add Sound </a>
									      			


									      		</td>


									      </tbody>

									     <%}%>
									<% } %>
							<% } %> -->


					</table>
				</div>



		</div>
	</div>
<script src="lib/jquery/jquery.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>

<script type='text/javascript'> 
        $(document).ready(function() {
            $('#sidebar').affix({offset: {top: $('header').height()}});	
        });
        
</script>

<script>
function authorApproval(image1,image2,image3,image4,artist,articleId,artistname,elem){


     		var id = $(elem).attr("id");
     		console.log(id);
		    var x= id.split("_");
		    console.log(x);
		    var idd=x[1];
		    console.log(idd);

		    $("#request_"+idd).hide();  



			console.log(artist);
			console.log(articleId);



		$.ajax({ url: '/admin/requestAuthor',
         data: { 
         		

         		image1:image1,
         		image2:image2,
         		image3:image3,
         		image4:image4,
         		artist:artist,
         		articleId:articleId,
         		artistname:artistname

         },
         type: 'POST',
         success: function(output) {
         	
            console.log(output);
     		

          }
    	}); 

}
</script>
</body>
</html>