<meta charset="utf-8">
<title>পাতার বই</title>
<link rel="stylesheet" href="/css/views/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/css/views/print.css" type="text/css" media="print" />
<link rel="stylesheet" type="text/css" href="/lib/bootstrap3/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/common.css">   
<link rel="stylesheet" type="text/css" href="/css/views/index.css"> 
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<link href='http://fonts.googleapis.com/css?family=Happy+Monkey' rel='stylesheet' type='text/css'>

