<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" type="text/css" href="/lib/bootstrap3/css/bootstrap.css">
<link href="../css/123abcd.css" type="text/css" rel="stylesheet">
<link href="../css/123article.css" type="text/css" rel="stylesheet">
<link href="../css/jquery.tagit.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>

	<div class="container">
		
		<div class="row">
			
			<div class="col-md-3">
				
				<div class="nav list-group" id="sidebar">

						<ul class="nav bs-sidenav" style="background:#F7F5FA;" >
							  
							<li class="menu active" id="authorPenel"><a class="primary" href="/userArticle">Author Pannel<span class="pull-right">&rsaquo;</span></a></li>
					  		<li class="menu" id="new_article"><a class="primary" href="/writeNewArticle">Submit New Article<span class="pull-right">&rsaquo;</span></a></li>
					  		<li class="menu" id="guide_line"><a class="primary" href="/previous">Previous Article<span class="pull-right">&rsaquo;</span></a></li>
						  <li class="menu" id="guide_line"><a class="primary" href="/guideline">Guide Lines<span class="pull-right">&rsaquo;</span></a></li>
						  <li class="menu" id="log_out"><a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a></li>
						  <li class="menu" id="password"><a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a></li>
						  <li class="menu" id="donation"><a class="primary" href="/donors">Donation<span class="pull-right">&rsaquo;</span></a></li>
						  <li class="menu" id="update_profile"><a class="primary" href="/users/updateUserProfile">Update Profile<span class="pull-right">&rsaquo;</span></a></li>
						  <li class="menu active" id="homepage"><a class="primary" href="/">Home Page<span class="pull-right">&rsaquo;</span></a></li>

							  
					  		<%if (author_approval != 0) { %>
					  			<li ><a href="/athorapproval">Authors Approval [<%= author_approval%>]</a></li>

					  		<% } %>
							 

							  <%if (user.reviewer.length !=0 ) { %>
							  			<li id="reviewer"><a href="/reviewerpanel">Reviewer [<%= user.reviewer.length %>]<span class="pull-right">&rsaquo;</span></a></li>
							  <% } %>

						  		<%if (user.selectedArtist.length !=0) { %>

						  			<li id="Artists"><a href="/artist">Artists [<%= user.selectedArtist.length %>]<span class="pull-right">&rsaquo;</span></a></li>

						  		<% } %>
						  		<%if(user.acceptedArtist.length!=0){%>
						  			<!-- <li>
						  				<a href="/acceptedArticleForBid">Accepted for bid[<%= user.acceptedArtist.length %>]<span class="pull-right">&rsaquo;</span></a>
						  			</li> -->	
						  		<%}%>
							  <% for(var i=0; i<user.userSubtype.length; i++) {%>
									
									<%if (user.userSubtype[i].subtype == 'Commenter') { %>

							  			<li id="Commenter"><a href="#">Commenter</a></li>

							  		<% } %>
							  		


							  <% } %>
						</ul>

				</div>

			</div>
			<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:768px;height:auto;">
				<div id="details" style="padding-left:20px; padding-top:40px;">
					<div>
						<label> Hi [ <%= user.name %> ],</label><br>

						<%=draft%> articles waiting to <a href="/draft">Draft </a><br>
						<%=waiting %> articles waiting to <a href="/submitted">submitted </a><br>

						<%=user.acceptArticle.length %> articles having their <a href="/reviewcomplete">Review Complete</a><br>
						<%= author_approval%> articles for you to <a href="/athorapproval">approve the Illustration</a>

					</div>
				</div>


				<div class="col-lg-12" id="create_article" style="display:none;padding-top:40px;">



				</div>
				<div id="change" style="display:none;padding-top:40px;">
						
						<form method="post" action="/user/changePassword">
							
							<div class=col-lg-12>
								<label><b>Password Change<b></label><br>
								<hr class="colorgraph">
								<div style="padding-bottom:20px;">
									<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Existing Password" tabindex="1" required>
								</div>
								<div style="padding-bottom:20px;">
									
									<input type="password" name="new_password" id="new_password" class="form-control input-lg" placeholder="New Password" tabindex="1" required>
								</div>
								<div style="padding-bottom:20px;">
									<button class="btn btn-info pull-right" style="width:20%;height:50px;" tabindex="1">Submit</button>
								</div>
							</div>


						</form>


				</div>

				<div id="article_edit" style="display:none;padding-top:40px;">

						<form  role="form" method="post" action="/user/updateArticle">
							
							<div class=col-lg-12>
								<label><b>Update Article<b></label><br>
								<hr class="colorgraph">
								
								<div style="padding-bottom:20px;">
									<input type="text" name="articleTitle" id="updatearticleTitle" class="form-control input-lg" placeholder="Title" tabindex="1" value="" required>
								</div>
								<div style="padding-bottom:20px;">
									
									<textarea name="article" id="updatearticle" class="form-control input-lg" style="height:50px;" placeholder="Write Article" tabindex="1" value="test data" required></textarea>
								</div>

								<div style="padding-bottom:20px;">
									<input type="text" name="bottom" id="bottom" class="form-control input-lg" placeholder="Bottom Text" tabindex="1" value="" required>
								</div>
								<div style="padding-bottom:20px;">
									<input type="text" name="credit" id="credit" class="form-control input-lg" placeholder="Bottom Text" tabindex="1" value="" required>
								</div>

								<span style="display:none">

									<input type="text" name="articleIdHidden" id="articleIdHidden" value="" >

								</span>

								<div style="padding-bottom:20px;">
									<button class="btn btn-success pull-right" onclick="updateArticle()" style="width:20%;height:50px;" tabindex="1">Submit</button>
								</div>
							</div>


						</form>


				</div>



				<div class="col-lg-12" id="profile" style="display:none;padding-left:20px; padding-top:40px;">
						<form role="form" method="post" action="/users/updateProfile" enctype="multipart/form-data">
								
								<div class="col-lg-12" style="padding-left:150px;"><label><h2> Profile</h2> </label><br> </div>
								<div class="col-lg-7">
										<div class="col-lg-12" style="padding-bottom:5px;">
											<div class="col-lg-3">Name:</div>
											<div class="col-lg-9"><input  class="form-control" type="text" style="padding-left:5px;" name="userName" id="userName" value="<%=user.name %>" disabled></div>
										</div>

										<div class="col-lg-12" style="padding-bottom:5px;">	
											<div class="col-lg-3">Email:</div>
											<div class="col-lg-9"><input  class="form-control" type="text" style="padding-left:5px;" name="email" id="email" value="<%=user.email %>" disabled></div> 
										</div>
										<div class="col-lg-12" style="padding-bottom:5px;">	
											<div class="col-lg-3" style="padding-right:0;">User Type:</div>
											<div class="col-lg-9"><input  class="form-control" type="text" style="padding-left:5px;" name="userType" id="userType" value="<%=user.userType %>" disabled></div> 
										</div>		

										<div class="col-lg-12" style="padding-bottom:5px;">	
											<div class="col-lg-3">Preferred name:</div>
											<div class="col-lg-9"><input class="form-control" type="text" style="padding-left:5px;" name="preferredname" id="preferredname" value="<%=user.preferredname %>"></div>
										</div>
										<div class="col-lg-12" style="padding-bottom:5px;">	
											<div class="col-lg-3">Biography:</div>
											<div class="col-lg-9"><input class="form-control" type="text" style="padding-left:5px;" name="biography" id="biography" value="<%=user.biography %>"></div>
										</div>

										<!-- <div class="col-lg-12" style="padding-bottom:5px;">	
											<div class="col-lg-3">Gender:</div>
											<div class="col-lg-9"><input type="text" style="padding-left:5px;" name="gender" id="gender" value="<%=user.gender %>"></div>
										</div> -->
										<div class="col-lg-12" style="padding-bottom:5px;padding-bottom:10px;">	
											<div class="col-lg-3">Country:</div>
											<div class="col-lg-9">
												<select class="form-control" style="padding-left:5px;" name="country" id="country" value="<%=user.country %>">
													<option value="<%=user.country %>"><%=user.country %></option>
													<option value="Albania">Albania</option>
															<option value="Algeria">Algeria</option>
															<option value="Andorra">Andorra</option>
															<option value="Angola">Angola</option>
															<option value="Antarctica">Antarctica</option>
															<option value="Antigua and Barbuda">Antigua and Barbuda</option>
															<option value="Argentina">Argentina</option>
															<option value="Armenia">Armenia</option>
															<option value="Australia">Australia</option>
															<option value="Austria">Austria</option>
															<option value="Azerbaijan">Azerbaijan</option>
															<option value="Bahamas">Bahamas</option>
															<option value="Bahrain">Bahrain</option>
															<option value="Bangladesh">Bangladesh</option>
															<option value="Barbados">Barbados</option>
															<option value="Belarus">Belarus</option>
															<option value="Belgium">Belgium</option>
															<option value="Belize">Belize</option>
															<option value="Benin">Benin</option>
															<option value="Bermuda">Bermuda</option>
															<option value="Bhutan">Bhutan</option>
															<option value="Bolivia">Bolivia</option>
															<option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
															<option value="Botswana">Botswana</option>
															<option value="Brazil">Brazil</option>
															<option value="Brunei">Brunei</option>
															<option value="Bulgaria">Bulgaria</option>
															<option value="Burkina Faso">Burkina Faso</option>
															<option value="Burma">Burma</option>
															<option value="Burundi">Burundi</option>
															<option value="Cambodia">Cambodia</option>
															<option value="Cameroon">Cameroon</option>
															<option value="Canada">Canada</option>
															<option value="Cape Verde">Cape Verde</option>
															<option value="Central African Republic">Central African Republic</option>
															<option value="Chad">Chad</option>
															<option value="Chile">Chile</option>
															<option value="China">China</option>
															<option value="Colombia">Colombia</option>
															<option value="Comoros">Comoros</option>
															<option value="Congo, Democratic Republic">Congo, Democratic Republic</option>
															<option value="Congo, Republic of the">Congo, Republic of the</option>
															<option value="Costa Rica">Costa Rica</option>
															<option value="Cote d'Ivoire">Cote d'Ivoire</option>
															<option value="Croatia">Croatia</option>
															<option value="Cuba">Cuba</option>
															<option value="Cyprus">Cyprus</option>
															<option value="Czech Republic">Czech Republic</option>
															<option value="Denmark">Denmark</option>
															<option value="Djibouti">Djibouti</option>
															<option value="Dominica">Dominica</option>
															<option value="Dominican Republic">Dominican Republic</option>
															<option value="East Timor">East Timor</option>
															<option value="Ecuador">Ecuador</option>
															<option value="Egypt">Egypt</option>
															<option value="El Salvador">El Salvador</option>
															<option value="Equatorial Guinea">Equatorial Guinea</option>
															<option value="Eritrea">Eritrea</option>
															<option value="Estonia">Estonia</option>
															<option value="Ethiopia">Ethiopia</option>
															<option value="Fiji">Fiji</option>
															<option value="Finland">Finland</option>
															<option value="France">France</option>
															<option value="Gabon">Gabon</option>
															<option value="Gambia">Gambia</option>
															<option value="Georgia">Georgia</option>
															<option value="Germany">Germany</option>
															<option value="Ghana">Ghana</option>
															<option value="Greece">Greece</option>
															<option value="Greenland">Greenland</option>
															<option value="Grenada">Grenada</option>
															<option value="Guatemala">Guatemala</option>
															<option value="Guinea">Guinea</option>
															<option value="Guinea-Bissau">Guinea-Bissau</option>
															<option value="Guyana">Guyana</option>
															<option value="Haiti">Haiti</option>
															<option value="Honduras">Honduras</option>
															<option value="Hong Kong">Hong Kong</option>
															<option value="Hungary">Hungary</option>
															<option value="Iceland">Iceland</option>
															<option value="India">India</option>
															<option value="Indonesia">Indonesia</option>
															<option value="Iran">Iran</option>
															<option value="Iraq">Iraq</option>
															<option value="Ireland">Ireland</option>
															<option value="Israel">Israel</option>
															<option value="Italy">Italy</option>
															<option value="Jamaica">Jamaica</option>
															<option value="Japan">Japan</option>
															<option value="Jordan">Jordan</option>
															<option value="Kazakhstan">Kazakhstan</option>
															<option value="Kenya">Kenya</option>
															<option value="Kiribati">Kiribati</option>
															<option value="Korea, North">Korea, North</option>
															<option value="Korea, South">Korea, South</option>
															<option value="Kuwait">Kuwait</option>
															<option value="Kyrgyzstan">Kyrgyzstan</option>
															<option value="Laos">Laos</option>
															<option value="Latvia">Latvia</option>
															<option value="Lebanon">Lebanon</option>
															<option value="Lesotho">Lesotho</option>
															<option value="Liberia">Liberia</option>
															<option value="Libya">Libya</option>
															<option value="Liechtenstein">Liechtenstein</option>
															<option value="Lithuania">Lithuania</option>
															<option value="Luxembourg">Luxembourg</option>
															<option value="Macedonia">Macedonia</option>
															<option value="Madagascar">Madagascar</option>
															<option value="Malawi">Malawi</option>
															<option value="Malaysia">Malaysia</option>
															<option value="Maldives">Maldives</option>
															<option value="Mali">Mali</option>
															<option value="Malta">Malta</option>
															<option value="Marshall Islands">Marshall Islands</option>
															<option value="Mauritania">Mauritania</option>
															<option value="Mauritius">Mauritius</option>
															<option value="Mexico">Mexico</option>
															<option value="Micronesia">Micronesia</option>
															<option value="Moldova">Moldova</option>
															<option value="Mongolia">Mongolia</option>
															<option value="Morocco">Morocco</option>
															<option value="Monaco">Monaco</option>
															<option value="Mozambique">Mozambique</option>
															<option value="Namibia">Namibia</option>
															<option value="Nauru">Nauru</option>
															<option value="Nepal">Nepal</option>
															<option value="Netherlands">Netherlands</option>
															<option value="New Zealand">New Zealand</option>
															<option value="Nicaragua">Nicaragua</option>
															<option value="Niger">Niger</option>
															<option value="Nigeria">Nigeria</option>
															<option value="Norway">Norway</option>
															<option value="Oman">Oman</option>
															<option value="Pakistan">Pakistan</option>
															<option value="Panama">Panama</option>
															<option value="Papua New Guinea">Papua New Guinea</option>
															<option value="Paraguay">Paraguay</option>
															<option value="Peru">Peru</option>
															<option value="Philippines">Philippines</option>
															<option value="Poland">Poland</option>
															<option value="Portugal">Portugal</option>
															<option value="Qatar">Qatar</option>
															<option value="Romania">Romania</option>
															<option value="Russia">Russia</option>
															<option value="Rwanda">Rwanda</option>
															<option value="Samoa">Samoa</option>
															<option value="San Marino">San Marino</option>
															<option value=" Sao Tome"> Sao Tome</option>
															<option value="Saudi Arabia">Saudi Arabia</option>
															<option value="Senegal">Senegal</option>
															<option value="Serbia and Montenegro">Serbia and Montenegro</option>
															<option value="Seychelles">Seychelles</option>
															<option value="Sierra Leone">Sierra Leone</option>
															<option value="Singapore">Singapore</option>
															<option value="Slovakia">Slovakia</option>
															<option value="Slovenia">Slovenia</option>
															<option value="Solomon Islands">Solomon Islands</option>
															<option value="Somalia">Somalia</option>
															<option value="South Africa">South Africa</option>
															<option value="Spain">Spain</option>
															<option value="Sri Lanka">Sri Lanka</option>
															<option value="Sudan">Sudan</option>
															<option value="Suriname">Suriname</option>
															<option value="Swaziland">Swaziland</option>
															<option value="Sweden">Sweden</option>
															<option value="Switzerland">Switzerland</option>
															<option value="Syria">Syria</option>
															<option value="Taiwan">Taiwan</option>
															<option value="Tajikistan">Tajikistan</option>
															<option value="Tanzania">Tanzania</option>
															<option value="Thailand">Thailand</option>
															<option value="Togo">Togo</option>
															<option value="Tonga">Tonga</option>
															<option value="Trinidad and Tobago">Trinidad and Tobago</option>
															<option value="Tunisia">Tunisia</option>
															<option value="Turkey">Turkey</option>
															<option value="Turkmenistan">Turkmenistan</option>
															<option value="Uganda">Uganda</option>
															<option value="Ukraine">Ukraine</option>
															<option value="United Arab Emirates">United Arab Emirates</option>
															<option value="United Kingdom">United Kingdom</option>
															<option value="United States">United States</option>
															<option value="Uruguay">Uruguay</option>
															<option value="Uzbekistan">Uzbekistan</option>
															<option value="Vanuatu">Vanuatu</option>
															<option value="Venezuela">Venezuela</option>
															<option value="Vietnam">Vietnam</option>
															<option value="Yemen">Yemen</option>
															<option value="Zambia">Zambia</option>
															<option value="Zimbabwe">Zimbabwe</option>
												</select>
											</div>
										</div>

										<div class="col-lg-12" style="padding-left:150px;padding-top:20px;">

											
											<button class="btn btn-info" style="width:180px;height:40px;" tabindex="1">Submit</button>
										</div>

									</div>

									<div class="col-lg-5">
										 <div >

										 	<div class="col-lg-12">Profile Picture:</div>

										 	<div id="image" style="height:120px; width:120px;padding-left:20px;">
										 		<% if(user.profilePicture == null) { %>

										 			<img class="img-thumbnail" id="current_picture"  src="/profile_pictures/user.png" alt="Jason's Photo" style="width: inherit;display:none" />
										 		<% } %>
										 		<% if(user.profilePicture != null) { %>

										 			<img class="img-thumbnail" id="current_picture"  src="../<%=user.profilePicture %>" alt="Jason's Photo" style="width: inherit" />
										 		<% } %>
		                					</div>
											<div class="col-lg-12" style="padding-top:10px;">
												
												
		            							
												<div class="col-lg-12">
													<input type="file" id="imagefile" name="imagefile" accept="image/*"/ >
												</div>


											</div>
											    
										  </div>


									</div>
						</form>
				</div>

			</div>
		</div>
		
	</div>

</body>


<script src="lib/jquery/jquery.min.js"></script>
<script src="../js/jquery.ui.widget.js"></script>
<script src="../js/jquery.fileupload.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
 -->
 <script type="text/javascript" src="/jquery-ui/jquery-ui.min.js"></script>
 <script src="../js/tag-it.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function() {
		
		$("#myTags").tagit({
		    availableTags: ["Bangla", "English", "Story", "Ideal", "Religion", "Mathematics"]
		});


		$('#submit_article').click(function () {

			var $tags=[];
       		 $tags=$("#myTags").tagit("assignedTags");
       		 //alert($tags);
       		 $("#hiddenTag").val($tags);
    	})

    });
</script>


<script type="text/javascript">
$(document).ready(function(){
    //Handles menu drop down
    $('.dropdown-menu').find('input').click(function (e) {
        e.stopPropagation();
    });
});
</script>


<script>
$(document).ready(function()
{



	  $("#new_article").click(function()
	  {
	    $("#create_article").show();
	    $("#details").hide();
	    $("#profile").hide();
	    $("#article").hide();
	    $("#change").hide();
	    $("#article_edit").hide();

	  });

	  $("#previous_article").click(function()
	  {
		    $("#article").show();
		    $("#details").hide();
		    $("#profile").hide();
		    $("#create_article").hide();
		    $("#change").hide();
		    $("#article_edit").hide();
	  });

	  // $("#update_profile").click(function(){

  	// 	$("#profile").show();
  	// 	$("#details").hide();
  	// 	$("#article").hide();
  	// 	$("#create_article").hide();
  	// 	$("#change").hide();
  	// 	$("#article_edit").hide();
	  // });

	  $("#password").click(function(){
  		$("#change").show();
  		$("#profile").hide();
  		$("#details").hide();
  		$("#article").hide();
  		$("#create_article").hide();
  		$("#article_edit").hide();

	  });

	  // for profile picture
	  $("#file").fileupload({

	  	  url: '/users/profilePicture',
          dataType: 'json',
          done: function (err, data) {
          		
          },

    });

	$('#file').change(function(){
		 readURL(this);
	});


	// for article image
	 /* $("#articleImage").fileupload({

  	  url: '/users/articleImage',
      dataType: 'json',
      done: function (err, data) {
      		
      },

	});  */

	/*$('#img').fileupload({
		  	  url: '/users/articleImage',
      dataType: 'json',
      done: function (err, data) {
      		
      },
	});   */





});



function articleDelete(index){

	$("#waiting_"+index).hide();
	$.ajax({ url: '/users/article/delete',
         data: { index:index},
         type: 'POST',
         success: function(output) {
         		
         		console.log('Data delete Successful');
            
          }
    });

}


function articleEdit(index,title,article,bottom,credit){
	console.log(bottom);
	$("#updatearticleTitle").val(title);
	$("#updatearticle").val(article);
	
	$("#credit").val(credit);
	$("#articleIdHidden").val(index);
	$("#bottom").val(bottom);

	$("#change").hide();
	$("#profile").hide();
	$("#details").hide();
	$("#article").hide();
	$("#article_edit").show();

 		
}
function updateArticle(){

	console.log('Update');
}




</script>

<script type="text/javascript">

function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#current_picture').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
            //$('#image_div').show();
        }
    }
</script>
<script type='text/javascript'> 
        $(document).ready(function() {
            $('#sidebar').affix({offset: {top: $('header').height()}});	
        });
        
</script> 
</html>