<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>

	<div class="container">
		<div class="row">
		
		
			
				<div class="col-md-3 col-lg-3">
					
					<div class="nav list-group" id="sidebar">

						<ul class="nav bs-sidenav" style="background:#F7F5FA;">

							 <!--  <li class="menu active">
							  		<a class="primary">Hello, Reviewer !!<span class="pull-right">&rsaquo;</span></a> 
							  </li>

							  <li class="menu" id="review_article">
							  		<a class="primary" href="/reviewarticle">Reviewer Pannel<span class="pull-right">&rsaquo;</span></a>
							  </li>

							  <li class="menu active" id="authorPenel">
							  	<a class="primary" href="/userArticle">Author Pannel<span class="pull-right">&rsaquo;</span></a>
							  </li>
						  		<li class="menu" id="new_article">
						  			<a class="primary" href="/writeNewArticle">Submit New Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
						  		<li class="menu" id="guide_line">
						  			<a class="primary" href="/previous">Previous Article<span class="pull-right">&rsaquo;</span></a>
						  		</li> -->
							   <li class="menu active">
							  		<a class="primary" href="/reviewerpanel">Reviewer's Panel<span class="pull-right">&rsaquo;</span></a> 
							  </li>
							  <li class="menu" id="decide_review">
							  		<a class="primary" href="/decide2review">Accept a Request<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="currently_reviewing">
							  		<a class="primary" href="/reviewarticle">Submit a Review <span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="guide_line">
						  			<a class="primary" href="/previouslyreviewed">Previous Review<span class="pull-right">&rsaquo;</span></a>
						  		</li>
							  <li class="menu" id="guide_line">
							  	<a class="primary" href="#">Guide Lines<span class="pull-right">&rsaquo;</span></a></li>
							  <li class="menu" id="log_out">
							  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="password">
							  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="update_profile">
							  	<a class="primary" href="/users/updateUserProfile">Update Profile<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu active" id="homepage">
							  	<a class="primary" href="/">Home Page<span class="pull-right">&rsaquo;</span></a>
							  </li>
						</ul>

					</div>

				</div>
				<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;padding-top:20px;">
						<div class="col-lg-12">


							<% if(reviewArticle.sound == 'No') { %>
								<div class="col-lg-12 panel panel-success" >

									<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
										<div class="col-lg-12" >	
												<h3><b>Title of the Book : <%=reviewArticle.bookTitle %></b></h3>
												<h5><b>Author's Name : <%=user.name %></b></h5>
												
										</div>
										<div class="col-lg-12">
											<%for(var i=0;i<articlecomment.length;i++){%>
											<div class="col-lg-4">
												<%if(articlecomment[i].comment&&articlecomment[i].comment!=''){%>
												<p><b><%=articlecommentReviewer[i]%></b> says:</p>
												<p><%=articlecomment[i].comment%></p>
												
												<%}%>
												</div>
												<%}%>
										</div>
									</div>

								</div>
								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;"> 
												<div class="col-lg-4">Page : 1</div>
												<div class="col-lg-4">Text</div>
												<div class="col-lg-4">Review</div>
										</div>

											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.articleImage %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-4"> 
													<p><%= reviewArticle.title%></p>
													<p><%=reviewArticle.article%></p>
													<p><%=reviewArticle.credit%></p>
													<p><%=reviewArticle.bottomText%></p>

											</div>
											<div class="col-lg-4">
												<%for(var i=0;i<articlecomment.length;i++){%>
												<%if(articlecomment[i].comment1&&articlecomment[i].comment1!=''){%>
												<p><b><%=articlecommentReviewer[i]%></b> says:</p>
												<p><%=articlecomment[i].comment1%></p>
												
												<%}%>
												<%}%>
												 <!-- <textarea type="text" class="form-control" id="comment1" name="comment1"></textarea> -->
											</div>

										</div>

								</div>

								<%if(reviewArticle.articleTitle2) {%>

									<div class="col-lg-12 panel panel-success" >

											<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
												<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
												<div class="col-lg-4">Page : 2</div>
												<div class="col-lg-4">Text</div>
												<div class="col-lg-4">Review</div>

											</div>
											
												<div class="col-lg-4"> 
													<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img2 %>" alt="Jason's Photo" style="width: inherit" />
												</div>
												<div class="col-lg-4"> 
														<p><%= reviewArticle.articleTitle2%></p>
														<p><%=reviewArticle.article2%></p>
														<p><%=reviewArticle.source2%></p>
														<p><%=reviewArticle.bottomText2%></p>

												</div>
												<div class="col-lg-4">
													 <%for(var i=0;i<articlecomment.length;i++){%>
														<%if(articlecomment[i].comment2&&articlecomment[i].comment2!=''){%>
														<p><b><%=articlecommentReviewer[i]%></b> says:</p>
														<p><%=articlecomment[i].comment2%></p>
														
														<%}%>
														<%}%>
												</div>

											</div>

									</div>

								<% } %>

								<%if(reviewArticle.articleTitle3) {%>

										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
														<div class="col-lg-4">Page : 3</div>
														<div class="col-lg-4">Text</div>
														<div class="col-lg-4">Review</div>

												</div>
												
													<div class="col-lg-4"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img3 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-4"> 
															<p><%= reviewArticle.articleTitle3%></p>
															<p><%=reviewArticle.article3%></p>
															<p><%=reviewArticle.source3%></p>
															<p><%=reviewArticle.bottomText3%></p>

													</div>
													<div class="col-lg-4">
														<%for(var i=0;i<articlecomment.length;i++){%>
																<%if(articlecomment[i].comment3&&articlecomment[i].comment3!=''){%>
																<p><b><%=articlecommentReviewer[i]%></b> says:</p>
																<p><%=articlecomment[i].comment3%></p>
																
																<%}%>
																<%}%>
													</div>

												</div>

										</div>

								<% } %>

								<%if(reviewArticle.articleTitle4) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
												<div class="col-lg-4">Page : 4</div>
												<div class="col-lg-4">Text</div>
												<div class="col-lg-4">Review</div>

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img4 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-4"> 
													<p><%= reviewArticle.articleTitle4%></p>
													<p><%=reviewArticle.article4%></p>
													<p><%=reviewArticle.source4%></p>
													<p><%=reviewArticle.bottomText4%></p>
											</div>
											<div class="col-lg-4">
													 <%for(var i=0;i<articlecomment.length;i++){%>
														<%if(articlecomment[i].comment4&&articlecomment[i].comment4!=''){%>
														<p><b><%=articlecommentReviewer[i]%></b> says:</p>
														<p><%=articlecomment[i].comment4%></p>
														
														<%}%>
														<%}%>
												</div>

										</div>

								</div>
								<%}%>
								<%if(reviewArticle.articleTitle5) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
												<div class="col-lg-4">Page : 5</div>
												<div class="col-lg-4">Text</div>
												<div class="col-lg-4">Review</div>

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img5 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-4"> 
													<p><%= reviewArticle.articleTitle5%></p>
													<p><%=reviewArticle.article5%></p>
													<p><%=reviewArticle.source5%></p>
													<p><%=reviewArticle.bottomText5%></p>
											</div>
											<div class="col-lg-4">
													 <%for(var i=0;i<articlecomment.length;i++){%>

														<%if(articlecomment[i].comment5&&articlecomment[i].comment5!=''){%>
														<p><b><%=articlecommentReviewer[i]%></b> says:</p>
														<p><%=articlecomment[i].comment5%></p>
														
														<%}%>
														<%}%>
												</div>

										</div>

								</div>
								<%}%>
								<%if(reviewArticle.articleTitle6) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
												<div class="col-lg-4">Page : 6</div>
												<div class="col-lg-4">Text</div>
												<div class="col-lg-4">Review</div>

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img6 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-4"> 
													<p><%= reviewArticle.articleTitle6%></p>
													<p><%=reviewArticle.article6%></p>
													<p><%=reviewArticle.source6%></p>
													<p><%=reviewArticle.bottomText6%></p>
											</div>
											<div class="col-lg-4">
													 <%for(var i=0;i<articlecomment.length;i++){%>
													 
														<%if(articlecomment[i].comment6&&articlecomment[i].comment6!=''){%>
														<p><b><%=articlecommentReviewer[i]%></b> says:</p>
														<p><%=articlecomment[i].comment6%></p>
														
														<%}%>
														<%}%>
												</div>

										</div>

								</div>
								<%}%>
								<%if(reviewArticle.articleTitle7) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
												<div class="col-lg-4">Page : 7</div>
												<div class="col-lg-4">Text</div>
												<div class="col-lg-4">Review</div>

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img7 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-4"> 
													<p><%= reviewArticle.articleTitle7%></p>
													<p><%=reviewArticle.article7%></p>
													<p><%=reviewArticle.source7%></p>
													<p><%=reviewArticle.bottomText7%></p>
											</div>
											<div class="col-lg-4">
													 <%for(var i=0;i<articlecomment.length;i++){%>
													 
														<%if(articlecomment[i].comment7&&articlecomment[i].comment7!=''){%>
														<p><b><%=articlecommentReviewer[i]%></b> says:</p>
														<p><%=articlecomment[i].comment7%></p>
														
														<%}%>
														<%}%>
												</div>

										</div>

								</div>
								<%}%>
								<%if(reviewArticle.articleTitle8) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
												<div class="col-lg-4">Page : 8</div>
												<div class="col-lg-4">Text</div>
												<div class="col-lg-4">Review</div>

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img8 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-4"> 
													<p><%= reviewArticle.articleTitle8%></p>
													<p><%=reviewArticle.article8%></p>
													<p><%=reviewArticle.source8%></p>
													<p><%=reviewArticle.bottomText8%></p>
											</div>
											<div class="col-lg-4">
													 <%for(var i=0;i<articlecomment.length;i++){%>
													 
														<%if(articlecomment[i].comment8&&articlecomment[i].comment8!=''){%>
														<p><b><%=articlecommentReviewer[i]%></b> says:</p>
														<p><%=articlecomment[i].comment8%></p>
														
														<%}%>
														<%}%>
												</div>

										</div>

								</div>
								<%}%>
								<%if(reviewArticle.articleTitle9) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
												<div class="col-lg-4">Page : 9</div>
												<div class="col-lg-4">Text</div>
												<div class="col-lg-4">Review</div>

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img9 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-4"> 
													<p><%= reviewArticle.articleTitle9%></p>
													<p><%=reviewArticle.article9%></p>
													<p><%=reviewArticle.source9%></p>
													<p><%=reviewArticle.bottomText9%></p>
											</div>
											<div class="col-lg-4">
													 <%for(var i=0;i<articlecomment.length;i++){%>
													 
														<%if(articlecomment[i].comment9&&articlecomment[i].comment9!=''){%>
														<p><b><%=articlecommentReviewer[i]%></b> says:</p>
														<p><%=articlecomment[i].comment9%></p>
														
														<%}%>
														<%}%>
												</div>

										</div>

								</div>
								<%}%>
								<%if(reviewArticle.articleTitle10) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
												<div class="col-lg-4">Page : 10</div>
												<div class="col-lg-4">Text</div>
												<div class="col-lg-4">Review</div>

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img10%>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-4"> 
													<p><%= reviewArticle.articleTitle10%></p>
													<p><%=reviewArticle.article10%></p>
													<p><%=reviewArticle.source10%></p>
													<p><%=reviewArticle.bottomText10%></p>
											</div>
											<div class="col-lg-4">
													 <%for(var i=0;i<articlecomment.length;i++){%>
													 
														<%if(articlecomment[i].comment10&&articlecomment[i].comment10!=''){%>
														<p><b><%=articlecommentReviewer[i]%></b> says:</p>
														<p><%=articlecomment[i].comment10%></p>
														
														<%}%>
														<%}%>
												</div>

										</div>

								</div>
								<%}%>
								<%if(reviewArticle.articleTitle11) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
												<div class="col-lg-4">Page : 11</div>
												<div class="col-lg-4">Text</div>
												<div class="col-lg-4">Review</div>

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img11 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-4"> 
													<p><%= reviewArticle.articleTitle11%></p>
													<p><%=reviewArticle.article11%></p>
													<p><%=reviewArticle.source11%></p>
													<p><%=reviewArticle.bottomText11%></p>
											</div>
											<div class="col-lg-4">
													 <%for(var i=0;i<articlecomment.length;i++){%>
													 
														<%if(articlecomment[i].comment11&&articlecomment[i].comment11!=''){%>
														<p><b><%=articlecommentReviewer[i]%></b> says:</p>
														<p><%=articlecomment[i].comment11%></p>
														
														<%}%>
														<%}%>
												</div>

										</div>

								</div>
								<%}%>
								<%if(reviewArticle.articleTitle12) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
												<div class="col-lg-4">Page : 12</div>
												<div class="col-lg-4">Text</div>
												<div class="col-lg-4">Review</div>

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img12 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-4"> 
													<p><%= reviewArticle.articleTitle12%></p>
													<p><%=reviewArticle.article12%></p>
													<p><%=reviewArticle.source12%></p>
													<p><%=reviewArticle.bottomText12%></p>
											</div>
											<div class="col-lg-4">
													 <%for(var i=0;i<articlecomment.length;i++){%>
													 
														<%if(articlecomment[i].comment12&&articlecomment[i].comment12!=''){%>
														<p><b><%=articlecommentReviewer[i]%></b> says:</p>
														<p><%=articlecomment[i].comment12%></p>
														
														<%}%>
														<%}%>
												</div>

										</div>

								</div>
								<%}%>
								<%if(reviewArticle.articleTitle13) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
												<div class="col-lg-4">Page : 13</div>
												<div class="col-lg-4">Text</div>
												<div class="col-lg-4">Review</div>

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img13 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-4"> 
													<p><%= reviewArticle.articleTitle13%></p>
													<p><%=reviewArticle.article13%></p>
													<p><%=reviewArticle.source13%></p>
													<p><%=reviewArticle.bottomText13%></p>
											</div>
											<div class="col-lg-4">
													 <%for(var i=0;i<articlecomment.length;i++){%>
													 
														<%if(articlecomment[i].comment13&&articlecomment[i].comment13!=''){%>
														<p><b><%=articlecommentReviewer[i]%></b> says:</p>
														<p><%=articlecomment[i].comment13%></p>
														
														<%}%>
														<%}%>
												</div>

										</div>

								</div>
								<%}%>
								<%if(reviewArticle.articleTitle14) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
												<div class="col-lg-4">Page : 14</div>
												<div class="col-lg-4">Text</div>
												<div class="col-lg-4">Review</div>

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img14 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-4"> 
													<p><%= reviewArticle.articleTitle14%></p>
													<p><%=reviewArticle.article14%></p>
													<p><%=reviewArticle.source14%></p>
													<p><%=reviewArticle.bottomText14%></p>
											</div>
											<div class="col-lg-4">
													 <%for(var i=0;i<articlecomment.length;i++){%>
													 
														<%if(articlecomment[i].comment14&&articlecomment[i].comment14!=''){%>
														<p><b><%=articlecommentReviewer[i]%></b> says:</p>
														<p><%=articlecomment[i].comment14%></p>
														
														<%}%>
														<%}%>
												</div>

										</div>

								</div>
								<%}%>
								<%if(reviewArticle.articleTitle15) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
												<div class="col-lg-4">Page : 15</div>
												<div class="col-lg-4">Text</div>
												<div class="col-lg-4">Review</div>

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img15 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-4"> 
													<p><%= reviewArticle.articleTitle15%></p>
													<p><%=reviewArticle.article15%></p>
													<p><%=reviewArticle.source15%></p>
													<p><%=reviewArticle.bottomText15%></p>
											</div>
											<div class="col-lg-4">
													 <%for(var i=0;i<articlecomment.length;i++){%>
													 
														<%if(articlecomment[i].comment15&&articlecomment[i].comment15!=''){%>
														<p><b><%=articlecommentReviewer[i]%></b> says:</p>
														<p><%=articlecomment[i].comment15%></p>
														
														<%}%>
														<%}%>
												</div>

										</div>

								</div>
								<%}%>
								<%if(reviewArticle.articleTitle16) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
												<div class="col-lg-4">Page : 16</div>
												<div class="col-lg-4">Text</div>
												<div class="col-lg-4">Review</div>

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img16 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-4"> 
													<p><%= reviewArticle.articleTitle16%></p>
													<p><%=reviewArticle.article16%></p>
													<p><%=reviewArticle.source16%></p>
													<p><%=reviewArticle.bottomText16%></p>
											</div>
											<div class="col-lg-4">
													 <%for(var i=0;i<articlecomment.length;i++){%>
													 
														<%if(articlecomment[i].comment16&&articlecomment[i].comment16!=''){%>
														<p><b><%=articlecommentReviewer[i]%></b> says:</p>
														<p><%=articlecomment[i].comment16%></p>
														
														<%}%>
														<%}%>
												</div>

										</div>

								</div>
								<%}%>
							<% } %>





<!-- For listening Sound  -->



						</div>

					
				</div>

		</div>
		
	</div>

</body>


<script src="lib/jquery/jquery.min.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>
<script src="../js/jquery.raty.js" type="text/javascript"></script>
<script type='text/javascript'> 
        $(document).ready(function() 
        {
            $('#sidebar').affix({offset: {top: $('header').height()}});	

        });
        
</script>

<script type="text/javascript">
$(document).ready(function(){
		  $(".star").raty({ 
		    score: 0,
		    readOnly:  false,
		});
		    

		   

		    $(".star > img").click(function() {
		     var score = $(this).attr("alt");
		    // console.log($("rating").attr("alt")) 
		     //alert(score);
		    var rating=score;
		    $("#ratingScore").val(score);
		   
		}); 
})

</script>
<script type="text/javascript">
	function reviewedArticle(author,reviewArticleId,writeArticleId, status){
	comment=$("#comment").val();
 	comment1=$("#comment1").val();
 	comment2=$("#comment2").val();
 	comment3=$("#comment3").val();
 	comment4=$("#comment4").val();
 	condition=$("#condition").val();
 	if(comment=='')
 	{
 		alert("Please fill general comment");
 		return false;
 	}
	rating=$("#ratingScore").val();
	if(rating=='')
 	{
 		alert("Please give a rating");
 		return false;
 	}
	$.ajax({ url: '/reviewer/articleAccept',
     data: { 
     	
     	author:author,
     	reviewArticleId:reviewArticleId,
     	writeArticleId:writeArticleId,
     	comment:comment,
     	comment1:comment1,
     	comment2:comment2,
     	comment3:comment3,
     	comment4:comment4,
     	status:status,
     	rating:rating,
     	condition:condition,
     },
     type: 'POST',
     success: function(output) {
     	
        console.log(output);
 		window.location="/reviewerpanel";
 	
      }
}); 
	 

}

function reject(writeArticleId,articleId){
	
	$.ajax({ url: '/rejectReviewArticle',
         data: { 
         	articleId:articleId,
         	writeArticleId:writeArticleId,

         },
         type: 'POST',
         success: function(output) {
         	
            console.log(output);
            window.location="/reviewerpanel";
 	
          }
    });


}
</script>


</html>