<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">
<link rel="stylesheet" href="css/jquery-ui.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>

	<div class="container">
		<div class="row">
					
				<div class="col-md-3 col-lg-3">
					<div class="nav list-group" id="sidebar">

							<ul class="nav bs-sidenav" style="background:#F7F5FA;">
								  <li class="menu active" id="admin"> 
								  	 	<a class="primary" href="/admin">Admin Pannel<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  

								  <li class="menu" id="manage_articles">
								  	<a class="primary" href="/manageArticle">Manage Articles<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="manage_members"> 
								  	<a class="primary" href="/manageMembers">Manage Members<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_website">
								  	<a class="primary" href="/managewebsite">Manage Website<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="view_donation">
								  	<a class="primary" href="#">View Donation<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="view_distribution">
								  	<a class="primary" href="/viewdistribution">Production and Distribution<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_cost">
								  	<a class="primary" href="#">Manage Cost<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="log_out">
								  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="password_change">
								  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
								  </li>
							</ul>
					</div>
				</div>

				<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;padding-top:40px;">
						<h3 align="center"> <b>Production Cost and Distribution</b> </h3>
						<div class="col-lg-12">
							<div class="col-lg-3">
							</div>
								<form method="post" action="/searchArticleProductionCost">
										<div class="col-lg-4">
											<input type="text" class="form-control" placeholder="Search by Article" id="searchByArticle" name="searchByArticle">
										</div>
										<div class="col-lg-2">
											<button type="submit" id="" class="glyphicon glyphicon-search"  style="text-decoration:none;width:30px;" ></button>
										</div>
								</form>
						</div>
					<!-- 	<table class="table table-bordered">
					        <thead>
					          <tr>
					            
					            <th>User ID</th>
					            <th>School ID</th>
					            <th>Date Submitted</th>
					            <th>Order ID</th>
					            <th>Status</th>
					            
					          </tr>
					        </thead>
					        <tbody>
					          <tr>
					            
					            <td>ID#001</td>
					            <td> test#001</td>
					            <td>10/2/2014</td>
					            <td>order#001</td>
					            <td>Send</td>
					            
					          </tr>
					          
					        </tbody>
					    </table>
 -->
				</div>


		</div>
	</div>

<script src="lib/jquery/jquery.min.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>
<script src="../js/jquery-1.10.2.js"></script>
<script src="../js/jquery-ui.js"></script>

<script type='text/javascript'> 
		 var articleTitle= <% if(locals.articleTitle){%>
      <%- JSON.stringify(articleTitle) %>
      <%}%>;
		var availableArticles=[];
		for(var i=0;i<articleTitle.length;i++){
			availableArticles[i]=articleTitle[i];
			}
		       $( "#searchByArticle" ).autocomplete({
		      source: availableArticles
		    });
        $(document).ready(function() {
            $('#sidebar').affix({offset: {top: $('header').height()}});	
        });
        
</script> 


</body>
</html>