<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>


	<div class="container">
		<div class="row">



				<div class="col-md-3 col-lg-3">
					
					<div class="nav list-group" id="sidebar">

						<ul class="nav bs-sidenav" style="background:#F7F5FA;">

							  <!-- <li class="menu active"> 
							  		<a class="primary" href="/admin">Admin Panel<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="manage_website">
								  	<a class="primary" href="/allauthors">All Authors<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="log_out">
							  		<a class="primary" href="signout">Log Out <span class="pull-right">&rsaquo;</span></a>
							  </li> -->

								  <li class="menu" id="manage_articles">
								  		<a class="primary" href="/manageArticle">Manage Articles<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="manage_members">
								  	 	<a class="primary" href="/manageMembers">Manage Members<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  
								  <li class="menu" id="manage_website">
								  		<a class="primary" href="/managewebsite">Manage Website<span class="pull-right">&rsaquo;</span></a>
								  </li>
								 <!--  <li class="menu" id="manage_website">
								  	<a class="primary" href="/allauthors">All Authors<span class="pull-right">&rsaquo;</span></a>
								  </li> -->
								  <li class="menu" id="view_donation">
								  		<a class="primary" href="#"><span class="pull-right">&rsaquo;</span>View Donation</a>
								  </li>
								  <li class="menu" id="view_distribution">
								  		<a class="primary" href="/viewdistribution">Production and Distribution<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="manage_cost">
								  		<a class="primary" href="#">Manage Cost<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="log_out">
								  		<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
								  </li>
								  <li class="menu" id="password_change">
								  		<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
								  </li>
							  
						</ul>

					</div>

				</div>


				

				<div class="col-md-9  pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;">
						
						<div class="col-lg-12" style="padding-top:20px;" align="center"> <h2>Bidding Details</h2></div>
						
							<table class="table table-bordered">
						      <thead>
						        <tr>
						          
							          <th>Article Number</th>
							          <th>Artist’s Name</th>
							          <th>Sample Work</th>
							          <th>Email Address</th>
							          <th># Working</th>
							          <th># Total Contribution</th>
							          <th>cost / page(taka)</th>
							          <th>Total time (days)</th>
						        </tr>
						      </thead>
						      <tbody>
						      		
						      				<tr>
						      					<td><%=article.articleId%></td>
						      					<td><%=artist.name%></td>
						      					<td>
						      						<%if(biddingArticle){%>
						      						<a href="/viewSearchuserProfile?email=<%=biddingArticle.artistEmail%>">user profile</a>
						      						<%}%>
						      					</td>
						      					<td>
						      						<%if(biddingArticle){%>
						      						<%=biddingArticle.artistEmail%>
						      						<%}%>
						      					</td>
						      					<td><%=working%></td>
						      					<td><%=contributed%></td>
						      					
						      					<td>
						      						<%if(biddingArticle){%>
						      						<%=biddingArticle.cost%>
						      						<%}%>
						      					</td>
						      					<td id="days_1"></td>
						      				</tr>
						      		
						      </tbody>



				</div>



		</div>
	</div>
<script src="lib/jquery/jquery.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>
<script src="../js/jquery.min.js" type="text/javascript"></script>
<script src="../js/jquery.timeago.js" type="text/javascript"></script>
<script src="../js/jquery.raty.js" type="text/javascript"></script>
<script type='text/javascript'> 
    var biddingArticle= <% if(locals.biddingArticle){%>
      <%- JSON.stringify(biddingArticle) %>
      <%}%>;  
    
      		 var time=biddingArticle.days;
      		 var dateTime=new Date(time);
      		
      		var dateTime1= jQuery.timeago(new Date(time));  
			$("#days_1").text(dateTime1)
   
     
           
</script>



</body>
</html>