<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/123abcd.css">
<link href="../css/bootstrap-multiselect.css" type="text/css" rel="stylesheet">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
    
</header>

  <div class="container">
    <div class="row">
    
    
      
        <div class="col-md-3 col-lg-3">
          
          <div class="nav list-group" id="sidebar">

            <ul class="nav bs-sidenav" style="background:#F7F5FA;">

                <li class="menu active">
                    <a class="primary">Hello, Admin!!<span class="pull-right"></span></a> 
                </li>

                <li class="menu" id="review_article">
                    <a class="primary" href="/manageArticle">Admin Pannel<span class="pull-right">&rsaquo;</span></a>
                </li>

                <li class="menu" id="log_out">
                    <a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
                </li>

            </ul>

          </div>

        </div>
        <div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;padding-top:20px;">
            <div class="col-lg-12">
                <div class="col-lg-12 panel panel-success" >

                  <div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
                    <form  method="post" action="/editLabelCategory">
                        <div class="col-lg-12" >  
                            <h3><b style="" >Title of the Book : <%=article.bookTitle %></b></h3>
                             <div class="col-lg-3"  id="changeLabel" style="padding-left:0;">
                                <p>Label: <%=article.label %> <input type="button" class="btn btn-primary" value="Change" id="change_label"> </p>
                              </div>
                            <div class="col-lg-3" style="padding-left:0;">
                         
                              <select name="label" id="label" style="width:100%; padding:5px;height:37px;display:none;">             
                                  <option value="label">Select Label </option>
                                  <option value="১">১</option>
                                  <option value="২">২</option>
                                  <option value="৩">৩</option>
                                  <option value="৪">৪</option>
                                  <option value="৫">৫</option>
                                  <option value="৬">৬</option>
                                  <option value="৭">৭</option>

                              </select>

                          </div>
                          <input type="text" id="articleId" name="articleId" style="display:none;" value="<%=article._id%>">
                           <div class="col-lg-3"  id="changeCategory" style="padding-left:0;">
                               <p>Category: <%=article.cetagory %> <input type="button" class="btn btn-primary" value="Change" id="change_category"> </p>

                            </div>
                            <div class="col-lg-3" style="padding-left:30px;" id="category"> 
                          
                                <select id="demo" multiple="multiple" style="display:none;">
                                    <option id="test1" value="বাংলা">বাংলা</option>
                                    <option id="test2" value="ইংরেজি">ইংরেজি</option>
                                    <option id="test3" value="গল্প">গল্প</option>
                                    <option id="test4" value="আদর্শ">আদর্শ</option>
                                    <option id="test5" value="ধর্ম">ধর্ম</option>
                                    <option id="test6" value="গণিত">গণিত</option>
                                </select>   
                              
                            </div>
                            <input  style="display:none;" type="text" name="hiddenCategory[]" id="hiddenCategory" value="" >
                            <input type="submit" class="btn btn-primary" value="Submit" id="edit" style="display:none;">
                        </div>
                      </form>

                  </div>

                </div>
                <!-- <button class="btn btn-primary pull-right" type='button' id='preview' name='preview'>Preview</button> -->
                <div id="preview_article" style="">
                <div class="col-lg-12 panel panel-success"  >

                    <div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
                      <div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 1 

                    </div>

                      <div class="col-lg-4"> 
                        <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.articleImage %>" alt="Jason's Photo" style="width: inherit" />
                      </div>
                      <div class="col-lg-8"> 
                          <%= article.title%><br>
                          <%=article.article%><br>
                          <%=article.credit%><br>
                          <%=article.bottomText%><br>

                      </div>

                    </div>

                </div>
                <% if(article.articleTitle2 != "") {%>
                <div class="col-lg-12 panel panel-success" >

                    <div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
                      <div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 2

                    </div>
                    
                      <div class="col-lg-4"> 
                        <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img2 %>" alt="Jason's Photo" style="width: inherit" />
                      </div>
                      <div class="col-lg-8"> 
                          <%= article.articleTitle2%><br>
                          <%=article.article2%><br>
                          <%=article.source2%><br>
                          <%=article.bottomText2%><br>

                      </div>

                    </div>

                </div>
                <%}%>
                 <% if(article.articleTitle3 != "") {%>
                <div class="col-lg-12 panel panel-success" >

                    <div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
                      <div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 3

                    </div>
                    
                      <div class="col-lg-4"> 
                        <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img3 %>" alt="Jason's Photo" style="width: inherit" />
                      </div>
                      <div class="col-lg-8"> 
                          <%= article.articleTitle3%><br>
                          <%=article.article3%><br>
                          <%=article.source3%><br>
                          <%=article.bottomText3%><br>

                      </div>

                    </div>

                </div>
                <%}%>
                 <% if(article.articleTitle4 != "") {%>
                <div class="col-lg-12 panel panel-success" >

                    <div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
                      <div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 4

                    </div>
                    
                      <div class="col-lg-4"> 
                        <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img4 %>" alt="Jason's Photo" style="width: inherit" />
                      </div>
                      <div class="col-lg-8"> 
                          <%= article.articleTitle4%><br>
                          <%=article.article4%><br>
                          <%=article.source4%><br>
                          <%=article.bottomText4%><br>

                      </div>

                    </div>

                </div>
                <%}%>
                 <% if(article.articleTitle5 != "") {%>
                <div class="col-lg-12 panel panel-success" >

                    <div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
                      <div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 5

                    </div>
                    
                      <div class="col-lg-4"> 
                        <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img5 %>" alt="Jason's Photo" style="width: inherit" />
                      </div>
                      <div class="col-lg-8"> 
                          <%= article.articleTitle5%><br>
                          <%=article.article5%><br>
                          <%=article.source5%><br>
                          <%=article.bottomText5%><br>

                      </div>

                    </div>

                </div>
                <%}%>
                <% if(article.articleTitle6 != "") {%>
                <div class="col-lg-12 panel panel-success" >

                    <div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
                      <div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 6

                    </div>
                    
                      <div class="col-lg-4"> 
                        <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img6 %>" alt="Jason's Photo" style="width: inherit" />
                      </div>
                      <div class="col-lg-8"> 
                          <%= article.articleTitle6%><br>
                          <%=article.article6%><br>
                          <%=article.source6%><br>
                          <%=article.bottomText6%><br>

                      </div>

                    </div>

                </div>
                <%}%>
                <% if(article.articleTitle7 != "") {%>
                <div class="col-lg-12 panel panel-success" >

                    <div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
                      <div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 7

                    </div>
                    
                      <div class="col-lg-4"> 
                        <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img7 %>" alt="Jason's Photo" style="width: inherit" />
                      </div>
                      <div class="col-lg-8"> 
                          <%= article.articleTitle7%><br>
                          <%=article.article7%><br>
                          <%=article.source7%><br>
                          <%=article.bottomText7%><br>

                      </div>

                    </div>

                </div>
                <%}%>
                <% if(article.articleTitle8 != "") {%>
                <div class="col-lg-12 panel panel-success" >

                    <div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
                      <div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 8

                    </div>
                    
                      <div class="col-lg-4"> 
                        <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img8 %>" alt="Jason's Photo" style="width: inherit" />
                      </div>
                      <div class="col-lg-8"> 
                          <%= article.articleTitle8%><br>
                          <%=article.article8%><br>
                          <%=article.source8%><br>
                          <%=article.bottomText8%><br>

                      </div>

                    </div>

                </div>
                <%}%>
                <% if(article.articleTitle9 != "") {%>
                <div class="col-lg-12 panel panel-success" >

                    <div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
                      <div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 9

                    </div>
                    
                      <div class="col-lg-4"> 
                        <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img9 %>" alt="Jason's Photo" style="width: inherit" />
                      </div>
                      <div class="col-lg-8"> 
                          <%= article.articleTitle9%><br>
                          <%=article.article9%><br>
                          <%=article.source9%><br>
                          <%=article.bottomText9%><br>

                      </div>

                    </div>

                </div>
                <%}%>
                <% if(article.articleTitle10 != "") {%>
                <div class="col-lg-12 panel panel-success" >

                    <div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
                      <div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 10

                    </div>
                    
                      <div class="col-lg-4"> 
                        <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img10 %>" alt="Jason's Photo" style="width: inherit" />
                      </div>
                      <div class="col-lg-8"> 
                          <%= article.articleTitle10%><br>
                          <%=article.article10%><br>
                          <%=article.source10%><br>
                          <%=article.bottomText10%><br>

                      </div>

                    </div>

                </div>
                <%}%>

                <% if(article.articleTitle11 != "") {%>
                <div class="col-lg-12 panel panel-success" >

                    <div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
                      <div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 11

                    </div>
                    
                      <div class="col-lg-4"> 
                        <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img11 %>" alt="Jason's Photo" style="width: inherit" />
                      </div>
                      <div class="col-lg-8"> 
                          <%= article.articleTitle11%><br>
                          <%=article.article11%><br>
                          <%=article.source11%><br>
                          <%=article.bottomText11%><br>

                      </div>

                    </div>

                </div>
                <%}%>

                <% if(article.articleTitle12 != "") {%>
                <div class="col-lg-12 panel panel-success" >

                    <div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
                      <div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 12

                    </div>
                    
                      <div class="col-lg-4"> 
                        <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img12 %>" alt="Jason's Photo" style="width: inherit" />
                      </div>
                      <div class="col-lg-8"> 
                          <%= article.articleTitle12%><br>
                          <%=article.article12%><br>
                          <%=article.source12%><br>
                          <%=article.bottomText12%><br>

                      </div>

                    </div>

                </div>
                <%}%>
                <% if(article.articleTitle13 != "") {%>
                <div class="col-lg-12 panel panel-success" >

                    <div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
                      <div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 13

                    </div>
                    
                      <div class="col-lg-4"> 
                        <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img13 %>" alt="Jason's Photo" style="width: inherit" />
                      </div>
                      <div class="col-lg-8"> 
                          <%= article.articleTitle13%><br>
                          <%=article.article13%><br>
                          <%=article.source13%><br>
                          <%=article.bottomText13%><br>

                      </div>

                    </div>

                </div>
                <%}%>
                <% if(article.articleTitle14 != "") {%>
                <div class="col-lg-12 panel panel-success" >

                    <div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
                      <div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 14

                    </div>
                    
                      <div class="col-lg-4"> 
                        <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img14 %>" alt="Jason's Photo" style="width: inherit" />
                      </div>
                      <div class="col-lg-8"> 
                          <%= article.articleTitle14%><br>
                          <%=article.article14%><br>
                          <%=article.source14%><br>
                          <%=article.bottomText14%><br>

                      </div>

                    </div>

                </div>
                <%}%>
                <% if(article.articleTitle15 != "") {%>
                <div class="col-lg-12 panel panel-success" >

                    <div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
                      <div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 15

                    </div>
                    
                      <div class="col-lg-4"> 
                        <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img15 %>" alt="Jason's Photo" style="width: inherit" />
                      </div>
                      <div class="col-lg-8"> 
                          <%= article.articleTitle15%><br>
                          <%=article.article15%><br>
                          <%=article.source15%><br>
                          <%=article.bottomText15%><br>

                      </div>

                    </div>

                </div>
                <%}%>
                <% if(article.articleTitle16 != "") {%>
                <div class="col-lg-12 panel panel-success" >

                    <div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
                      <div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 16

                    </div>
                    
                      <div class="col-lg-4"> 
                        <img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=article.img16 %>" alt="Jason's Photo" style="width: inherit" />
                      </div>
                      <div class="col-lg-8"> 
                          <%= article.articleTitle16%><br>
                          <%=article.article16%><br>
                          <%=article.source16%><br>
                          <%=article.bottomText16%><br>

                      </div>

                    </div>

                </div>
                <%}%>
              </div>


            </div>

        </div>
    </div>
  </div>

</body>


<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.js" ></script>
<script src="/js/jquery.nav.js" ></script>
<script src="../js/bootstrap-multiselect.js" ></script>
<script type='text/javascript'> 
        $(document).ready(function() 
        {
            $('#sidebar').affix({offset: {top: $('header').height()}}); 
            $("#preview").click(function(){
              $("#preview_article").show();
              $("#preview").hide();
            })

           
            $("#change_label").click(function(){
              $("#label").show();
              $("#changeLabel").hide();
              $("#edit").show();

            })

            $("#change_category").click(function(){
              $('#demo').multiselect();
              $("#category").show();
              $("#changeCategory").hide();
              $("#edit").show();
            })


        });

        $("#edit").click(function(){
            var $category=[];
            $('#demo :selected').each(function(i, selected) {  
              $category[i]=selected.value;
              console.log("$category"); 
            });
            console.log($category);
            console.log($category.length)
            $('#hiddenCategory').val($category); 
        })
        
</script>


</html>