<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/123abcd.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>

	<div class="container">
		<div class="row">
		
		
			
				<div class="col-md-3 col-lg-3">
					
					<div class="nav list-group" id="sidebar">

						<ul class="nav bs-sidenav" style="background:#F7F5FA;">

							  <li class="menu active">
							  		<a class="primary">Hello, Author!!<span class="pull-right">&rsaquo;</span></a> 
							  </li>
							   <li class="menu active" id="authorPenel">
							  	<a class="primary" href="/userArticle">Author Pannel<span class="pull-right">&rsaquo;</span></a>
							  </li>
						  		<li class="menu" id="new_article">
						  			<a class="primary" href="/writeNewArticle">Submit New Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
						  		<li class="menu" id="guide_line">
						  			<a class="primary" href="/previous">Previous Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
							  <li class="menu" id="guide_line">
							  	<a class="primary" href="#">Guide Lines<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="log_out">
							  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="password">
							  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="update_profile">
							  	<a class="primary" href="/users/updateUserProfile">Update Profile<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu active" id="homepage">
							  	<a class="primary" href="/">Home Page<span class="pull-right">&rsaquo;</span></a>
							  </li>
						</ul>

					</div>

				</div>
				<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;padding-top:20px;">
						<div class="col-lg-12">
								<div class="col-lg-12 panel panel-success" >
									<div class="col-lg-4">
										<img class="img-thumbnail" style="width:185;height:160;" id="new_image"   src="../article_image/<%=singleArticle.homePic %>" alt="Jason's Photo" style="width: inherit" />
									</div>
									<div class="col-lg-6" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
										<div class="col-lg-12" >	
												<h3><b>Title of the Book : <%=singleArticle.bookTitle %></b></h3>
										</div>
										<div class="col-lg-12" >	
												<h5><b>Author name : <%=articleUser.name %></b></h5>
										</div>
										<div class="col-lg-12" >	
												<h5><b>Illustrator name : <%=singleArticle.artistName %></b></h5>
										</div>

									</div>

								</div>
								<div id="preview_show" style="display:none;">
									<%if(singleArticle.status=='Rejected'){%>
										<%if(singleArticle.rejectMessage && singleArticle.rejectMessage!=''){%>
											Reason of rejection: <%= singleArticle.rejectMessage%>
										<%}%>
									<%}%>
								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 1 

										</div>

											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.articleImage %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-8"> 
													<%= singleArticle.title%><br>
													<%=singleArticle.article%><br>
													<%=singleArticle.credit%><br>
													<%=singleArticle.bottomText%><br>

											</div>

										</div>

								</div>

								<% if(singleArticle.articleTitle2 != "") {%>

										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 2

												</div>
												
													<div class="col-lg-4"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.img2 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-8"> 
															<%= singleArticle.articleTitle2%><br>
															<%=singleArticle.article2%><br>
															<%=singleArticle.source2%><br>
															<%=singleArticle.bottomText2%><br>

													</div>

												</div>

										</div>

								<% } %>

								<% if(singleArticle.articleTitle3 != "") {%>

										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 3

												</div>
												
													<div class="col-lg-4"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.img3 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-8"> 
															<%= singleArticle.articleTitle3%><br>
															<%=singleArticle.article3%><br>
															<%=singleArticle.source3%><br>
															<%=singleArticle.bottomText3%><br>

													</div>

												</div>

										</div>

								<% } %>

								<% if(singleArticle.articleTitle4 != "") {%>
										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 4

												</div>
												
													<div class="col-lg-4"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.img4 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-8"> 
															<%= singleArticle.articleTitle4%><br>
															<%=singleArticle.article4%><br>
															<%=singleArticle.source4%><br>
															<%=singleArticle.bottomText4%><br>

													</div>

												</div>

										</div>

								<% } %>


<% if(singleArticle.morepage==1 || singleArticle.morepage==2 || singleArticle==3  ) {%>

								<% if(singleArticle.articleTitle5 != "") {%>

										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 5

												</div>
												
													<div class="col-lg-4"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.img5 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-8"> 
															<%= singleArticle.articleTitle5%><br>
															<%=singleArticle.article5%><br>
															<%=singleArticle.source5%><br>
															<%=singleArticle.bottomText5%><br>

													</div>

												</div>

										</div>
								<% } %>

								<% if(singleArticle.articleTitle6 != "") {%>
										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 6

												</div>
												
													<div class="col-lg-4"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.img6 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-8"> 
															<%= singleArticle.articleTitle6%><br>
															<%=singleArticle.article6%><br>
															<%=singleArticle.source6%><br>
															<%=singleArticle.bottomText6%><br>

													</div>

												</div>

										</div>
								<% } %>

								<% if(singleArticle.articleTitle7 != "") {%>

										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 7

												</div>
												
													<div class="col-lg-4"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.img7 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-8"> 
															<%= singleArticle.articleTitle7%><br>
															<%=singleArticle.article7%><br>
															<%=singleArticle.source7%><br>
															<%=singleArticle.bottomText7%><br>

													</div>

												</div>

										</div>
								<% } %>

								<% if(singleArticle.articleTitle8 != "") {%>

										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 8

												</div>
												
													<div class="col-lg-4"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.img8 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-8"> 
															<%= singleArticle.articleTitle8%><br>
															<%=singleArticle.article8%><br>
															<%=singleArticle.source8%><br>
															<%=singleArticle.bottomText8%><br>

													</div>

												</div>

										</div>
								<% } %>

	<% } %>

	<% if( singleArticle.morepage==2 || singleArticle.morepage==3) {%>
								<% if(singleArticle.articleTitle9 != "") {%>

										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 9

												</div>
												
													<div class="col-lg-4"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.img9 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-8"> 
															<%= singleArticle.articleTitle9%><br>
															<%=singleArticle.article9%><br>
															<%=singleArticle.source9%><br>
															<%=singleArticle.bottomText9%><br>

													</div>

												</div>

										</div>
								<% } %>

								<% if(singleArticle.articleTitle10 != "") {%>
										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 10

												</div>
												
													<div class="col-lg-4"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.img10 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-8"> 
															<%= singleArticle.articleTitle10%><br>
															<%=singleArticle.article10%><br>
															<%=singleArticle.source10%><br>
															<%=singleArticle.bottomText10%><br>

													</div>

												</div>

										</div>
								<% } %>

								<% if(singleArticle.articleTitle11 != "") {%>
										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 11

												</div>
												
													<div class="col-lg-4"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.img11 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-8"> 
															<%= singleArticle.articleTitle11%><br>
															<%=singleArticle.article11%><br>
															<%=singleArticle.source11%><br>
															<%=singleArticle.bottomText11%><br>

													</div>

												</div>

										</div>
								<% } %>

								<% if(singleArticle.articleTitle12 != "") {%>
										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 12

												</div>
												
													<div class="col-lg-4"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.img12 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-8"> 
															<%= singleArticle.articleTitle12%><br>
															<%=singleArticle.article12%><br>
															<%=singleArticle.source12%><br>
															<%=singleArticle.bottomText12%><br>

													</div>

												</div>

										</div>
								<% } %>

	<% } %>
	<% if(singleArticle.morepage==3) {%>

								<% if(singleArticle.articleTitle13 != "") {%>

										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 13

												</div>
												
													<div class="col-lg-4"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.img13 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-8"> 
															<%= singleArticle.articleTitle13%><br>
															<%=singleArticle.article13%><br>
															<%=singleArticle.source13%><br>
															<%=singleArticle.bottomText13%><br>

													</div>

												</div>

										</div>
								<% } %>

								<% if(singleArticle.articleTitle14 != "") {%>
										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 14

												</div>
												
													<div class="col-lg-4"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.img14 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-8"> 
															<%= singleArticle.articleTitle14%><br>
															<%=singleArticle.article14%><br>
															<%=singleArticle.source14%><br>
															<%=singleArticle.bottomText14%><br>

													</div>

												</div>

										</div>
								<% } %>

								<% if(singleArticle.articleTitle15 != "") {%>
										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 15

												</div>
												
													<div class="col-lg-4"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.img15 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-8"> 
															<%= singleArticle.articleTitle15%><br>
															<%=singleArticle.article15%><br>
															<%=singleArticle.source15%><br>
															<%=singleArticle.bottomText15%><br>

													</div>

												</div>

										</div>
								<% } %>

								<% if(singleArticle.articleTitle16 != "") {%>
										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 16

												</div>
												
													<div class="col-lg-4"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=singleArticle.img16 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-8"> 
															<%= singleArticle.articleTitle16%><br>
															<%=singleArticle.article16%><br>
															<%=singleArticle.source16%><br>
															<%=singleArticle.bottomText16%><br>

													</div>

												</div>

										</div>
								<% } %>
	<% } %>							

					</div>
					<div class="col-lg-6 pull-right" style="padding-right:0;">
										
										<button class="btn btn-primary pull-right" style="width:25%;" type="button" 
										id="draft_preview">Preview</button>

									</div>
						</div>

						<% if(singleArticle.status == 'draft') {%>

								<div class="col-lg-12">
									
									<div class="col-lg-6" id="info" style="display:none;">
									 		<p style="color:green"> Article Submitted Successfully </p> 
									</div>

										
									<div class="col-lg-2 pull-right" style="padding-right:0;">
										
										<button class="btn btn-primary pull-right" style="width:80%;display:none;" type="button" 
										id="submit_draft">Submit</button>

									</div>
									
								</div>
						<%}%>
				</div>
		</div>
	</div>

</body>


<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.js" ></script>
<script src="/js/jquery.nav.js" ></script>

<script type='text/javascript'> 
        $(document).ready(function() 
        {
            $('#sidebar').affix({offset: {top: $('header').height()}});	

        });

        $("#submit_draft").click(function(){

        		var id= "<%= singleArticle._id %>";
        		console.log(id);

				$.ajax({ url: '/submitDraft',
		         data: { 
		         	id:id,
		         },
		         type: 'POST',
		         success: function(output) 
		         {
		         	console.log(output);
		         	$("#info").show();
		         	$("#submit_draft").hide();
		         	
		          }
		   	});
        });

        $("#draft_preview").click(function(){
        	$("#preview_show").show();
        	$("#draft_preview").hide();
        	<% if(singleArticle.status == 'draft') {%>
        		$("#submit_draft").show();
        	<%}%>	
        });
        
</script>


</html>