<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>


	<div class="container">
		<div class="row">



				<div class="col-md-3 col-lg-3">
					
					<div class="nav list-group" id="sidebar">

						<ul class="nav bs-sidenav" style="background:#F7F5FA;">
								  <li class="menu" id="manage_articles">
								  	<a class="primary" href="/manageArticle">Manage Articles<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_members"> 
								  	<a class="primary" href="/manageMembers">Manage Members<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_website">
								  	<a class="primary" href="/managewebsite">Manage Website<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_website">
								  	<a class="primary" href="/allauthors">All Authors<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="view_donation">
								  	<a class="primary" href="/viewdonation">View Donation<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="view_distribution">
								  	<a class="primary" href="/viewdistribution">Production and Distribution<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_cost">
								  	<a class="primary" href="/managecost">Manage Cost<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="log_out">
								  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="password_change">
								  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
								  </li>
							</ul>

					</div>

				</div>


				

				<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;padding-top:40px;">
					<div class="col-lg-12" align="center" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;"> <h2>Request Author’s Approval</h2> </div>
						<div class="col-lg-12">
						<form method="post" action="/selectionSubmit" enctype="multipart/form-data">
							<input type="text" value="<%=article._id%>" id="articleID" name="articleID" style="display:none;">
							<input type="text" value="<%=author%>" id="userId" name="userId" style="display:none;">
							<table class="table table-bordered">
							      <thead>
							        <tr>
							          
							          <th class="text-center">Page No.</th>
							          <th class="text-center">Text</th>
							          <th class="text-center">Image 1</th>
							          <th class="text-center">Image 2</th>
							          <th class="text-center">Image 3</th>

							        </tr>
							      </thead>
							
									<tbody>
										<tr>
											<td>1</td>
											<td><%=article.title%></td>
											<td><%if(article.artistImagePage1[0]){%>
												<input type="checkbox" id="checkbox_11" onclick="check(this)" name="checkbox_11"><img id="img_11" name="img_11" src="<%=article.artistImagePage1[0].img%>" style="height:50px;width:50px;margin-left:5px;">
												<%}%>
											</td>
											<td><%if(article.artistImagePage1[1]){%>
												<input id="checkbox_12" onclick="check(this)" name="checkbox_12" type="checkbox"><img id="img_12" name="img_12" src="<%=article.artistImagePage1[1].img%>" style="height:50px;width:50px;margin-left:5px;">
												<%}%>
											</td>
											<td><%if(article.artistImagePage1[2]){%>
												<input id="checkbox_13" onclick="check(this)" name="checkbox_13" type="checkbox"><img id="img_13" name="img_13" src="<%=article.artistImagePage1[2].img%>" style="height:50px;width:50px;margin-left:5px;">
												<%}%>
											</td>
										</tr>

										<%if(article.articleTitle2&&article.articleTitle2 != ''){%>
											<tr>
												<td>2</td>
												<td><%=article.articleTitle2%></td>
												<td><%if(article.artistImagePage2[0]){%>
													<input id="checkbox_21" onclick="check(this)" name="checkbox_21" type="checkbox"><img id="img_21" name="img_21" src="<%=article.artistImagePage2[0].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
												<td><%if(article.artistImagePage2[1]){%>
													<input id="checkbox_22" onclick="check(this)" name="checkbox_22" type="checkbox"><img id="img_22" name="img_22" src="<%=article.artistImagePage2[1].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
												<td><%if(article.artistImagePage2[2]){%>
													<input id="checkbox_23" onclick="check(this)" name="checkbox_23" type="checkbox"><img id="img_23" name="img_23" src="<%=article.artistImagePage2[2].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
										</tr>
										<%}%>
										<%if(article.articleTitle3&&article.articleTitle3 != ''){%>
											<tr>
												<td>3</td>
												<td><%=article.articleTitle3%></td>
												<td><%if(article.artistImagePage3[0]){%>
													<input id="checkbox_31" onclick="check(this)" name="checkbox_31" type="checkbox"><img id="img_31" name="img_31" src="<%=article.artistImagePage3[0].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
												<td><%if(article.artistImagePage3[1]){%>
													<input id="checkbox_32" onclick="check(this)" name="checkbox_32" type="checkbox"><img id="img_32" name="img_32" src="<%=article.artistImagePage3[1].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
												<td><%if(article.artistImagePage3[2]){%>
													<input id="checkbox_33" onclick="check(this)" name="checkbox_33" type="checkbox"><img id="img_33" name="img_33" src="<%=article.artistImagePage3[2].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
										</tr>
										<%}%>
										<%if(article.articleTitle4&&article.articleTitle4 != ''){%>
											<tr>
												<td>4</td>
												<td><%=article.articleTitle4%></td>
												<td><%if(article.artistImagePage4[0]){%>
													<input id="checkbox_41" onclick="check(this)" name="checkbox_41" type="checkbox"><img id="img_41" name="img_41" src="<%=article.artistImagePage4[0].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
												<td><%if(article.artistImagePage4[1]){%>
													<input id="checkbox_42" onclick="check(this)" name="checkbox_42" type="checkbox"><img id="img_42" name="img_42" src="<%=article.artistImagePage4[1].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
												<td><%if(article.artistImagePage4[2]){%>
													<input id="checkbox_43" onclick="check(this)" name="checkbox_43" type="checkbox"><img id="img_43" name="img_43" src="<%=article.artistImagePage4[2].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
										</tr>
										<%}%>
										<%if(article.articleTitle5&&article.articleTitle5 != ''){%>
											<tr>
												<td>5</td>
												<td><%=article.articleTitle5%></td>
												<td><%if(article.artistImagePage5[0]){%>
													<input id="checkbox_51" onclick="check(this)" name="checkbox_51" type="checkbox"><img id="img_51" name="img_51" src="<%=article.artistImagePage5[0].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
												<td><%if(article.artistImagePage5[1]){%>
													<input id="checkbox_52" onclick="check(this)" name="checkbox_52" type="checkbox"><img id="img_52" name="img_52" src="<%=article.artistImagePage5[1].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
												<td><%if(article.artistImagePage5[2]){%>
													<input id="checkbox_53" onclick="check(this)" name="checkbox_53" type="checkbox"><img id="img_53" name="img_53" src="<%=article.artistImagePage5[2].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
										</tr>
										<%}%>
										<%if(article.articleTitle6&&article.articleTitle6 != ''){%>
											<tr>
												<td>6</td>
												<td><%=article.articleTitle6%></td>
												<td><%if(article.artistImagePage6[0]){%>
													<input id="checkbox_61" onclick="check(this)" name="checkbox_61" type="checkbox"><img id="img_61" name="img_61" src="<%=article.artistImagePage6[0].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
												<td><%if(article.artistImagePage6[1]){%>
													<input id="checkbox_62" onclick="check(this)" name="checkbox_62" type="checkbox"><img id="img_62" name="img_62" src="<%=article.artistImagePage6[1].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
												<td><%if(article.artistImagePage6[2]){%>
													<input id="checkbox_63" onclick="check(this)" name="checkbox_63" type="checkbox"><img id="img_63" name="img_63" src="<%=article.artistImagePage6[2].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
										</tr>
										<%}%>
										<%if(article.articleTitle7&&article.articleTitle7 != ''){%>
											<tr>
												<td>7</td>
												<td><%=article.articleTitle7%></td>
												<td><%if(article.artistImagePage7[0]){%>
													<input id="checkbox_71" onclick="check(this)" name="checkbox_71" type="checkbox"><img id="img_71" name="img_71" src="<%=article.artistImagePage7[0].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
												<td><%if(article.artistImagePage7[1]){%>
													<input id="checkbox_72" onclick="check(this)" name="checkbox_72" type="checkbox"><img id="img_72" name="img_72" src="<%=article.artistImagePage7[1].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
												<td><%if(article.artistImagePage7[2]){%>
													<input id="checkbox_73"  onclick="check(this)" name="checkbox_73" type="checkbox"><img id="img_73" name="img_73" src="<%=article.artistImagePage7[2].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
										</tr>
										<%}%>
										<%if(article.articleTitle8&&article.articleTitle8 != ''){%>
											<tr>
												<td>8</td>
												<td><%=article.articleTitle8%></td>
												<td><%if(article.artistImagePage8[0]){%>
													<input id="checkbox_81" onclick="check(this)" name="checkbox_81" type="checkbox"><img id="img_81" name="img_81" src="<%=article.artistImagePage8[0].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
												<td><%if(article.artistImagePage8[1]){%>
													<input id="checkbox_82" name="checkbox_82" type="checkbox"><img id="img_82" name="img_82" src="<%=article.artistImagePage8[1].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
												<td><%if(article.artistImagePage8[2]){%>
													<input id="checkbox_83" name="checkbox_83" type="checkbox"><img id="img_83" name="img_83" src="<%=article.artistImagePage8[2].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
										</tr>
										<%}%>
										<%if(article.articleTitle9&&article.articleTitle9 != ''){%>
											<tr>
												<td>9</td>
												<td><%=article.articleTitle9%></td>
												<td><%if(article.artistImagePage9[0]){%>
													<input id="checkbox_91" onclick="check(this)" name="checkbox_91" type="checkbox"><img id="img_91" name="img_91" src="<%=article.artistImagePage9[0].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
												<td><%if(article.artistImagePage9[1]){%>
													<input id="checkbox_92" onclick="check(this)" name="checkbox_92" type="checkbox"><img id="img_92" name="img_92" src="<%=article.artistImagePage9[1].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
												<td><%if(article.artistImagePage9[2]){%>
													<input id="checkbox_93" onclick="check(this)" name="checkbox_93" type="checkbox"><img id="img_93" name="img_93" src="<%=article.artistImagePage9[2].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
										</tr>
										<%}%>
										<%if(article.articleTitle10&&article.articleTitle10 != ''){%>
											<tr>
												<td>10</td>
												<td><%=article.articleTitle10%></td>
												<td><%if(article.artistImagePage10[0]){%>
													<input id="checkbox_101" onclick="check(this)" name="checkbox_101" type="checkbox"><img id="img_101" name="img_101" src="<%=article.artistImagePage10[0].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
												<td><%if(article.artistImagePage10[1]){%>
													<input id="checkbox_102" onclick="check(this)" name="checkbox_102" type="checkbox"><img id="img_102" name="img_102" src="<%=article.artistImagePage10[1].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
												<td><%if(article.artistImagePage10[2]){%>
													<input id="checkbox_103" onclick="check(this)" name="checkbox_103" type="checkbox"><img id="img_103" name="img_103" src="<%=article.artistImagePage10[2].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
										</tr>
										<%}%>
										<%if(article.articleTitle11&&article.articleTitle11 != ''){%>
											<tr>
												<td>11</td>
												<td><%=article.articleTitle11%></td>
												<td><%if(article.artistImagePage11[0]){%>
													<input id="checkbox_111" onclick="check(this)" name="checkbox_111" type="checkbox"><img id="img_111" name="img_111" src="<%=article.artistImagePage11[0].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
												<td><%if(article.artistImagePage11[1]){%>
													<input id="checkbox_112" onclick="check(this)" name="checkbox_112" type="checkbox"><img id="img_112" name="img_112" src="<%=article.artistImagePage11[1].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
												<td><%if(article.artistImagePage11[2]){%>
													<input id="checkbox_113" onclick="check(this)" name="checkbox_113" type="checkbox"><img id="img_113" name="img_113" src="<%=article.artistImagePage11[2].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
										</tr>
										<%}%>
										<%if(article.articleTitle12&&article.articleTitle12 != ''){%>
											<tr>
												<td>12</td>
												<td><%=article.articleTitle12%></td>
												<td><%if(article.artistImagePage12[0]){%>
													<input id="checkbox_121" onclick="check(this)" name="checkbox_121" type="checkbox"><img id="img_121" name="img_121" src="<%=article.artistImagePage12[0].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
												<td><%if(article.artistImagePage12[1]){%>
													<input id="checkbox_122" onclick="check(this)" name="checkbox_122" type="checkbox"><img id="img_122" name="img_122" src="<%=article.artistImagePage12[1].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
												<td><%if(article.artistImagePage12[2]){%>
													<input id="checkbox_123" onclick="check(this)" name="checkbox_123" type="checkbox"><img id="img_123" name="img_123" src="<%=article.artistImagePage12[2].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
										</tr>
										<%}%>
										<%if(article.articleTitle13&&article.articleTitle13 != ''){%>
											<tr>
												<td>13</td>
												<td><%=article.articleTitle13%></td>
												<td><%if(article.artistImagePage13[0]){%>
													<input id="checkbox_131" onclick="check(this)" name="checkbox_131" type="checkbox"><img id="img_131" name="img_131" src="<%=article.artistImagePage13[0].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
												<td><%if(article.artistImagePage13[1]){%>
													<input id="checkbox_132" onclick="check(this)" name="checkbox_132" type="checkbox"><img id="img_132" name="img_132" src="<%=article.artistImagePage13[1].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
												<td><%if(article.artistImagePage13[2]){%>
													<input id="checkbox_133" onclick="check(this)" name="checkbox_133" type="checkbox"><img id="img_133" name="img_133" src="<%=article.artistImagePage13[2].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
										</tr>
										<%}%>
										<%if(article.articleTitle14&&article.articleTitle14 != ''){%>
											<tr>
												<td>14</td>
												<td><%=article.articleTitle14%></td>
												<td><%if(article.artistImagePage14[0]){%>
													<input id="checkbox_141" onclick="check(this)" name="checkbox_141" type="checkbox"><img id="img_141" name="img_141" src="<%=article.artistImagePage14[0].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
												<td><%if(article.artistImagePage14[1]){%>
													<input id="checkbox_142" onclick="check(this)" name="checkbox_142" type="checkbox"><img id="img_142" name="img_142" src="<%=article.artistImagePage14[1].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
												<td><%if(article.artistImagePage14[2]){%>
													<input id="checkbox_143" onclick="check(this)" name="checkbox_143" type="checkbox"><img id="img_143" name="img_143" src="<%=article.artistImagePage14[2].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
										</tr>
										<%}%>
										<%if(article.articleTitle15&&article.articleTitle15 != ''){%>
											<tr>
												<td>15</td>
												<td><%=article.articleTitle15%></td>
												<td><%if(article.artistImagePage15[0]){%>
													<input id="checkbox_151" onclick="check(this)" name="checkbox_151" type="checkbox"><img id="img_151" name="img_151" src="<%=article.artistImagePage15[0].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
												<td><%if(article.artistImagePage15[1]){%>
													<input id="checkbox_152" onclick="check(this)" name="checkbox_152" type="checkbox"><img id="img_152" name="img_152" src="<%=article.artistImagePage15[1].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
												<td><%if(article.artistImagePage15[2]){%>
													<input id="checkbox_153" onclick="check(this)" name="checkbox_153" type="checkbox"><img id="img_153" name="img_153" src="<%=article.artistImagePage15[2].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
										</tr>
										<%}%>
										<%if(article.articleTitle16&&article.articleTitle16 != ''){%>
											<tr>
												<td>16</td>
												<td><%=article.articleTitle16%></td>
												<td><%if(article.artistImagePage16[0]){%>
													<input id="checkbox_161" onclick="check(this)" name="checkbox_161" type="checkbox"><img id="img_161" name="img_161" src="<%=article.artistImagePage16[0].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
												<td><%if(article.artistImagePage16[1]){%>
													<input id="checkbox_162" onclick="check(this)" name="checkbox_162" type="checkbox"><img id="img_162" name="img_162" src="<%=article.artistImagePage16[1].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
												<td><%if(article.artistImagePage16[2]){%>
													<input id="checkbox_163" onclick="check(this)" name="checkbox_163" type="checkbox"><img id="img_163" name="img_163" src="<%=article.artistImagePage16[2].img%>" style="height:50px;width:50px;margin-left:5px;">
													<%}%>
												</td>
										</tr>
										<%}%>
									</tbody>	
							</table>

						<input type="submit" class="btn btn-primary pull-right" value="Submit my selection">
					</form>
				</div>
				</div>

				

		</div>
	</div>
<script src="lib/jquery/jquery.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>

<script type='text/javascript'> 
        $(document).ready(function() {
            $('#sidebar').affix({offset: {top: $('header').height()}});	
        });
        
</script>

<script>
	function check(elem){
		var id = $(elem).attr("id");
		 var x= id.split("_");
	     var idd=x[1];
	     var ind=idd[idd.length-1];
	    //  alert(ind);

          // var ischeck=$('input:checkbox[name='+id+']').is(':checked');
           for(var i=1;i<=3;i++){
          var c_id = id.substring(0,id.length-1)+i;
           	//alert(c_id)
           	 if(i==ind)
           	{
           			//alert(i)
           		 $('input:checkbox[name='+c_id+']').attr('checked',true);
           		//  alert($('input:checkbox[name='+id+']').is(':checked'));
           	}
           	else{
           		 $('input:checkbox[name='+c_id+']').attr('checked',false);
           	}
           }
	}
</script>
</body>
</html>