<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>


	<div class="container">
		<div class="row">



				<div class="col-md-3 col-lg-3">
					
					<div class="nav list-group" id="sidebar">

						<ul class="nav bs-sidenav" style="background:#F7F5FA;">
								  <li class="menu" id="manage_articles">
								  	<a class="primary" href="/manageArticle">Manage Articles<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_members"> 
								  	<a class="primary" href="/manageMembers">Manage Members<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_website">
								  	<a class="primary" href="/managewebsite">Manage Website<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_website">
								  	<a class="primary" href="/allauthors">All Authors<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="view_donation">
								  	<a class="primary" href="/viewdonation">View Donation<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="view_distribution">
								  	<a class="primary" href="/viewdistribution">Production and Distribution<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="manage_cost">
								  	<a class="primary" href="/managecost">Manage Cost<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="log_out">
								  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
								  </li>

								  <li class="menu" id="password_change">
								  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
								  </li>
							</ul>

					</div>

				</div>


				

				<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;padding-top:40px;">
					<div class="col-lg-12" align="center" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;"> <h2>Request Author’s Approval</h2> </div>
					<div class="col-lg-12">
					<form method="post" action="" enctype="multipart/form-data">
					
					<table class="table table-bordered">
					      <thead>
					        <tr>
					          
					          <th class="text-center">Page No.</th>
					          <th class="text-center">Text</th>
					          <th class="text-center">Image</th>
					         

					        </tr>
					      </thead>
					
							<tbody>
								<tr>
									<td>1</td>
									<td><%=article.title%></td>
									<td>
										<img id="img_11" name="img_11" src="<%=article.articleImage%>" style="height:50px;width:50px;margin-left:5px;">
									</td>
									
								</tr>

								<%if(article.articleTitle2&&article.articleTitle2 != ''){%>
									<tr>
										<td>2</td>
										<td><%=article.articleTitle2%></td>
										<td>
											<img id="img_21" name="img_21" src="<%=article.img2%>" style="height:50px;width:50px;margin-left:5px;">
										</td>
										
								</tr>
								<%}%>
								<%if(article.articleTitle3&&article.articleTitle3 != ''){%>
									<tr>
										<td>3</td>
										<td><%=article.articleTitle3%></td>
										<td>
											<img id="img_31" name="img_31" src="<%=article.img3%>" style="height:50px;width:50px;margin-left:5px;">
										</td>
										
								</tr>
								<%}%>
								<%if(article.articleTitle4&&article.articleTitle4 != ''){%>
									<tr>
										<td>4</td>
										<td><%=article.articleTitle4%></td>
										<td>
											<img id="img_41" name="img_41" src="<%=article.img4%>" style="height:50px;width:50px;margin-left:5px;">
										</td>
										
								</tr>
								<%}%>
								<%if(article.articleTitle5&&article.articleTitle5 != ''){%>
									<tr>
										<td>5</td>
										<td><%=article.articleTitle5%></td>
										<td>
											<img id="img_51" name="img_51" src="<%=article.img5%>" style="height:50px;width:50px;margin-left:5px;">
										</td>
										
								</tr>
								<%}%>
								<%if(article.articleTitle6&&article.articleTitle6 != ''){%>
									<tr>
										<td>6</td>
										<td><%=article.articleTitle6%></td>
										<td>
											<img id="img_61" name="img_61" src="<%=article.img6%>" style="height:50px;width:50px;margin-left:5px;">
										</td>
										
								</tr>
								<%}%>
								<%if(article.articleTitle7&&article.articleTitle7 != ''){%>
									<tr>
										<td>7</td>
										<td><%=article.articleTitle7%></td>
										<td>
											<img id="img_71" name="img_71" src="<%=article.img7%>" style="height:50px;width:50px;margin-left:5px;">
										</td>
										
								</tr>
								<%}%>
								<%if(article.articleTitle8&&article.articleTitle8 != ''){%>
									<tr>
										<td>8</td>
										<td><%=article.articleTitle8%></td>
										<td>
											<img id="img_81" name="img_81" src="<%=article.img8%>" style="height:50px;width:50px;margin-left:5px;">
										</td>
									
								</tr>
								<%}%>
								<%if(article.articleTitle9&&article.articleTitle9 != ''){%>
									<tr>
										<td>9</td>
										<td><%=article.articleTitle9%></td>
										<td>
											<img id="img_91" name="img_91" src="<%=article.img9%>" style="height:50px;width:50px;margin-left:5px;">
										</td>
										
								</tr>
								<%}%>
								<%if(article.articleTitle10&&article.articleTitle10 != ''){%>
									<tr>
										<td>10</td>
										<td><%=article.articleTitle10%></td>
										<td>
											<img id="img_101" name="img_101" src="<%=article.img10%>" style="height:50px;width:50px;margin-left:5px;">
										</td>
										
								</tr>
								<%}%>
								<%if(article.articleTitle11&&article.articleTitle11 != ''){%>
									<tr>
										<td>11</td>
										<td><%=article.articleTitle11%></td>
										<td>
											<img id="img_111" name="img_111" src="<%=article.img11%>" style="height:50px;width:50px;margin-left:5px;">
										</td>
										
								</tr>
								<%}%>
								<%if(article.articleTitle12&&article.articleTitle12 != ''){%>
									<tr>
										<td>12</td>
										<td><%=article.articleTitle12%></td>
										<td>
											<img id="img_121" name="img_121" src="<%=article.img12%>" style="height:50px;width:50px;margin-left:5px;">
										</td>
									
								</tr>
								<%}%>
								<%if(article.articleTitle13&&article.articleTitle13 != ''){%>
									<tr>
										<td>13</td>
										<td><%=article.articleTitle13%></td>
										<td>
											<img id="img_131" name="img_131" src="<%=article.img13%>" style="height:50px;width:50px;margin-left:5px;">
										</td>
										
								</tr>
								<%}%>
								<%if(article.articleTitle14&&article.articleTitle14 != ''){%>
									<tr>
										<td>14</td>
										<td><%=article.articleTitle14%></td>
										<td>
											<img id="img_141" name="img_141" src="<%=article.img14%>" style="height:50px;width:50px;margin-left:5px;">
										</td>
										
								</tr>
								<%}%>
								<%if(article.articleTitle15&&article.articleTitle15 != ''){%>
									<tr>
										<td>15</td>
										<td><%=article.articleTitle15%></td>
										<td>
											<img id="img_151" name="img_151" src="<%=article.img15%>" style="height:50px;width:50px;margin-left:5px;">
										</td>
									
								</tr>
								<%}%>
								<%if(article.articleTitle16&&article.articleTitle16 != ''){%>
									<tr>
										<td>16</td>
										<td><%=article.articleTitle16%></td>
										<td>
											<img id="img_161" name="img_161" src="<%=article.img16%>" style="height:50px;width:50px;margin-left:5px;">
										</td>
										
								</tr>
								<%}%>
							</tbody>	
					</table>

					<!-- <input type="submit" class="btn btn-primary pull-right" value="Submit my selection"> -->
				</form>
			</div>
				</div>

				

		</div>
	</div>
<script src="lib/jquery/jquery.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>

<script type='text/javascript'> 
        $(document).ready(function() {
            $('#sidebar').affix({offset: {top: $('header').height()}});	
        });
        
</script>

<script>

</script>
</body>
</html>