<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>patar boi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/123abcd.css">

<!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll">
<header class="masthead" id="home">
		
</header>

	<div class="container">
		<div class="row">
		
		
			
				<div class="col-md-3 col-lg-3">
					
					<div class="nav list-group" id="sidebar">

						<ul class="nav bs-sidenav" style="background:#F7F5FA;">

							 <!--  <li class="menu active">
							  		<a class="primary">Hello, Reviewer !!<span class="pull-right">&rsaquo;</span></a> 
							  </li>

							  <li class="menu" id="review_article">
							  		<a class="primary" href="/reviewarticle">Reviewer Pannel<span class="pull-right">&rsaquo;</span></a>
							  </li>

							  <li class="menu active" id="authorPenel">
							  	<a class="primary" href="/userArticle">Author Pannel<span class="pull-right">&rsaquo;</span></a>
							  </li>
						  		<li class="menu" id="new_article">
						  			<a class="primary" href="/writeNewArticle">Submit New Article<span class="pull-right">&rsaquo;</span></a>
						  		</li>
						  		<li class="menu" id="guide_line">
						  			<a class="primary" href="/previous">Previous Article<span class="pull-right">&rsaquo;</span></a>
						  		</li> -->
							   <li class="menu active">
							  		<a class="primary" href="/reviewerpanel">Reviewer's Panel<span class="pull-right">&rsaquo;</span></a> 
							  </li>
							  <li class="menu" id="decide_review">
							  		<a class="primary" href="/decide2review">Accept a Request<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="currently_reviewing">
							  		<a class="primary" href="/reviewarticle">Submit a Review <span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="guide_line">
						  			<a class="primary" href="/previouslyreviewed">Previous Review<span class="pull-right">&rsaquo;</span></a>
						  		</li>
							  <li class="menu" id="guide_line">
							  	<a class="primary" href="#">Guide Lines<span class="pull-right">&rsaquo;</span></a></li>
							  <li class="menu" id="log_out">
							  	<a class="primary" href="signout">Log Out<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="password">
							  	<a class="primary" href="#">Change Password<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu" id="update_profile">
							  	<a class="primary" href="/users/updateUserProfile">Update Profile<span class="pull-right">&rsaquo;</span></a>
							  </li>
							  <li class="menu active" id="homepage">
							  	<a class="primary" href="/">Home Page<span class="pull-right">&rsaquo;</span></a>
							  </li>
						</ul>

					</div>

				</div>
				<div class="col-md-9 pull-right" style="border-left:1px solid lightgray;min-height:670px;height:auto;padding-top:20px;">
						<div class="col-lg-12">


							<% if(reviewArticle.sound == 'No') { %>
								<div class="col-lg-12 panel panel-success" >

									<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
										<div class="col-lg-12" >	
												<h3><b>Title of the Book : <%=reviewArticle.bookTitle %></b></h3>
												<h5><b>Author's Name : <%=user.name %></b></h5>
												<h5><b>General Review:</b><textarea type="text" class="form-control" id="comment" name="comment"></textarea></h5>

												<p>Rating</p>
				             					<span class="star" id="rating"> </span>
				             					<input type="text" id="ratingScore" name="ratingScore"  style="display:none;">
										</div>

									</div>

								</div>
								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;"> 
												<div class="col-lg-4">Page : 1</div>
												<div class="col-lg-4">Text</div>
												<div class="col-lg-4">Your Rview</div>
										</div>

											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.articleImage %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-4"> 
													<p><%= reviewArticle.title%></p>
													<p><%=reviewArticle.article%></p>
													<p><%=reviewArticle.credit%></p>
													<p><%=reviewArticle.bottomText%></p>

											</div>
											<div class="col-lg-4">
												 <textarea type="text" class="form-control" id="comment1" name="comment1"></textarea>
											</div>

										</div>

								</div>

								<%if(reviewArticle.articleTitle2) {%>

									<div class="col-lg-12 panel panel-success" >

											<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
												<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
												<div class="col-lg-4">Page : 2</div>
												<div class="col-lg-4">Text</div>
												<div class="col-lg-4">Your Rview</div>

											</div>
											
												<div class="col-lg-4"> 
													<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img2 %>" alt="Jason's Photo" style="width: inherit" />
												</div>
												<div class="col-lg-4"> 
														<p><%= reviewArticle.articleTitle2%></p>
														<p><%=reviewArticle.article2%></p>
														<p><%=reviewArticle.source2%></p>
														<p><%=reviewArticle.bottomText2%></p>

												</div>
												<div class="col-lg-4">
													 <textarea type="text" class="form-control" id="comment2" name="comment2"></textarea>
												</div>

											</div>

									</div>

								<% } %>

								<%if(reviewArticle.articleTitle3) {%>

										<div class="col-lg-12 panel panel-success" >

												<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
													<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
														<div class="col-lg-4">Page : 3</div>
														<div class="col-lg-4">Text</div>
														<div class="col-lg-4">Your Rview</div>

												</div>
												
													<div class="col-lg-4"> 
														<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img3 %>" alt="Jason's Photo" style="width: inherit" />
													</div>
													<div class="col-lg-4"> 
															<p><%= reviewArticle.articleTitle3%></p>
															<p><%=reviewArticle.article3%></p>
															<p><%=reviewArticle.source3%></p>
															<p><%=reviewArticle.bottomText3%></p>

													</div>
													<div class="col-lg-4">
														<textarea type="text" class="form-control" id="comment3" name="comment3"></textarea>
													</div>

												</div>

										</div>

								<% } %>

								<%if(reviewArticle.articleTitle4) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
												<div class="col-lg-4">Page : 4</div>
												<div class="col-lg-4">Text</div>
												<div class="col-lg-4">Your Rview</div>

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img4 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-4"> 
													<p><%= reviewArticle.articleTitle4%></p>
													<p><%=reviewArticle.article4%></p>
													<p><%=reviewArticle.source4%></p>
													<p><%=reviewArticle.bottomText4%></p>
											</div>
											<div class="col-lg-4">
													 <textarea type="text" class="form-control" id="comment4" name="comment4"></textarea>
												</div>

										</div>

								</div>
								<%}%>
								<%if(reviewArticle.articleTitle5) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
												<div class="col-lg-4">Page : 5</div>
												<div class="col-lg-4">Text</div>
												<div class="col-lg-4">Your Rview</div>

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img5 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-4"> 
													<p><%= reviewArticle.articleTitle5%></p>
													<p><%=reviewArticle.article5%></p>
													<p><%=reviewArticle.source5%></p>
													<p><%=reviewArticle.bottomText5%></p>
											</div>
											<div class="col-lg-4">
													 <textarea type="text" class="form-control" id="comment5" name="comment5"></textarea>
												</div>

										</div>

								</div>
								<%}%>
									<%if(reviewArticle.articleTitle6) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
												<div class="col-lg-4">Page : 6</div>
												<div class="col-lg-4">Text</div>
												<div class="col-lg-4">Your Rview</div>

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img6 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-4"> 
													<p><%= reviewArticle.articleTitle6%></p>
													<p><%=reviewArticle.article6%></p>
													<p><%=reviewArticle.source6%></p>
													<p><%=reviewArticle.bottomText6%></p>
											</div>
											<div class="col-lg-4">
													 <textarea type="text" class="form-control" id="comment6" name="comment6"></textarea>
												</div>

										</div>

								</div>
								<%}%>

									<%if(reviewArticle.articleTitle7) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
												<div class="col-lg-4">Page : 7</div>
												<div class="col-lg-4">Text</div>
												<div class="col-lg-4">Your Rview</div>

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img7 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-4"> 
													<p><%= reviewArticle.articleTitle7%></p>
													<p><%=reviewArticle.article7%></p>
													<p><%=reviewArticle.source7%></p>
													<p><%=reviewArticle.bottomText7%></p>
											</div>
											<div class="col-lg-4">
													 <textarea type="text" class="form-control" id="comment7" name="comment7"></textarea>
												</div>

										</div>

								</div>
								<%}%>
									<%if(reviewArticle.articleTitle8) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
												<div class="col-lg-4">Page : 8</div>
												<div class="col-lg-4">Text</div>
												<div class="col-lg-4">Your Rview</div>

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img8 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-4"> 
													<p><%= reviewArticle.articleTitle8%></p>
													<p><%=reviewArticle.article8%></p>
													<p><%=reviewArticle.source8%></p>
													<p><%=reviewArticle.bottomText8%></p>
											</div>
											<div class="col-lg-4">
													 <textarea type="text" class="form-control" id="comment8" name="comment8"></textarea>
												</div>

										</div>

								</div>
								<%}%>
									<%if(reviewArticle.articleTitle9) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
												<div class="col-lg-4">Page : 9</div>
												<div class="col-lg-4">Text</div>
												<div class="col-lg-4">Your Rview</div>

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img9 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-4"> 
													<p><%= reviewArticle.articleTitle9%></p>
													<p><%=reviewArticle.article9%></p>
													<p><%=reviewArticle.source9%></p>
													<p><%=reviewArticle.bottomText9%></p>
											</div>
											<div class="col-lg-4">
													 <textarea type="text" class="form-control" id="comment9" name="comment9"></textarea>
												</div>

										</div>

								</div>
								<%}%>
									<%if(reviewArticle.articleTitle10) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
												<div class="col-lg-4">Page : 10</div>
												<div class="col-lg-4">Text</div>
												<div class="col-lg-4">Your Rview</div>

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img10 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-4"> 
													<p><%= reviewArticle.articleTitle10%></p>
													<p><%=reviewArticle.article10%></p>
													<p><%=reviewArticle.source10%></p>
													<p><%=reviewArticle.bottomText10%></p>
											</div>
											<div class="col-lg-4">
													 <textarea type="text" class="form-control" id="comment10" name="comment10"></textarea>
												</div>

										</div>

								</div>
								<%}%>

									<%if(reviewArticle.articleTitle11) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
												<div class="col-lg-4">Page : 11</div>
												<div class="col-lg-4">Text</div>
												<div class="col-lg-4">Your Rview</div>

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img11 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-4"> 
													<p><%= reviewArticle.articleTitle11%></p>
													<p><%=reviewArticle.article11%></p>
													<p><%=reviewArticle.source11%></p>
													<p><%=reviewArticle.bottomText11%></p>
											</div>
											<div class="col-lg-4">
													 <textarea type="text" class="form-control" id="comment11" name="comment11"></textarea>
												</div>

										</div>

								</div>
								<%}%>
									<%if(reviewArticle.articleTitle12) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
												<div class="col-lg-4">Page : 12</div>
												<div class="col-lg-4">Text</div>
												<div class="col-lg-4">Your Rview</div>

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img12 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-4"> 
													<p><%= reviewArticle.articleTitle12%></p>
													<p><%=reviewArticle.article12%></p>
													<p><%=reviewArticle.source12%></p>
													<p><%=reviewArticle.bottomText12%></p>
											</div>
											<div class="col-lg-4">
													 <textarea type="text" class="form-control" id="comment12" name="comment12"></textarea>
												</div>

										</div>

								</div>
								<%}%>
									<%if(reviewArticle.articleTitle13) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
												<div class="col-lg-4">Page : 13</div>
												<div class="col-lg-4">Text</div>
												<div class="col-lg-4">Your Rview</div>

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img13 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-4"> 
													<p><%= reviewArticle.articleTitle13%></p>
													<p><%=reviewArticle.article13%></p>
													<p><%=reviewArticle.source13%></p>
													<p><%=reviewArticle.bottomText13%></p>
											</div>
											<div class="col-lg-4">
													 <textarea type="text" class="form-control" id="comment13" name="comment13"></textarea>
												</div>

										</div>

								</div>
								<%}%>
									<%if(reviewArticle.articleTitle14) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
												<div class="col-lg-4">Page : 14</div>
												<div class="col-lg-4">Text</div>
												<div class="col-lg-4">Your Rview</div>

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img14 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-4"> 
													<p><%= reviewArticle.articleTitle14%></p>
													<p><%=reviewArticle.article14%></p>
													<p><%=reviewArticle.source14%></p>
													<p><%=reviewArticle.bottomText14%></p>
											</div>
											<div class="col-lg-4">
													 <textarea type="text" class="form-control" id="comment14" name="comment14"></textarea>
												</div>

										</div>

								</div>
								<%}%>
									<%if(reviewArticle.articleTitle15) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
												<div class="col-lg-4">Page : 15</div>
												<div class="col-lg-4">Text</div>
												<div class="col-lg-4">Your Rview</div>

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img15 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-4"> 
													<p><%= reviewArticle.articleTitle15%></p>
													<p><%=reviewArticle.article15%></p>
													<p><%=reviewArticle.source15%></p>
													<p><%=reviewArticle.bottomText15%></p>
											</div>
											<div class="col-lg-4">
													 <textarea type="text" class="form-control" id="comment15" name="comment15"></textarea>
												</div>

										</div>

								</div>
								<%}%>
									<%if(reviewArticle.articleTitle16) {%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">
												<div class="col-lg-4">Page : 16</div>
												<div class="col-lg-4">Text</div>
												<div class="col-lg-4">Your Rview</div>

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="..<%=reviewArticle.img16 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-4"> 
													<p><%= reviewArticle.articleTitle16%></p>
													<p><%=reviewArticle.article16%></p>
													<p><%=reviewArticle.source16%></p>
													<p><%=reviewArticle.bottomText16%></p>
											</div>
											<div class="col-lg-4">
													 <textarea type="text" class="form-control" id="comment16" name="comment16"></textarea>
												</div>

										</div>

								</div>
								<%}%>
							<% } %>





<!-- For listening Sound  -->


							<% if(reviewArticle.sound == 'Yes') { %>


								<div class="col-lg-12 panel panel-success" >

									<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
										<div class="col-lg-12" >	
												<h3><b>Title of the Book : 
												
												<% for(var i=0; i<reviewArticle.bookTitleSound.length; i++) {%>

														<span>
															<%= reviewArticle.bookTitleSound[i].word%>
															<% if(reviewArticle.bookTitleSound[i].sound != "Null") {%>
																	<audio style="width:6%" controls>
																	  <source src="../article_sound/<%= reviewArticle.bookTitleSound[i].sound%>" type="audio/mp3">
																	</audio>
															<% } %>
														</span>


												<% } %>

												</b></h3>
										</div>

									</div>

								</div>
								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 1 

										</div>

											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=reviewArticle.articleImage %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-8"> 
												
													

													<% for(var i=0; i<reviewArticle.title1Sound.length; i++) {%>

															<span>
																<%= reviewArticle.title1Sound[i].word%>
																<% if(reviewArticle.title1Sound[i].sound != "Null") {%>
																		<audio style="width:10%" controls>
																		  <source src="../article_sound/<%= reviewArticle.title1Sound[i].sound%>" type="audio/mp3">
																		</audio>
																<% } %>
															</span>


													<% } %>


													<br>
												
													
													<% for(var i=0; i<reviewArticle.topSubText1Sound.length; i++) {%>

															<span>
																<%= reviewArticle.topSubText1Sound[i].word%>
																<% if(reviewArticle.topSubText1Sound[i].sound != "Null") {%>
																		<audio style="width:10%" controls>
																		  <source src="../article_sound/<%= reviewArticle.topSubText1Sound[i].sound%>" type="audio/mp3">
																		</audio>
																<% } %>
															</span>


													<% } %><br>
													<%=reviewArticle.credit%><br>
													
													<% for(var i=0; i<reviewArticle.topBottomText1Sound.length; i++) {%>

															<span>
																<%= reviewArticle.topBottomText1Sound[i].word%>
																<% if(reviewArticle.topBottomText1Sound[i].sound != "Null") {%>
																		<audio style="width:10%" controls>
																		  <source src="../article_sound/<%= reviewArticle.topBottomText1Sound[i].sound%>" type="audio/mp3">
																		</audio>
																<% } %>
															</span>


													<% } %>

											</div>

										</div>

								</div>
								<% if(reviewArticle.articleTitle2 != "") {%>
								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 2

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=reviewArticle.img2 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-8"> 


													<% for(var i=0; i<reviewArticle.articleTitle2Sound.length; i++) {%>

														<span>
															<%= reviewArticle.articleTitle2Sound[i].word%>
															
															<% if(reviewArticle.articleTitle2Sound[i] != " ") {%>
																	<audio style="width:9%" controls>
																	  <source src="../article_sound/<%= reviewArticle.articleTitle2Sound[i].sound%>" type="audio/mp3">
																	</audio>
															<% } %>
														</span>


													<% } %>
													<br>

													<% for(var i=0; i<reviewArticle.article2Sound.length; i++) {%>

														<span>
															<%= reviewArticle.article2Sound[i].word%>
															
															<% if(reviewArticle.article2Sound[i] != " ") {%>
																	<audio style="width:9%" controls>
																	  <source src="../article_sound/<%= reviewArticle.article2Sound[i].sound%>" type="audio/mp3">
																	</audio>
															<% } %>
														</span>


													<% } %>
													<br>
													<%=reviewArticle.source2%><br>
													<% for(var i=0; i<reviewArticle.bottomText2Sound.length; i++) {%>

														<span>
															<%= reviewArticle.bottomText2Sound[i].word%>
															
															<% if(reviewArticle.bottomText2Sound[i] != " ") {%>
																	<audio style="width:9%" controls>
																	  <source src="../article_sound/<%= reviewArticle.bottomText2Sound[i].sound%>" type="audio/mp3">
																	</audio>
															<% } %>
														</span>


													<% } %>
													<br>

											</div>

										</div>

								</div>
								<%}%>

								<% if( reviewArticle.articleTitle3 != ""){%>

								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 3

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=reviewArticle.img3 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-8"> 


													<% for(var i=0; i<reviewArticle.articleTitle3Sound.length; i++) {%>

														<span>
															<%= reviewArticle.articleTitle3Sound[i].word%>
															
															<% if(reviewArticle.articleTitle3Sound[i] != " ") {%>
																	<audio style="width:9%" controls>
																	  <source src="../article_sound/<%= reviewArticle.articleTitle3Sound[i].sound%>" type="audio/mp3">
																	</audio>
															<% } %>
														</span>


													<% } %>
													<br>
													<% for(var i=0; i<reviewArticle.article3Sound.length; i++) {%>

														<span>
															<%= reviewArticle.article3Sound[i].word%>
															
															<% if(reviewArticle.article3Sound[i] != " ") {%>
																	<audio style="width:9%" controls>
																	  <source src="../article_sound/<%= reviewArticle.article3Sound[i].sound%>" type="audio/mp3">
																	</audio>
															<% } %>
														</span>


													<% } %>
													<br>
													<%=reviewArticle.source3%><br>
														<% for(var i=0; i<reviewArticle.bottomText3Sound.length; i++) {%>

														<span>
															<%= reviewArticle.bottomText3Sound[i].word%>
															
															<% if(reviewArticle.bottomText3Sound[i] != " ") {%>
																	<audio style="width:9%" controls>
																	  <source src="../article_sound/<%= reviewArticle.bottomText3Sound[i].sound%>" type="audio/mp3">
																	</audio>
															<% } %>
														</span>


													<% } %>
													<br>

											</div>

										</div>

								</div>
								<%}%>
								<% if( reviewArticle.articleTitle4 != ""){%>
								<div class="col-lg-12 panel panel-success" >

										<div class="col-lg-12" style="padding-top:15px;padding-bottom:15px;padding-left:15px;">
											<div class="col-lg-12" style="border-bottom: 1px solid #d6e9c6; padding:0 0 10px 0; margin-bottom:20px;">Page : 4

										</div>
										
											<div class="col-lg-4"> 
												<img class="img-thumbnail" style="width:187px;height:130px;" id="article_image"   src="../article_image/<%=reviewArticle.img4 %>" alt="Jason's Photo" style="width: inherit" />
											</div>
											<div class="col-lg-8"> 
														<% for(var i=0; i<reviewArticle.articleTitle4Sound.length; i++) {%>

														<span>
															<%= reviewArticle.articleTitle4Sound[i].word%>
															
															<% if(reviewArticle.articleTitle4Sound[i] != " ") {%>
																	<audio style="width:9%" controls>
																	  <source src="../article_sound/<%= reviewArticle.articleTitle4Sound[i].sound%>" type="audio/mp3">
																	</audio>
															<% } %>
														</span><br>
														<% for(var i=0; i<reviewArticle.article4Sound.length; i++) {%>

															<span>
																<%= reviewArticle.article4Sound[i].word%>
																
																<% if(reviewArticle.article4Sound[i] != " ") {%>
																		<audio style="width:9%" controls>
																		  <source src="../article_sound/<%= reviewArticle.article4Sound[i].sound%>" type="audio/mp3">
																		</audio>
																<% } %>
															</span>


														<% } %>
														<br>


													<% } %>
													<br>
													<%=reviewArticle.source4%><br>
													<%=reviewArticle.source3%><br>
														<% for(var i=0; i<reviewArticle.bottomText4Sound.length; i++) {%>

														<span>
															<%= reviewArticle.bottomText4Sound[i].word%>
															
															<% if(reviewArticle.bottomText4Sound[i] != " ") {%>
																	<audio style="width:9%" controls>
																	  <source src="../article_sound/<%= reviewArticle.bottomText4Sound[i].sound%>" type="audio/mp3">
																	</audio>
															<% } %>
														</span>


													<% } %>
													<br>

											</div>

										</div>

								</div>
								<%}%>

							<% } %>

						</div>

						<div class="col=lg-12" style="padding-right:15px;">
							
								<button type="button" class="btn btn-primary pull-right" style="width:15%;margin-right:10px;" id="saveReview" onclick="reviewedArticle('<%=user._id %>','<%=reviewArticle._id %>','<%=reviewArticle.writeArticleId%>','Save')">Save Review</button>
								<button type="button" class="btn btn-primary pull-right" style="width:15%;margin-right:10px;" id="accept" onclick="reviewedArticle('<%=user._id %>','<%=reviewArticle._id %>','<%=reviewArticle.writeArticleId%>','Accept')">Accept Article</button>
								<button type="button" class="btn btn-primary pull-right" style="width:25%;margin-right:10px;" id="acceptWithCondition" data-toggle="modal" data-target="#ModalComment">Accept With Condition</button>
								<button type="button" class="btn btn-primary pull-right" style="width:15%;margin-right:10px;" id="reject" onclick="reject('<%=reviewArticle.writeArticleId%>','<%=reviewArticle._id %>')">Reject</button>
								
						</div>  
					
				</div>
				<div class="modal fade " id="ModalComment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				        <h4 class="modal-title text-center" id="myModalLabel">Write Condition</h4>
				      </div>
				      <div class="modal-body" style="height:200px;">
				          <div class="col-lg-12" style="padding-top:45px;" >
				          	<p>Write Condition</p>
				             	<textarea type="text" class="form-control" id="condition" name="condition"></textarea>
				             	<!-- <input type="text" id="id" name="id" style="display:none;">
				             	<input type="text" id="author" name="author"  style="display:none;">
				             	<input type="text" id="reviewArticleId" name="reviewArticleId"  style="display:none;">
				             	<input type="text" id="writeArticleId" name="writeArticleId"  style="display:none;">
				             	<input type="text" id="ratingScore" name="ratingScore"  style="display:none;"> -->
				             	
				          </div>

				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
				        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="reviewedArticle('<%=user._id %>','<%=reviewArticle._id %>','<%=reviewArticle.writeArticleId%>','Condition')" id="submit_condition">Submit</button>
				      </div>
				    </div>
				  </div>
				</div>
				<!-- <button type="button" class="btn btn-primary pull-right" style="width:15%" id="accept">Accept</button> -->
		</div>
		
	</div>

</body>


<script src="lib/jquery/jquery.min.js"></script>
<script src="../js/bootstrap.js" ></script>
<script src="../js/jquery.nav.js" ></script>
<script src="../js/jquery.raty.js" type="text/javascript"></script>
<script type='text/javascript'> 
        $(document).ready(function() 
        {
            $('#sidebar').affix({offset: {top: $('header').height()}});	

        });
        
</script>

<script type="text/javascript">
$(document).ready(function(){
		  $(".star").raty({ 
		    score: 0,
		    readOnly:  false,
		});
		    

		   

		    $(".star > img").click(function() {
		     var score = $(this).attr("alt");
		    // console.log($("rating").attr("alt")) 
		     //alert(score);
		    var rating=score;
		    $("#ratingScore").val(score);
		   
		}); 
})

</script>
<script type="text/javascript">
	function reviewedArticle(author,reviewArticleId,writeArticleId, status){
	comment=$("#comment").val();
 	comment1=$("#comment1").val();
 	comment2=$("#comment2").val();
 	comment3=$("#comment3").val();
 	comment4=$("#comment4").val();
 	comment5=$("#comment5").val();
 	comment6=$("#comment6").val();
 	comment7=$("#comment7").val();
 	comment8=$("#comment8").val();
 	comment9=$("#comment9").val();
 	comment10=$("#comment10").val();
 	comment11=$("#comment11").val();
 	comment12=$("#comment12").val();
 	comment13=$("#comment13").val();
 	comment14=$("#comment14").val();
 	comment15=$("#comment15").val();
 	comment16=$("#comment16").val();
 	condition=$("#condition").val();

 	if(comment=='')
 	{
 		alert("Please fill general comment");
 		return false;
 	}
	rating=$("#ratingScore").val();
	if(rating=='')
 	{
 		alert("Please give a rating");
 		return false;
 	}
	$.ajax({ url: '/reviewer/articleAccept',
     data: { 
     	
     	author:author,
     	reviewArticleId:reviewArticleId,
     	writeArticleId:writeArticleId,
     	comment:comment,
     	comment1:comment1,
     	comment2:comment2,
     	comment3:comment3,
     	comment4:comment4,
     	comment5:comment5,
     	comment6:comment6,
     	comment7:comment7,
     	comment8:comment8,
     	comment9:comment9,
     	comment10:comment10,
     	comment11:comment11,
     	comment12:comment12,
     	comment13:comment13,
     	comment14:comment14,
     	comment15:comment15,
     	comment16:comment16,
     	status:status,
     	rating:rating,
     	condition:condition,
     },
     type: 'POST',
     success: function(output) {
     	
        console.log(output);
 		window.location="/reviewerpanel";
 	
      }
}); 
	 

}

function reject(writeArticleId,articleId){
	
	$.ajax({ url: '/rejectReviewArticle',
         data: { 
         	articleId:articleId,
         	writeArticleId:writeArticleId,

         },
         type: 'POST',
         success: function(output) {
         	
            console.log(output);
            window.location="/reviewerpanel";
 	
          }
    });


}
</script>


</html>